<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    
    </div>
  </div>
  
  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid">
        <h3 class="cover-outer boldheading mb50">List of
          <span class="borderheading">Courses</span>
        </h3>
        <!-- table  -->
        <div class="cover-outer section-padd mt10">
          <div class="cover-outer">
            <h4 class="lg-heading mb10">Pending</h4>
            
            <div class="payment-detail-outer table-responsive">
              <table class="table payment-detail-table tablefeedback-form">
                <tr *ngIf="pendingCourses?.length !=0">
                  <th>Title</th>
                  <th>No. of Preference</th>
                  <th>Expiry Date</th>
                  <th>Action</th>
                </tr>
                <tr  *ngFor="let course of courseData;index as i">
                  <ng-container *ngIf="!course.isAttempted && course.CoursePrefrence.numberOfPrefrences>0">
                    <td>{{course.CoursePrefrence.title}}</td>
                    <td>{{course.CoursePrefrence.numberOfPrefrences}}</td>
                    <td>{{course.CoursePrefrence.expiryDate |date}}</td>
                    <td *ngIf="todayDate<course.CoursePrefrence.expiryDate || todayDate==course.CoursePrefrence.expiryDate"> <a class="link-1" (click)="onCourseClick(course?.coursePrefrenceId)" href="javascript:void(0);">Fill the Preference</a></td>
                    <td *ngIf="todayDate>course.CoursePrefrence.expiryDate">Expired</td>
                  </ng-container>
                </tr>                
               </table>
               <div class="no-data-outer" *ngIf="pendingCourses?.length==0">
                <i class="material-icons">warning</i> <span> No record found </span>
               </div>
            </div>
          </div>
          <div class="cover-outer mt30">
            <h4 class="lg-heading mb10">Completed</h4>
            <div class="payment-detail-outer table-responsive">
              <table class="table payment-detail-table tablefeedback-form" >
                <tr *ngIf="completedCourses?.length != 0">
                  <th>Title</th>
                  <th>No. of Preference</th>
                  <th>Expiry Date</th>
                  <th>View Details</th>
                  
                </tr>
                <tr  *ngFor="let course of courseData" >
                  <ng-container *ngIf="course.isAttempted">
                    <td >{{course.CoursePrefrence.title}}</td>
                    <td >{{course.CoursePrefrence.numberOfPrefrences}}</td>
                    <td>{{course.CoursePrefrence.expiryDate |date}}</td>
                    <td><a (click)="getSpecificCourseDetails(course?.coursePrefrenceId,course?.studentId)" href="javascript:void(0);"><u>View</u></a></td>
                  </ng-container>
                </tr>
              </table>
              <div class="no-data-outer" *ngIf="completedCourses?.length==0">
                <i class="material-icons">warning</i> <span> No record found </span>
               </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
