<toaster-container [toasterconfig]="config">
</toaster-container>

<app-header></app-header>

<div class="cover-outer">
    <section class="login-container">
        <div class="container">
            <ng-container *ngIf="tokenMatch">
                <h3 class='login-heading'>Welcome Back!</h3>
                <p class="login-subheading">Change your password</p>
            </ng-container>
        </div>
        <div class="container">
            <div class="row">
                <ng-container *ngIf="tokenMatch">
                    <form class="login-form feeDetailFrom text-left mt35" [formGroup]="changePasswordForm">

                        <div class="form-group mb10">
                            <label class="label-heading">Enter Password</label>
                            <sup>*</sup>
                            <div class="input-group">
                                <i class="material-icons">https</i>
                                <input type="password" class="form-control" placeholder="********"
                                    formControlName="password">
                                <span class="msg-error d-none"></span>
                            </div>
                            <span *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched 
                                || (submited && passwordError)" class="error-msg">Please Enter Your Password</span>
                        </div>

                        <div class="form-group mb10">
                            <label class="label-heading">Confirm PASSword</label>
                            <sup>*</sup>
                            <div class="input-group">
                                <i class="material-icons">https</i>
                                <input type="password" class="form-control" placeholder="********"
                                    formControlName="confirmPassword">
                                <span class="msg-error d-none"></span>
                            </div>
                            <span *ngIf="!changePasswordForm.get('confirmPassword').valid && changePasswordForm.get('confirmPassword').touched 
                                    || (submited && !passwordMatch)" class="error-msg">Password not match</span>
                        </div>
                        <button type="button" class="btn1 mt60" (click)="submitbtn()">Submit
                            <span class="material-icons">send</span>
                        </button>
                    </form>
                </ng-container>
                <ng-container *ngIf="!tokenMatch">
                    <h3>Your token has been expired</h3>
                    <h4><a href="https://epicentre.mastersunion.org/auth/forgotPassword">Click here</a> for change your
                        password</h4>
                    <!-- <button><a href=""></a>Request Again</button> -->
                </ng-container>


            </div>
        </div>
    </section>
</div>