<app-student-header></app-student-header>
<div class="main-outer">
	<app-student-menu></app-student-menu>
	<div *ngIf="loading" class="preloader-wrapper">
		<div class="cssloader">
			<div class="sh1"></div>
			<div class="sh2"></div>
		</div>
	</div>

	<div class="main-body pt-0">
		<section class="fees-container">
			<div class="container-fluid">
				<h3 class="cover-outer boldheading mb50 w-auto">
					Leave
					<span class="borderheading">Request Record</span>
				</h3>
				<a routerLink="/student/leave-application-form" class="add-fee-detail float-right">
                    <i class="material-icons mr10"> add </i>
                    New Leave Request</a>
				<div class="section-padd cover-outer mt20">
					<div class="cover-outer">
						<!-- <div class="feeDetailFrom feeSearchOuter float-left ">
                            <div class="form-group w-100">
                                <label class="label-heading">Search </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ngDefaultControl name="searchParam"
                                        [(ngModel)]="searchParam" (input)="isSearchType($event.target.value)"
                                        placeholder="Search by Leave Type,Leave Status " (keyup.enter)="search()">
                                    <a class="deleteSearch material-icons" *ngIf="isCrossEnable"
                                        (click)="resetsearch()">close</a>
                                    <a (click)="search()" class="material-icons">search</a>
                                </div>
                            </div>
    
                        </div> -->
                        <div class="feeDetailFrom pageSortOuter">
                            <div class="form-group">
                                <label class="label-heading">Leave Type</label>
                                <div class="input-group right-arrow">
                                    <Select id="leaveType" class="form-control  selectpicker" ngDefaultControl
                                        (change)="changeLeaveType()">
                                        <option value="">All</option>
                                        <option value="Casual Leave">Casual Leave</option>
                                        <option value="Medical Leave">Medical Leave</option>
                                    </Select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-heading">Leave Status</label>
                                <div class="input-group right-arrow multi-select2">
                                    <Select id="leaveStatus" class="form-control selectpicker"
                                        (change)="changeLeaveStatus()">
                                        <option value="">All</option>
                                        <option value="accepted">Accepted</option>
                                        <option value="rejected">Rejected</option>
                                    </Select>
                                    <span class="msg-error d-none"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cover-outer  mt10">
                        <div class="cover-outer">
                            <!-- <h4 class="lg-heading mb10">Pending</h4> -->
    
                            <!-- <h2 class="lg-heading mb10">{{programmeName | uppercase}}</h2> -->
                            <div class="payment-detail-outer table-responsive height-fix">
                                <table class="table payment-detail-table tablefeedback-form freezetable" *ngIf="leavesList.length>0">
                                    <tr>
                                        <!-- <th class="sr-num-width">S.No.</th> -->
                                        <th>Applied On</th>
                                        <th>Leave Type</th>
                                        <!-- <th>Reason</th> -->
                                        <!-- <th>Start Date </th>
                                        <th>End Date </th> -->
                                        <th> Status</th>
                                        <th>View Details</th>

                                        <!-- <th>Reject Reason</th> -->
                                        <th>Cancel Leave</th>
                                    </tr>
                                    <tr *ngFor="let leaveRow of leavesList;index as i">
                                        <!-- <td  class="sr-num-width"><a >{{i+1}}</a></td> -->

                                        <td>{{leaveRow?.createdAt | date:'mediumDate'}}</td>
                                        <td>{{leaveRow?.leaveType}}</td>
                                        <!-- <td>{{leaveRow?.Reason}}</td> -->
                                        <!-- <td>{{leaveRow?.leaveFromDate | date}}</td>
                                        <td>{{leaveRow?.leaveToDate | date}}</td> -->
    
                                        <td>
                                            <ng-container *ngIf="leaveRow?.leaveStatus == null">
                                                Pending
                                            </ng-container>
    
                                            <ng-container *ngIf="leaveRow?.leaveStatus == 'accepted'">
    
                                                Accepted
                                            </ng-container>
                                            <ng-container *ngIf="leaveRow?.leaveStatus == 'rejected'">
    
                                                Rejected
                                            </ng-container>
                                            <ng-container *ngIf="leaveRow?.leaveStatus == 'cancelled'">
                                                Cancelled
                                            </ng-container>
                                        </td>
                                        <td ><a (click)="onLeaveClick(leaveRow?.id)" href="javascript:void(0);"><u>View</u></a></td>

                                        <!-- <td>
                                            {{leaveRow?.rejectedReason != null ? leaveRow?.rejectedReason : '-' }}
    
                                        </td> -->
                                        <td class="">
                                            <a *ngIf="leaveRow.leaveStatus != 'cancelled' 
                                            && leaveRow.leaveStatus != 'rejected'
                                            && leaveRow.leaveFromDate > currentDate" 
                                            (click)="cancelLeave(leaveRow?.id)"
                                                href="javascript:void(0);" class="cancel-btn">
                                                <i class="material-icons-outlined">cancel</i>
                                            </a>
                                            <p *ngIf="(leaveRow.leaveStatus == 'rejected'
                                             || leaveRow.leaveFromDate <= currentDate)
                                             && leaveRow.leaveStatus != 'cancelled'"
                                                class="cancel-btn">-                                            
                                            </p>
                                            <a *ngIf="leaveRow.leaveStatus == 'cancelled'" >Cancelled</a>
                                        
                                        </td>
    
                                    </tr>
                                </table>
                                <div class="no-data-outer" *ngIf="leavesList?.length==0">
                                    <i class="material-icons">warning</i> <span> No record found </span>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div>
              
                <!-- table ends  -->

				<!-- table ends  -->
			</div>
		</section>
		<!-- <app-student-footer></app-student-footer> -->
	</div>
</div>
