<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<!-- <toaster-container [toasterconfig]="config">
</toaster-container> -->
<app-lead-header></app-lead-header>
<div *ngIf="loading" class="preloader-wrapper">
  <div class="cssloader">
    <div class="sh1"></div>
    <div class="sh2"></div>
    <!-- <h4 class="lt">Master Union</h4> -->
  </div>
</div>
<div class="main-outer">
  <app-lead-menu></app-lead-menu>
  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid pl-0 pr-0">
        <h3 class="cover-outer boldheading mb45">Enquiry
          <!-- <span class="borderheading">Details</span> -->
        </h3>

        <div class="cover-outer student-portal-tabbing">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentationtution">
              <a class="nav-link active" id="raise-ticket-tab" data-toggle="tab" href="#raise-ticket" role="tab"
                aria-controls="raise-ticket" aria-selected="true">
                <figure class="mb30">
                  <img src="assets/img/ticket-icon1.png">
                </figure>
                <h6>Raise A new Enquiry</h6>
                <!-- <span>Rs. 3,25,000</span> -->
              </a>
            </li>
            <li class="nav-item" role="presentationtution">
              <a class="nav-link" id="solved-ticket-tab" data-toggle="tab" href="#solved-ticket" role="tab"
                aria-controls="solved-ticket" aria-selected="false">
                <figure class="mb30">
                  <img src="assets/img/ticket-icon2.png">
                </figure>
                <h6>Enquiry Record</h6>
                <!-- <span>Rs. 3,72,000</span> -->
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="raise-ticket" role="tabpanelt"
              aria-labelledby="raise-ticket-tab">
              <form class="cover-outer feeDetailFrom ticketD-outer" [formGroup]="addForm">
                <div class=" row-2-col">
                  <div class="form-group  mb25">
                    <label class="label-heading mb10">Message Type
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                      <label class="cont">
                        <span class="txt">Request</span>
                        <input type="radio" value="Request" formControlName="message_type">
                        <span class="checkmark"></span>
                      </label>
                      <label class="cont">
                        <span class="txt">Enquiry</span>
                        <input type="radio" value="Enquiry" formControlName="message_type">
                        <span class="checkmark"></span>
                      </label>
                      <label class="cont">
                        <span class="txt">Feedback</span>
                        <input type="radio" checked="checked" value="Feedback" formControlName="message_type">
                        <span class="checkmark"></span>
                      </label>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
                <div class=" row-2-col">
                  <div class="form-group mb25">
                    <label class="label-heading">Category</label>
                    <sup class="text-danger">*</sup>
                    <div class="input-group right-arrow">
                      <select class="form-control pr-0  selectpicker" title="Choose Category"
                        formControlName="category_name" (change)="categoryChange($event.target.value)">
                        <!-- <option value="" disabled>Choose Category</option> -->
                        <option *ngFor="let c of categoryArray" [value]="c?.id">{{c?.name}}</option>
                      </select>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                  <div class="form-group  mb25">
                    <label class="label-heading">Sub Category
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group right-arrow">
                      <select class="form-control pr-0 selectpicker" title="Choose Sub Category"
                        formControlName="subCategory_name">
                        <!-- <option value="" disabled>Choose Sub Category</option> -->
                        <option *ngFor="let sc of subCategoryArray" [value]="sc?.id">{{sc?.name}}</option>
                      </select>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>

                <div class=" row-2-col">
                  <div class="form-group mb25">
                    <label class="label-heading">Contact No.
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group ">
                      <input type="text" class="form-control" placeholder="Enter your phone no."
                        formControlName="contact_number">
                      <span class="msg-error d-none"></span>
                    </div>
                    <div
                      *ngIf="fval.contact_number.invalid && (fval.contact_number.dirty || fval.contact_number.touched)"
                      class="error-msg">

                      <div *ngIf="fval.contact_number.errors.required">
                        Required
                      </div>
                      <div *ngIf="fval.contact_number.errors.pattern">
                        Invalid contact number
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb25">
                    <label class="label-heading">Email
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="" readonly formControlName="student_email"
                        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                      <span class="msg-error d-none"></span>
                    </div>
                    <div *ngIf="fval.student_email.invalid && (fval.student_email.dirty || fval.student_email.touched)"
                      class="error-msg">

                      <div *ngIf="fval.student_email.errors.required">
                        Required
                      </div>
                      <div *ngIf="fval.student_email.errors.pattern">
                        Invalid email
                      </div>
                    </div>
                  </div>

                </div>
                <div class=" row-2-col">
                  <div class="form-group mb30">
                    <label class="label-heading">Description
                      <sup class="text-danger">*</sup>
                    </label>
                    <textarea maxlength="255" minlength="1" class="form-control" placeholder="Enter your request"
                      formControlName="description">

                    </textarea>
                  </div>
                </div>
                <div class=" row-2-col">
                  <div class="form-group">
                    <button type="button" class="btn1" id="submit_button" [disabled]="addForm.invalid"
                      (click)="onSubmit(addForm.value)">SUBMIT
                      <span class="ml-2 material-icons"> arrow_right_alt</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="solved-ticket" role="tabpanelt" aria-labelledby="solved-ticket-tab">
              <div class="ticketD-outer">
                <!-- search nd sort  -->
                <div class="cover-outer">
                  <div class="feeDetailFrom feeSearchOuter float-left">
                    <div class="form-group">
                      <label class="label-heading">Search</label>
                      <div class="input-group">
                        <input type="text" class="form-control" ngDefaultControl name="searchParam"
                          [(ngModel)]="searchParam" (input)="isSearchType($event.target.value)"
                          placeholder="Search By Enq Type">
                        <a class="deleteSearch material-icons" *ngIf="isCrossEnable" (click)="resetsearch()">close</a>
                        <a (click)="search()" class="material-icons">search</a>
                      </div>
                    </div>
                  </div>
                  <div class="feeDetailFrom pageSortOuter">
                    <div class="form-group">
                      <label class="label-heading">Show</label>
                      <div class="input-group right-arrow">
                        <Select id="pageSize" class="form-control  selectpicker" ngDefaultControl name="pageSize"
                          [(ngModel)]="pageSize" (change)="search()">
                          <option value="50">50</option>
                          <option value="100">100</option>
                          <option value="150">150</option>
                        </Select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="label-heading">sorting</label>
                      <div class="input-group right-arrow multi-select2">
                        <Select id="sortBy" class="form-control selectpicker" title="By date" (change)="sortByDate()">
                          <option value="asc">Ascending</option>
                          <option value="dsc">Descending</option>
                        </Select>
                        <span class="msg-error d-none"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- search nd sort ends  -->
                <div class="ticket-record-table table-responsive" *ngIf="data?.length > 0">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>No #</th>
                        <th>Enquiry Type </th>
                        <th> Enquiry Date</th>
                        <!-- <th>Contact Number</th> -->
                        <th>Description </th>
                        <!-- <th>Email</th> -->
                        <th>Status</th>
                        <th>Reply</th>
                        <th>Are You Satisfied With Solution?</th>
                      </tr>
                      <tr *ngFor="let d of data; let i = index">
                        <td>{{i+1}} </td>
                        <td>{{d?.enquiryType | titlecase}}</td>
                        <!-- <td>{{d?.contact_number}}</td> -->
                        <td>{{d?.createdAt | date:'shortDate'}}</td>
                        <td><button (click)="viewDescription(i)" data-toggle="modal" data-target="#descriptionModal"
                            class="view-prog-btn">View</button></td>

                        <!-- <td>{{d?.description}}</td> -->
                        <!-- <td>{{d?.email}}</td> -->
                        <td *ngIf="d?.solvedAt==null;else solvedat">Pending</td>
                        <!-- <ng-template #solvedat><td>{{d?.solvedAt | date:'shortDate'}}</td></ng-template> -->
                        <ng-template #solvedat>
                          <!-- <td><button (click)="viewStatus(i,d?.id)" class="view-prog-btn">View</button></td> -->
                          <td >Solved</td>
                        </ng-template>
                        <!-- <td *ngIf="d?.userResponse==null;else userResponseAt">Pending</td>
                        <ng-template #userResponseAt><td>{{d?.userResponse}}</td></ng-template> -->

                        <td *ngIf="d?.UserResponses"
                          (click)="onClickReply(d?.id,d?.organizationLeadId)">
                          <a href="javascript:void(0);"><i class="material-icons">reply</i></a>
                        </td>
                        <td>
                          <p *ngIf="d?.status == 'solved'; else pending" class="action-area">
                            <a (click)="positiveFeedback(d?.id)" href="javascript:void(0);"><span class="material-icons">thumb_up</span></a>
                            <a (click)="negativeFeedback(d?.id)" href="javascript:void(0);"><span class="material-icons">thumb_down</span></a>
                          
                          </p>
                          <ng-template #pending>
                            Enquiry in Progress
                          </ng-template>
                          
                          
                          <!-- <p class="action-area">
                            <a href="javascript:void(0);"><span class="material-icons">thumb_down</span></a>
                          </p>
                          -->
                          
                        </td>
                        <!-- <ng-template #userResponseAt>
                          <td><a href="javascirpt:void(0);" (click)="viewReply(i)" class="view-prog-btn"
                              data-toggle="modal" data-target="#reply">View</a></td>
                        </ng-template> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="data?.length== 0" class="no-data-outer">
                  <i class="material-icons">warning</i><span>No Record Found</span>
                </div>
                <nav *ngIf="data?.length > 0" aria-label="Page navigation example" class="pagination-outer mt20">
                  <ul class="pagination">
                    <li class="page-item disabled previous ">
                      <a class="page-link " href="javascript:void(0);" (click)="previous() " aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item pitem " [ngClass]="(i==0?'active':'')"
                      *ngFor="let pageNumber of arrayOne(pageCount);let i=index;">
                      <a class="page-link " href="javascript:void(0);" (click)="nextMessage(i+1)">{{(i+1)}}</a>
                    </li>
                    <li class="page-item next disabled">
                      <a class="page-link " href="javascript:void(0);" (click)="next() " aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
           <!-- rest -->
          </div>
        </div>

      </div>
    </section>
    <!-- <app-student-footer></app-student-footer> -->
  </div>
</div>
<!-- description modal -->

<div class="modal fade feeDetailPopup" id="descriptionModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button aria-label="Close" class="close modal-cross-btn float-right" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <div class="d-flex align-items-center justify-content-between mb20">
          <h5 class="modal-title heading-2" id="exampleModalLongTitle">View Description </h5>
        </div>
        <div class="des-content">
          {{newData}}
        </div>
      </div>
      <!-- <div class="modal-footer">
        
        </div> -->
    </div>
  </div>
</div>
<div class="modal fade feeDetailPopup" id="reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body p-4">
        <button aria-label="Close" class="close modal-cross-btn float-right" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <div class="d-flex align-items-center justify-content-between mb20">
          <h5 class="modal-title heading-2" id="exampleModalLongTitle">View Reply</h5>
        </div>
        <div class="des-content">
          {{reply}}
        </div>
      </div>
      <!-- <div class="modal-footer">
        
        </div> -->
    </div>
  </div>
</div>

<!-- status -->
<div class="modal fade feeDetailPopup" id="exampleModalCenter3" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-body p-4">
          <button aria-label="Close" class="close modal-cross-btn float-right" data-dismiss="modal" type="button">
            <span  aria-hidden="true">×</span>
          </button>
            <div class="d-flex align-items-center justify-content-between mb20">
              <h5 class="modal-title heading-2" id="exampleModalLongTitle"> View Status </h5>
            </div>
          <div class="des-content">
            <form class="feeDetailFrom">
              <div class="input-group right-arrow">
                  <Select id="status" #patchstatus class="form-control  selectpicker" ngDefaultControl name="statuslist" title="Select Status" [(ngModel)]="statuslist" (change)="patchCheckStatus(patchstatus.value)">
                    <option  value="open">Open</option>
                    <option  value="solved">Solved</option>
      
                  </Select>
              </div>
            </form>
          
          </div>
         </div> -->
      <!-- <div class="modal-footer">
        
        </div> -->


      <div class="modal-body p-4">
        <button type="button" class="close modal-cross-btn float-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex align-items-center justify-content-between mb20">
          <h5 class="modal-title heading-2" id="exampleModalLongTitle"> View Status </h5>
        </div>
        <div class="des-content">
          <form class="feeDetailFrom">
            <div class="status-tag-line"> Enquiry status is: <span class="text-success">{{statuslist |titlecase}}
              </span>
              <small>You can change your status here: </small>
            </div>

            <div class="input-group right-arrow">
              <Select id="status" #patchstatus class="form-control selectpicker" ngDefaultControl name="statuslist"
                title="Select Status" [(ngModel)]="statuslist" (change)="patchCheckStatus(patchstatus.value)">
                <option value="open">Open</option>
                <option value="solved">Solved</option>

              </Select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>