<toaster-container></toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
	<app-student-menu></app-student-menu>
	<div *ngIf="loading" class="preloader-wrapper">
		<div class="cssloader">
			<div class="sh1"></div>
			<div class="sh2"></div>
		</div>
	</div>

	<div class="main-body pt-0">
		<section class="fees-container">
			<div class="container-fluid">
				<h3 class="cover-outer boldheading mb50 w-auto">
					<span class="borderheading">Coaching Session</span>
				</h3>
				<div class="section-padd cover-outer mt20">
                    <div class="cover-outer  mt10">
                        <div class="row ">
                            <div class="col-md-6">
                                <!-- <ng-container> -->
                                <div>
                                    <label class="label-heading mb10">Select Coach<sup
                                            class="text-danger">*</sup></label>
                                    <div class="input-group">
                                        <select id="coach" class="form-control mb25 pr-0 selectpicker icon-pos-edit"
                                            title="Choose Coach" 
                                            (change)="onCoachSelect($event.target.value)">
                                            <option *ngFor="let user of userList" [value]="user.id">
                                                {{ user.firstName | titlecase}}  {{ user.lastName }}
                                            </option>
                                        </select>
                                        <!-- <span class="msg-error d-none"></span> -->
                                    </div>
                                </div>
                                <!-- </ng-container> -->
                            </div>
                        </div>
    
                    </div>
                </div>
			</div>
		</section>
	</div>
</div>
