<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <div class="parallel-heading-outer  mb40 ">

                
                <h3 class="w-auto boldheading  mr15"> Bid Course Details</h3>
                <a class="coin-wallet-btn"> <span class="material-icons mr10">
                    account_balance_wallet
                </span> {{leftAvailableCoin}} Coins Available </a>
                
                <!-- <div class="form-group">
                    <button class="coin-wallet-btn"> <span class="material-icons mr10">
                        account_balance_wallet
                        </span> {{leftAvailableCoin}} Coins Available </button>
                </div> -->
                
               
            </div>
            <h2 class="red-clr keyboard-back" (click)="goBack()">
                <span class="mr-2 material-icons">keyboard_backspace</span>Back
            </h2>



            <div class="cover-outer section-padd student-added-1 pt-0">
                 <!-- <div class="cover-outer outer-bidding mb20 mt20">
                        <h3 class="lg-heading mb10">Bidding Details </h3>
                        <p class="mb10">Opening Bid: 10 points</p>
                    
                        <div class="cover-outer bidding-submit-box">
                            <form class="open-bidding">
                                <input type="text" placeholder="Enter your bid value" name="search">
                                <button class="submit-btn" type="submit">Submit</button>
                                <p class="mt10">Your balance coins are 250</p>            
                              </form>         
                        </div>
                    </div> -->
                 <!-- <div class="cover-outer bg-grey-padd20 studentView-course">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="student-courseName">
                                <h4 class="lg-heading mb10">Course Name</h4>
                                <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce duis dictum pulvinar 
                                    integer. Iaculis elementum morbi vestibulum mattis lectus sed ultrices. Condimentum platea eget 
                                    id non dolor vitae amet eget. Tempor est eget amet egestas senectus posuere elementum sollicitudin.
                                     Pretium iaculis massa elementum a, augue. Mauris odio in nulla sed sed libero a. Consequat quis 
                                     convallis lobortis diam eros, ipsum nullam hac tortor. Lectus dui viverra nibh scelerisque aliquam 
                                     ipsum, morbi nunc metus. Justo, elementum cras neque integer enim proin sit amet facilisi. Tortor
                                      metus, viverra mattis nec in sagittis, ut sem. Justo, tellus tincidunt curabitur elit quam mi 
                                      blandit a sed. Sit sit tempus euismod integer. Velit, velit, arcu eu, nibh pharetra. </p>

                                <h5 class="mb10">Instructor</h5>
                                <div class="d-flex align-items-center">
                                    <img src="../../../../assets/img/person-profile.jpg" alt="">
                                    <div class="ml10">
                                        <h6 class="intructor-name">Chandan Sengupta</h6>
                                        <p>Chief Human Resource Officer at Sandhar Technologies Limited</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="student-BiddingTime studentView-course">
                               
                            
                                <div class="d-flex bidding-box mb10 align-items-center">
                                    <h5 class="green-clr bidding-review ">Congrats!</h5>
                                    <span class="material-icons green-clr ml10">
                                        sentiment_satisfied
                                        </span>
                                </div>
                                <p class="mb10">Your bid has been selected</p>
                                <div class="form-group">
                                    <button class="view-detail-btn"> View Detail </button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>   -->

                <div class="cover-outer studentView-course mt20 mb20">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="student-courseName">
                                <h4 class="lg-heading mb10">{{studentBidDetail?.CourseMaster?.courseName | titlecase}}</h4>
                                <div [innerHTML]="studentBidDetail?.CourseMaster?.description"></div>
                                <!-- <p class="mb20" *ngIf="!viewMore">{{studentBidDetail?.CourseMaster?.description.substr(0, 100)}}
                                    <a href="javascript:void(0);" (click)="viewMoreFunc()"><u class="red-clr"> More</u></a> 
                                </p> -->
                                <p class="mb20" *ngIf="viewMore">{{studentBidDetail?.CourseMaster?.description}}
                                    <a href="javascript:void(0);" (click)="viewMoreFunc()"><u class="red-clr"> Less</u></a>
                                </p>

                                <h5 class="mb10 mt20">Instructor</h5>
                                <div class="d-flex align-items-center">
                                    <div class="studentSurvey-title">
                                        <figure class="mb-0">
                                         <img src="{{studentBidDetail?.CourseMaster?.Mentor?.profilePicUrl}}" 
                                           onerror="this.src='../../../assets/img/avatar.jpg'" alt="">
                                         </figure>
                                     </div>
                                    <div class="ml10">
                                        <div>
                                            <h6 class="intructor-name mb5">{{studentBidDetail?.CourseMaster?.Mentor?.firstName | titlecase}}
                                                {{studentBidDetail?.CourseMaster?.Mentor?.lastName | titlecase}}</h6>
                                        </div>
                                        <div class="ins-des">
                                            <p>{{studentBidDetail?.CourseMaster?.Mentor?.designation}}</p>
                                            <div [innerHtml]="studentBidDetail?.CourseMaster?.Mentor?.about"></div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="student-BiddingTime">
                               
                            
                                <div class="d-flex align-items-center float-right" *ngIf="studentBidDetail.isSelected=='awarded'">                              
                                    <div class=" bidding-box ">
                                        <h5 class="green-clr bidding-review text-right">Congrats!</h5>
                                        <p>Your bid has been selected</p>                                     
                                    </div>
                                    <span class="material-icons green-clr ml10">
                                        sentiment_satisfied   
                                    </span>  
                                </div>

                                <div class="d-flex align-items-center text-right float-right" *ngIf="studentBidDetail.isSelected=='rejected'">                              
                                    <div class=" bidding-box float-right">
                                        <h5 class="red-clr bidding-review text-right">Sorry!</h5>
                                        <p>Your bid has not been selected</p>                                     
                                    </div>
                                    <span class="material-icons red-clr ml10">
                                        sentiment_dissatisfied  
                                    </span>  
                                </div>


                                    <div class="d-flex align-items-center float-right" *ngIf="studentBidDetail.isSelected=='pending' || studentBidDetail.isSelected=='selected'">                              
                                        <div class=" bidding-box ">
                                            <h5 class="orange-clr bidding-review text-right">Pending!</h5>
                                            <p>Bid selection pending</p>                                     
                                        </div>
                                        <span class="material-icons orange-clr ml10">
                                            sentiment_neutral  
                                        </span>  
                                    </div>



                              

                            
                                <!-- <div class="d-flex bidding-box mb10 align-items-center" *ngIf="studentBidDetail.isSelected=='awarded'">
                                    <h5 class="green-clr bidding-review ">Congrats!</h5>
                                    <span class="material-icons green-clr ml10">
                                        sentiment_satisfied
                                        </span>
                                </div>
                                <div class="d-flex bidding-box mb10 align-items-center" *ngIf="studentBidDetail.isSelected=='rejected'">
                                    <h5 class="red-clr bidding-review ">Failed</h5>
                                    <span class="material-icons red-clr ml10">
                                        sentiment_dissatisfied
                                        </span>
                                     
                                </div>
                                <div class="d-flex bidding-box mb10 align-items-center" *ngIf="studentBidDetail.isSelected=='pending' || studentBidDetail.isSelected=='selected'">
                                    <h5 class="orange-clr bidding-review ">Pending</h5>
                                    <span class="material-icons orange-clr ml10">
                                        sentiment_neutral
                                        </span>
                                </div>
                                <p class="mb10" *ngIf="studentBidDetail.isSelected=='awarded'">Your bid has been selected</p>
                                <p class="mb10" *ngIf="studentBidDetail.isSelected=='rejected'">Your bid value was less than others</p>
                                <p class="mb10" *ngIf="studentBidDetail.isSelected=='pending'  || studentBidDetail.isSelected=='selected'">Bid selection pending</p> -->
                             
                            </div>
                        </div>


                    </div>
                </div>
                <div class="bg-grey-padd20 cover-outer">
                    <h4 class="lg-heading mb10">Bidding Details</h4>
                    <div class="table-responsive payment-detail-outer bg-white">
                        <table class="table payment-detail-table">
                            <thead>
                                <tr>
                                    <th>Student</th>
                                    <th class="text-right">Bid Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="isSelected=='pending' || isSelected=='rejected' || isSelected=='selected'">
                                        <!-- <tr class="bg-yellow">
                                    <td>
                                        <div class="studentSurvey-title">
                                            <figure class="mb-0"> <img src="../../../../assets/img/person-profile.jpg"
                                                    alt=""></figure>
        
                                            Anand Krishnan
                                        </div>
        
                                    </td>
                                    <td class="text-right">10 Points</td>
                                </tr> -->
                                <ng-container *ngFor="let list of allBidDetail; let i =index">
                                    <tr [ngClass]="list?.studentId == student_id? 'bg-pink': '' ">
                                        
                                        <td>
                                            <div class="studentSurvey-title">
                                                <figure class="mb-0"> <img class="event-detail-img"
                                                    src="{{list?.Student?.StudentDetail?.profilePicUrl}}"
                                                    onerror="this.src='../../../assets/img/avatar.jpg'"
                                                    alt="{{list?.Student?.firstName | titlecase}}"></figure>
            
                                                    {{list?.Student?.firstName | titlecase}} {{list?.Student?.lastName |
                                                        titlecase}}
                                            </div>
            
                                        </td>
                                        <td class="text-right" *ngIf="list.studentId == student_id"> 
                                            <div class="action-area d-inline-flex ">
                                                <a class="d-inline-flex align-items-center" href="javascript:void(0);" 
                                            (click)="onBidChange()" *ngIf="isSelected=='pending'">
                                            
                                            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.7805 0.783841L17.8023 2.80563C17.8923 2.89536 17.9637 3.00195 18.0124 3.11932C18.0611 3.23668 18.0862 3.36249 18.0862 3.48956C18.0862 3.61663 18.0611 3.74244 18.0124 3.85981C17.9637 3.97717 17.8923 4.08376 17.8023 4.17349L9.59519 12.4586L6.68549 13.1006C6.61172 13.1087 6.53728 13.1087 6.46352 13.1006C6.32079 13.0999 6.17999 13.0675 6.05125 13.0059C5.9225 12.9443 5.80902 12.8549 5.71895 12.7442C5.62888 12.6335 5.56447 12.5042 5.53035 12.3656C5.49623 12.227 5.49324 12.0826 5.52161 11.9427L6.18754 9.05698L14.4127 0.783841C14.5024 0.693869 14.609 0.622485 14.7264 0.573778C14.8437 0.525071 14.9696 0.5 15.0966 0.5C15.2237 0.5 15.3495 0.525071 15.4669 0.573778C15.5842 0.622485 15.6908 0.693869 15.7805 0.783841ZM6.77548 11.8347L8.97125 11.3487L15.1686 5.11539L13.4768 3.42357L7.28543 9.65692L6.77548 11.8347ZM14.1547 2.74564L15.8465 4.43746L16.7884 3.50156L15.0846 1.79774L14.1547 2.74564ZM1.28606 17.3001H14.4847V9.50094L15.6846 8.30106V17.3001C15.6846 17.6184 15.5581 17.9235 15.3331 18.1486C15.1081 18.3736 14.8029 18.5 14.4847 18.5H1.28606C0.96783 18.5 0.662637 18.3736 0.437617 18.1486C0.212597 17.9235 0.0861816 17.6184 0.0861816 17.3001V4.1015C0.0861816 3.78327 0.212597 3.47808 0.437617 3.25306C0.662637 3.02804 0.96783 2.90162 1.28606 2.90162H10.4171L9.21723 4.1015H1.28606V17.3001Z" fill="#4E5D64"/>
                                            </svg>  </a> {{list?.bidValue}} Points
                                            </div>
                                            
                                        </td>
                                        
                                        <td class="text-right" *ngIf="list.studentId != student_id"></td>
                                        
                                        
                                    </tr>
                                    </ng-container>
                                </ng-container>
                                
                                <ng-container *ngIf="isSelected=='awarded'">
                                        <!-- <tr class="bg-yellow">
                                    <td>
                                        <div class="studentSurvey-title">
                                            <figure class="mb-0"> <img src="../../../../assets/img/person-profile.jpg"
                                                    alt=""></figure>
        
                                            Anand Krishnan
                                        </div>
        
                                    </td>
                                    <td class="text-right">10 Points</td>
                                </tr> -->
                                <ng-container *ngFor="let list of allBidDetail; let i =index">
                                    <tr [ngClass]="list?.studentId == student_id? 'bg-yellow': '' ">
                                        
                                        <td>
                                            <div class="studentSurvey-title">
                                                <figure class="mb-0"> <img class="event-detail-img"
                                                    src="{{list?.Student?.StudentDetail?.profilePicUrl}}"
                                                    onerror="this.src='../../../assets/img/avatar.jpg'"
                                                    alt="{{list?.Student?.firstName | titlecase}}"></figure>
            
                                                    {{list?.Student?.firstName | titlecase}} {{list?.Student?.lastName |
                                                        titlecase}}
                                            </div>
            
                                        </td>
                                        <td class="text-right text-nowrap" *ngIf="list.studentId == student_id">{{list?.bidValue}} Points</td>
                                        <td class="text-right" *ngIf="list.studentId != student_id"></td>
                                    </tr>
                                    </ng-container>
                                </ng-container>
                                
                            </tbody>
                          
                        </table>
                    </div>
                </div>
                



              
               
            </div>

            
                



          

   














            </div>

        </section>
    </div>

</div>






   



  
 