<div class="side-menu" id="side-menu">
    <!-- <a href="javascript:void(0);">
        <i class="material-icons">home</i> <span> Home</span>
      </a> -->
    <!-- <a routerLink="/student/student-portal" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">account_balance_wallet</i>
      <span>Fee Details</span>
    </a>
    <a routerLink="/student/survey-list" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">date_range</i>
      <span>Survey List</span>
    </a>
    <a routerLink="/student/events" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">date_range</i>
      <span>Events</span>
    </a> -->
    <!-- <a routerLink="/student/transactionHistory" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">account_balance_wallet</i>
      <span>Transaction History</span>
    </a> -->
    <!-- <a routerLink="/student/profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">person</i>
      <span>Profile</span>
    </a> -->
    <a routerLink="/lead/leadEnquiry" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">assignment_late</i>
      <span>Enquiry</span>
    </a>
    <!-- <a routerLink="/student/mentor" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
      <i class="material-icons">person</i>
      <span>Mentors</span>
    </a> -->
  </div>