<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
        </div>
    </div>

    <div class="main-body">
        <div class="cover-outer">
            <section class="fees-container preview-survey student-added-1">
                <div class="container-fluid">
                    <div class="d-inline-flex align-items-center float-left " routerLink="/student/view-club">
                        <div class="red-clr keyboard-back">
                            <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
                        </div>
                        <!-- <div class="ml-3 red-highlight">
                        Rejected
                        </div> -->
                    </div>
                    <ng-container *ngIf="clubData?.ClubIntrestedStudents.length > 0">
                        <input type="file" #uploadfile (change)="uploadReport($event)" style="display: none;">
                        <button class="btn4 float-right d-inline-flex align-items-center" *ngIf="isThisStuPresident"
                            (click)="uploadfile.click()"><i class="ph-upload-simple mr-1 "></i>Upload report </button>
                    </ng-container>

                    <!-- <h3 class="cover-outer boldheading mb50 w-auto"> Club Details </h3>
                    <div class="addNewUserOuter">
                        <button class="btn4 mb10 mr-3">APPROVED</button>
                        <button class="btn4Red mb10">EDIT</button>
                    </div> -->
                    <div class="cover-outer clubOuter mt50">
                        <div class="cover-outer">

                            <div class="coverPicOuter">
                                <img *ngIf="(clubData?.clubCoverImage && clubData?.clubCoverImage !== 'null'); else noCoverImg"
                                    src={{clubData?.clubCoverImage}} alt="">
                                <ng-template #noCoverImg>
                                    <img src="../../../../assets/img/coverBg.jpg" alt="">
                                </ng-template>
                            </div>
                            <div class="upload-club-wrapper">
                                <figure>
                                    <img *ngIf="(clubData?.clubProfileImage && clubData?.clubProfileImage !== 'null'); else noProfileImg"
                                        src="{{clubData?.clubProfileImage}}" alt="">
                                    <ng-template #noProfileImg>
                                        <img src="../../../../assets/img/club-brand.png" alt="">
                                    </ng-template>
                                </figure>

                                <!-- <i class="material-icons">photo_camera</i> -->
                            </div>

                            <div class="club-heading-prev-outer">
                                <h2 class="heading-1 ">{{clubData?.name}}</h2>
                                <div class="button-events-top">
                                    <button *ngIf="isThisStuPresident" class="btn7 ml10"
                                        routerLink="/student/createEvent/{{clubData?.id}}"><i class="ph-plus"></i>NEW
                                        EVENT</button>
                                    <!-- <button class="btn7 ml10"><i class="ph ph-chats "></i>Forum</button> -->
                                    <!-- <a download="my-custom-file.pdf" href={{clubData?.clubGuidedDoc}}><button class="btn7 ml10"><i class="ph-eye"></i>Guiding Document </button></a> -->
                                    <button *ngIf="clubData?.clubGuidedDoc" class="btn7 ml10"
                                        (click)="guidingDocDownload(clubData?.clubGuidedDoc)"><i
                                            class="ph-eye"></i>Guidance Document </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cover-outer mt10 club-outer-1" style="display: none;">
                        <div class="row ">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card-sec">
                                    <h4 class="heading-4">About Club</h4>
                                    <p class="mt10">{{clubData?.name}}</p>
                                </div>
                                <div class="card-sec">
                                    <div class="ClubP-detail">
                                        <img src="../../../assets/img/1.png" alt="">
                                        <div>
                                            <h3 class="heading-3">{{clubData?.ClubIntrestedStudents[0]?.isPresident}}
                                                <span class="designation-tag">Student</span>
                                            </h3>
                                            <span>Programme in Finance and Accounting | 2018-2020 |</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card-sec">
                                    <h4 class="heading-4">Mission of Club</h4>
                                    <p class="mt10">{{clubData?.mission}}</p>
                                </div>
                                <div class="card-sec">
                                    <h4 class="heading-sm mb10">16 recommends students Request your club</h4>
                                    <ul class="userList">
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <!-- <img src="../../../assets/img/1.png" alt=""> -->
                                            5+
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card-sec">
                                    <h4 class="heading-4">Vission of Club</h4>
                                    <p class="mt10">{{clubData?.vision}}</p>
                                </div>
                                <div class="card-sec">
                                    <h4 class="heading-4">Leave Comment</h4>
                                    <p class="mt10 line-clamp">At Harvard Business Review, we believe in management. If
                                        the
                                        world’s organizations and institutions were run more effectively <a
                                            href="javascript:void(0);" class="red-clr">more</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="cover-outer mt10 club-outer-1">
                        <div class="row abc">
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card-sec">
                                    <h4 class="heading-4">About Club</h4>
                                    <p class="mt10">{{clubData?.description}}</p>
                                </div>
                                <div class="card-sec">
                                    <div class="ClubP-detail">
                                        <img *ngIf="presidentStuData?.Student?.StudentDetail?.profilePicUrl; else nopreProfile"
                                            src={{presidentStuData?.Student?.StudentDetail?.profilePicUrl}} alt="">
                                        <ng-template #nopreProfile>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </ng-template>
                                        <div>
                                            <h3 class="heading-3">
                                                {{presidentStuData?.Student?.firstName}}
                                                {{presidentStuData?.Student?.lastName}}
                                                <p class="ml-2  green-highlight">President</p>
                                            </h3>
                                            <span>{{presidentStuData?.Student?.Program?.name}} |
                                                {{presidentStuData?.Student?.Program?.batch}} |</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card-sec">
                                    <h4 class="heading-sm mb10">{{allClubStuData?.length}} interested students</h4>
                                    <ul class="userList">
                                        <ng-container *ngFor="let stu of allClubStuData; let i=index">
                                            <li *ngIf="i < 5">
                                                <img src={{stu?.Student?.StudentDetail?.profilePicUrl}} alt="">
                                            </li>
                                        </ng-container>
                                        <li *ngIf="allClubStuData?.length > 5">
                                            5+
                                        </li>

                                    </ul>
                                </div> -->
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <div class="card-sec">
                                    <h4 class="heading-4">Club Report</h4>
                                    <div class="no-data-outer mt10" *ngIf="clubData?.ClubReports.length == 0">
                                        <div class="no-data-content">
                                            <img src="../../../assets/img/no-data.png">
                                            <span>No Data Found</span>
                                        </div>
                                    </div>
                                    <div class="club-list mt10" *ngIf="clubData?.ClubReports.length > 0">
                                        <ul>
                                            <li *ngFor="let creport of clubData?.ClubReports; let i=index">
                                                <span><a href={{creport?.documentURL}}></a>Club Report {{i+1}}</span>
                                                <span class="date-club-list">{{creport?.createdAt |
                                                    date:'mediumDate'}}</span>
                                                <i class="ph-download-simple"
                                                    (click)="surveyReportDownload(creport?.documentURL)"></i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div class="card-sec">
                                    <div class="student-added mb20">
                                        <div class="feeDetailFrom">
                                            <ul class="nav students-tabs text-center tabs-events-club">
                                                <!-- <li class=""><a class="active " data-toggle="tab" href="#home">Events
                                                        Organised</a></li> -->
                                                <!-- <li class><a class data-toggle="tab" href="#menu1" class=""></a></li> -->
                                                <h4 _ngcontent-ves-c1="" class="heading-4">Upcoming
                                                    Event</h4>
                                                <!-- <li class=""><a class="" data-toggle="tab" href="#menu2" class="">Events
                                                        Request</a></li> -->
                                            </ul>
                                            <div class="tab-content cover-outer">
                                                <div class="tab-pane fade show active" id="home">
                                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                                        <span class="txt"></span>
                                                    </div>
                                                    <div class="payment-detail-outer">
                                                        <div class="no-data-outer mt10"
                                                            *ngIf="eventData?.upcommingEvent.length == 0">
                                                            <div class="no-data-content">
                                                                <img src="../../../assets/img/no-data.png">
                                                                <span>No Data Found</span>
                                                            </div>
                                                        </div>
                                                        <div class="club-list mt10"
                                                            *ngIf="eventData?.upcommingEvent.length > 0">
                                                            <ul>
                                                                <li *ngFor="let ev of eventData?.upcommingEvent">
                                                                    <div class="list-inner-center">
                                                                        <img *ngIf="ev?.profilePicUrl; else defalutEvImg"
                                                                            src={{ev?.profilePicUrl}}>
                                                                        <ng-template #defalutEvImg>
                                                                            <img
                                                                                src="../../../../assets/img/club-brand.png">
                                                                        </ng-template>
                                                                        <span>{{ev?.title}}</span>
                                                                    </div>
                                                                    <i class="ph-eye"
                                                                        routerLink="/student/event-details/{{ev?.id}}"></i>
                                                                </li>
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="menu1">
                                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                                        <span class="txt"></span>
                                                    </div>
                                                    <div class="payment-detail-outer">
                                                        <div class="no-data-outer mt10">
                                                            <div class="no-data-content">
                                                                <img src="../../../assets/img/no-data.png">
                                                                <span>No Data Found</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="menu2">
                                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                                        <span class="txt"></span>
                                                    </div>
                                                    <div class="payment-detail-outer">
                                                        <div class="no-data-outer mt10" style="display: none;">
                                                            <div class="no-data-content">
                                                                <img src="../../../assets/img/no-data.png">
                                                                <span>No Data Found</span>
                                                            </div>
                                                        </div>
                                                        <div class="club-list mt10">
                                                            <ul>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>

                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fees-container preview-survey">
                <div>
                    <div class="view-event-box ">
                        <h4 class="heading-4 ">Past Event</h4>
                        <div class="no-data-outer mt10" *ngIf="eventData?.pastEvent.length == 0">
                            <div class="no-data-content">
                                <img src="../../../assets/img/no-data.png">
                                <span>No Data Found</span>
                            </div>
                        </div>
                        <div class="cover-outer events" *ngIf="eventData?.pastEvent.length > 0">
                            <div class="event-box" *ngIf="customOptions">
                                <!-- <div class="event-box  " *ngFor="let ev of eventData?.pastEvent">
                                    <div class="img-sec">
                                        <img *ngIf="ev?.coverPicUrl; else noEvImg" src={{ev?.coverPicUrl}} alt="pop-upimg">
                                        <ng-template #noEvImg>
                                            <img src="../../../../assets/img/club-brand.png" alt="pop-upimg">
                                        </ng-template>
                                    </div>
                                    <div class="event-desc-sec">
                                        <h4>{{ev?.title}}</h4>
                                        <h6 class="green-highlight">{{clubData?.name}}</h6>
    
                                    </div>
                                    <div class="event-time">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M16.25 3.23077H14.375V2.61538C14.375 2.45217 14.3092 2.29565 14.1919 2.18024C14.0747 2.06484 13.9158 2 13.75 2C13.5842 2 13.4253 2.06484 13.3081 2.18024C13.1908 2.29565 13.125 2.45217 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.45217 6.80915 2.29565 6.69194 2.18024C6.57473 2.06484 6.41576 2 6.25 2C6.08424 2 5.92527 2.06484 5.80806 2.18024C5.69085 2.29565 5.625 2.45217 5.625 2.61538V3.23077H3.75C3.41858 3.23109 3.10083 3.36086 2.86648 3.59161C2.63213 3.82235 2.50033 4.13522 2.5 4.46154V16.7692C2.50033 17.0956 2.63213 17.4084 2.86648 17.6392C3.10083 17.8699 3.41858 17.9997 3.75 18H16.25C16.5814 17.9997 16.8992 17.8699 17.1335 17.6392C17.3679 17.4084 17.4997 17.0956 17.5 16.7692V4.46154C17.4997 4.13522 17.3679 3.82235 17.1335 3.59161C16.8992 3.36086 16.5814 3.23109 16.25 3.23077ZM16.25 6.92308H3.75V4.46154H5.625V5.07692C5.625 5.24013 5.69085 5.39666 5.80806 5.51207C5.92527 5.62747 6.08424 5.69231 6.25 5.69231C6.41576 5.69231 6.57473 5.62747 6.69194 5.51207C6.80915 5.39666 6.875 5.24013 6.875 5.07692V4.46154H13.125V5.07692C13.125 5.24013 13.1908 5.39666 13.3081 5.51207C13.4253 5.62747 13.5842 5.69231 13.75 5.69231C13.9158 5.69231 14.0747 5.62747 14.1919 5.51207C14.3092 5.39666 14.375 5.24013 14.375 5.07692V4.46154H16.25V6.92308Z"
                                                fill="#404040" />
                                        </svg>
    
                                        <p>{{ev?.eventDate |date}}, {{ev?.eventTime}}</p>
                                    </div>
                                    <div class="view-btn ml-3 mr-3"><button class="btn7  w-100"
                                            routerLink="/student/event-details/{{ev?.id}}">View</button></div>
                                </div> -->

                                <owl-carousel-o [options]="customOptions">

                                    <ng-container *ngFor="let ev of eventData?.pastEvent; let i=index">
                                        <ng-template class="slide" carouselSlide [id]="i">
                                            <div class="event-box event-style eventNewBox">
                                                <div class="img-sec">
                                                    <img *ngIf="ev?.coverPicUrl; else noEvImg" src={{ev?.coverPicUrl}}
                                                        alt="pop-upimg">
                                                    <ng-template #noEvImg>
                                                        <img src="../../../../assets/img/club-brand.png"
                                                            alt="pop-upimg">
                                                    </ng-template>
                                                </div>
                                                <div class="event-desc-sec">
                                                    <h4>{{ev?.title}}</h4>
                                                    <h6 class="green-highlight">{{clubData?.name}}</h6>

                                                </div>
                                                <div class="event-time">
                                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M16.25 3.23077H14.375V2.61538C14.375 2.45217 14.3092 2.29565 14.1919 2.18024C14.0747 2.06484 13.9158 2 13.75 2C13.5842 2 13.4253 2.06484 13.3081 2.18024C13.1908 2.29565 13.125 2.45217 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.45217 6.80915 2.29565 6.69194 2.18024C6.57473 2.06484 6.41576 2 6.25 2C6.08424 2 5.92527 2.06484 5.80806 2.18024C5.69085 2.29565 5.625 2.45217 5.625 2.61538V3.23077H3.75C3.41858 3.23109 3.10083 3.36086 2.86648 3.59161C2.63213 3.82235 2.50033 4.13522 2.5 4.46154V16.7692C2.50033 17.0956 2.63213 17.4084 2.86648 17.6392C3.10083 17.8699 3.41858 17.9997 3.75 18H16.25C16.5814 17.9997 16.8992 17.8699 17.1335 17.6392C17.3679 17.4084 17.4997 17.0956 17.5 16.7692V4.46154C17.4997 4.13522 17.3679 3.82235 17.1335 3.59161C16.8992 3.36086 16.5814 3.23109 16.25 3.23077ZM16.25 6.92308H3.75V4.46154H5.625V5.07692C5.625 5.24013 5.69085 5.39666 5.80806 5.51207C5.92527 5.62747 6.08424 5.69231 6.25 5.69231C6.41576 5.69231 6.57473 5.62747 6.69194 5.51207C6.80915 5.39666 6.875 5.24013 6.875 5.07692V4.46154H13.125V5.07692C13.125 5.24013 13.1908 5.39666 13.3081 5.51207C13.4253 5.62747 13.5842 5.69231 13.75 5.69231C13.9158 5.69231 14.0747 5.62747 14.1919 5.51207C14.3092 5.39666 14.375 5.24013 14.375 5.07692V4.46154H16.25V6.92308Z"
                                                            fill="#404040" />
                                                    </svg>

                                                    <p>{{ev?.eventDate |date}}, {{ev?.eventTime}}</p>
                                                </div>
                                                <div class="view-btn ml-3 mr-3"><button class="btn7  w-100"
                                                        routerLink="/student/event-details/{{ev?.id}}">View</button>
                                                </div>
                                            </div>

                                        </ng-template>
                                    </ng-container>

                                </owl-carousel-o>
                            </div>


                        </div>

                    </div>
                    <!-- <h1>
                      Welcome to {{ title }}!
                    </h1>
                    <div>Some tags before</div>
                    <owl-carousel-o [options]="customOptions">
                      <ng-container *ngFor="let image of this.images;">
                        <ng-template carouselSlide><img src="{{image.image}}"></ng-template> 
                      </ng-container> 
                    </owl-carousel-o>
                    <div>Some tags after</div> -->
                </div>
                <section class="fees-container preview-survey mt20"
                    *ngIf="!isThisStuPresident && clubComments.length>0">
                    <div class="container-fluid">
                        <div class="cover-outer clubOuter">
                            <h3 class="heading-bold-blue"> Comments </h3>
                            <div class="mt30">
                                <div class="chat-container">
                                    <ng-container *ngFor="let comment of clubComments">
                                        <div class="left-chat" *ngIf="comment.userResponseId">
                                            <div class="left-inner">
                                                <img src="../../../assets/img/avatar.jpg">
                                                <p>{{comment.userComment}}</p>
                                            </div>
                                            <span>{{comment.createdAt | date : 'medium'}}</span>
                                            <span> {{comment.User.firstName}}</span>
                                        </div>
                                        <div class="right-chat" *ngIf="comment.studentId">
                                            <div class="right-inner">
                                                <!-- <img  src="../../../assets/img/avatar.jpg"> -->
                                                <img *ngIf=" (comment?.Student?.StudentDetail?.profilePicUrl && comment?.Student?.StudentDetail?.profilePicUrl !== 'null'); else noImg"
                                                    src={{comment?.Student?.StudentDetail?.profilePicUrl}} alt="" >
                                                <ng-template #noImg>
                                                    <img src="../../../assets/img/avatar.jpg" alt="">
                                                </ng-template>
                                                <p>{{comment.studentComment}}</p>
                                            </div>
                                            <span>{{comment.createdAt | date : 'medium'}}</span>
                                            <span >{{comment.Student.firstName}}</span>

                                        </div>

                                    </ng-container>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fees-container preview-survey mt20" *ngIf="isThisStuPresident">
                    <div class="container-fluid">
                        <div class="cover-outer clubOuter">
                            <h3 class="heading-bold-blue"> Leave Comment </h3>
                            <div class="mt30">
                                <div class="chat-container">
                                    <ng-container  *ngFor="let comment of clubComments">
                                        <div class="left-chat" *ngIf="comment.userResponseId">
                                            <div class="left-inner">
                                                <img src="../../../assets/img/avatar.jpg">
                                                <p>{{comment.userComment}}</p>
                                            </div>
                                            <span>{{comment.createdAt | date : 'medium'}}</span>
                                            <span> {{comment.User.firstName}}</span>
                                        </div>
                                        <div class="right-chat" *ngIf="comment.studentId">
                                            <div class="right-inner">
                                                <!-- <img  src="../../../assets/img/avatar.jpg"> -->
                                                <img *ngIf="(comment?.Student?.StudentDetail?.profilePicUrl && comment?.Student?.StudentDetail?.profilePicUrl !== 'null'); else noImg"
                                                    src={{comment?.Student?.StudentDetail?.profilePicUrl}} alt=" ">
                                                <ng-template #noImg>
                                                    <img src="../../../assets/img/avatar.jpg" alt="">
                                                </ng-template>
                                                <p>{{comment.studentComment}}</p>
                                            </div>
                                            <span>{{comment.createdAt | date : 'medium'}}</span>
                                            <span>{{comment.Student.firstName}}</span>

                                        </div>

                                    </ng-container>

                                </div>
                                <div class="chat-sent-container">
                                    <div class="chat-send-outer"><input placeholder="Send Message" type="text"
                                            [(ngModel)]="responseText" (keyup.enter)="sendMessage()"><button
                                            class="send-outer" (click)="sendMessage()"><i
                                                class="ph-paper-plane-tilt"></i></button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>

        <app-student-footer></app-student-footer>
    </div>
</div>