/* owl-carousel-o {
    display: inline-block;
    width: 100%;
  } */
  /* .event-time {
    display: inline-block;
    width: 100%;
    } */
    /* .owl-item {
        width: 200px!important;
    } */
    .event-box {
        background: #FFFFFF;
        border-radius: 5px;
        margin-top: 20px;
        padding-bottom: 20px;
        display: inline-block;
        width: 100%!important;
      
        /* border: 1px solid #DFDFDF; */ 
    }
    /* .event-box  .d-flex {
        padding: 10px 20px 15px;
    } */
  /* .owl-item {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  } */
  /* Feel free to change duration  */ 
/* .animated  {
    -webkit-animation-duration : 1000 ms  ;
    animation-duration : 1000 ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
  }   */
  /* .owl-animated-out - only for current item */ 
  /* This is very important class. Use z-index if you want move Out item above In item */ 
  .owl-animated-out {
    z-index : 1 
     }
  /* .owl-animated-in - only for upcoming item
  /* This is very important class. Use z-index if you want move In item above Out item */ 
  .owl-animated-in {
    z-index : 0 
     }
  /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
  /* .fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
  }   */
  @-webkit-keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
  }
  @keyframes  fadeOut  {
    0% {
      opacity : 1   ;
    }  
    100% {
      opacity : 0   ;
    }  
  }