<toaster-container [toasterconfig]="config">
</toaster-container>
<div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div>
<app-header></app-header>

<div class="cover-outer admin-main-tabs">
    <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/adminLogin" [routerLinkActive]="'active'">Admin</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="studentId" routerLink="/login" [routerLinkActive]="'active'" active>Student</a>
        </li>
    </ul> -->
    <!-- Student login -->
    <section class="login-container">
        <div class="container">
            <h3 class='login-heading'>Welcome Back!</h3>
            <p class="login-subheading">Please Login to Your Account</p>
        </div>
        <div class="container">
            <div class="row">
                <form class="login-form feeDetailFrom text-left mt35" [formGroup]="loginForm">
                    <!-- <button type="button" class="loginWithGogle mb30" (click)="signInWithGoogle()">
                        <figure><img src="../../../assets/img/gogl.png"></figure>SIGN IN WITH GOOGLE
                    </button> -->
                    <!-- <p class="login-subheading text-center mt20 mb20"><strong>Or</strong></p> -->
                    <div class="form-group  mb25 l-email">
                        <label class="label-heading">Enter Email</label>
                        <sup>*</sup>
                        <div class="input-group">
                            <i class="material-icons">mail_outline</i>
                            <input type="email" class="form-control" placeholder="john.doe@gmail.com"
                                formControlName="email"
                                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                            <span class="msg-error d-none"></span>
                        </div>
                        <div class="error-msg" *ngIf="
                            emailRequiredError && (loginForm.controls.email.dirty ||
                            loginForm.controls.email.touched) &&
                            !loginForm.controls.email.valid
                          " for="email">
                            valid email required
                        </div>
                        <div class="error-msg" *ngIf="
                             emailRequiredError &&   !loginForm.controls.email.dirty &&
                             !loginForm.controls.email.valid
                          " for="email">
                            email is required

                        </div>
                    </div>
                    <div class="form-group mb10">
                        <label class="label-heading">Enter Password</label>
                        <sup>*</sup>
                        <div class="input-group">
                            <i class="material-icons">https</i>
                            <input type="password" class="form-control" placeholder="********"
                                formControlName="password">
                            <span class="msg-error d-none"></span>
                        </div>
                        <div class="error-msg" *ngIf="
                        passwordRequiredError && (!loginForm.controls.password.dirty
                        || loginForm.get('password').touched) && !loginForm.controls.password.valid" for="password">
                            password is required
                        </div>
                    </div>
                    <div class="login-remember">
                        <!-- <p class="float-left">
                            <label class="login-cont">Remember my login details
                                <input type="checkbox" checked="checked">
                                <span class="l-checkmark"></span>
                            </label>
                        </p> -->
                        <!-- <a href="javascripr:void(0);" class="link1" routerLink="/auth/forgotPassword">Forgot
                            Password?</a> -->
                    </div>
                    <button type="button" class="btn1 mt60" (click)="login()">LOGIN
                        <span class="material-icons">send</span>
                    </button>

                </form>

            </div>
        </div>
    </section>
</div>