<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body">
    <div class="page-header club-preview-header new-back-btn-wrapper">
      <a href="javascript:void(0);">
        <h2 [routerLink]="['/student/newMyCourse']" class=" component-heading red-clr new-back-btn">
          <span class="mr-2 material-icons">keyboard_backspace</span>
          Back 
        </h2>
      </a>
      <p class="component-heading">Course Details</p>
    </div>
    <div class="preview-container scrollbar">
      <div class="main-container course-container">
        <div class="club-header">
          <div class="header-top">
            <img
              src="https://img.freepik.com/free-vector/smooth-mesh-blurred-background-multi-color-gradient-pattern-smooth-
    modern-watercolor-style-backdrop_124894-147.jpg?size=626&amp;ext=jpg&amp;ga=GA1.2.1292351815.1642896000"
              alt=""
            />
          </div>
          <div class="header-bottom">
            <div class="course-detail">
              <div class="club-detail">
                <h3 class="heading-3 mb5">{{courseRoster?.courseName}}</h3>
                <p class="club-desc">{{courseRoster?.startDate | date:'longDate'}}, {{courseRoster?.hours}} Hours</p>
              </div>
              <!-- <div class="btn-group">
                <button class="primary-outline-btn-a">Publish</button>
              </div> -->
            </div>
            <div class="course-detail mt-15 content" [innerHTML]="courseRoster?.description">
              <!-- <p>
                In highly fluid environments, such as those that we are in now,
                it is of-course critical for businesses of all types to maintain
                a high level of agility adaptability. But it is also important
                to have a point of view on the future, even if that view is
                likely to change in response to new contexts. In spite of what
                some futurists would have you believe the future is rarely that
                predictable, but that shouldn’t stop us from having a vision or
                continually exploring potential future scenarios.
              </p>
              <p class="">
                The world has been disrupted by many technological advancements
                in the last 30 years. These disruptions have just started and we
                expect our lives to be disrupted further. Take for instance, the
                COVID - enforced WFH policy ( a great combination of
                technological and organisational disruption).
              </p> -->
            </div>
            <div class="border mt-10"></div>
            <div class="coursedetail-table mt-10">
              <div class="course-content">
                <p class="heading">Cluster</p>
                <p class="content">{{courseRoster?.ProgramCluster?.Cluster?.name}}</p>
              </div>
              <div class="course-content">
                <p class="heading">Type</p>
                <p class="content">{{courseRoster?.courseType}}</p>
              </div>
              <div class="course-content">
                <p class="heading">Term</p>
                <p class="content">{{courseRoster?.term}}</p>
              </div>
              <div class="course-content">
                <p class="heading">Mode</p>
                <p class="content">{{courseRoster?.mode}}</p>
              </div>
              <div class="course-content">
                <p class="heading">Credits</p>
                <p class="content">{{courseRoster?.credits}} Points</p>
              </div>
              <div class="course-content">
                <p class="heading">Faculty</p>
                <p class="content">{{courseRoster?.master}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="club-body course-body mt-40">
          <div class="course-body-header">
            <p class="text">
              <span class="text-grey">Course Code: </span>{{courseRoster?.courseCode}}
            </p>
            <!-- <p class="primary-text pointer">View Student List</p> -->
          </div>
          <div class="feedback-container scrollbar border">
            <table class="feedback-table" cellpadding="0" cellspacing="0">
              <thead>
                <tr>
                  <th>Session Title</th>
                  <th>Date | Time</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr class="p-20" *ngFor="let session of sessions;">
                  <td>{{session?.name }}</td>
                  <td>{{session?.date | date:'longDate'}} | {{session?.fromTime}} to {{session?.toTime}}</td>
                  <td [innerHTML]="session.description"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
