<toaster-container [toasterconfig]="config">
</toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    
    </div>
  </div>

  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid">
        <h3 class="cover-outer boldheading mb30">
          Feedback
          <span class="borderheading">Form</span>
        </h3>
        <div class="cover-outer" *ngIf="surveyIsAnonymous && !surveyData?.isAttempted && !hideSubmit && !surveyNotAssigned"> 
          <!-- <sup class="red-clr"> *</sup>  -->
          <span class="text-yellow-bg white-text">This is an anonymous feedback form, personal details will not be collected.</span>
          </div>
        <div class="cover-outer preview-survey feeDetailFrom section-padd mt10" *ngIf="!surveyData?.isAttempted && !hideSubmit && !surveyNotAssigned">
          <!-- <h2 class="red-clr keyboard-back"><span
                    class="mr-2 material-icons">keyboard_backspace</span>Back </h2> -->
          <h2 class="heading-2 mb5">{{surveyData?.SurveyMaster?.title}}</h2>
          <p class="des-txt mb20" *ngIf="surveyData?.SurveyMaster?.description" [innerHtml]="surveyData?.SurveyMaster?.description"></p>
          <!-- <h4 class="heading-2 mb20">{{surveyData?.SurveyMaster?.description}}</h4> -->
          <div class="cover-outer feeDetailFrom  d-flex">
            <!-- <figure class="profile-output-img mr10">
              <img src="../../../assets/img/profile-bg.png" alt="" />
            </figure> -->
            <div class="cover-outer">
              <!-- <div class="login-heading">Anand Krishnan</div>
              <p>Your Mentor</p> -->
              
              
             
              <ng-container *ngFor="let survey of sq; index as i">      
              <div class="cover-outer mb10 add-ques-inner"  *ngIf="sq">
                                                  
                                <div class="cover-outer">
                                    <h1 class="rating-text mb10">
                                    <!-- How proactive and invested is the mentor in the
                                    engagement? * -->
                                    {{i+1}}. {{survey.question}}
                                    <sup class="text-danger" *ngIf="survey.isRequired">*</sup>
                                    </h1>
                                    <!-- <div class="error-msg" *ngIf="questionRequired"> This question is required </div> -->
                                </div>
                                <!-- <div [formGroupName]="i"> -->
                                    <!-- question type is rating -->
                                    <div class="cover-outer feeDetailFrom" *ngIf="survey.questionType =='rating'">
                                        
                                            <div class="cover-outer user-type">
                                                <div>
                                                    <ul id="{{'stars'+i}}" class="mentor-rating-list cover-outer"
                                                    (mouseover)="onRateQus(i, survey.id)">
                                                        <li class="star" title="Poor" data-value="1">
                                                        <i class="material-icons">grade</i>
                                                        </li>
                                                        <li class="star" title="Fair" data-value="2">
                                                        <i class="material-icons">grade</i>
                                                        </li>
                                                        <li class="star" title="Good" data-value="3">
                                                        <i class="material-icons">grade</i>
                                                        </li>
                                                        <li class="star" title="Excellent" data-value="4">
                                                        <i class="material-icons">grade</i>
                                                        </li>
                                                        <li class="star" title="WOW!!!" data-value="5">
                                                        <i class="material-icons">grade</i>
                                                        </li>
                                                    </ul>
                                                </div>
                                               
                                            </div>
                                        
                                    </div>
                    
                                    <!-- question type is radio -->
                                    <div class="form-group mb-0" *ngIf="survey.questionType =='radio'">
                                        <ng-container *ngFor="let op of survey.surveyQuestionOptions; index as j">
                                        
                                        <div class="input-group">
                                            
                                                    <label class="cont">
                                                    <input name="rid{{survey.id}}" type="radio" (click)="onRadioButtonClick(survey.question, survey.id, op.optionName, i)"/>
                                                    <span class="checkmark"></span>
                                                    <span class="txt">{{op.optionName}}</span>
                                                    </label> 
                                            
                                        </div>
                                    </ng-container>
                                    </div>
                    
                                    <!-- question type is paragraph -->
                                    <div class="form-group mb-0" *ngIf="survey.questionType =='paragraph'">
                                        <!-- <ng-container *ngFor="let op of survey.get('surveyQuestionOptions')['controls']; index as j"> -->
                                            <div  class="input-group">
                                                <textarea
                                                class="form-control mh100 mt15"
                                                placeholder="Comments"
                                                (change)= "onTextAreaChanged($event.target.value, i)"
                                                ></textarea>
                                            </div>
                                            
                                        <!-- </ng-container> -->
                                               
                                    </div>

                                    <!-- question type is checkbox -->
                                    <div class="form-group mb-0" *ngIf="survey.questionType =='checkBox'">
                                        <ng-container *ngFor="let op of survey.surveyQuestionOptions; index as j">
                                            <div class="input-group pb-3">
                                                
                                                <label class="login-cont mt10">{{op.optionName}}
                                                    <input name="{{op.id}}" [value]="op.id" type="checkbox" (change)="updateCheckBoxOption(survey.question, survey.id, op.optionName, $event, op.id, survey.isRequired)">
                                                    <span class="l-checkmark"></span>
                                                </label>
                                                
                                            </div>
                                        </ng-container>
                                    </div>
                                <!-- </div> -->
                                 <!-- question type is file -->
                                 <div class="form-group mb-0" *ngIf="survey.questionType =='file'">
                                  <!-- <ng-container *ngFor="let op of survey.get('surveyQuestionOptions')['controls']; index as j"> -->
                                      <div  class="input-group">
                                        <!-- <input type="file" #uploadfile
                                        (change)="onUploadFile($event,i)"
                                        style="display: none;"> -->
                                        <div class="cover-outer">
                                          <!-- <button id="res" type="button" class="update-btn mt10" (click)="uploadfile.click()">Upload</button> -->
                                          <button id="res" type="button" class="update-btn mt10" (click)="onUploadFile($event,i)">Upload</button>
                                          <p class="mb10 mt20" id="{{i}}"></p>
                                          <span class="error-msg">File must be less then 50 MB</span>
                                        </div>
                                      </div>
                                      
                                  <!-- </ng-container> -->
                                         
                              </div>
                    </div>
                  </ng-container>
                
               

                <div class="cover-outer" *ngIf="!surveyData?.isAttempted && !hideSubmit && !surveyNotAssigned">
                    <!-- <a href="javascript:void(0);" data-toggle="modal" data-target="#thankyou-modal" data-backdrop="static" data-keyboard="false" class="btn4" (click)="submitSurveyForm()">Submit</a> -->
                    <a href="javascript:void(0);" class="btn4" (click)="submitSurveyForm()">Submit</a>
                </div>
                <!-- <div class="cover-outer" >
                    <a href="javascript:void(0);" class="btn4" data-toggle="modal" data-target="#thankyou-modal">Submit</a>
                </div> -->

                <!-- <div class="cover-outer mb10 add-ques-inner"> 
                  <div class="cover-outer">
                    <h1 class="rating-text">
                      How satisfied are you with the frequency of your meetings
                      or communication or interactions with your mentor?
                    </h1>
                    <small
                      >(Two meetings in a given Term is considered to be
                      adequate)
                    </small>
                  </div>
                  <div class="form-group mb25">
                    <div class="input-group">
                      <label class="cont">
                        <input checked="" name="mentor-rating" type="radio" />
                        <span class="checkmark"></span>
                        <span class="txt">Satisfied</span>
                      </label>
                    </div>
                    <div class="input-group">
                      <label class="cont">
                        <input checked="" name="mentor-rating" type="radio" />
                        <span class="checkmark"></span>
                        <span class="txt">Very Satisfied</span>
                      </label>
                    </div>
                    <div class="input-group">
                      <label class="cont">
                        <input checked="" name="mentor-rating" type="radio" />
                        <span class="checkmark"></span>
                        <span class="txt">Dissatisfied</span>
                      </label>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="cover-outer mb10 add-ques-inner">
                  <h1 class="rating-text mb10">
                    What according to you are the two most beneficial tasks or
                    productive activities you have done with your mentor? *
                  </h1>
                  <div class="form-group mb25">
                    <textarea
                      class="form-control mh100"
                      placeholder="Comments and Remarks (if any)"
                    ></textarea>
                  </div>
                </div> -->
                <!-- <div class="cover-outer mb10 add-ques-inner">
                  <div class="cover-outer">
                    <h1 class="rating-text mb10">
                      Please rate the overall quality of the engagement with
                      your mentor <sup class="red-clr">*</sup>
                    </h1>
                  </div>
                  <form class="cover-outer feeDetailFrom">
                    <div class="cover-outer user-type">
                      <ul
                        class="mentor-rating-list cover-outer"
                        (mouseover)="onRateQus()"
                      >
                        <li class="star" title="Poor" data-value="1">
                          <i class="material-icons">grade</i>
                        </li>
                        <li class="star" title="Fair" data-value="2">
                          <i class="material-icons">grade</i>
                        </li>
                        <li class="star" title="Good" data-value="3">
                          <i class="material-icons">grade</i>
                        </li>
                        <li class="star" title="Excellent" data-value="4">
                          <i class="material-icons">grade</i>
                        </li>
                        <li class="star" title="WOW!!!" data-value="5">
                          <i class="material-icons">grade</i>
                        </li>
                      </ul>
                    </div>
                  </form>
                </div> -->
                <!-- <div class="cover-outer mb10 add-ques-inner">
                  <h1 class="rating-text mb10">
                    Please highlight any information, insight, special skills or
                    quality about the mentor that you may have discovered during
                    the course of your interactions, that may not be common
                    knowledge(if applicable)
                  </h1>
                  <div class="form-group mb25">
                    <div class="form-group mb25">
                      <textarea
                        class="form-control mh100"
                        placeholder="Comments and Remarks (if any)"
                      ></textarea>
                    </div>
                  </div>
                </div> -->
            

              
            </div>
          </div>
        </div>
        <div class="no-data-outer"  *ngIf="surveyData?.isAttempted || hideSubmit">
          <i class="material-icons">warning</i> <span>Either you have already submitted the survey or the survey is expired</span>
         </div>
         <div class="no-data-outer"  *ngIf="surveyNotAssigned">
          <i class="material-icons">warning</i> <span>Currently, this form is not assigned to you. Please seek admin permission to share your response.</span>
         </div>
      </div>
    </section>
  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="thankyou-modal">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body pt50 pb50">
        <div class="pay-now-dropdown cover-outer">
        <figure class="mb50"> <img src="../../../assets/img/tick-circle.png" alt=""> </figure>
            <h3 class="cover-outer boldheading mb15 d-inline-block ">Thank You!</h3>
            <div class="cover-outer mb10">
                <h1 class="rating-text">Thank you for taking the time to complete the feedback, your response is valuable to us.</h1>
            </div>
            <a href="javascript:void(0);" class="mt30 btn4 d-inline-block float-none text-center" (click)="closeModal()">OK</a>
       
        </div>
      </div>
    </div>
  </div>
</div> 
