<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid pl-0 pr-0">
                <h3 class="cover-outer boldheading mb50">My
                    <span class="borderheading">Profile</span>
                </h3>
                <!-- ====================edit design for public profile ==================== -->
                <div class="myProfileOuter edit">
                    <div class="col-md-12 pr-0 pl-0">
                        <a href="javascript:void(0);" data-toggle="modal" data-target="#change-pwd" class="changePwd float-right">Change Password</a>
                    </div>
                    <div class="stu-details-tab">
                        <div class="stu-overview-outer pb50">
                            <figure class="person-img-prof">
                                <img id="personImage" [src]="profilPicUrl" onerror="this.src='../../../assets/img/avatar.jpg'" alt="No Image" width="236" height="236">
                            </figure>
                            <div class="stu-overview  mb20">
                                <div class="name" id="name">{{profileData?.studentName || studentName}}</div>
                                <!-- <div class="info mt-0" id="program-e">
                                     <span id="infoTitle"> Email: {{student_email || profileData?.officialEmail}}</span>
                                 </div> -->
                                <!-- <form class="info mt-0 vertical-align" [formGroup]="campusOrgForm" *ngIf="showCampusOrg">
                                    <span id="infoTitle"> {{profileData?.campusComingFrom}} | {{profileData?.organizationComingFrom}}</span>
                                    <a (click)="aboutUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>
                                 </form> -->
                                <form class="cover-outer feeDetailFrom" [formGroup]="campusOrgForm" *ngIf="showCampusOrg && campusOrgArray">
                                    <div class="form-group mb25">
                                        <div id="infoTitle">
                                            <span *ngFor="let co of campusOrgForm.get('campusOrgComingFrom')['controls']; last as i">{{co.value}}<span *ngIf="!i"> | </span></span>
                                            <span class="details-heading" *ngIf="campusOrgArray.length==0">Add Bio</span>
                                            <a (click)="campusOrgUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>


                                        </div>
                                    </div>
                                </form>
                                <div class="cover-outer feeDetailFrom" *ngIf="!showCampusOrg">
                                    <div class="details-inner" id="aboutHeading">
                                        <div class="details-heading">Bio</div>
                                        <div class="form-group mb-0">
                                            <div class="input-group pr-4 mb10 for-bio for-selectized">
                                                <input type="text" class="cover-outer" value="{{campusOrgArray}}" name="coArray" id="campusOrgSelectize">
                                            </div>
                                            <div class="cover-outer mt20">
                                                <button class="btn4 mb20 mr10" type="button" (click)="cancelBioClick()">Cancel</button>
                                                <button class="btn3 mb20" (click)="updateCampusOrgUsingSelectize()">Update</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="info mt-0 vertical-align " id="program-e" *ngIf="profileData?.campusComingFrom && profileData?.organizationComingFrom">
                                    <span id="infoTitle"> {{profileData?.campusComingFrom}} | {{profileData?.organizationComingFrom}}</span>
                                    <a href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>
                                </div> -->

                            </div>
                        </div>
                        <div class="details-tab-inner">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" id="overviewTab-e">
                                    <a class="nav-link active" data-toggle="tab" href="#overview-e" (click)="goToTop()">
                                        <i class="material-icons">perm_identity</i>Overview
                                    </a>
                                </li>
                                <li class="nav-item" id="eduTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#edu-e" (click)="goToTop()">
                                        <i class="material-icons-outlined">school</i>Education
                                    </a>
                                </li>
                                <li class="nav-item" id="skillTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#skill-e" (click)="goToTop()">
                                        <i class="material-icons-outlined">star_border</i>Skills
                                    </a>
                                </li>
                                <li class="nav-item" id="achievementTab-e ">
                                    <a class="nav-link" data-toggle="tab" href="#achievement-e" (click)="goToTop()">
                                        <i class="material-icons-outlined">card_membership</i>ACHIEVEMENTS
                                    </a>
                                </li>
                                <li class="nav-item" id="workExpTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#workExp-e" (click)="goToTop()">
                                        <i class="material-icons-outlined">work_outline</i>WORK EXPERIENCE
                                    </a>
                                </li>
                                <li class="nav-item" id="projMUTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#projMU-e" (click)="goToTop()">
                                        <i class="material-icons-outlined">widgets</i>PROJECTS AT MASTERS’ UNION
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="overview-e" class="tab-pane fade active show">
                                <div class="card-header">
                                    <a class="nav-link" data-toggle="collapse" href="#collase-A">
                                        <i class="material-icons-outlined">perm_identity</i>OVERVIEW
                                    </a>
                                </div>
                                <div class="collapse show" id="collase-A" data-parent=".tab-content">


                                    <form class="cover-outer feeDetailFrom" *ngIf="showOverview" [formGroup]="aboutForm">
                                        <div class="details-inner" id="aboutHeading">

                                            <div class="form-group">
                                                <div class="details-heading vertical-align">About Me
                                                    <a (click)="aboutUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons ml-18"> create</i></a>
                                                </div>
                                                <p>
                                                    {{aboutForm.get('description').value}}
                                                </p>
                                                <!-- <div class="cover-outer mt20" >
                                                   
                                                </div> -->
                                            </div>
                                        </div>
                                    </form>

                                    <form class="feeDetailFrom" [formGroup]="aboutForm" *ngIf="!showOverview">
                                        <div class="details-inner" id="aboutHeading">
                                            <div class="details-heading">About Me</div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control mh140" formControlName="description"></textarea>
                                                    <p class="form-control mh100" *ngIf="false">show</p>
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                                <!-- <div class="upload-resume-btn mt20">
                                                    <span><i class="material-icons">add_circle_outline</i> Upload
                                                        Resume</span>
                                                    <input type="file">
                                                </div> -->
                                                <div class="cover-outer mt20">
                                                    <button class="btn4 mb20 mr10" type="button" (click)="cancelClick()">Cancel</button>
                                                    <button class="btn3 mb20" (click)="updateOverview(aboutForm.value)">Update</button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>


                                    <div class="cover-outer" style="max-width : 825px;" *ngIf="resumeUrl">
                                        <!-- <embed id="resume-url" [src]='resumeUrl' width="100%" height="1150px" /> -->
                                        <!-- <object id="resume-url" [data]="resumeUrl" type="application/pdf" width="100%" height="1150px">
                                            <a id="" [href]="resumeUrl"></a>
                                        </object> -->
                                        <iframe id="resume-url" [src]="resumeUrl" frameborder="0" width="100%" height="1150px"></iframe>
                                    </div>


                                    <!-- https://epicentre.s3.ap-south-1.amazonaws.com/assets/anupama-sinha.pdf -->
                                    <div class="profileOutput feeDetailFrom">
                                        <!-- <input type="file" #uploadfile
                                            (change)="uploadResume($event, stuDetails?.firstName, stuDetails?.lastName)"
                                            style="display: none;"> -->
                                        <div class="cover-outer">
                                            <!-- <p class="mb10">{{resumeFile}}</p> -->
                                            <!-- <button id="res" type="button" class="update-btn mt10" (click)="uploadfile.click()">Upload Resume</button> -->
                                            <button id="res" type="button" class="update-btn mt10" (click)="uploadResume($event, stuDetails?.firstName, stuDetails?.lastName)">Upload Resume</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div id="edu-e" class="tab-pane fade">
                                <div class="card-header">
                                    <a class="nav-link" data-toggle="collapse" href="#collase-B">
                                        <i class="material-icons-outlined">school</i> EDUCATION
                                    </a>
                                </div>
                                <div class="collapse" id="collase-B" data-parent=".tab-content">


                                    <form class="feeDetailFrom" [formGroup]="educationForm" *ngIf="showEducation">
                                        <div class="details-heading vertical-align">Education
                                            <a (click)="eduUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>
                                        </div>
                                        <div class="form-group mb25">
                                            <ul id="dvAchievements">
                                                <li *ngFor="let edu of educationForm.get('education')['controls']; index as i">
                                                    {{edu.get('courseName').value}} from the {{edu.get('organization').value}} ({{edu.get('duration').value}})
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- <div class="cover-outer mt20">                                            
                                            <button class="btn3 ml-3" type="button" >Edit</button>
                                        </div> -->
                                    </form>


                                    <form class="cover-outer feeDetailFrom" [formGroup]="educationForm" *ngIf="!showEducation">
                                        <div formArrayName="education">
                                            <ng-container *ngFor="let edu of educationForm.get('education')['controls']; index as i">
                                                <div class="details-heading">Education {{i+1}}</div>
                                                <div class="remove-section-outer">
                                                    <div (click)="removeEducationItem(i)" class="remove-section-btn">
                                                        delete
                                                    </div>
                                                    <div class="form-group mb25" [formGroupName]="i">
                                                        <label class="label-heading">Course</label>
                                                        <!-- <sup>*</sup> -->
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{edu.value.courseName}}" type="text" formControlName="courseName" placeholder="Enter course">

                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25" [formGroupName]="i">
                                                        <label class="label-heading">University</label>
                                                        <!-- <sup>*</sup> -->
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{edu.value.organization}}" type="text" formControlName="organization" placeholder="Enter organization name">

                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25" [formGroupName]="i">
                                                        <label class="label-heading">Duration</label>
                                                        <!-- <sup>*</sup> -->
                                                        <div class="input-group">
                                                            <!-- <select class="form-control  selectpicker" name="">
                                                                <option value="20">2005</option>
                                                            </select> -->
                                                            <input class="form-control" value="{{edu.value.duration}}" type="text" formControlName="duration" placeholder="Enter total duration of course">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>

                                        <div class="upload-resume-btn" (click)="addEducation()">
                                            <span><i class="material-icons">add_circle_outline</i>Add Education</span>
                                        </div>
                                        <div class="cover-outer mt20">
                                            <button class="btn4 mb20 mr10" type="button" (click)="cancelClick()">Cancel</button>
                                            <button class="btn3 mb20" (click)="updateEducation(educationForm.value)">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div id="skill-e" class="tab-pane fade">
                                <div class="card-header">
                                    <a class="nav-link" data-toggle="collapse" href="#collase-C">
                                        <i class="material-icons-outlined">star_border</i>SKILLS
                                    </a>
                                </div>
                                <div class="collapse" id="collase-C" data-parent=".tab-content">


                                    <form class="feeDetailFrom" [formGroup]="skillsForm" *ngIf="showSkill">
                                        <div class="details-heading vertical-align">Skills
                                            <a (click)="skillUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>
                                        </div>
                                        <div class="form-group mb25">
                                            <ul id="dvSkills">
                                                <li *ngFor="let skill of skillsForm.get('skills')['controls']; index as i">{{skill.value}}</li>
                                            </ul>
                                        </div>
                                        <!-- <div class="cover-outer mt20">
                                            
                                            <button class="btn3 ml-3" type="button" (click)="skillUpdate()">Edit</button>
                                        </div> -->
                                    </form>



                                    <!-- <form class="cover-outer feeDetailFrom" [formGroup]="skillsForm" *ngIf="!showSkill">
                                        <div class="details-inner" id="aboutHeading">
                                            <div class="details-heading">Skills</div>
                                            <div class="form-group mb-0" formArrayName="skills">
                                                <div class="input-group pr-4 mb10" *ngFor="let skill of skillsForm.get('skills')['controls']; index as i">
                                                    <input type="text" class="form-control" value="{{skill.value}}" [formControlName]="i" placeholder="Enter skill">
                                                    <div class="deleted-row" (click)="removeSkillItem(i)">
                                                        <span class="material-icons">close</span>
                                                    </div>
                                                     <span class="msg-error d-none"></span>
                                                </div>
                                                <div class="upload-resume-btn mt20" (click)="addSkill()">
                                                    <span ><i class="material-icons">add_circle_outline</i> Add Skill</span>
                                                </div>
                                                <div class="cover-outer mt20">
                                                    <button class="btn4" type="button" (click)="cancelClick()">Cancel</button>
                                                    <button class="btn3 ml-3" (click)="updateSkills(skillsForm.value)" >Update</button>
                                                </div>
    
                                            </div>
                                        </div>
                                    </form> -->

                                    <div class="cover-outer feeDetailFrom" *ngIf="!showSkill">
                                        <div class="details-inner" id="aboutHeading">
                                            <div class="details-heading">Skills</div>
                                            <div class="form-group mb-0">
                                                <div class="input-group for-skill for-selectized pr-4 mb10">
                                                    <input type="text" class="cover-outer" value="{{skillsArray}}" name="skillArray" id="skillSelectize">
                                                </div>
                                                <div class="cover-outer mt20">
                                                    <button class="btn4 mb20 mr10" type="button" (click)="cancelClick()">Cancel</button>
                                                    <button class="btn3 mb20" (click)="updateSkillUsingSelectize()">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            <div id="achievement-e" class="tab-pane fade">
                                <div class="card-header">
                                    <a class="nav-link" data-toggle="collapse" href="#collase-D">
                                        <i class="material-icons-outlined">school</i>ACHIEVEMENTS

                                    </a>
                                </div>
                                <div class="collapse" id="collase-D" data-parent=".tab-content">
                                    <form class="feeDetailFrom" [formGroup]="achievementsForm" *ngIf="showAchievement">
                                        <div class="details-heading vertical-align"> Achievements
                                            <a (click)="achievementUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>
                                        </div>
                                        <div class="form-group mb25">
                                            <ul id="dvAchievements">
                                                <li *ngFor="let achieve of achievementsForm.get('achievements')['controls']; index as i">{{achieve.value}}</li>
                                            </ul>
                                        </div>
                                        <!-- <div class="cover-outer mt20">
                                            <button class="btn3 ml-3" type="button" (click)="achievementUpdate()">Edit</button>
                                        </div> -->
                                    </form>

                                    <form class="feeDetailFrom" [formGroup]="achievementsForm" *ngIf="!showAchievement">
                                        <div class="details-heading">Achievements </div>
                                        <div class="form-group mb10" formArrayName="achievements" *ngFor="let achieve of achievementsForm.get('achievements')['controls']; index as i">
                                            <div class="input-group pr-4">
                                                <input class="form-control" value="{{achieve.value}}" [formControlName]="i" type="text" placeholder="Enter achievement">
                                                <div class="deleted-row" (click)="removeAchievementItem(i)">
                                                    <span class="material-icons">close</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="upload-resume-btn mt20" (click)="addAchievement()">
                                            <span><i class="material-icons">add_circle_outline</i> Achievement</span>
                                        </div>
                                        <div class="cover-outer mt20">
                                            <button class="btn4 mb20 mr10" (click)="cancelClick()">Cancel</button>
                                            <button class="btn3 mb20" (click)="updateAchievements(achievementsForm.value)">Update</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div id="workExp-e" class="tab-pane fade">
                                <div class="card-header">
                                    <a class="nav-link" data-toggle="collapse" href="#collase-E">
                                        <i class="material-icons-outlined">work_outline</i>WORK EXPERIENCE
                                    </a>
                                </div>
                                <div class="collapse" id="collase-E" data-parent=".tab-content">
                                    <form class=" feeDetailFrom" [formGroup]="workExperienceForm" *ngIf="showWorkExperience">
                                        <div class="details-heading vertical-align">Work Experience
                                            <a (click)="workexperienceUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>
                                        </div>

                                        <div class="dvWEouter" *ngFor="let work of workExperienceForm.get('workExperience')['controls']; index as i">
                                            <div class="dvWEheading">{{work.get('organizationName').value}}
                                                <br> {{work.get('profile').value}}
                                            </div>
                                            <div class="dvWEheadingtext">{{work.get('duration').value}}</div>
                                            <ul class="dvWElist" *ngFor="let r of work.get('responsibilities')['controls']; index as j">
                                                <li class="">
                                                    {{r.value}}
                                                </li>

                                            </ul>

                                            <!-- =====work Designation ==========-->
                                            <ng-container *ngFor="let d of work.get('designation')['controls']; index as j">
                                                <div class="cover-outer">
                                                    <div class="dvWE-sub-heading">{{d.get('title').value}}</div>
                                                    <ul class="dvWElist two" *ngFor="let resp of d.get('responsibilities')['controls']; index as k">
                                                        <li>{{resp.value}}</li>
                                                    </ul>
                                                </div>

                                            </ng-container>


                                        </div>
                                        <!-- <div class="cover-outer mt20">
                                            
                                                <button class="btn3 ml-3" type="button" (click)="workexperienceUpdate()">Edit</button>
                                            </div> -->


                                    </form>


                                    <form class=" feeDetailFrom" [formGroup]="workExperienceForm" *ngIf="!showWorkExperience">

                                        <div formArrayName="workExperience">
                                            <ng-container *ngFor="let work of workExperienceForm.get('workExperience')['controls']; index as i">
                                                <div class="details-heading">Work Experience {{i+1}}</div>
                                                <div class="remove-section-outer mb25" [formGroupName]="i">
                                                    <div class="remove-section-btn" (click)="removeWorkExperienceItem(i)">
                                                        delete
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">Company</label>
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{work.value.organizationName}}" type="text" formControlName="organizationName" placeholder="Enter organization name">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">Profile</label>
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{work.value.profile}}" type="text" formControlName="profile" placeholder="Enter profile">

                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb25">
                                                        <label class="label-heading">Duration</label>
                                                        <div class="input-group">
                                                            <input class="form-control" value="{{work.value.duration}}" type="text" formControlName="duration" placeholder="Total number of duration in years">

                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                    <div class="cover-outer">
                                                        <label class="label-heading mb-0">Responsibilities</label>
                                                        <div class="cover-outer bg-light-outer mb25" formArrayName="responsibilities">
                                                            <div class="form-group mb10" *ngFor="let r of work.get('responsibilities')['controls']; index as j">

                                                                <div class="input-group pr-4 mb10">
                                                                    <textarea class="form-control mh100" value="{{r.value}}" [formControlName]="j" placeholder="Enter responsibility"></textarea>
                                                                    <div class="deleted-row" (click)="removeResponsibilities(i,j)">
                                                                        <span class="material-icons">close</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="upload-resume-btn mt10" (click)="addResponsibilities(i)">
                                                                <span><i class="material-icons">add_circle_outline</i>Add Responsibility</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="form-group mb25">
                                                        <label class="label-heading">Education</label>
                                                        <div class="input-group right-arrow">
                                                            <select class="form-control selectpicker" name="">
                                                                <option value="">Degree/Diploma</option>
                                                                <option value="">Degree/Diploma</option>
                                                                <option value="">Degree/Diploma</option>
                                                                <option value="">Degree/Diploma</option>
                                                            </select>
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div> -->

                                                    <!-- <div class="form-group mb25">
                                                        <div class="profile-row2Col">
                                                            <div class="profile-row2Col-inner">
                                                                <label class="label-heading">Start Date</label>
                                                                <div class="profile-row2Col-SubInner">
                                                                    <div class="input-group w-50 right-arrow">
                                                                        <select class="form-control selectpicker">
                                                                            <option>October</option>
                                                                            <option>October</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="input-group w-50 right-arrow">
                                                                        <select class="form-control selectpicker">
                                                                            <option>2019</option>
                                                                            <option>2019</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                
                                                            </div>
                                                            <div class="profile-row2Col-inner">
                                                                <label class="label-heading">End Date</label>
                                                                <div class="profile-row2Col-SubInner">
                                                                    <div class="input-group w-50 right-arrow">
                                                                        <select class="form-control selectpicker">
                                                                            <option>October</option>
                                                                            <option>October</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="input-group w-50 right-arrow">
                                                                        <select class="form-control selectpicker">
                                                                            <option>2019</option>
                                                                            <option>2019</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <div class="input-group">
                                                            <label class="login-cont">I am currently working in this role
                                                                <input type="checkbox">
                                                                <span class="l-checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">Location</label>
                                                        <div class="input-group">
                                                            <input class="form-control" value="Ludhiana Area, India" type="text">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="form-group mb25">
                                                        <label class="label-heading">Responsibilities</label>
                                                        <div class="input-group">
                                                            <textarea class="form-control"> </textarea>
                                                        </div>
                                                    </div> -->
                                                    <div class="cover-outer" formArrayName="designation">
                                                        <ng-container *ngFor="let d of work.get('designation')['controls']; index as j">
                                                            <label class="label-heading">Roles Assigned {{j+1}}</label>
                                                            <div class="remove-section-outer  bg-light-outer">
                                                                <div class="remove-section-btn" (click)="removeDesignation(i,j)">
                                                                    Delete
                                                                </div>
                                                                <div class="cover-outer mb25" [formGroupName]="j">
                                                                    <div class="form-group mb25">
                                                                        <label class="label-heading">Role</label>
                                                                        <div class="input-group">
                                                                            <input class="form-control" type="text" value="{{d.value.title}}" formControlName="title" placeholder="Enter role">
                                                                            <span class="msg-error d-none"></span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="cover-outer bg-light-outer bg-white" formArrayName="responsibilities">
                                                                        <label class="label-heading">Tasks Handled</label>
                                                                        <div class="form-group mb-0" *ngFor="let resp of d.get('responsibilities')['controls']; index as k">


                                                                            <div class="input-group pr-4 mb10">
                                                                                <textarea class="form-control mh100" value="{{resp.value}}" [formControlName]="k" placeholder="Enter task handled"></textarea>
                                                                                <div class="deleted-row" (click)="removeDesignationResponsibilities(i,j,k)">
                                                                                    <span class="material-icons">close</span>
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                        <div class="upload-resume-btn mt10" (click)="addDesignationResp(i,j)">
                                                                            <span><i class="material-icons">add_circle_outline</i>Add Task</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </ng-container>
                                                        <div class="upload-resume-btn mt10" (click)="addDesignation(i)">
                                                            <span><i class="material-icons">add_circle_outline</i>Add Roles</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>


                                        <div class="upload-resume-btn mt20" (click)="addWorkExperience()">
                                            <span><i class="material-icons">add_circle_outline</i>Add New Experience</span>
                                        </div>
                                        <div class="cover-outer mt20">
                                            <button class="btn4 mb20 mr10" (click)="cancelClick()">Cancel</button>
                                            <button class="btn3 mb20" (click)="updateWorkExperience(workExperienceForm.value)">Update</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div id="projMU-e" class="tab-pane fade">
                                <div class="card-header">
                                    <a class="nav-link" data-toggle="collapse" href="#collase-E">
                                        <i class="material-icons-outlined">widgets</i>PROJECTS AT MASTERS' UNION
                                    </a>
                                </div>
                                <div class="collapse" id="collase-E" data-parent=".tab-content">

                                    <form class="feeDetailFrom" [formGroup]="projectsForm" *ngIf="showProject">
                                        <div class="details-heading vertical-align">Projects At Masters’ Union
                                            <a (click)="projectUpdate()" href="javascript:void(0);" class="resume-edit"><i class="material-icons"> create</i></a>
                                        </div>
                                        <div class="details-inner" id="aboutHeading" *ngFor="let proj of projectsForm.get('projects')['controls']; index as i">
                                            <div class="dvWEheading">{{proj.get('title').value}}</div>
                                            <p>
                                                {{proj.get('description').value}}
                                            </p>
                                        </div>
                                        <!-- <div class="cover-outer mt20">
                                            
                                            <button class="btn3 ml-3" type="button" (click)="projectUpdate()">Edit</button>
                                        </div> -->
                                    </form>

                                    <form class="cover-outer feeDetailFrom" [formGroup]="projectsForm" *ngIf="!showProject">
                                        <div formArrayName="projects">
                                            <ng-container *ngFor="let proj of projectsForm.get('projects')['controls']; index as i">
                                                <div class="details-heading">Project {{i+1}}</div>
                                                <div class="remove-section-outer">
                                                    <div (click)="removeProjectItem(i)" class="remove-section-btn">
                                                        Delete
                                                    </div>
                                                    <div class="form-group mb25" [formGroupName]="i">
                                                        <label class="label-heading">Project Title</label>
                                                        <!-- <sup>*</sup> -->
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" value="{{proj.value.title}}" formControlName="title" placeholder="Enter project title">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25" [formGroupName]="i">
                                                        <label class="label-heading">Description</label>
                                                        <!-- <sup>*</sup> -->
                                                        <div class="input-group">
                                                            <textarea class="form-control" value="{{proj.value.description}}" formControlName="description" placeholder="Enter description"> </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>

                                        <div class="upload-resume-btn " (click)="addProject()">
                                            <span><i class="material-icons">add_circle_outline</i>Add Project</span>
                                        </div>
                                        <div class="cover-outer mt20">
                                            <button class="btn4 mb20 mr10" type="button" (click)="cancelClick()">Cancel</button>
                                            <button class="btn3 mb20" (click)="updateProjects(projectsForm.value)">Update</button>
                                        </div>

                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- ====================edit  design for public profile ends ==================== -->



                <!-- using mysql -->
                <!-- ====================new design for public profile ==================== -->
                <!-- <div class="myProfileOuter" *ngIf="resumeData && false">
                    <div class="stu-overview-outer mb50">
                        <figure class="person-img-prof">
                           
                            <img id="personImage" width="236" height="236"
                                src="{{details?.StudentDetail?.profilePicUrl}}"
                                onerror="this.src='../../../assets/img/avatar.jpg'" alt="No Image" />
                        </figure>
                        <div class="stu-overview">
                            <div class="name" id="name">{{resumeData?.firstName}} {{resumeData?.lastName}}</div>
                            <div class="info" id="program">
                                <span id="infoTitle"> {{resumeData?.orgComingFrom}} | {{resumeData?.campusComingFrom}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="stu-details-tab">
                        <div class="details-tab-inner">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" id="overviewTab">
                                    <a class="nav-link active" data-toggle="tab" href="#overview">
                                        <i class="material-icons">person_outline</i>Overview
                                    </a>
                                </li>
                                <li class="nav-item" id="skillTab">
                                    <a class="nav-link" data-toggle="tab" href="#skill">
                                        <i class="material-icons-outlined">school</i>Skills
                                    </a>
                                </li>
                                <li class="nav-item" id="achievementTab">
                                    <a class="nav-link" data-toggle="tab" href="#achievement">
                                        <i class="material-icons-outlined">school</i>ACHIEVEMENTS
                                    </a>
                                </li>
                                <li class="nav-item" id="workExpTab">
                                    <a class="nav-link" data-toggle="tab" href="#workExp">
                                        <i class="material-icons-outlined">school</i>WORK EXPERIENCE
                                    </a>
                                </li>
                                <li class="nav-item" id="projMUTab">
                                    <a class="nav-link" data-toggle="tab" href="#projMU">
                                        <i class="material-icons-outlined">school</i>PROJECTS AT MASTERS’ UNION
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="overview" class="tab-pane fade active show">
                                <div class="details-inner" id="aboutHeading">
                                    <div class="details-heading">About Me</div>
                                    <p>
                                        {{resumeData?.overview}}
                                    </p>
                                </div>
                                <div class="details-inner" id="aboutHeading">
                                    <div class="details-heading">Education</div>
                                    
                                    <ul *ngFor="let edu of resumeData?.StudentEducations">
                                        <li>
                                            {{edu.courseName}} from the {{edu.organization}} ({{edu.duration}})
                                        </li>
                                    </ul>
                                   
                                </div>

                                <div class="applynow-outr master-details-btn">
                                    <a id="ancrDownload" target="_blank" class="masterCta"
                                        href="{{resumeData?.resumePath}}" download>Download Resume
                                        <i class="material-icons">save_alt</i>
                                    </a>
                                </div>
                            </div>
                            <div id="skill" class="tab-pane fade">
                                <div class="details-heading">Skills</div>
                                <ul id="dvSkills" *ngFor="let skill of resumeData?.StudentSkills">
                                    <li>{{skill.skillTitle | titlecase}}</li>

                                </ul>
                            </div>
                            <div id="achievement" class="tab-pane fade">
                                <div class="details-heading">ACHIEVEMENTS </div>
                                <ul id="dvAchievements" *ngFor="let achieve of resumeData?.StudentAchievements">
                                    <li>{{achieve.description}}</li>
                                </ul>
                            </div>
                            <div id="workExp" class="tab-pane fade">
                                <div class="details-heading">WORK EXPERIENCE</div>
                                <div class="dvWEouter" *ngFor="let work of resumeData?.StudentWorkExperiences">
                                    <div class="dvWEheading">{{work?.organizationName}}
                                        <br>{{work.profile}}
                                    </div>
                                    <div class="dvWEheadingtext">{{work?.duration}}</div>
                                    <ul class="dvWElist"
                                        *ngFor="let workResponsibility of work?.WorkResponsibilityDetails">
                                        <li class="mt10">{{workResponsibility?.description}}</li>
                                    </ul>
                                    <ul *ngFor="let workDesignation of work?.WorkDesignations">
                                        <li dvWE-sub-heading>{{workDesignation?.title}}</li>
                                        <ul class="dvWElist two"
                                            *ngFor="let workResp of workDesignation?.WorkResponsibilityDetails">
                                            <li class="mt10">{{workResp?.description}}</li>
                                        </ul>
                                    </ul>
                                </div>
                               
                            </div>
                            <div id="projMU" class="tab-pane fade">
                                <div class="details-heading">PROJECTS AT MASTERS’ UNION</div>
                                <div class="details-inner" id="aboutHeading"
                                    *ngFor="let project of resumeData?.StudentAcademicProjects">
                                    <div class="details-heading">{{project?.title}}</div>
                                    <p>
                                        {{project?.description}}
                                    </p>
                                </div>

                            </div>



                        </div>
                    </div>
                </div> -->
                <!-- ====================new design for public profile ends ==================== -->
            </div>

        </section>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="change-pwd" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title login-heading">Change Password</h4>
                <button type="button" id="closeModel" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form class="feeDetailFrom" [formGroup]="changePasswordForm">
                    <div class="form-group mb15">
                        <label class="label-heading">Old Password</label>
                        <div class="input-group">
                            <i class="material-icons"> lock</i>
                            <input class="form-control" placeholder="********" type="password" formControlName="oldpassword">
                        </div>
                        <span *ngIf="!changePasswordForm.get('oldpassword').valid && changePasswordForm.get('oldpassword').touched 
                || (submited && oldpasswordError)" class="error-msg">Please Enter Your Old Password</span>
                        <span *ngIf="oldPasswordWrong && !changePasswordForm.get('oldpassword').touched" class="error-msg">Please enter correct old password</span>
                    </div>
                    <div class="form-group mb15">
                        <label class="label-heading">New Password</label>
                        <div class="input-group">
                            <i class="material-icons"> lock</i>
                            <input class="form-control" placeholder="********" type="password" formControlName="password">
                        </div>
                        <span *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched 
                || (submited && passwordError)" class="error-msg">Please Enter Your Password</span>
                    </div>
                    <div class="form-group mb15">
                        <label class="label-heading">Confirm New Password</label>
                        <div class="input-group">
                            <i class="material-icons"> lock</i>
                            <input class="form-control" placeholder="********" type="password" formControlName="confirmPassword">
                        </div>
                        <span *ngIf="!changePasswordForm.get('confirmPassword').valid && changePasswordForm.get('confirmPassword').touched 
                                    || (submited && !passwordMatch)" class="error-msg">Password not match</span>
                    </div>

                    <div class="form-group">
                        <button type="button" class="update-btn mt15" (click)="submitPassword()" *ngIf="!saveloading">Save</button>
                        <button type="button" class="update-btn mt15 d-inline-flex valignCenter" *ngIf="saveloading">Save
                            <figure class="mb-0 ml-2"><img src="../../../assets/img//loading.gif"></figure>
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>