::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: lightgray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: lightgray;
}
:-moz-placeholder { /* Firefox 18- */
  color: lightgray;
}
.for-bio .selectize-input {
  padding-left: 15px;
}