<header>
  <a href="javascript:void(0);" id="logo">
    <img src="../../../assets/img/logo.svg" width="152" height="33">
  </a>
  <div class="right">
    <div class="notification-menu dropdown notification-icon" [ngClass]="showNew? 'notiMenuActive': ''" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" *ngIf="!loading">
      <div class="cover-auto">
        <span class="material-icons" (click)="clicked()"> notifications </span>
        <span class="notiNumber"> {{notificationNotSeen.length}} </span>
      </div>

      <ng-container *ngIf="notificationSeen.length>0 || notificationNotSeen.length>0">
        <div class="dropdown-menu notificationOuter cover-outer newnotify-edit">
          <div *ngIf="!isNewNotification">
            <h5 class="notification-noresult">No new notification!</h5>
          </div>
          <ng-container *ngIf="isNewNotification">
            <h4 class="mt10 newnotify-edit-txt">New</h4> 
            <div class="notification-inner cover-outer" *ngFor="let notif of notificationNotSeen"> 


    <!-- <a [routerLink]="notif.notificationFor=='Fee Due'?'/student/student-portal':notif.notificationFor=='Inbox'?'/student/inbox':'/student/enquiry'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="notification-box"> -->
    <!-- <a routerLink="/student/student-portal" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="notification-box"> -->



    <a href="javascript:void();" class="notification-box" (click)="goto(notif.notificationFor)">
                <h3>{{notif?.title}}</h3>
                <p class="noti-des">{{notif?.description}}</p>
                <span class="noti-time">{{timeDifference(notif?.createdAt)}}</span>
              </a>
            </div>
          </ng-container>
          <h4 class="mt10 newnotify-edit-txt">Previous</h4>
          <div class="notification-inner notification-preinner cover-outer" *ngFor="let notif of notificationSeen">



    <!-- <a [routerLink]="notif.notificationFor=='Fee Due'?'/student/student-portal':notif.notificationFor=='Inbox'?'/student/inbox':'/student/enquiry'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="notification-box"> -->
    <!-- <a [routerLink]="notif.notificationFor=='Fee Due'?'/student/student-portal':'/student/inbox'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" class="notification-box"> -->




    <a href="javascript:void();" class="notification-box" (click)="goto(notif.notificationFor)">
              <h3>{{notif?.title}}</h3>
              <p class="noti-des">{{notif?.description}}</p>
              <span class="noti-time">{{timeDifference(notif?.createdAt)}}</span>
            </a>
          </div>
        </div>
      </ng-container>

      <div class="dropdown-menu notificationOuter cover-outer newnotify-edit"
        *ngIf="notificationSeen.length==0 && notificationNotSeen.length==0">No notification for you!</div>
    </div>
    <div class="d-flex">
      <span class="MU-person-profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <h2 id="title" *ngIf="!details?.StudentDetail?.profilePicUrl">{{name}}</h2>
        <img *ngIf="details?.StudentDetail?.profilePicUrl" src="{{details?.StudentDetail?.profilePicUrl}}"
          onerror="this.src='../../../assets/img/avatar.jpg'" alt={{name|uppercase}} />
      </span>
      <a href="javascript:void(0);" class="sub-menu-toggle d-none">
        <span class="material-icons"> menu </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- <button class="dropdown-item" routerLink="/student/inbox" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{exact: true}" type="button">My Inbox</button> -->
        <!-- <button class="dropdown-item" routerLink="/student/profile" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{exact: true}" type="button">My Profile</button> -->
          <button class="dropdown-item" routerLink="/student/account" [routerLinkActive]="'active'"
           type="button">My Account</button>
          <button class="dropdown-item" routerLink="/student/profile" [routerLinkActive]="'active'"
           type="button">My Profile</button>
        <button class="dropdown-item" type="button" (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>
</header>


<div id="logoutid" class="modal fade deletePopup" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content text-center p-2">
      <div class="modal-body">
        <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
        <h6 class="heading-1 text-uppercase ">You want to logout? </h6>
        <div class="d-flex justify-content-center align-items-center w-100 mt30">
          <button (click)="logOut()" class="btn3 mr-3" type="button" data-dismiss="modal">Yes</button>
          <button class="btn4" type="button" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>