<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body">
    <div class="page-header">
      <div class="header-left">
        <p [routerLink]="['/student/newCourseList']" class="text-primary pointer">Course Roster</p>
        <p [routerLink]="['/student/newMyCourse']" class="text-grey pointer">My Courses</p>
      </div>
      <!-- <div class="header-right">
        <button (click)="isToggle()" class="primary-btn-a">Select elective Courses</button>
      </div> -->
    </div>
    <div class="filter-bar">
      <div></div>
      <div class="filters">
        <!-- <select id="type">
          <option value="hide">Cluster</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select> -->
        <select id="term" (change)="onTermSelect()">
          <option value="">Term</option>
          <option *ngFor="let x of [1,2,3,4,5,6,7,8]" value="{{x}}">{{x}}</option>
          <!-- <option value="2">Draft</option>
          <option value="3">Active</option> -->
        </select>
        <select id="courseType" (change)="onCourseTypeSelect()">
          <option value="">Type</option>
          <option value="elective">Elective</option>
          <option value="core">Core</option>
        </select>
        <select id="mode" (change)="onModeSelect()">
          <option value="">Mode</option>
          <option value="online">Online</option>
          <option value="offline">Offline</option>
          <option value="hybrid">Hybrid</option>
        </select>
      </div>
    </div>
    <div class="courselist-container">
      <div class="course-table-container scrollbar">
        <table class="course-table" cellPadding="{0}" cellSpacing="{0}">
          <thead>
            <tr>
              <th>Course Name</th>
              <th>Course Code</th>
              <th>Cluster</th>
              <th>Term</th>
              <th>Type</th>
              <th>Mode</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courseRoster; index as i">
              <td>{{course?.courseName |titlecase}}</td>
              <td>{{course?.courseCode}}</td>
              <td>{{course?.ProgramCluster?.Cluster?.name |titlecase}}</td>
              <td>{{course?.term}}</td>       
              <td>{{course?.courseType |titlecase}}</td>
              <td>{{course?.mode | titlecase}}</td>
              <!-- <td class="text-center">
                <button class="action-btn">
                  <img src="../assets/img/options.svg" />
                </button>
              </td> -->
              <td class="custom-width text-center" >
                <p class="primary-text pointer" (click)="onCourseClick(course?.id)">
                 View Details
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div *ngIf="isShow" class="side-popup" >
      <div class="side-popup-header">
        <div class="side-left">
          <img src="../assets/img/Bell.svg" alt="" />
          Select Elective courses
        </div>
        <div (click)="isToggle()" class="side-right">
          <img src="../assets/img/close.svg" alt="" class="pointer" />
        </div>
      </div>
      <div class="side-popup-body">
        <p class="text">
          Select your elective courses for <b>Term II (2022-2023)</b>. Last date
          to select and complete bidding is <b>16/05/2022</b>
        </p>
        <div class="btn-grp">
          <button class="green-btn">Select Course</button>
          <div (click)="isToggle()" class="clear-btn">Not Now</div>
        </div>
      </div>
    </div> -->
  </div>
</div>
