<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container [toasterconfig]="config">
</toaster-container>
<app-lead-header></app-lead-header>
<div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
        <div class="sh1"></div>
        <div class="sh2"></div>
        <!-- <h4 class="lt">Master Union</h4> -->
    </div>
</div>
<div class="main-outer">
    <app-lead-menu></app-lead-menu>
    <div class="main-body">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb40">
                    Ticket <span class="borderheading">Details</span>
                </h3>
                <div class="cover-outer create-survey ticket-detial-outer">
                    <div class="parallel-heading-outer mb50">
                        <!-- <h3 class="cover-outer lg-heading w-75 mr-2">
                            Ticket ID: {{enquiryList[0]?.Enquiry?.ticketNumber}}
                        </h3> -->


                        <p class="text-yellow-bg newcolor-edit">Status: {{enquiryList[0]?.Enquiry?.status !== 'solved' ?'In Progress'
                            :
                            'Solved'}}
                        </p>



                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="cover-outer t-detail mb10">
                                <p>Raised By</p>
                                <p>: {{enquiryList[0]?.Enquiry?.email |titlecase}}</p>
                            </div>
                            <div class="cover-outer t-detail mb10">
                                <p>Raised By Category</p>
                                <p>: {{enquiryList[0]?.Enquiry?.CategoryMaster?.name |titlecase}}</p>
                            </div>
                            <div class="cover-outer t-detail">
                                <p>Description</p>
                                <p>: {{enquiryList[0]?.Enquiry?.description | titlecase}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cover-outer t-detail mb10">
                                <p>Application No</p>
                                <p>: MUSB/2021/4143</p>
                            </div>
                            <div class="cover-outer t-detail mb10">
                                <p>Application Name</p>
                                <p>: PGP-TBM Form</p>
                            </div>
                            <div class="cover-outer t-detail">
                                <p>Application Stage</p>
                                <p>: Untouched</p>
                            </div>
                            <a href="javascript:void(0);" class="ico-btn btn4 mt20">
                                <i class="material-icons"> edit
                                </i> Edit Application
                            </a>
                        </div>
                    </div> -->
                </div>
                <div class="cover-outer create-survey mt20 ticket-conver-outer">
                    <div class="parallel-heading-outer mb10">
                        <h3 class="cover-outer  boldheading-meadium mb30">
                            Ticket Conversation
                        </h3>
                        <!-- <div class="feeDetailFrom pageSortOuter">
                            <div class="form-group mb-0">
                                <div class="input-group right-arrow">
                                    <Select class="form-control selectpicker">
                                        <option value="">Reassign Ticket</option>
                                        <option>Reassign Ticket
                                        </option>
                                    </Select>
                                </div>
                            </div>

                        </div> -->
                    </div>
                    <div  class="ticket-conver cover-outer">
                        <!-- <div *ngFor="let enquiry of enquiryList;let i =index" class="ticket-ques">
                      
                                {{enquiry?.studentReply}}
                                <div class="ticket-ques-by cover-outer mt10">
                                    <p>{{enquiry?.Student?.firstName | titlecase}} {{enquiry?.Student?.lastName | titlecase}}   |   {{enquiry?.studentReplyDate | date:'mediumDate'}}</p> 
                                    <a href="javascript:void(0);" class="link2"><u>Publish to FAQ</u></a>
                                </div>

                        </div> -->
                        <ng-container *ngFor="let enquiry of enquiryList;let i =index">

                        <div *ngIf="enquiry?.reply != null" class="ticket-ques">
                        <div  class="cover-outer">
                            {{enquiry?.reply | titlecase}}
                            <div class="ticket-ques-by cover-outer p-0 mt10">
                                <p>{{enquiry?.User?.firstName | titlecase}} {{enquiry?.User?.lastName | titlecase}}   |   {{enquiry?.date | date:'mediumDate'}}</p> 
                                <!-- <a class="link2" href="javascript:void(0);"><u>Publish to FAQ</u></a> -->
                             </div>
                        </div>
                        </div>
                    </ng-container>
                    <ng-container *ngFor="let enquiry of enquiryList;let i =index">

                        <div *ngIf="enquiry?.studentReply != null"  class="ticket-ans">

                            <div  class="cover-outer">
                                {{enquiry?.studentReply | titlecase}}
                                <div class="ticket-ques-by cover-outer p-0 mt10">
                                    <p>{{enquiry?.LeadMaster?.name | titlecase}}    |   {{enquiry?.studentReplyDate | date:'mediumDate'}}</p> 
                                    <!-- <a class="link2" href="javascript:void(0);"><u>Publish to FAQ</u></a> -->
                                 </div>
                            </div>
                        </div>
                    </ng-container>

                </div>

                    <ng-container *ngIf="enquiryList[0]?.Enquiry?.status !== 'solved'">
                        <form class="cover-outer mt10 feeDetailFrom">
                            <div class="form-group mb-0">
                                <label class="label-heading">Reply</label>
                                <div class="input-group">
                                    <textarea name="reply" [(ngModel)]="reply"
                                        class="form-control mh100 pl18"></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="parallel-heading-outer student-added mt20">
                            <!-- <div class="feeDetailFrom feeSearchOuter flex-column">
                                <button class="upload-csv mr-3 mb10" type="button">Choose File</button>
                                <p class="text-grey">No choosen file</p>
                            </div> -->



                            <div class="feeDetailFrom pageSortOuter">
                                <!-- <div class="form-group mb-0 d-flex align-items-center">
                                    <label class="label-heading">Ticket Status</label>
                                    <div class="input-group right-arrow">
                                        <Select class="form-control selectpicker">
                                            <option value="">Inprogress</option>
                                            <option>Inprogress
                                            </option>
                                        </Select>
                                    </div>
                                </div> -->
                                <div class="form-group mb-0">
                                    <div class="input-group">
                                        <a (click)="sendReply()" href="javascript:void(0);" class="btn4">Send Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>

            </div>


        </section>
        <!-- <app-student-footer></app-student-footer> -->
    </div>
</div>