.main-body {
  padding: 0;
  overflow: hidden;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "nunitosans-Bold";
  gap: 10px;
}
.header-left p {
  font-size: 16px;
}
.courselist-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  height: 100%;
}
.course-table-container {
  background: #fff;
  margin: 0 auto;
  height: calc(100vh - 170px);
  overflow: auto;
  width: calc(100% - 40px);
}
.course-table {
  background: #fff;
  height: auto;
  width: 100%;
  text-align: left;
  overflow: auto;
}
.course-table th,
.course-table td {
  padding: 15px 15px;
  font-size: 14px;
  font-family: "nunito_sanssemibold";
}
.course-table th {
  color: #999999;
  background: #fff;
}
.course-table td {
  border-bottom: 1px solid #ededed;
}
.course-table thead {
  box-shadow: 0px 4px 2px rgb(0 0 0 / 2%);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.side-popup {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 20px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
}
.side-popup-header {
  display: flex;
  font-size: 16px;
  font-family: "nunito_sanssemibold";
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.side-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.side-popup-body {
  margin-top: 15px;
}
.side-popup-body .text {
  font-family: "nunito_sansregular";
  line-height: 150%;
}

.side-popup-body .text b {
  font-family: "nunitosans-Bold";
}
.side-popup-body .btn-grp {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.side-popup-body .green-btn {
  font-size: 14px;
  font-family: "nunito_sanssemibold";
  text-transform: capitalize;
}
.side-popup-body .clear-btn {
  font-size: 14px;
  color: #999999;
  font-family: "nunito_sanssemibold";
}
.filter-bar {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
select {
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  font-family: "nunito_sansregular";
  color: #404040;
  background-image: url("https://epicenter2022.s3.ap-south-1.amazonaws.com/assets/img/caretDown.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  outline: none;
  appearance: none;
  padding-right: 30px;
  border-radius: 300px;
  border: 1px solid #ededed;
}
.pointer {
  cursor: pointer;
}
.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 2px solid #ededed;
  position: sticky;
  top: 0px;
  z-index: 1000;
  border-left: 1px solid #ededed;
}
.primary-btn-a {
  width: fit-content;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "nunito_sansregular";
  line-height: 120%;
  color: #fff;
  cursor: pointer;
  background: #004e9a;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.green-btn {
  font-size: 14px;
  font-family: "nunito_sanssemibold";
  border: 1px solid #229e6d;
  background: #229e6d;
  border-radius: 300px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.side-popup-body .green-btn {
  font-size: 14px;
  font-family: "nunito_sanssemibold";
  text-transform: capitalize;
}
.action-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
}
.action-btn:hover {
  background: #fafafa;
  border-radius: 50%;
}
.pointer {
  cursor: pointer;
}
.primary-text {
  color: #004e9a;
}
.present {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #229e6d;
  gap: 5px;
}
.absent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d63736;
  gap: 5px;
}
.progress {
  padding: 0;
  width: 60%;
  height: 30px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 10px;
}

.bar {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
  background: var(--blue);
}

.percent {
  position: relative;
  font-family: "nunitosans-Bold";
  font-size: 12px;
  color: black;
}
.progress-outer {
  width: 50%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.progress-outer p {
  font-family: "nunito_sanssemibold";
}
