<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body">
    <div class="page-header">
      <!-- <div class="header-left"> -->
        <div class="page-header club-preview-header new-back-btn-wrapper">
          <!-- <div class="page-header club-preview-header new-back-btn-wrapper"> -->
      <a href="javascript:void(0);">
        <h2 [routerLink]="['/student/dashboard']" class=" component-heading red-clr new-back-btn">
          <span class="mr-2 material-icons">keyboard_backspace</span>
          Back 
        </h2>
        </a>
        <p class="text-primary pointer">Attendance Record</p>
      </div>
      <!-- <div class="header-right">
        <button (click)="isToggle()" class="primary-btn-a">Select elective Courses</button>
      </div> -->
    </div>
    <div class="filter-bar">
      <div class="progress-outer">
        <p>Attendance Percent</p>
        <div class="progress">
          <div class="bar" [ngStyle]="{'width.%': attendancePercentage}">
          </div>
         
        </div>
        <p class="percent">{{attendancePercentage}}%</p>
      </div>
      <div class="filters">
          <!-- <select id="type">
            <option value="hide">Cluster</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select> -->
          <!-- <select id="term" (change)="onTermSelect()">
            <option value="1">Term</option>
            <option *ngFor="let x of [1,2,3,4,5,6,7,8]" value="{{x}}">{{x}}</option>
            <option value="2">Draft</option>
            <option value="3">Active</option> 
          </select> -->
        <select id="type" (change)="getAttendance($event.target.value)">
          <option *ngFor="let course of courseRoster" value={{course?.CourseRoster?.id}}>
            {{course?.CourseRoster?.courseName}}</option>
          <!-- <option value="1">Session 1</option>
          <option value="2">Session Session 2</option>
          <option value="3">Session 3</option> -->
        </select>
      </div>
    </div>
    <div class="courselist-container">
      <div class="course-table-container scrollbar">
        <table class="course-table" cellPadding="{0}" cellSpacing="{0}">
          <thead>
            <tr>
              <th>Session Name</th>
              <th>Date | Day</th>
              <th>Time</th>
              <th class="text-center">Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let session of sessions">
              <td>{{session?.name}}</td>
              <td>{{session?.date | date :'MMMM d'}}, {{session?.date | date :'EEEE'}}</td>
              <td>{{session?.fromTime}} to {{session?.toTime}}</td>
              <td *ngIf="session.SessionAttendance!=null; else notMarked">
                <div class="present" *ngIf="session.SessionAttendance.status =='attended'; else absent">
                  <img src="../../../assets/img/green-ring.png" alt="" />
                  {{session.SessionAttendance.status | titlecase}}
                </div>
                <ng-template #absent>
                  <div class="absent">
                    <img src="../../../assets/img/red-ring.png" alt="" />{{session.SessionAttendance.status |
                    titlecase}}
                  </div>
                </ng-template>
              </td>
              <ng-template #notMarked>
                <td class="text-center">--</td>
              </ng-template>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="course-table-container scrollbar">
        <table class="course-table" cellPadding="{0}" cellSpacing="{0}">
          <thead>
            <tr>
              <th>Course Name</th>
              <th>Cluster</th>
              <th>Course Code</th>
              <th>Type</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>How Does the Economy Work (Part 1)</td>
              <td>Marketing</td>
              <td>mabd1625</td>
              <td>Core</td>
              <td class="text-center">
                <button class="action-btn">
                  <img src="../assets/img/options.svg" />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
    <!-- <div *ngIf="isShow" class="side-popup" >
      <div class="side-popup-header">
        <div class="side-left">
          <img src="../assets/img/Bell.svg" alt="" />
          Select Elective courses
        </div>
        <div (click)="isToggle()" class="side-right">
          <img src="../assets/img/close.svg" alt="" class="pointer" />
        </div>
      </div>
      <div class="side-popup-body">
        <p class="text">
          Select your elective courses for <b>Term II (2022-2023)</b>. Last date
          to select and complete bidding is <b>16/05/2022</b>
        </p>
        <div class="btn-grp">
          <button class="green-btn">Select Course</button>
          <div (click)="isToggle()" class="clear-btn">Not Now</div>
        </div>
      </div>
    </div> -->
  </div>
</div>