<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<!-- <toaster-container [toasterconfig]="config">
</toaster-container> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid pl-0 pr-0">
                <h3 class="cover-outer boldheading mb45">Transaction History
                    <!-- <span class="borderheading">Details</span> -->
                </h3>

                <div class="cover-outer student-portal-tabbing">
                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item" role="presentationtution">
                            <a class="nav-link active" id="transation-history-tab" data-toggle="tab"
                                href="#transationHistory" role="tab" aria-controls="transation-history"
                                aria-selected="false">
                                <figure class="mb30">
                                    <img src="assets/img/ticket-icon2.png">
                                </figure>
                                <h6>Transaction History</h6>
                                <!-- <span>Rs. 3,72,000</span> -->
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div class="tab-pane fade show active" id="transationHistory" role="tabpanelt"
                            aria-labelledby="solved-ticket-tab">
                            <div class="ticketD-outer">
                                <div class="cover-outer">
                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                      <div class="form-group">
                                        <label class="label-heading">Search</label>
                                        <div class="input-group">
                                          <input type="text" class="form-control" 
                                          ngDefaultControl name="searchParam" [(ngModel)]="searchParam" (input)="isSearchType($event.target.value)"
                                          placeholder="Search By PaidFor" (keyup.enter)="search()">
                                          <a  class="deleteSearch material-icons" *ngIf="isCrossEnable" (click)="resetsearch()" >close</a>
                                          <a (click)="search()" class="material-icons">search</a>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                                <div class=" ticket-record-table table-responsive">
                                    <div class="no-data-outer" *ngIf="details.length==0">
                                        <i class="material-icons">warning</i><span> No Record Found</span>
                                    </div>
                                    <table class="table" *ngIf="details.length>0">

                                        <tbody>
                                            <tr>
                                                <th>Paid For</th>
                                                <th>Paid On</th>
                                                <th>Amount Paid</th>

                                                <th>Transaction Tracking Number # </th>
                                                
                                                <th>Installment Number</th>
                                                <th>Fee Receipt</th>
                                            </tr>
                                            <tr *ngFor="let d of details; let i = index">
                                                <ng-container *ngIf="!d.isDeleted == true">
                                                    <td *ngIf="d?.Fee">{{d.Fee?.name}}</td>
                                                    <td *ngIf="d?.Fee==null">-</td>
                                                    <td class="green-clr">{{d?.paidOn | date}}</td>
                                                    <td>{{d?.amount}}</td>
                                                    <td>{{d?.transactionNumber}} </td>
                                                    <td
                                                        *ngIf="d?.FeeInstallment?.installmentNumber; else noInstallment">
                                                        {{d?.FeeInstallment?.installmentNumber}}</td>
                                                    <ng-template #noInstallment>
                                                        <td>-</td>
                                                    </ng-template>
                                                    <td>
                                                        <button class="add-fee-detail"
                                                            routerLink="/student/feeSlip/{{d.studentFeeDueId}}">View</button>
                                                    </td>
                                                </ng-container>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div *ngIf="0" class="no-data-outer">
                                    <i class="material-icons">warning</i><span>No Record Found</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- <app-student-footer></app-student-footer> -->

    </div>
</div>