<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50">Event
                    <span class="borderheading">Detail</span>
                </h3>
                <div class="cover-outer">
                    <h2 (click)="goBack()" class="red-clr keyboard-back"><span class="mr-2 material-icons">keyboard_backspace</span>Back </h2>         
                </div>


                <div class="cover-outer section-padd" *ngIf="eventUsers.length>0">

                

                <div class="cover-outer">
                    <h2 class="lg-heading">{{eventTitle | titlecase}}</h2>
                    <p class="text-yellow-bg mb30">{{eventClubName | titlecase}}</p>
                </div>

                
                <div class="cover-outer mb15">
                    <p>Club Members ({{eventUsers.length}})</p>
                </div>


                <div class="cover-outer">
                    <div class="payment-detail-outer table-responsive">
                        <table class="table payment-detail-table orgUserTable studentTable">
                          <tr>
                            <th>Student</th>
                           
                          </tr>
                          <tr *ngFor="let stu of eventUsers"> 
                            <td class="indoor-sport-fest">  
                                <div class="student-data-align">
                                    <img src="{{stu?.Student?.StudentDetail?.profilePicUrl}}" height="150" width="150"
                                    onerror="this.src='../../../assets/img/avatar.jpg'" alt="No Image"> {{stu?.Student?.firstName | titlecase }} {{stu?.Student?.lastName | titlecase }} </div>                                                                                                            
                            </td>
                          </tr>
                         </table>
                         <!-- <div class="no-data-outer" >
                          <i class="material-icons">warning</i> <span> No pending survey </span>
                         </div> -->
                      </div>

                      <div class="cover-outer mt20">
                          <button class="btn4" (click)="registerEvent()">Send Request to Join this Event</button>                         
                      </div>
                </div>
            </div>
            <div class="no-data-outer"  *ngIf="eventUsers.length==0">
                <i class="material-icons">warning</i> <span> No student registered for this event </span>
               </div>
        </div>
            
        </section>
    </div>

</div>



