<div class="side-menu" id="side-menu">
  <!-- <a href="javascript:void(0);">
      <i class="material-icons">home</i> <span> Home</span>
    </a> -->
    <ng-container *ngIf="email != 'tech@mastersunion.org'">
 <a *ngIf="email === 'ramnikaseth98@gmail.com'"
    routerLink="/student/dashboard"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.9231 2.80525C11.2176 2.54452 11.6014 2.40004 11.9994 2.40002C12.3975 2.40001 12.7812 2.54447 13.0758 2.80518L21.0763 9.88706C21.2413 10.0331 21.3731 10.211 21.4633 10.4095C21.5534 10.608 21.6 10.8227 21.6 11.0398V20.0422C21.6 20.2468 21.5586 20.4494 21.4782 20.6384C21.3978 20.8274 21.2799 20.9992 21.1313 21.1438C20.9827 21.2885 20.8063 21.4032 20.6122 21.4815C20.418 21.5598 20.21 21.6 19.9998 21.6L15.1992 21.5994C14.7749 21.5994 14.368 21.4352 14.068 21.1431C13.768 20.8509 13.5994 20.4547 13.5994 20.0416V15.3679L10.3994 15.3679V20.0416C10.3994 20.4547 10.2309 20.8509 9.93088 21.1431C9.63087 21.4352 9.22395 21.5994 8.79964 21.5994L4.00023 21.6C3.79009 21.6 3.58202 21.5598 3.38787 21.4815C3.19373 21.4032 3.01732 21.2885 2.86872 21.1438C2.72013 20.9991 2.60226 20.8274 2.52184 20.6384C2.44142 20.4494 2.40002 20.2468 2.40002 20.0422V11.0397C2.40002 10.8227 2.4466 10.608 2.53677 10.4096C2.62694 10.2111 2.75872 10.0331 2.92365 9.8871L10.9231 2.80525ZM20 11.0398L11.9995 3.95787L4.00002 11.0397V20.0422L8.79944 20.0416V15.3679C8.79944 14.9548 8.96801 14.5585 9.26807 14.2664C9.56812 13.9742 9.97509 13.8101 10.3994 13.8101H13.5994C14.0238 13.8101 14.4308 13.9742 14.7308 14.2664C15.0309 14.5585 15.1994 14.9548 15.1994 15.3679V20.0416L20 20.0422V11.0398Z"
          fill="#404040"
        />
      </svg>
    </i>
    <span>Dashboard</span>
  </a>
  <!-- <a
    routerLink="/student/student-portal"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75ZM2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM12.75 6.75C12.75 6.33579 12.4142 6 12 6C11.5858 6 11.25 6.33579 11.25 6.75V7.5H10.875C10.1788 7.5 9.51113 7.77656 9.01884 8.26884C8.52656 8.76113 8.25 9.42881 8.25 10.125C8.25 10.8212 8.52656 11.4889 9.01884 11.9812C9.51113 12.4734 10.1788 12.75 10.875 12.75H13.125C13.4234 12.75 13.7095 12.8685 13.9205 13.0795C14.1315 13.2905 14.25 13.5766 14.25 13.875C14.25 14.1734 14.1315 14.4595 13.9205 14.6705C13.7095 14.8815 13.4234 15 13.125 15H12H9.75C9.33579 15 9 15.3358 9 15.75C9 16.1642 9.33579 16.5 9.75 16.5H11.25V17.25C11.25 17.6642 11.5858 18 12 18C12.4142 18 12.75 17.6642 12.75 17.25V16.5H13.125C13.8212 16.5 14.4889 16.2234 14.9812 15.7312C15.4734 15.2389 15.75 14.5712 15.75 13.875C15.75 13.1788 15.4734 12.5111 14.9812 12.0188C14.4889 11.5266 13.8212 11.25 13.125 11.25H10.875C10.5766 11.25 10.2905 11.1315 10.0795 10.9205C9.86853 10.7095 9.75 10.4234 9.75 10.125C9.75 9.82663 9.86853 9.54048 10.0795 9.3295C10.2905 9.11853 10.5766 9 10.875 9H12H14.25C14.6642 9 15 8.66421 15 8.25C15 7.83579 14.6642 7.5 14.25 7.5H12.75V6.75Z"
          fill="#404040"
        />
      </svg>
    </i>
    <span>Fee Details</span>
  </a> -->
  <a
    *ngIf="
      programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
      programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
    "
    routerLink="/student/survey-list"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <!-- <i class="material-icons">date_range</i> -->
    <i>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17.25 3.13849C17.25 2.73064 16.9142 2.40002 16.5 2.40002C16.0858 2.40002 15.75 2.73064 15.75 3.13849V3.87695H8.25V3.13849C8.25 2.73064 7.91421 2.40002 7.5 2.40002C7.08579 2.40002 6.75 2.73064 6.75 3.13849V3.87695H4.5C3.67157 3.87695 3 4.53819 3 5.35387V9.04618V20.1231C3 20.9388 3.67157 21.6 4.5 21.6H19.5C20.3284 21.6 21 20.9388 21 20.1231V9.04618V5.35387C21 4.53819 20.3284 3.87695 19.5 3.87695H17.25V3.13849ZM19.5 8.30772V5.35387H17.25V6.09233C17.25 6.50017 16.9142 6.83079 16.5 6.83079C16.0858 6.83079 15.75 6.50017 15.75 6.09233V5.35387H8.25V6.09233C8.25 6.50017 7.91421 6.83079 7.5 6.83079C7.08579 6.83079 6.75 6.50017 6.75 6.09233V5.35387H4.5V8.30772H19.5ZM4.5 9.78464H19.5V20.1231H4.5V9.78464Z"
          fill="#404040"
        />
      </svg>
    </i>
    <span>Feedback</span>
  </a>
  <!-- <a routerLink="/student/events" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    
    <i>
      <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.0083 2.2925C18.0083 1.99994 17.7711 1.76279 17.4786 1.76279H14.4506V0.558099C14.4506 0.294224 14.2703 0.0496314 14.0099 0.00725467C13.678 -0.0467491 13.3912 0.208014 13.3912 0.529706V3.87349C13.3912 4.06903 13.4984 4.23796 13.656 4.3297C13.5494 4.39176 13.4214 4.42124 13.2827 4.39157C13.0298 4.33752 12.8615 4.0942 12.8615 3.83562V1.76279H4.6171V0.558099C4.6171 0.294224 4.43681 0.0496314 4.17638 0.00725467C3.84452 -0.0467491 3.55768 0.208014 3.55768 0.529706V3.87349C3.55768 4.06903 3.66487 4.23796 3.82254 4.3297C3.71591 4.39176 3.58788 4.42124 3.44914 4.39157C3.19629 4.33752 3.02797 4.0942 3.02797 3.83562V1.76279H0.529709C0.237151 1.76279 0 1.99994 0 2.2925V17.4703C0 17.7628 0.237151 18 0.529709 18H17.4786C17.7711 18 18.0083 17.7628 18.0083 17.4703V7.40615C18.0083 7.14227 17.828 6.89768 17.5676 6.8553C17.2357 6.8013 16.9489 7.05606 16.9489 7.37775V15.52C16.9489 16.3045 16.3129 16.9406 15.5282 16.9406H2.48004C1.69546 16.9406 1.05942 16.3046 1.05942 15.52V6.41972C1.05942 5.63514 1.69544 4.9991 2.48004 4.9991H18.0083V2.2925Z" fill="white"/>
        <path d="M13.8535 10.0281C13.7825 9.8098 13.5791 9.66212 13.3497 9.66212H10.4116L9.50375 6.86796C9.43274 6.64967 9.22934 6.50198 8.99992 6.50198C8.7705 6.50198 8.56707 6.64967 8.49609 6.86796L7.58819 9.66212H4.65022C4.4208 9.66212 4.21737 9.8098 4.14639 10.0281C4.07551 10.2464 4.15325 10.4854 4.33883 10.6204L6.71579 12.3474L5.80782 15.1415C5.77108 15.2547 5.7759 15.3728 5.81335 15.4798L8.95884 13.194C9.19552 13.0225 9.52682 13.0745 9.69882 13.3112C9.87068 13.5479 9.81832 13.8792 9.58165 14.0512L9.32127 14.2404L11.3768 15.7339C11.4696 15.8014 11.5788 15.835 11.6881 15.835C11.7974 15.835 11.9067 15.8013 11.9995 15.7339C12.1851 15.5988 12.2628 15.3599 12.192 15.1416L11.284 12.3474L13.6611 10.6204C13.8467 10.4854 13.9244 10.2464 13.8535 10.0281Z" fill="white"/>
      </svg>
    </i>
    <span>Events</span>
  </a> -->
  <!-- <a routerLink="/student/transactionHistory" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">account_balance_wallet</i>
    <span>Transaction History</span>
  </a> -->
  <!-- <a routerLink="/student/profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">person</i>
    <span>Profile</span>
  </a> -->
  <a
    *ngIf="
      programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
      programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
    "
    routerLink="/student/enquiry"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14.6858 2.9093C13.5952 2.46598 12.4276 2.242 11.25 2.25022C10.0724 2.242 8.90479 2.46598 7.81424 2.9093C6.72209 3.35327 5.72883 4.00846 4.89172 4.83709C4.05462 5.66572 3.39022 6.6514 2.93682 7.73733C2.48343 8.82327 2.25 9.98796 2.25 11.1643V15.9643C2.25 16.5099 2.4673 17.0331 2.85409 17.4189C3.24088 17.8047 3.76548 18.0214 4.31249 18.0214H5.68748C6.23449 18.0214 6.75909 17.8047 7.14588 17.4189C7.53267 17.0331 7.74997 16.5099 7.74997 15.9643V12.5357C7.74997 11.9901 7.53267 11.4669 7.14588 11.0811C6.75909 10.6953 6.23449 10.4786 5.68748 10.4786H3.65631C3.72588 9.71836 3.9109 8.97172 4.20615 8.26456C4.58979 7.34569 5.15197 6.51165 5.8603 5.8105C6.56862 5.10935 7.40907 4.55496 8.3332 4.17929C9.25733 3.80362 10.2469 3.6141 11.2448 3.62165H11.2552C12.2531 3.6141 13.2427 3.80362 14.1668 4.17929C15.0909 4.55496 15.9314 5.10935 16.6397 5.8105C17.348 6.51165 17.9102 7.34569 18.2938 8.26456C18.5891 8.97172 18.7741 9.71836 18.8437 10.4786H16.8125C16.2655 10.4786 15.7409 10.6953 15.3541 11.0811C14.9673 11.4669 14.75 11.9901 14.75 12.5357V15.9643C14.75 16.5099 14.9673 17.0331 15.3541 17.4189C15.7409 17.8047 16.2655 18.0214 16.8125 18.0214H18.1875C18.424 18.0214 18.6563 17.9809 18.875 17.9038V18.0215C18.875 18.5671 18.6577 19.0903 18.2709 19.4761C17.8841 19.8619 17.3595 20.0786 16.8125 20.0786H11.875C11.4953 20.0786 11.1875 20.3856 11.1875 20.7643C11.1875 21.143 11.4953 21.45 11.875 21.45H16.8125C17.7242 21.45 18.5986 21.0888 19.2432 20.4458C19.8879 19.8029 20.25 18.9308 20.25 18.0215V15.9643C20.25 15.9625 20.25 15.9607 20.25 15.9589V11.1643C20.25 9.98796 20.0166 8.82327 19.5632 7.73733C19.1098 6.6514 18.4454 5.66572 17.6083 4.83709C16.7712 4.00846 15.7779 3.35327 14.6858 2.9093ZM3.62499 15.9643V11.85H5.68748C5.86981 11.85 6.04468 11.9222 6.17361 12.0508C6.30254 12.1794 6.37498 12.3539 6.37498 12.5357V15.9643C6.37498 16.1462 6.30254 16.3206 6.17361 16.4492C6.04468 16.5778 5.86981 16.65 5.68748 16.65H4.31249C4.13015 16.65 3.95529 16.5778 3.82635 16.4492C3.69742 16.3206 3.62499 16.1462 3.62499 15.9643ZM16.8125 11.85H18.875V15.9643C18.875 16.1462 18.8026 16.3206 18.6736 16.4492C18.5447 16.5778 18.3698 16.65 18.1875 16.65H16.8125C16.6302 16.65 16.4553 16.5778 16.3264 16.4492C16.1975 16.3206 16.125 16.1462 16.125 15.9643V12.5357C16.125 12.3539 16.1975 12.1794 16.3264 12.0508C16.4553 11.9222 16.6302 11.85 16.8125 11.85Z"
          fill="#404040"
        />
      </svg>
    </i>
    <span>Help Desk </span>
  </a>

  <a
    *ngIf="
      programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
      programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
    "
    routerLink="/student/leaveList"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8.43714 3.125C8.1885 3.125 7.95005 3.22377 7.77423 3.39959C7.59842 3.5754 7.49965 3.81386 7.49965 4.0625V12.2864C7.49965 12.5693 7.30965 12.8169 7.03641 12.8901C6.76317 12.9633 6.47482 12.8439 6.33338 12.5989L4.62029 9.63176C4.55879 9.52503 4.4766 9.43102 4.37892 9.35597C4.28124 9.28092 4.16973 9.22585 4.05076 9.19392C3.93179 9.16199 3.80769 9.15382 3.68556 9.16987C3.56344 9.18592 3.44567 9.22589 3.33899 9.28748C3.23231 9.34907 3.13882 9.43108 3.06385 9.52882C2.98888 9.62656 2.93391 9.73812 2.90208 9.85711C2.87025 9.97611 2.86218 10.1002 2.87834 10.2223C2.89449 10.3444 2.93455 10.4622 2.99623 10.5688C3.00477 10.5836 3.0127 10.5987 3.02 10.6141C4.29425 13.3025 5.2782 15.0206 6.32974 16.0751C7.33431 17.0826 8.41771 17.5 9.99965 17.5C10.7383 17.5 11.4698 17.3545 12.1522 17.0718C12.8347 16.7891 13.4548 16.3748 13.9771 15.8525C14.4994 15.3301 14.9138 14.7101 15.1965 14.0276C15.4791 13.3451 15.6246 12.6137 15.6246 11.875V5.3125C15.6246 5.06386 15.5259 4.8254 15.3501 4.64959C15.1742 4.47377 14.9358 4.375 14.6871 4.375C14.4385 4.375 14.2 4.47377 14.0242 4.64959C13.8484 4.8254 13.7496 5.06386 13.7496 5.3125V9.375C13.7496 9.72018 13.4698 10 13.1246 10C12.7795 10 12.4996 9.72018 12.4996 9.375V5.3125C12.4996 4.73234 12.7301 4.17594 13.1403 3.7657C13.5506 3.35547 14.107 3.125 14.6871 3.125C15.2673 3.125 15.8237 3.35547 16.2339 3.7657C16.6442 4.17594 16.8746 4.73234 16.8746 5.3125V11.875C16.8746 12.7778 16.6968 13.6718 16.3513 14.5059C16.0058 15.3401 15.4994 16.098 14.861 16.7364C14.2226 17.3748 13.4647 17.8812 12.6306 18.2267C11.7965 18.5722 10.9025 18.75 9.99965 18.75C8.1298 18.75 6.7132 18.2299 5.44461 16.9578C4.22622 15.736 3.16624 13.8393 1.90051 11.1707C1.76436 10.9283 1.67562 10.662 1.63913 10.3863C1.60144 10.1013 1.62027 9.81175 1.69454 9.53409C1.76881 9.25644 1.89708 8.99614 2.072 8.76807C2.24692 8.54001 2.46508 8.34866 2.71399 8.20495C2.9629 8.06124 3.2377 7.96799 3.52267 7.93053C3.80764 7.89308 4.09719 7.91215 4.37479 7.98665C4.65238 8.06116 4.91258 8.18964 5.14049 8.36475C5.36841 8.53987 5.55958 8.75818 5.70308 9.00721L6.24965 9.95388V4.0625C6.24965 3.48234 6.48011 2.92594 6.89035 2.5157C7.30058 2.10547 7.85698 1.875 8.43714 1.875C9.01731 1.875 9.57371 2.10547 9.98394 2.5157C10.3942 2.92594 10.6246 3.48234 10.6246 4.0625V9.375C10.6246 9.72018 10.3448 10 9.99965 10C9.65447 10 9.37464 9.72018 9.37464 9.375V4.0625C9.37464 3.81386 9.27587 3.5754 9.10006 3.39959C8.92424 3.22377 8.68579 3.125 8.43714 3.125Z"
          fill="black"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.0157 1.2657C10.4259 0.855468 10.9823 0.625 11.5625 0.625C12.1427 0.625 12.6991 0.855468 13.1093 1.2657C13.5195 1.67594 13.75 2.23234 13.75 2.8125V9.375C13.75 9.72018 13.4702 10 13.125 10C12.7798 10 12.5 9.72018 12.5 9.375V2.8125C12.5 2.56386 12.4012 2.3254 12.2254 2.14959C12.0496 1.97377 11.8111 1.875 11.5625 1.875C11.3139 1.875 11.0754 1.97377 10.8996 2.14959C10.7238 2.3254 10.625 2.56386 10.625 2.8125V9.375C10.625 9.72018 10.3452 10 10 10C9.65482 10 9.375 9.72018 9.375 9.375V2.8125C9.375 2.23234 9.60547 1.67594 10.0157 1.2657Z"
          fill="black"
        />
      </svg>
    </i>
    <span>Leave Requests </span>
  </a>

  <a
    *ngIf="
      programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
      programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
    "
    routerLink="/student/view-club"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M8.25943 4.40294C8.72106 3.95286 9.34716 3.7 10 3.7C10.6528 3.7 11.2789 3.95286 11.7406 4.40294C12.0541 4.70867 12.2744 5.08838 12.3834 5.5H7.61662C7.72564 5.08838 7.94587 4.70867 8.25943 4.40294ZM6.35932 5.5C6.48625 4.76782 6.84349 4.08643 7.38914 3.55442C8.08159 2.87928 9.02074 2.5 10 2.5C10.9793 2.5 11.9184 2.87928 12.6109 3.55442C13.1565 4.08643 13.5137 4.76782 13.6407 5.5H16.7692C17.449 5.5 18 6.03726 18 6.7V16.3C18 16.9627 17.449 17.5 16.7692 17.5H3.23077C2.55103 17.5 2 16.9627 2 16.3V6.7C2 6.03726 2.55103 5.5 3.23077 5.5H6.35932ZM13.0769 6.7H6.92308H3.23077V16.3H16.7692V6.7H13.0769Z"
          fill="#101010"
        />
      </svg>
    </i>
    <span>Club/Committee </span>
  </a>

  <a
    *ngIf="
      programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
      programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
    "
    routerLink="/student/event-list"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M14.375 2.61538C14.375 2.27552 14.0952 2 13.75 2C13.4048 2 13.125 2.27552 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.27552 6.59518 2 6.25 2C5.90482 2 5.625 2.27552 5.625 2.61538V3.23077H3.75C3.05964 3.23077 2.5 3.7818 2.5 4.46154V7.53846V16.7692C2.5 17.449 3.05964 18 3.75 18H16.25C16.9404 18 17.5 17.449 17.5 16.7692V7.53846V4.46154C17.5 3.7818 16.9404 3.23077 16.25 3.23077H14.375V2.61538ZM16.25 6.92308V4.46154H14.375V5.07692C14.375 5.41679 14.0952 5.69231 13.75 5.69231C13.4048 5.69231 13.125 5.41679 13.125 5.07692V4.46154H6.875V5.07692C6.875 5.41679 6.59518 5.69231 6.25 5.69231C5.90482 5.69231 5.625 5.41679 5.625 5.07692V4.46154H3.75V6.92308H16.25ZM3.75 8.15385H16.25V16.7692H3.75V8.15385Z"
          fill="#404040"
        />
        <path
          d="M12.4811 11.8847C12.4588 11.8121 12.4159 11.7482 12.3581 11.7012C12.3002 11.6543 12.2301 11.6265 12.1568 11.6216L10.8312 11.5254L10.3395 10.2411C10.3129 10.1701 10.2662 10.1091 10.2056 10.0661C10.145 10.023 10.0733 10 9.99983 10H9.99948C9.92615 10.0001 9.85456 10.0232 9.79409 10.0662C9.73361 10.1092 9.68705 10.1702 9.6605 10.2411L9.16146 11.5328L7.84322 11.6216C7.76992 11.6265 7.69977 11.6543 7.64191 11.7012C7.58406 11.7482 7.54119 11.8121 7.51889 11.8847C7.49538 11.9583 7.49378 12.0376 7.5143 12.1122C7.53483 12.1868 7.57653 12.2532 7.63398 12.3029L8.64811 13.192L8.34645 14.4227C8.32566 14.5056 8.32948 14.5931 8.35742 14.6737C8.38536 14.7543 8.43611 14.8243 8.50304 14.8745C8.56765 14.9232 8.64491 14.9507 8.72478 14.9533C8.80464 14.9559 8.8834 14.9334 8.95082 14.889L9.99704 14.2015C9.99843 14.2004 9.99983 14.1997 10.003 14.2015L11.1287 14.9412C11.1898 14.9817 11.2613 15.0021 11.3338 14.9998C11.4063 14.9975 11.4764 14.9725 11.535 14.9282C11.5956 14.8827 11.6416 14.8193 11.6669 14.7463C11.6923 14.6733 11.6957 14.594 11.6769 14.5189L11.3564 13.1744L12.366 12.3029C12.4235 12.2532 12.4652 12.1868 12.4857 12.1122C12.5062 12.0376 12.5046 11.9583 12.4811 11.8847Z"
          fill="#404040"
        />
      </svg>
    </i>
    <span>Event </span>
  </a>

  <a
    *ngIf="
      programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
      programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
    "
    routerLink="/student/termWiseAssingmentMarks"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M9.75 2.56303C9.90625 2.47899 10.0938 2.47899 10.25 2.56303L18.2188 6.84874C18.3919 6.94184 18.5 7.12358 18.5 7.32143C18.5 7.51927 18.3919 7.70101 18.2188 7.79412L16.6406 8.64286V12.0804C16.6406 12.2946 16.5875 12.5625 16.4281 12.7232C16.1664 13.0663 15.5437 13.7994 14.5156 14.455V16.9643C14.5156 17.2602 14.2778 17.5 13.9844 17.5C13.691 17.5 13.4531 17.2602 13.4531 16.9643V15.0232C12.5268 15.431 11.3813 15.7232 10 15.7232C6.12187 15.7232 4.10313 13.4196 3.57188 12.7232C3.4125 12.5089 3.35938 12.2946 3.35938 12.0804V8.64286L1.78125 7.79412C1.60814 7.70101 1.5 7.51927 1.5 7.32143C1.5 7.12358 1.60814 6.94184 1.78125 6.84874L9.75 2.56303ZM4.42188 9.21429V12.0804C4.84688 12.6696 6.6 14.6518 10 14.6518C11.4373 14.6518 12.5804 14.2975 13.4531 13.8441V10.3571L10.25 12.0798C10.0938 12.1639 9.90625 12.1639 9.75 12.0798L4.42188 9.21429ZM14.5156 13.1587C15.0696 12.7219 15.418 12.3023 15.5781 12.0804V9.21429L14.5156 9.78571V13.1587ZM16.8398 7.32143L13.9844 8.85714L10.25 6.84874C9.99112 6.70951 9.66933 6.80827 9.53126 7.06933C9.39319 7.33039 9.49112 7.65489 9.75001 7.79412L12.8555 9.46428L10 11L3.16016 7.32143L10 3.64286L16.8398 7.32143Z"
          fill="#101010"
        />
      </svg>
    </i>
    <span>Subject Result </span>
  </a>

  <!-- <a routerLink="/student/leaveList" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">inbox
      </i>
    <span>Leave List
    </span>
  </a> -->

  <a
    routerLink="/student/courseList"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M3.85739 2.60723C4.32623 2.13839 4.96212 1.875 5.62516 1.875H8.75012H13.7501H16.2502C16.5953 1.875 16.8752 2.15482 16.8752 2.5V15C16.8752 15.3452 16.5953 15.625 16.2502 15.625H5.62516C5.29364 15.625 4.97569 15.7567 4.74127 15.9911C4.50685 16.2255 4.37516 16.5435 4.37516 16.875H15.0001C15.3453 16.875 15.6251 17.1548 15.6251 17.5C15.6251 17.8452 15.3453 18.125 15.0001 18.125H3.75012C3.40494 18.125 3.12512 17.8452 3.12512 17.5V16.875C3.12512 16.8728 3.12513 16.8706 3.12516 16.8684V4.375C3.12516 3.71196 3.38855 3.07607 3.85739 2.60723ZM5.62516 3.125H8.12512V10C8.12512 10.2367 8.25889 10.4532 8.47064 10.559C8.6824 10.6649 8.93579 10.642 9.12518 10.5L11.2497 8.90625L13.3752 10.5C13.5646 10.6421 13.8179 10.6649 14.0297 10.559C14.2414 10.4531 14.3751 10.2367 14.3751 10V3.125H15.6252V14.375H5.62516C5.18251 14.375 4.75197 14.4924 4.37516 14.7099V4.375C4.37516 4.04348 4.50685 3.72554 4.74127 3.49112C4.97569 3.2567 5.29364 3.125 5.62516 3.125ZM13.1251 8.75016V3.125H9.37512V8.74984L10.8745 7.62504C11.0967 7.45835 11.4023 7.45832 11.6245 7.62496L13.1251 8.75016Z"
          fill="#101010"
        />
      </svg>
    </i>
    <span>Courses List </span>
  </a>
  <a *ngIf="programId == '38af2432-7e3a-4d8a-89bc-3767c70fe8bb'"
  (click)="coachSession()"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 21.7999C21.6 21.7999 21.2 21.5 21.2 21V19C21.2 17.5 20.2 16.2 18.8 15.9C18.4 15.8 18.2 15.4 18.3 15C18.4 14.6 18.8 14.4 19.2 14.5C21.3 15 22.8 16.9 22.8 19.1V21.1C22.8 21.4 22.4 21.7999 22 21.7999ZM17 21.7999C16.6 21.7999 16.2 21.5 16.2 21C16.2 19.2 16.2 18.4 16 17.8C15.7 17 15 16.4 14.2 16C13.6 15.8 12.7 15.8 11 15.8H8.00001C6.20001 15.8 5.40001 15.8 4.80001 16C4.00001 16.3 3.30001 17 3.00001 17.8C2.80001 18.4 2.80001 19.2999 2.80001 21C2.80001 21.4 2.50001 21.7999 2.00001 21.7999C1.50001 21.7999 1.20001 21.4 1.20001 21C1.20001 19 1.20001 18.1 1.60001 17.2C2.10001 16 3.00001 15.1 4.20001 14.6C5.10001 14.2 6.00001 14.2 8.00001 14.2H11C13 14.2 13.9 14.2 14.8 14.6C16 15.1 16.9 16 17.4 17.2C17.8 18.1 17.8 19.1 17.8 21C17.8 21.4 17.4 21.7999 17 21.7999ZM9.50001 11.8C6.90001 11.8 4.80001 9.59995 4.80001 6.99995C4.80001 4.39995 6.90001 2.19995 9.60001 2.19995C12.3 2.19995 14.4 4.29995 14.4 6.99995C14.4 9.69995 12.1 11.8 9.50001 11.8ZM9.50001 3.79995C7.70001 3.79995 6.20001 5.19995 6.20001 6.99995C6.20001 8.79995 7.70001 10.2 9.40001 10.2C11.1 10.2 12.6 8.69995 12.6 6.99995C12.6 5.29995 11.3 3.79995 9.50001 3.79995ZM15.5 11.5C15.2 11.5 14.9 11.3 14.8 11C14.6 10.6 14.8 10.2 15.2 9.99995C16.4 9.49995 17.2 8.29995 17.2 6.99995C17.2 5.69995 16.4 4.49995 15.2 3.99995C14.8 3.79995 14.6 3.39995 14.8 2.99995C15 2.59995 15.4 2.39995 15.8 2.59995C17.6 3.29995 18.8 5.09995 18.8 6.99995C18.8 8.89995 17.6 10.7 15.8 11.4C15.7 11.4 15.6 11.5 15.5 11.5Z" fill="black"/>
        </svg>
    </i>
    <span>Coaching Session </span>
  </a>
  <a 
  (click)="coWork()"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i
      ><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 21.7999C21.6 21.7999 21.2 21.5 21.2 21V19C21.2 17.5 20.2 16.2 18.8 15.9C18.4 15.8 18.2 15.4 18.3 15C18.4 14.6 18.8 14.4 19.2 14.5C21.3 15 22.8 16.9 22.8 19.1V21.1C22.8 21.4 22.4 21.7999 22 21.7999ZM17 21.7999C16.6 21.7999 16.2 21.5 16.2 21C16.2 19.2 16.2 18.4 16 17.8C15.7 17 15 16.4 14.2 16C13.6 15.8 12.7 15.8 11 15.8H8.00001C6.20001 15.8 5.40001 15.8 4.80001 16C4.00001 16.3 3.30001 17 3.00001 17.8C2.80001 18.4 2.80001 19.2999 2.80001 21C2.80001 21.4 2.50001 21.7999 2.00001 21.7999C1.50001 21.7999 1.20001 21.4 1.20001 21C1.20001 19 1.20001 18.1 1.60001 17.2C2.10001 16 3.00001 15.1 4.20001 14.6C5.10001 14.2 6.00001 14.2 8.00001 14.2H11C13 14.2 13.9 14.2 14.8 14.6C16 15.1 16.9 16 17.4 17.2C17.8 18.1 17.8 19.1 17.8 21C17.8 21.4 17.4 21.7999 17 21.7999ZM9.50001 11.8C6.90001 11.8 4.80001 9.59995 4.80001 6.99995C4.80001 4.39995 6.90001 2.19995 9.60001 2.19995C12.3 2.19995 14.4 4.29995 14.4 6.99995C14.4 9.69995 12.1 11.8 9.50001 11.8ZM9.50001 3.79995C7.70001 3.79995 6.20001 5.19995 6.20001 6.99995C6.20001 8.79995 7.70001 10.2 9.40001 10.2C11.1 10.2 12.6 8.69995 12.6 6.99995C12.6 5.29995 11.3 3.79995 9.50001 3.79995ZM15.5 11.5C15.2 11.5 14.9 11.3 14.8 11C14.6 10.6 14.8 10.2 15.2 9.99995C16.4 9.49995 17.2 8.29995 17.2 6.99995C17.2 5.69995 16.4 4.49995 15.2 3.99995C14.8 3.79995 14.6 3.39995 14.8 2.99995C15 2.59995 15.4 2.39995 15.8 2.59995C17.6 3.29995 18.8 5.09995 18.8 6.99995C18.8 8.89995 17.6 10.7 15.8 11.4C15.7 11.4 15.6 11.5 15.5 11.5Z" fill="black"/>
        </svg>
    </i>
    <span>Cowork </span>
  </a>
  <a class="smallIcon" 
  href="https://mastersunion.instructure.com/login/canvas"
    [routerLinkActive]="'active'"
    [routerLinkActiveOptions]="{ exact: true }"
  >
  <i
  ><img src="../../../assets/img/canvas.png"/>
</i>
    <span>Canvas</span>
  </a>
  <!-- <a
class="canvasLink"
href="https://mastersunion.instructure.com/login/canvas"
target="_blank"
>
<i
  ><img src="../../../assets/img/canvas.png"/>
</i>
<span>Canvas</span>
</a> -->
  <!-- <a routerLink="/student/view-courses" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    
    <i><svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 20H18V18H3.012C2.55 17.988 2 17.805 2 17C2 16.195 2.55 16.012 3.012 16H18V2C18 0.897 17.103 0 16 0H3C1.794 0 0 0.799 0 3V17C0 19.201 1.794 20 3 20ZM2 3C2 2.195 2.55 2.012 3 2H16V14H2V3Z" fill="white"/>
      <path d="M5 4H14V6H5V4Z" fill="white"/>
      </svg>
      </i>
    <span>Bid on Courses</span>
  </a> -->
  <!-- <a routerLink="/student/mentor" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
    <i class="material-icons">person</i>
    <span>Mentors</span>
  </a> -->
</ng-container>
<ng-container  *ngIf="email === 'tech@mastersunion.org'">
  <a
  routerLink="/student/student-portal"
  [routerLinkActive]="'active'"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <!-- <i class="material-icons">account_balance_wallet</i> -->
  <i>
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 3.75C7.44365 3.75 3.75 7.44365 3.75 12C3.75 16.5563 7.44365 20.25 12 20.25C16.5563 20.25 20.25 16.5563 20.25 12C20.25 7.44365 16.5563 3.75 12 3.75ZM2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12ZM12.75 6.75C12.75 6.33579 12.4142 6 12 6C11.5858 6 11.25 6.33579 11.25 6.75V7.5H10.875C10.1788 7.5 9.51113 7.77656 9.01884 8.26884C8.52656 8.76113 8.25 9.42881 8.25 10.125C8.25 10.8212 8.52656 11.4889 9.01884 11.9812C9.51113 12.4734 10.1788 12.75 10.875 12.75H13.125C13.4234 12.75 13.7095 12.8685 13.9205 13.0795C14.1315 13.2905 14.25 13.5766 14.25 13.875C14.25 14.1734 14.1315 14.4595 13.9205 14.6705C13.7095 14.8815 13.4234 15 13.125 15H12H9.75C9.33579 15 9 15.3358 9 15.75C9 16.1642 9.33579 16.5 9.75 16.5H11.25V17.25C11.25 17.6642 11.5858 18 12 18C12.4142 18 12.75 17.6642 12.75 17.25V16.5H13.125C13.8212 16.5 14.4889 16.2234 14.9812 15.7312C15.4734 15.2389 15.75 14.5712 15.75 13.875C15.75 13.1788 15.4734 12.5111 14.9812 12.0188C14.4889 11.5266 13.8212 11.25 13.125 11.25H10.875C10.5766 11.25 10.2905 11.1315 10.0795 10.9205C9.86853 10.7095 9.75 10.4234 9.75 10.125C9.75 9.82663 9.86853 9.54048 10.0795 9.3295C10.2905 9.11853 10.5766 9 10.875 9H12H14.25C14.6642 9 15 8.66421 15 8.25C15 7.83579 14.6642 7.5 14.25 7.5H12.75V6.75Z"
        fill="#404040"
      />
    </svg>
  </i>
  <span>Fee Details</span>
</a>
  <a
  routerLink="/student/enquiry"
  [routerLinkActive]="'active'"
  [routerLinkActiveOptions]="{ exact: true }"
>
  <i
    ><svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M14.6858 2.9093C13.5952 2.46598 12.4276 2.242 11.25 2.25022C10.0724 2.242 8.90479 2.46598 7.81424 2.9093C6.72209 3.35327 5.72883 4.00846 4.89172 4.83709C4.05462 5.66572 3.39022 6.6514 2.93682 7.73733C2.48343 8.82327 2.25 9.98796 2.25 11.1643V15.9643C2.25 16.5099 2.4673 17.0331 2.85409 17.4189C3.24088 17.8047 3.76548 18.0214 4.31249 18.0214H5.68748C6.23449 18.0214 6.75909 17.8047 7.14588 17.4189C7.53267 17.0331 7.74997 16.5099 7.74997 15.9643V12.5357C7.74997 11.9901 7.53267 11.4669 7.14588 11.0811C6.75909 10.6953 6.23449 10.4786 5.68748 10.4786H3.65631C3.72588 9.71836 3.9109 8.97172 4.20615 8.26456C4.58979 7.34569 5.15197 6.51165 5.8603 5.8105C6.56862 5.10935 7.40907 4.55496 8.3332 4.17929C9.25733 3.80362 10.2469 3.6141 11.2448 3.62165H11.2552C12.2531 3.6141 13.2427 3.80362 14.1668 4.17929C15.0909 4.55496 15.9314 5.10935 16.6397 5.8105C17.348 6.51165 17.9102 7.34569 18.2938 8.26456C18.5891 8.97172 18.7741 9.71836 18.8437 10.4786H16.8125C16.2655 10.4786 15.7409 10.6953 15.3541 11.0811C14.9673 11.4669 14.75 11.9901 14.75 12.5357V15.9643C14.75 16.5099 14.9673 17.0331 15.3541 17.4189C15.7409 17.8047 16.2655 18.0214 16.8125 18.0214H18.1875C18.424 18.0214 18.6563 17.9809 18.875 17.9038V18.0215C18.875 18.5671 18.6577 19.0903 18.2709 19.4761C17.8841 19.8619 17.3595 20.0786 16.8125 20.0786H11.875C11.4953 20.0786 11.1875 20.3856 11.1875 20.7643C11.1875 21.143 11.4953 21.45 11.875 21.45H16.8125C17.7242 21.45 18.5986 21.0888 19.2432 20.4458C19.8879 19.8029 20.25 18.9308 20.25 18.0215V15.9643C20.25 15.9625 20.25 15.9607 20.25 15.9589V11.1643C20.25 9.98796 20.0166 8.82327 19.5632 7.73733C19.1098 6.6514 18.4454 5.66572 17.6083 4.83709C16.7712 4.00846 15.7779 3.35327 14.6858 2.9093ZM3.62499 15.9643V11.85H5.68748C5.86981 11.85 6.04468 11.9222 6.17361 12.0508C6.30254 12.1794 6.37498 12.3539 6.37498 12.5357V15.9643C6.37498 16.1462 6.30254 16.3206 6.17361 16.4492C6.04468 16.5778 5.86981 16.65 5.68748 16.65H4.31249C4.13015 16.65 3.95529 16.5778 3.82635 16.4492C3.69742 16.3206 3.62499 16.1462 3.62499 15.9643ZM16.8125 11.85H18.875V15.9643C18.875 16.1462 18.8026 16.3206 18.6736 16.4492C18.5447 16.5778 18.3698 16.65 18.1875 16.65H16.8125C16.6302 16.65 16.4553 16.5778 16.3264 16.4492C16.1975 16.3206 16.125 16.1462 16.125 15.9643V12.5357C16.125 12.3539 16.1975 12.1794 16.3264 12.0508C16.4553 11.9222 16.6302 11.85 16.8125 11.85Z"
        fill="#404040"
      />
    </svg>
  </i>
  <span>Help Desk </span>
</a>
<a
*ngIf="
  programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
  programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
"
routerLink="/student/survey-list"
[routerLinkActive]="'active'"
[routerLinkActiveOptions]="{ exact: true }"
>
<!-- <i class="material-icons">date_range</i> -->
<i>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M17.25 3.13849C17.25 2.73064 16.9142 2.40002 16.5 2.40002C16.0858 2.40002 15.75 2.73064 15.75 3.13849V3.87695H8.25V3.13849C8.25 2.73064 7.91421 2.40002 7.5 2.40002C7.08579 2.40002 6.75 2.73064 6.75 3.13849V3.87695H4.5C3.67157 3.87695 3 4.53819 3 5.35387V9.04618V20.1231C3 20.9388 3.67157 21.6 4.5 21.6H19.5C20.3284 21.6 21 20.9388 21 20.1231V9.04618V5.35387C21 4.53819 20.3284 3.87695 19.5 3.87695H17.25V3.13849ZM19.5 8.30772V5.35387H17.25V6.09233C17.25 6.50017 16.9142 6.83079 16.5 6.83079C16.0858 6.83079 15.75 6.50017 15.75 6.09233V5.35387H8.25V6.09233C8.25 6.50017 7.91421 6.83079 7.5 6.83079C7.08579 6.83079 6.75 6.50017 6.75 6.09233V5.35387H4.5V8.30772H19.5ZM4.5 9.78464H19.5V20.1231H4.5V9.78464Z"
      fill="#404040"
    />
  </svg>
</i>
<span>Feedback</span>
</a>
<a
*ngIf="
  programId !== '94e86788-479f-41ab-a2eb-f9d020ed827a' &&
  programId !== '7a3c8631-2d37-44ae-b26d-570a1ab8047d'
"
routerLink="/student/leaveList"
[routerLinkActive]="'active'"
[routerLinkActiveOptions]="{ exact: true }"
>
<i
  ><svg
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M8.43714 3.125C8.1885 3.125 7.95005 3.22377 7.77423 3.39959C7.59842 3.5754 7.49965 3.81386 7.49965 4.0625V12.2864C7.49965 12.5693 7.30965 12.8169 7.03641 12.8901C6.76317 12.9633 6.47482 12.8439 6.33338 12.5989L4.62029 9.63176C4.55879 9.52503 4.4766 9.43102 4.37892 9.35597C4.28124 9.28092 4.16973 9.22585 4.05076 9.19392C3.93179 9.16199 3.80769 9.15382 3.68556 9.16987C3.56344 9.18592 3.44567 9.22589 3.33899 9.28748C3.23231 9.34907 3.13882 9.43108 3.06385 9.52882C2.98888 9.62656 2.93391 9.73812 2.90208 9.85711C2.87025 9.97611 2.86218 10.1002 2.87834 10.2223C2.89449 10.3444 2.93455 10.4622 2.99623 10.5688C3.00477 10.5836 3.0127 10.5987 3.02 10.6141C4.29425 13.3025 5.2782 15.0206 6.32974 16.0751C7.33431 17.0826 8.41771 17.5 9.99965 17.5C10.7383 17.5 11.4698 17.3545 12.1522 17.0718C12.8347 16.7891 13.4548 16.3748 13.9771 15.8525C14.4994 15.3301 14.9138 14.7101 15.1965 14.0276C15.4791 13.3451 15.6246 12.6137 15.6246 11.875V5.3125C15.6246 5.06386 15.5259 4.8254 15.3501 4.64959C15.1742 4.47377 14.9358 4.375 14.6871 4.375C14.4385 4.375 14.2 4.47377 14.0242 4.64959C13.8484 4.8254 13.7496 5.06386 13.7496 5.3125V9.375C13.7496 9.72018 13.4698 10 13.1246 10C12.7795 10 12.4996 9.72018 12.4996 9.375V5.3125C12.4996 4.73234 12.7301 4.17594 13.1403 3.7657C13.5506 3.35547 14.107 3.125 14.6871 3.125C15.2673 3.125 15.8237 3.35547 16.2339 3.7657C16.6442 4.17594 16.8746 4.73234 16.8746 5.3125V11.875C16.8746 12.7778 16.6968 13.6718 16.3513 14.5059C16.0058 15.3401 15.4994 16.098 14.861 16.7364C14.2226 17.3748 13.4647 17.8812 12.6306 18.2267C11.7965 18.5722 10.9025 18.75 9.99965 18.75C8.1298 18.75 6.7132 18.2299 5.44461 16.9578C4.22622 15.736 3.16624 13.8393 1.90051 11.1707C1.76436 10.9283 1.67562 10.662 1.63913 10.3863C1.60144 10.1013 1.62027 9.81175 1.69454 9.53409C1.76881 9.25644 1.89708 8.99614 2.072 8.76807C2.24692 8.54001 2.46508 8.34866 2.71399 8.20495C2.9629 8.06124 3.2377 7.96799 3.52267 7.93053C3.80764 7.89308 4.09719 7.91215 4.37479 7.98665C4.65238 8.06116 4.91258 8.18964 5.14049 8.36475C5.36841 8.53987 5.55958 8.75818 5.70308 9.00721L6.24965 9.95388V4.0625C6.24965 3.48234 6.48011 2.92594 6.89035 2.5157C7.30058 2.10547 7.85698 1.875 8.43714 1.875C9.01731 1.875 9.57371 2.10547 9.98394 2.5157C10.3942 2.92594 10.6246 3.48234 10.6246 4.0625V9.375C10.6246 9.72018 10.3448 10 9.99965 10C9.65447 10 9.37464 9.72018 9.37464 9.375V4.0625C9.37464 3.81386 9.27587 3.5754 9.10006 3.39959C8.92424 3.22377 8.68579 3.125 8.43714 3.125Z"
      fill="black"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.0157 1.2657C10.4259 0.855468 10.9823 0.625 11.5625 0.625C12.1427 0.625 12.6991 0.855468 13.1093 1.2657C13.5195 1.67594 13.75 2.23234 13.75 2.8125V9.375C13.75 9.72018 13.4702 10 13.125 10C12.7798 10 12.5 9.72018 12.5 9.375V2.8125C12.5 2.56386 12.4012 2.3254 12.2254 2.14959C12.0496 1.97377 11.8111 1.875 11.5625 1.875C11.3139 1.875 11.0754 1.97377 10.8996 2.14959C10.7238 2.3254 10.625 2.56386 10.625 2.8125V9.375C10.625 9.72018 10.3452 10 10 10C9.65482 10 9.375 9.72018 9.375 9.375V2.8125C9.375 2.23234 9.60547 1.67594 10.0157 1.2657Z"
      fill="black"
    />
  </svg>
</i>
<span>Leave Requests </span>
</a>
</ng-container>

<!-- <a
class="skeddaLink"
href="https://app.skedda.com/account/login?returnUrl=https%3A%2F%2Fmu.skedda.com%2F"
target="_blank"
>
<i
  ><img src="../../../assets/img/skeddas.png"/>
</i>
<span>Skedda</span>
</a> -->
</div>
