.canvasLink i{
    width: 20px;
}

.canvasLink{
    bottom: 0;
    position: absolute;
}
.skeddaLink{
    bottom: 50px;
    position: absolute;
}
.skeddaLink i{
    width: 20px;
}
.smallIcon i{
    width: 24px;
    height: 24px;
}