<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<!-- <toaster-container [toasterconfig]="config">
</toaster-container> -->
<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <!-- <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div> -->
  <!-- <div class="side-menu" id="side-menu">
    <a href="javascript:void(0);">
      <i class="material-icons">home</i> <span> Home</sbrpan>
    </a>
    <a routerLink="/student" [routerLinkActive]="'active'">
      <i class="material-icons">account_balance_wallet</i> <span>Fee Details</span>
    </a>
    <a routerLink="/student/enquiry" [routerLinkActive]="'active'">
      <i class="material-icons">assignment_late</i> <span>Enquire</span>
    </a>
  </div> -->
  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid">
        <h3 class="cover-outer boldheading mb50">Taxes
          <!-- <span class="borderheading">Details </span> -->
        </h3>
        <!-- table  -->
        <div class="cover-outer section-padd mt10">
          <!-- <h4 class="sm-heading">Programme Name</h4>
          <h2 class="lg-heading mb10">{{programmeName | uppercase}}</h2> -->
          <div class="payment-detail-outer table-responsive">
            <table class="table payment-detail-table">
              <tr>
                <th>Payment Modes</th>
                <th> Pricing</th>
              </tr>
              <tr>
                <td>Credit Cards (Visa, MasterCard, RuPay) (Incl. Platform Fees)</td>
                <td>1.10%</td>
            </tr>
              <tr>
                 <td>Amex (Incl. Platform Fees)</td>
                 <td>1.20%</td>
             </tr>
             <tr>
                <td>Debit Cards (Visa, MasterCard, Maestro) (Incl. Platform Fees)</td>
                <td>Up to Rs.2000: 0.40%
                    Above Rs.2000: 0.90%</td>
             </tr>
             
             <tr>
                 <td>Debit Cards (RuPay) (Platform Fees)</td>
                 <td>10.20%</td>
                </tr>
             <tr>
                 <td>UPI (Platform Fees)</td>
                 <td>0.20%</td>
                </tr>
             <tr>
                 <td>NB (HDFC,Axis ) (Incl. Platform Fees)</td>
                 <td>1.60%</td>
                </tr>
             <tr>
                 <td>NB (ICICI, Kotak, Yes,SBI) (Incl. Platform Fees)</td>
                 <td>Rs.20</td>
                </tr>
             <tr>
                 <td>NB (Others) (Incl. Platform Fees)</td>
                 <td>Rs.15</td>
                </tr>
             <tr>
                 <td>Wallets (Jio, Airtel, Mobikwik,Amazon,Freecharge,PhonePe) (Incl. Platform Fees)</td>
                 <td>1.80%</td>
                </tr>
             <tr>
                 <td>Card EMI (Incl. Platform Fees)</td>
                 <td>1.20%</td>
                </tr>
             <tr>
                 <td>International PG (Incl. Platform Fees)</td>
                 <td>2.75%</td>
                </tr>
           </table>
          </div>
        </div>
        <!-- table ends  -->

      </div>
    </section>

  </div>
</div>


