.transcript-container {
    margin: auto;
    /* max-width: 1024px; */
    width: 100%;
    padding: 20px;
    /* background: #FFFEFA; */
    background: #FFFEFB url(../../../assets/img/fee-background.png);
    background-size: contain;
    background-position: 0% 0%;
    color: #343434;
}

.transcript-wrapper {
    border: 4px solid #F6D456;
    padding: 10px;
}

.transcript-main {
    border: 26px solid #F6D456;
    padding: 20px;
}

.mu-logo-fee img {
    /* max-width: 100%; */
    max-width: 300px;
    width: 100%;
}

.mu-logo-fee {
    margin-bottom: 80px;
}

.transcript-heading {
    text-align: center;
    margin-bottom: 60px;
}

.fee-heading {
    font-family: "nunitosans-regular";
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 10px;
    font-weight: 800;
}

.fee-text {
    font-family: "nunitosans-regular";
    font-size: 30px;
    line-height: 120%;
}


.transcript-container table {
    width: 100%;
}

/* .fee-table{
    border: 3.76471px solid rgba(152, 152, 152, 0.1);
} */

.fee-table .top-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 3.76471px solid rgba(152, 152, 152, 0.1);
    border-bottom: 0;
}

.fee-table .top-row h2 {
    font-family: "nunitosans-regular";
    font-size: 28px;
    font-weight: 800;
}

.fee-table .top-row h2 span {
    font-weight: 600;
}

.widht60 {
    width: 60%;
}


/* .main-fee-table thead{
    border-bottom: 3.76471px solid rgba(152, 152, 152, 0.1);
} */

.main-fee-table thead th {
    font-family: "nunitosans-regular";
    font-size: 24px;
    font-weight: 800;
    padding: 10px 20px;
    border: 4px solid rgba(152, 152, 152, 0.1);
}

.main-fee-table tbody {
    border-bottom: 4px solid rgba(152, 152, 152, 0.1);
    border-right: 4px solid rgba(152, 152, 152, 0.1);
}

.main-fee-table tbody td {
    border-left: 4px solid rgba(152, 152, 152, 0.1);
    font-family: "nunitosans-regular";
    font-size: 20px;
    padding: 15px 20px;
    position: relative;
    font-weight: 800;
}

.main-fee-table tbody tr:first-child td {
    padding-top: 30px;
}

.main-fee-table tbody tr:last-child td {
    padding-bottom: 50px;
}

.fee-table .top-row.result-tab {
    border-top: 0;
    border-bottom: 4px solid rgba(152, 152, 152, 0.1);
}

.transcript-message {
    margin-top: 200px;
    text-align: center;
}

.transcript-message p {
    font-family: "nunitosans";
    font-size: 28px;
    line-height: 140%;
    color: #313131;
}
.transcriptDetailsTableOuter{
    margin-top: 20px;
    width: 100%;
}

.transcriptDetailTable{
    width: 100%;
}

.transcriptDetailTable tbody{
    border: 4px solid rgba(152, 152, 152, 0.1);
}

.transcriptDetailTable td{
    border-left: 4px solid rgba(152, 152, 152, 0.1);
    font-family: "nunitosans-regular";
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    font-weight: 800;
}
