<toaster-container></toaster-container>

<div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
        <div class="sh1"></div>
        <div class="sh2"></div>
    </div>
</div>
<div class="transcript-container">

    <div class="transcript-wrapper">

        <div class="transcript-main">

            <div class="mu-logo-fee">
                <img src="../../../assets/img/fee-mu-logo.png" alt="">
            </div>

            <div class="transcript-heading">
                <h2 class="fee-heading">Academic Transcript</h2>
                <p class="fee-text">{{courseData[0]?.Student?.Program?.name | titlecase}}</p>
            </div>


            <div class="fee-table">

                <div class="top-row">
                    <h2>Name : <span>{{courseData[0]?.Student?.firstName | titlecase}} {{courseData[0]?.Student?.lastName | titlecase}}</span></h2>
                    <h2>Roll No : <span>{{courseData[0]?.Student?.registrationNumber}}</span></h2>
                </div>

                <!-- <div class="top-row">
                    <h2>Joined : <span>June 22, 2015</span></h2>
                </div> -->

                <table class="main-fee-table">

                    <thead>
                        <tr>
                            <th class="widht60">Term : {{batch}}</th>
                            <th>Credits</th>
                            <th>Gpa</th>
                            <th>Grade</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let details of courseData">
                            <td>{{details?.CourseRoster?.courseName}}</td>
                            <td>{{details?.CourseRoster?.credits}}</td>
                            <td *ngIf="details?.grades;else noGrade">{{details?.grades | titlecase}}</td>
                            <ng-template #noGrade>
                                <td>-</td>
                            </ng-template>
                            <td *ngIf="details?.gradeValue;else noGradeValue">{{details?.gradeValue | titlecase}}</td>
                            <ng-template #noGradeValue>
                                <td>-</td>
                            </ng-template>
                            <!-- <td>4.00</td> -->
                        </tr>

                      
                    </tbody>

                </table>

               
                <div class="top-row result-tab">
                    <h2>Total Credits : {{totalCredits}}</h2>
                    <h2>TGPA : {{finalTgpa}}</h2>
                </div>

            </div>

            <div class="transcriptDetailsTableOuter">
                <table class="transcriptDetailTable">
                    <tbody>
                        <tr>
                            <td>Inclass credits completed in this term</td>
                            <td>Sum of in-class credits
                            </td>
                        </tr>
                        <tr>
                            <td>Outclass credits completed in this term	</td>
                            <td>Sum of out-class credits
                            </td>
                        </tr>
                        <tr>
                            <td>Term CGPA (Inclass)	</td>
                            <td>Sumproduct (credit, GPA)/Sum of in-class credits
                            </td>
                        </tr>
                        <tr>
                            <td>Term CGPA (Outclass)	</td>
                            <td>Sumproduct (credit, GPA)/Sum of out-class credits
                            </td>
                        </tr>
                        <tr>
                            <td>CGPA (Inclass)	</td>
                            <td>till this term
                            </td>
                        </tr>
                        <tr>
                            <td>CGPA (Outclass)	</td>
                            <td>till this term 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <div class="transcript-message">
                <p>This transcript is a provisional for the current academic record</p>
            </div> -->

        </div>

    </div>

</div>