<!-- <toaster-container [toasterconfig]="config">
</toaster-container> -->
<app-student-header></app-student-header>

<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
      <!-- <h4 class="lt">Master Union</h4> -->
    </div>
  </div>

  <div class="main-body">
    <section class="fees-container">
      <div class="container-fluid">
        <div class="parallel-heading-outer mb10">
          <h3 class="cover-outer boldheading-meadium">
            <span>Assigned Mentors List</span>
          </h3>

        </div>
        <!-- <div class="cover-outer"> -->
        <div class="feeDetailFrom feeSearchOuter float-left">
          <div class="form-group">
            <label class="label-heading">Search Mentor</label>
            <div class="input-group">
              <input type="text" id="inputEnter" class="form-control" ngDefaultControl name="searchParam"
                [(ngModel)]="searchParam" (input)="isSearchType($event.target.value)" placeholder="Search mentor"
                (keyup.enter)="search()">
              <a class="deleteSearch material-icons" *ngIf="isCrossEnable" (click)="resetsearch()">close</a>
              <a (click)="search()" class="material-icons">search</a>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div class="feeDetailFrom pageSortOuter">
          <div class="form-group">
            <label class="label-heading">Show</label>
            <div class="input-group right-arrow">
              <Select id="pageSize" class="form-control  selectpicker" ngDefaultControl name="pageSize"
                [(ngModel)]="pageSize" (change)="search()">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
              </Select>
            </div>
          </div>
        </div>

        <div class="cover-outer fee-detail-tab">

          <div id="content" class="tab-content" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">

              <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                <div class="card-body">
                  <div *ngIf="mentorList?.length>0" class="fee-table-outer text-center table-responsive">
                    <table class="table">
                      <tr>
                        <th>Mentor Name</th>
                        <!-- <th>Email</th>
                        <th>Mobile Number</th> -->
                        <th>Survey</th>
                        <th>Rating Given By Mentor</th>
                      </tr>
                      <tr *ngFor="let list of mentorList;let i =index">
                        <td>{{list?.Mentor.firstName |titlecase}} {{list?.Mentor.lastName |titlecase}}</td>
                        <!-- <td>{{list?.Mentor.email |titlecase}}</td>
                        <td *ngIf="list?.Mentor.mobileNumber">{{list?.Mentor.mobileNumber}}</td> -->
                        <!-- <td *ngIf="!list?.Mentor.mobileNumber">-</td> -->
                        <!-- <td *ngIf="list?.Mentor?.isShowRating; else notShowRating"> <button class="view-prog-btn"
                            routerLink="/mentor/studentRating/{{list?.Student?.id}}/{{list?.Student?.firstName}} {{list?.Student.lastName}}">Rating</button>
                        </td>
                        <ng-template #notShowRating>
                          <td>
                            <button class="view-prog-btn disabled iconDisable">not-Avaliable</button>
                          </td> 
                           <ng-template -->
                        <td> <button class="view-prog-btn" *ngIf="list.isActive;else ratngDisable"
                            routerLink="/student/rateMentor/{{list?.Mentor?.id}}/{{list?.Mentor?.firstName}}">Click</button>
                          <ng-template #ratngDisable>
                            <button class="view-prog-btn" disabled>Click</button>
                          </ng-template>
                        </td>
                        <!-- <ng-template #notShowRating>
                          <td>
                            <button class="view-prog-btn disabled iconDisable">not-Avaliable</button>
                          </td>
                        </ng-template> -->
                        <td class="text-left"> <button class="view-prog-btn"
                          routerLink="/student/showRating/{{list?.Mentor?.id}}/{{list?.Mentor?.firstName}}">View Rating</button>
                      </td>

                      </tr>
                    </table>
                  </div>


                  <nav *ngIf="mentorList?.length>0" aria-label="Page navigation example" class="pagination-outer mb20">
                    <ul class="pagination">
                      <li class="page-item disabled previous ">
                        <a class="page-link " href="javascript:void(0);" (click)="previous() " aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item pitem " [ngClass]="(i==0?'active':'')"
                        *ngFor="let pageNumber of arrayOne(pageCount);let i=index;">
                        <a class="page-link " href="javascript:void(0);" (click)="nextMessage(i+1)">{{(i+1)}}</a>
                      </li>
                      <li class="page-item next disabled">
                        <a class="page-link " href="javascript:void(0);" (click)="next() " aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>



                  <div *ngIf="mentorList?.length== 0" class="no-data-outer">
                    <i class="material-icons">warning</i><span>No Record Found</span>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <app-student-footer></app-student-footer>

  </div>
</div>