<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>

        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <div class="parallel-heading-outer  mb40 ">
                    <h3 class="w-auto boldheading  mr15">Courses </h3>
                   
                        <a class="coin-wallet-btn white-clr"> <span class="material-icons mr10">
                                account_balance_wallet
                            </span> {{leftAvailableCoin}} Coins Available </a>
                   
                </div>



        



                <div class="cover-outer student-added-1 create-survey">
                    <div class="parallel-heading-outer student-added mb20">
                       
                            <ul class="nav nav-tabs students-tabs">
                                <li><a class="active" data-toggle="tab"
                                        href="#home">Active courses for Bids ({{activeCourse?.length}})</a></li>
                                <li><a data-toggle="tab" href="#menu1"
                                        class="">Participated In ({{bidCourses?.length}})</a></li>
                            </ul>
                        
                    </div>
                    <div class="tab-content cover-outer">
                        <div class="tab-pane active show" id="home">
                            <!-- <div class="cover-outer section-padd studentView-course">

                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="student-courseName">
                                            <h4 class="lg-heading mb10">Course Name</h4>
                                            <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa pulvinar
                                                facilisis turpis
                                                massa in convallis. Vivamus quis ornare maecenas fringilla sed massa mauris sagittis
                                                enim <a href="javascript:void(0);"><u class="red-clr"> More</u></a> </p>
            
                                            <h5 class="mb10">Instructor</h5>
                                            <div class="d-flex align-items-center">
                                                <img src="../../../../assets/img/person-profile.jpg" alt="">
                                                <div class="ml10">
                                                    <h6 class="intructor-name">Chandan Sengupta</h6>
                                                    <p>Chief Human Resource Officer at Sandhar Technologies Limited</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-2">
                                        <div class="student-BiddingTime">
                                            <h6 class="mb10">Bidding Time Left</h6>
            
                                            <div class="d-flex bidding-box mb10">
                                                <div class="square-box">
                                                    5 <br> Days
                                                </div>
            
                                                <div class="square-box">
                                                    3 <br> Hours
                                                </div>
            
                                                <div class="square-box">
                                                    10 <br> Minutes
                                                </div>
            
                                                <div class="square-box">
                                                    5 <br> Seconds
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="view-detail-btn"> View Detail </button>
                                            </div>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div> -->
                                   

                            <div class="cover-outer bg-grey-padd20  studentView-course mb20" *ngFor="let ac of activeCourse;let i =index">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="student-courseName">
                                            <h4 class="lg-heading mb10">{{ac?.CourseMaster?.courseName}}</h4>
                                            <div [innerHTML]="ac?.CourseMaster?.description"></div>
                                            <!-- <p class="mb20" *ngIf="!viewMore"> {{ac?.CourseMaster?.description}}  -->
                                                <!-- <a href="javascript:void(0);"><u class="red-clr"> More</u></a> -->
                                            <!-- </p> -->
                                            <p class="mb20" *ngIf="viewMore">{{ac?.CourseMaster?.description}}</p>
            
                                            <h5 class="mb10 mt20">Instructor</h5>
                                            <div class="studentSurvey-title">
                                                <figure class="mb-0"><img class="event-detail-img" 
                                                    src="{{ac?.CourseMaster?.Mentor?.profilePicUrl}}" 
                                                    onerror="this.src='../../../assets/img/avatar.jpg'" alt=""></figure>
                                        
                                               
                                                <div>
                                                    <h6 class="intructor-name mb5">{{ac?.CourseMaster?.Mentor?.firstName | titlecase}} {{ac?.CourseMaster?.Mentor?.lastName | titlecase}}</h6>
                                                   <div class="ins-des">
                                                    <p>{{ac?.CourseMaster?.Mentor?.designation}}</p>
                                                    <div [innerHtml]="ac?.CourseMaster?.Mentor?.about"></div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-2">
                                        <div class="student-BiddingTime float-right">
                                            <!-- <h6 class="mb10">Bidding Time Left</h6> -->
                                            <h6 class="mb10">Bidding Last Date & Time</h6>
            
                                            <div class="d-flex bidding-box mb10">
                                                
                                              <strong> {{ac?.CourseMaster?.courseEndDate | date: 'longDate'}} | {{ac?.CourseMaster?.endTime}}</strong> 
                                                
                                                <!-- <div class="square-box">
                                                    5 <br> Days
                                                </div>
            
                                                <div class="square-box">
                                                    3 <br> Hours
                                                </div>
            
                                                <div class="square-box">
                                                    10 <br> Minutes
                                                </div>
            
                                                <div class="square-box">
                                                    5 <br> Seconds
                                                </div> -->
                                            </div>
                                            <div class="form-group">
                                                <button class="view-detail-btn" (click)="viewCourseDetail(ac?.CourseMaster?.id)"> View Detail </button>
                                            </div>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div>


                         

                            <div *ngIf="activeCourse?.length== 0" class="no-data-outer">
                                <i class="material-icons">warning</i><span>No Record Found</span>
                            </div>
            
                            <!-- <div class="cover-outer section-padd studentView-course mt20">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="student-courseName">
                                            <h4 class="lg-heading mb10">Course Name</h4>
                                            <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa pulvinar
                                                facilisis turpis
                                                massa in convallis. Vivamus quis ornare maecenas fringilla sed massa mauris sagittis
                                                enim <a href="javascript:void(0);"><u class="red-clr"> More</u></a> </p>
            
                                            <h5 class="mb10">Instructor</h5>
                                            <div class="d-flex align-items-center">
                                                <img src="../../../../assets/img/person-profile.jpg" alt="">
                                                <div class="ml10">
                                                    <h6 class="intructor-name">Chandan Sengupta</h6>
                                                    <p>Chief Human Resource Officer at Sandhar Technologies Limited</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-2">
                                        <div class="student-BiddingTime">
                                            <h6 class="mb10">Bidding Time Left</h6>
            
                                            <div class="d-flex bidding-box mb10">
                                                <div class="square-box">
                                                    5 <br> Days
                                                </div>
            
                                                <div class="square-box">
                                                    3 <br> Hours
                                                </div>
            
                                                <div class="square-box">
                                                    10 <br> Minutes
                                                </div>
            
                                                <div class="square-box">
                                                    5 <br> Seconds
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="view-detail-btn"> View Detail </button>
                                            </div>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div> -->
                                   <br><br>
            
                        </div>

                        <div class="tab-pane fade" id="menu1">

                            <!-- <div class="cover-outer bg-grey-padd20 studentView-course">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="student-courseName">
                                            <h4 class="lg-heading mb10">Course Name</h4>
                                            <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa pulvinar
                                                facilisis turpis
                                                massa in convallis. Vivamus quis ornare maecenas fringilla sed massa mauris sagittis
                                                enim <a href="javascript:void(0);"><u class="red-clr"> More</u></a> </p>
            
                                            <h5 class="mb10">Instructor</h5>
                                            <div class="d-flex align-items-center">
                                                <img src="../../../../assets/img/person-profile.jpg" alt="">
                                                <div class="ml10">
                                                    <h6 class="intructor-name">Chandan Sengupta</h6>
                                                    <p>Chief Human Resource Officer at Sandhar Technologies Limited</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-2">
                                        <div class="student-BiddingTime studentView-course">
                                           
                                        
                                            <div class="d-flex bidding-box mb10 align-items-center">
                                                <h5 class="green-clr bidding-review ">Congrats!</h5>
                                                <span class="material-icons green-clr ml10">
                                                    sentiment_satisfied
                                                    </span>
                                            </div>
                                            <p class="mb10">Your bid has been selected</p>
                                            <div class="form-group">
                                                <button class="view-detail-btn"> View Detail </button>
                                            </div>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div> -->


                            <div class="cover-outer bg-grey-padd20 studentView-course mb20" *ngFor="let bidCourse of bidCourses;let i =index">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="student-courseName">
                                            <h4 class="lg-heading mb10">{{bidCourse?.CourseMaster?.courseName}}</h4>
                                            <div [innerHTML]="bidCourse?.CourseMaster?.description"></div>
                                            <!-- <p class="mb20" *ngIf="!viewMoreDesc"> {{bidCourse?.CourseMaster?.description}} -->
                                            <!-- <a href="javascript:void(0);"><u class="red-clr"> More</u></a>  -->
                                            <!-- </p> -->
                                            <p class="mb20" *ngIf="viewMoreDesc">{{bidCourse?.CourseMaster?.description}}</p>
                                            <h5 class="mb10 mt20">Instructor</h5>
                                           
                                            <div class="studentSurvey-title">
                                                <figure class="mb-0"><img class="event-detail-img" 
                                                    src="{{bidCourse?.CourseMaster?.Mentor?.profilePicUrl}}" 
                                                    onerror="this.src='../../../assets/img/avatar.jpg'" alt=""></figure>
                                                <div>
                                                    <h6 class="intructor-name mb5">{{bidCourse?.CourseMaster?.Mentor?.firstName | titlecase}} {{bidCourse?.CourseMaster?.Mentor?.lastName | titlecase}}</h6>
                                                    <div class="ins-des">
                                                        <p>{{bidCourse?.CourseMaster?.Mentor?.designation}}</p>
                                                        <div [innerHtml]="bidCourse?.CourseMaster?.Mentor?.about"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-2">
                                        <div class="student-BiddingTime float-right">
                                           
                                        
                                            <div class="d-flex align-items-center mb20" *ngIf="bidCourse.isSelected=='awarded'">
                                                <div class="bidding-box text-right">
                                                    <h5 class="green-clr bidding-review text-right">Congrats!</h5>
                                                    <p>Your bid has been selected</p>
                                                </div>
                                                <span class="material-icons green-clr ml10">
                                                    sentiment_satisfied
                                                </span>
                                            </div>
                                            <div class="d-flex align-items-center mb20" *ngIf="bidCourse.isSelected=='rejected'">
                                                <div class="bidding-box text-right">
                                                    <h5 class="red-clr bidding-review text-right">Sorry!</h5>
                                                    <p>Your bid has not been selected</p> 
                                                </div> 
                                                <span class="material-icons red-clr ml10">
                                                    sentiment_dissatisfied
                                                </span>  
                                            </div>
                                            <div class="d-flex align-items-center mb20" *ngIf="bidCourse.isSelected=='pending' || bidCourse.isSelected=='selected'">
                                                <div class="bidding-box text-right">
                                                    <h5 class="orange-clr bidding-review text-right">Pending!</h5>
                                                    <p>Bid selection pending</p> 
                                                </div>
                                                <span class="material-icons orange-clr ml10">
                                                    sentiment_neutral
                                                </span>
                                            </div>
                                            <div class="form-group text-right">
                                                <button class="view-detail-btn" (click)="viewBidDetail(bidCourse?.id, bidCourse?.courseId)"> View Detail </button>
                                            </div>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div>
                            <div *ngIf="bidCourses?.length== 0" class="no-data-outer">
                                <i class="material-icons">warning</i><span>No Record Found</span>
                            </div>


                            <!-- <div class="cover-outer bg-grey-padd20 studentView-course mt20">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="student-courseName">
                                            <h4 class="lg-heading mb10">Course Name</h4>
                                            <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa pulvinar
                                                facilisis turpis
                                                massa in convallis. Vivamus quis ornare maecenas fringilla sed massa mauris sagittis
                                                enim <a href="javascript:void(0);"><u class="red-clr"> More</u></a> </p>
            
                                            <h5 class="mb10">Instructor</h5>
                                            <div class="d-flex align-items-center">
                                                <img src="../../../../assets/img/person-profile.jpg" alt="">
                                                <div class="ml10">
                                                    <h6 class="intructor-name">Chandan Sengupta</h6>
                                                    <p>Chief Human Resource Officer at Sandhar Technologies Limited</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-2">
                                        <div class="student-BiddingTime studentView-course">
                                           
                                        
                                            <div class="d-flex bidding-box mb10 align-items-center">
                                                <h5 class="orange-clr bidding-review ">Pending</h5>
                                                <span class="material-icons orange-clr ml10">
                                                    sentiment_neutral
                                                    </span>
                                            </div>
                                            <p class="mb10">Your bid has been selected</p>
                                            <div class="form-group">
                                                <button class="view-detail-btn"> View Detail </button>
                                            </div>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div> -->



                            <!-- <div class="cover-outer bg-grey-padd20 studentView-course mt20 mb20">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <div class="student-courseName">
                                            <h4 class="lg-heading mb10">Course Name</h4>
                                            <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa pulvinar
                                                facilisis turpis
                                                massa in convallis. Vivamus quis ornare maecenas fringilla sed massa mauris sagittis
                                                enim <a href="javascript:void(0);"><u class="red-clr"> More</u></a> </p>
            
                                            <h5 class="mb10">Instructor</h5>
                                            <div class="d-flex align-items-center">
                                                <img src="../../../../assets/img/person-profile.jpg" alt="">
                                                <div class="ml10">
                                                    <h6 class="intructor-name">Chandan Sengupta</h6>
                                                    <p>Chief Human Resource Officer at Sandhar Technologies Limited</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-2">
                                        <div class="student-BiddingTime studentView-course">
                                           
                                        
                                            <div class="d-flex bidding-box mb10 align-items-center">
                                                <h5 class="red-clr bidding-review ">Failed</h5>
                                                <span class="material-icons red-clr ml10">
                                                    sentiment_dissatisfied
                                                    </span>
                                                 
                                            </div>
                                            <p class="mb10">Your bid value was less then others</p>
                                            <div class="form-group">
                                                <button class="view-detail-btn"> View Detail </button>
                                            </div>
                                        </div>
                                    </div>
            
            
                                </div>
                            </div> -->
       
                        </div>
                    </div>
                </div>

                <!-- <div class="cover-outer section-padd mt20 studentView-course">
                    <div class="student-courseName">
                        <h4 class="lg-heading mb10">Course Name</h4>
                        <p class="mb20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa pulvinar facilisis turpis
                            massa in convallis. Vivamus quis ornare maecenas fringilla sed massa mauris sagittis
                            enim <a href="javascript:void(0);"><u class="red-clr"> More</u></a> </p>

                        <h5 class="mb10">Instructor</h5>
                        <div class="d-flex align-items-center">
                            <img src="../../../../assets/img/person-profile.jpg" alt="">
                            <div class="ml10">
                                <h6 class="intructor-name">Chandan Sengupta</h6>
                                <p>Chief Human Resource Officer at Sandhar Technologies Limited</p>
                            </div>
                        </div>
                    </div>
              


                <div class="student-BiddingTime text-right">
                    <h6 class="mb10">Bidding Time Left</h6>

                    <div class="d-flex bidding-box mb10">
                        <div class="square-box">
                            5 <br> Days
                        </div>

                        <div class="square-box">
                            3 <br> Hours
                        </div>

                        <div class="square-box">
                            10 <br> Minutes
                        </div>

                        <div class="square-box">
                            5 <br> Seconds
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="view-detail-btn"> View Detail </button>
                    </div>
                </div>


            </div>  -->




            

             


            </div>

        </section>
    </div>