<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>

        </div>
    </div>

    <div class="main-outer">


        <div class="main-body">

            <div class="cover-outer">

                <section class="fees-container preview-survey">
                    <div class="container-fluid">
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->
                        <div class="d-inline-flex align-items-center float-left ">
                            <div class="red-clr keyboard-back">
                                <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
                            </div>
                            <!-- <div class="ml-3 red-highlight">
                                                Rejected
                                                </div> -->
                        </div>

                        <button class="btn4 float-right d-inline-flex align-items-center"><i
                                class="ph-clipboard"></i>Update</button>
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->

                        <div class="cover-outer clubOuter mt50">
                            <!-- <div class="cover-outer feeDetailFrom-innerimg">
                                                    <div class="coverPicOuter">
                                                        <img src="../../../assets/img/coverBg.jpg" alt="">
                                                        <button class="coverPic-btn">
                                                            <i class="material-icons">photo_camera</i>
                                                            Upload Cover Photo
                                                        </button>
                                                    </div>
                                                    <div class="upload-club-wrapper">
                                                        <figure>
                                                            <img src="../../../assets/img/club-brand.png" alt="">
                                                        </figure>
                            
                                                        <i class="material-icons">photo_camera</i>
                                                    </div>
                                                </div> -->

                            <form class="cover-outer feeDetailFrom mt20">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Student Name</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="title" class="form-control "
                                                        placeholder="write name of event">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10"> Club/Committee Name</label>
                                                <sup class="text-danger">*</sup>

                                                <div class="input-group right-arrow">
                                                    <select (change)="clubSearch()" id="clubId"
                                                        class="form-control selectpicker" placeholder="Select">
                                                        <option disabled value="">Select clubs</option>
                                                        <option *ngFor="let club of clubsList" [value]="club?.id">
                                                            {{club?.name | titlecase}}</option>
                                                    </select>
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                                <!-- <div class="input-group">
                                                                        <input class="form-control" formControlName="clubName"
                                                                            placeholder="write a description">
                                                                        <span class="msg-error d-none"></span>
                                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Name of the event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="title" class="form-control "
                                                        placeholder="write name of event">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Describe the usage of this funding
                                                    during the
                                                    event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="fundingArray"
                                                        class="form-control  multi-select" placeholder=""
                                                        value="Decoration, food">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed time for the event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventTime" type="time" class="form-control"
                                                        placeholder="--Select your time--" value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed date of the event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventDate" type="date" class="form-control"
                                                        placeholder="Write a Title">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Support required for the event
                                                </label>
                                                <!-- <sup class="text-danger">*</sup> -->
                                                <div class="input-group">
                                                    <input formControlName="supportRequired" type="text"
                                                        class="form-control" placeholder="write your support required"
                                                        value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Resources required for the
                                                    event</label>
                                                <!-- <sup class="text-danger">*</sup> -->
                                                <div class="input-group">
                                                    <input formControlName="resourcesRequired" type="text"
                                                        class="form-control"
                                                        placeholder="write your resources required">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Enable rating and reviews</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" [value]="true"
                                                                                type="radio" name="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" 
                                                                                type="radio" ame="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No </span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Visible of all students</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No only for president</span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Event type </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <label class="cont">
                                                        <input formControlName="eventType" checked="" value="internal"
                                                            type="radio" name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Internal Event</span>
                                                    </label>
                                                    <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio"
                                                            name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">External</span>
                                                    </label>
                                                    <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio"
                                                            name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Registration Required</span>
                                                    </label>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Amount Needed </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="amountNeeded" type="number"
                                                        class="form-control" placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Registration required</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label class="cont">
                                                                            <input formControlName="isRegisterableEvent" name="isRegisterableEvent"
                                                                                [value]="true" checked="" type="radio">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">Required</span>
                                                                        </label>
                            
                            
                                                                        <label class="cont">
                                                                            <input formControlName="isRegisterableEvent" name="isRegisterableEvent"
                                                                         type="radio">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No Required</span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group mb25">
                                            <label class="label-heading mb10">Detailed Description of the event </label>
                                            <sup class="text-danger">*</sup>
                                            <div class="input-group">
                                                <textarea class="form-control mh150"
                                                    placeholder="write your detailed description"
                                                    formControlName="description" class="form-control "
                                                    placeholder="write your detailed description"></textarea>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </section>

            </div>
            <app-student-footer></app-student-footer>
        </div>
    </div>
</div>