<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container [toasterconfig]="config">
</toaster-container>
<app-student-header></app-student-header>
<div *ngIf="loading" class="preloader-wrapper">
  <div class="cssloader">
    <div class="sh1"></div>
    <div class="sh2"></div>
    <!-- <h4 class="lt">Master Union</h4> -->
  </div>
</div>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid pl-0 pr-0">
        <h3 class="cover-outer boldheading mb45">Help Desk

          <!-- <span class="borderheading">Details</span> -->
        </h3>

        <div class="cover-outer student-portal-tabbing">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentationtution">
              <a class="nav-link active" id="raise-ticket-tab" data-toggle="tab" href="#raise-ticket" role="tab"
                aria-controls="raise-ticket" aria-selected="true">
                <figure class="mb30">
                  <img src="assets/img/ticket-icon1.png">
                </figure>
                <h6>Raise a New Ticket
                </h6>
                <!-- <span>Rs. 3,25,000</span> -->
              </a>
            </li>
            <li class="nav-item" role="presentationtution">
              <a class="nav-link" id="solved-ticket-tab" data-toggle="tab" href="#solved-ticket" role="tab"
                aria-controls="solved-ticket" aria-selected="false">
                <figure class="mb30">
                  <img src="assets/img/ticket-icon2.png">
                </figure>
                <h6>Ticket Record
                </h6>
                <!-- <span>Rs. 3,72,000</span> -->
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="raise-ticket" role="tabpanelt"
              aria-labelledby="raise-ticket-tab">
              <form class="cover-outer feeDetailFrom ticketD-outer" [formGroup]="addForm">
                <div class=" row-2-col">
                  <div class="form-group w-100 mb25">
                    <!-- <label class="label-heading mb10">Ticket Type
                      <sup class="text-danger">*</sup>
                    </label> -->
                    <!-- <div class="input-group">
                     
                  
                      <label class="cont">
                        <span class="txt">Enquiry</span>
                        <input type="radio" value="Enquiry" formControlName="message_type">
                        <span class="checkmark"></span>
                      </label>
                      <label class="cont">
                        <span class="txt">Feedback</span>
                        <input type="radio" checked="checked" value="Feedback" formControlName="message_type">
                        <span class="checkmark"></span>
                      </label>
                      <label class="cont">
                        <span class="txt">Help</span>
                        <input type="radio" value="help" formControlName="message_type">
                        <span class="checkmark"></span>
                      </label>
                      <label class="cont">
                        <span class="txt">Request</span>
                        <input type="radio" value="Request" formControlName="message_type">
                        <span class="checkmark"></span>
                      </label>
                      <span class="msg-error d-none"></span>
                    </div> -->
                  </div>
                </div>
                <div class=" row-2-col">
                  <div class="form-group mb25">
                    <label class="label-heading">Ticket Category<sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group right-arrow">
                      <select id="myselect" class="form-control pr-0  selectpicker" title="Choose Ticket Category"
                        formControlName="category_name" (change)="categoryChange($event.target.value)">
                        <!-- <option value="" disabled>Choose Category</option> -->
                        <option *ngFor="let c of categoryArray" [value]="c?.id">{{c?.name|titlecase}}</option>
                      </select>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                  <div *ngIf="showSub" class="form-group  mb25">
                    <label class="label-heading">Sub-Category
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group right-arrow">
                      <select class="form-control pr-0 selectpicker" title="Choose Sub Category"
                        formControlName="subCategory_name">
                        <option *ngFor="let sc of subCategoryArray" [value]="sc?.id">{{sc?.name}}</option>
                      </select>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
                <div class=" row-2-col">
                  <div class="form-group  mb25">
                    <label class="label-heading">What is this ticket about?

                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group ">
                      <input type="text" class="form-control"
                        placeholder=" Describe your problem in less than 150 characters." [maxLength]="150"
                        formControlName="subject">
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
                <!-- 
                <div class=" row-2-col">
                  <div class="form-group mb25">
                    <label class="label-heading">Contact No.
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group ">
                      <input type="text" class="form-control" placeholder="Enter your phone no."
                        formControlName="contact_number">
                      <span class="msg-error d-none"></span>
                    </div>
                    <div
                      *ngIf="fval.contact_number.invalid && (fval.contact_number.dirty || fval.contact_number.touched)"
                      class="error-msg">

                      <div *ngIf="fval.contact_number.errors.required">
                        Required
                      </div>
                      <div *ngIf="fval.contact_number.errors.pattern">
                        Invalid contact number
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb25">
                    <label class="label-heading">Email
                      <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="" readonly formControlName="student_email"
                        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                      <span class="msg-error d-none"></span>
                    </div>
                    <div *ngIf="fval.student_email.invalid && (fval.student_email.dirty || fval.student_email.touched)"
                      class="error-msg">

                      <div *ngIf="fval.student_email.errors.required">
                        Required
                      </div>
                      <div *ngIf="fval.student_email.errors.pattern">
                        Invalid email
                      </div>
                    </div>
                  </div>
                  
                </div> -->
                <div class="row-2-col full-width-form-grup">
                  <div class="form-group mb30 count-set">
                    <label class="label-heading">Can you share specific details about the assistance required from us ?

                      <sup class="text-danger">*</sup>
                    </label>
                    <textarea minlength="1" [maxLength]="3000" (ngModelChange)="onChangeTextArea($event)"
                      class="form-control mh170" placeholder="Type your message here.
" formControlName="description">

                    </textarea>

                    <span>{{totalTextCount}}/3000</span>
                  </div>
                </div>
                <div class="cover-outer">
                  <label class="label-heading mb10">Attach File </label>
                  <div class="form-group mb25">


                    <div class="chooseFile-outer">

                      <div (click)="handleFileInput($event.target.files)" required class="chooseFile">Choose File</div>
                        <div class="filenm">
                          <span *ngFor="let files of fileName;let ind =index">{{ind+1}}.{{files}} </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class=" row-2-col">
                  <div class="form-group">
                    <button type="button" class="btn1" id="submit_button" (click)="onSubmit(addForm.value)">SUBMIT
                      <span class="ml-2 material-icons"> arrow_right_alt</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="solved-ticket" role="tabpanelt" aria-labelledby="solved-ticket-tab">
              <div class="ticketD-outer">
                <!-- search nd sort  -->
                <div class="cover-outer">
                  <div class="feeDetailFrom feeSearchOuter lg-width float-left">
                    <div class="form-group w-100">
                      <label class="label-heading">Search</label>
                      <div class="input-group">
                        <input type="text" class="form-control pr50" ngDefaultControl name="searchParam"
                          [(ngModel)]="searchParam" (input)="isSearchType($event.target.value)"
                          placeholder="Search by Ticket Subject or Ticket ID ">
                        <a class="deleteSearch material-icons" *ngIf="isCrossEnable" (click)="resetsearch()">close</a>
                        <a (click)="search()" class="material-icons">search</a>
                      </div>
                    </div>
                  </div>
                  <div class="feeDetailFrom pageSortOuter">
                    <div class="form-group">
                      <label class="label-heading">Show</label>
                      <div class="input-group right-arrow">
                        <Select id="pageSize" class="form-control  selectpicker" ngDefaultControl name="pageSize"
                          [(ngModel)]="pageSize" (change)="search()">
                          <option value="50">50</option>
                          <option value="100">100</option>
                          <option value="150">150</option>
                        </Select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="label-heading">Sort</label>
                      <div class="input-group right-arrow multi-select2">
                        <Select id="sortBy" class="form-control selectpicker" title="By Date" (change)="sortByDate()">
                          <option value="asc">Ascending</option>
                          <option value="dsc">Descending</option>
                        </Select>
                        <span class="msg-error d-none"></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="label-heading">Sort</label>
                      <div class="input-group right-arrow multi-select2">
                        <Select id="sortByStatus" class="form-control selectpicker" title="By Status"
                          (change)="sortByStatus()">
                          <option value="">All</option>
                          <option value="pending">Pending</option>
                          <option value="open">In Progress</option>
                          <option value="solved">Solved</option>
                          <option value="resolved">Resolved</option>
                        </Select>
                        <span class="msg-error d-none"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- search nd sort ends  -->
                <div class="payment-detail-outer table-responsive ticket-conv-table" *ngIf="data?.length > 0">
                  <table class="table t-table-2  payment-detail-table">
                    <tbody>
                      <tr>
                        <th class="text-nowrap"> Ticket ID</th>

                        <th class="text-nowrap">Ticket Created on</th>
                        <th class="text-nowrap">Your Query</th>
                        <th cclass="text-nowrap">Status</th>
                        <th class="text-nowrap text-right">Feedback</th>

                      </tr>
                      <tr *ngFor="let d of data; let i = index">
                        <td *ngIf="d?.UserResponses" (click)="onClickReply(d?.id,d?.organizationStudentId)">
                          <a href="javascript:void(0);" class="red-clr font-weight-bold">
                            <u>{{d?.ticketNumber}}</u></a>
                        </td>
                        <td>{{d?.createdAt | date:'mediumDate'}}</td>

                        <td>
                          <div class="cover-outer des-outer">
                            <div class="t-title">Sub: {{d?.subject}}</div>
                            <div class="t-des-outer">
                              <span class="t-des"
                                [ngClass]="!viewMoreList.includes(i)?'line-clmap':''">{{d?.description}}
                              </span>
                              <span>
                                <a *ngIf="d.description && d.description.length >40" href="javascript:void(0);"
                                  id="readMore" class="red-clr font-weight-bold mt-0"
                                  (click)="viewMore(i)">{{!viewMoreList.includes(i)?'more':'less'}}</a>
                              </span>

                            </div>

                            <a *ngIf="d?.UserResponses" (click)="onClickReply(d?.id,d?.organizationStudentId)"
                              href="javascript:void(0);" class="red-clr font-weight-bold">View Ticket Conversation</a>
                          </div>
                        </td>
                        <td class="text-nowrap" *ngIf="d?.solvedAt==null && d?.status=='open';else solvedat">In Progress
                        </td>
                        <ng-template #solvedat>
                          <td class="text-nowrap" *ngIf="d?.status==null">Pending
                          </td>

                        </ng-template>
                        <ng-container *ngIf="d?.status == 'solved' && d?.studentFeedback == null ;else third">
                          <td>Solved</td>
                        </ng-container>

                        <ng-template #third>
                          <td *ngIf="d?.status == 'solved' && d?.studentFeedback != null ">Resolved</td>
                        </ng-template>

                        <td class="text-right">

                          <ng-container *ngIf="d?.solvedAt==null;else second">Pending </ng-container>
                          <ng-template #second>
                            <ng-container *ngIf="d?.status == 'solved' && d?.studentFeedback == null;else third1">
                              Pending</ng-container>
                          </ng-template>
                          <ng-template #third1>

                            <div class="emoji-outer justify-content-end d-flex">
                              <i [ngClass]="{'active': d?.status == 'solved' && d?.studentFeedback == 'unsatisfied'}"
                                class="material-icons sad emoji mr7"> mood_bad </i>
                              <i [ngClass]="{'active': d?.status == 'solved' && d?.studentFeedback == 'neutral'}"
                                class="material-icons normal emoji mr7"> sentiment_satisfied </i>
                              <i [ngClass]="{'active': d?.status == 'solved' && d?.studentFeedback == 'satisfied'}"
                                class="material-icons happy emoji mr7"> insert_emoticon </i>
                            </div>
                          </ng-template>
                          <!-- <svg class="sad emoji mr7" width="25" height="25" viewBox="0 0 25 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.4897 23C9.70497 23 7.03426 21.8938 5.06512 19.9246C3.09599 17.9555 1.98975 15.2848 1.98975 12.5C1.98975 9.71523 3.09599 7.04451 5.06512 5.07538C7.03426 3.10625 9.70497 2 12.4897 2C15.2745 2 17.9452 3.10625 19.9144 5.07538C21.8835 7.04451 22.9897 9.71523 22.9897 12.5C22.9897 15.2848 21.8835 17.9555 19.9144 19.9246C17.9452 21.8938 15.2745 23 12.4897 23ZM12.4897 24.5C15.6723 24.5 18.7246 23.2357 20.975 20.9853C23.2255 18.7348 24.4897 15.6826 24.4897 12.5C24.4897 9.3174 23.2255 6.26516 20.975 4.01472C18.7246 1.76428 15.6723 0.5 12.4897 0.5C9.30715 0.5 6.2549 1.76428 4.00446 4.01472C1.75403 6.26516 0.489746 9.3174 0.489746 12.5C0.489746 15.6826 1.75403 18.7348 4.00446 20.9853C6.2549 23.2357 9.30715 24.5 12.4897 24.5Z"
                              fill="#A3ABB0" />
                            <path
                              d="M6.91709 19.1495C7.08935 19.249 7.29406 19.2759 7.48619 19.2244C7.67832 19.1729 7.84213 19.0473 7.94159 18.875C8.40226 18.0765 9.06517 17.4134 9.86359 16.9526C10.662 16.4918 11.5677 16.2495 12.4896 16.25C14.4321 16.25 16.1286 17.3045 17.0376 18.875C17.1378 19.0459 17.3014 19.1702 17.4929 19.2208C17.6844 19.2714 17.8881 19.2442 18.0596 19.1452C18.2311 19.0462 18.3565 18.8833 18.4084 18.6922C18.4603 18.5011 18.4345 18.2972 18.3366 18.125C17.7443 17.0985 16.892 16.2461 15.8656 15.6536C14.8391 15.0611 13.6748 14.7495 12.4896 14.75C11.3045 14.7498 10.1402 15.0615 9.11384 15.654C8.08746 16.2464 7.23514 17.0987 6.64259 18.125C6.54314 18.2973 6.51619 18.502 6.56767 18.6941C6.61915 18.8862 6.74484 19.05 6.91709 19.1495ZM10.9896 10.25C10.9896 11.492 10.3176 12.5 9.48959 12.5C8.66159 12.5 7.98959 11.492 7.98959 10.25C7.98959 9.008 8.66159 8 9.48959 8C10.3176 8 10.9896 9.008 10.9896 10.25ZM16.9896 10.25C16.9896 11.492 16.3176 12.5 15.4896 12.5C14.6616 12.5 13.9896 11.492 13.9896 10.25C13.9896 9.008 14.6616 8 15.4896 8C16.3176 8 16.9896 9.008 16.9896 10.25Z"
                              fill="#A3ABB0" />
                          </svg> -->
                          <!-- <svg class="normal emoji mr7" width="25" height="25" viewBox="0 0 25 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.4897 23C9.70497 23 7.03426 21.8938 5.06512 19.9246C3.09599 17.9555 1.98975 15.2848 1.98975 12.5C1.98975 9.71523 3.09599 7.04451 5.06512 5.07538C7.03426 3.10625 9.70497 2 12.4897 2C15.2745 2 17.9452 3.10625 19.9144 5.07538C21.8835 7.04451 22.9897 9.71523 22.9897 12.5C22.9897 15.2848 21.8835 17.9555 19.9144 19.9246C17.9452 21.8938 15.2745 23 12.4897 23ZM12.4897 24.5C15.6723 24.5 18.7246 23.2357 20.975 20.9853C23.2255 18.7348 24.4897 15.6826 24.4897 12.5C24.4897 9.3174 23.2255 6.26516 20.975 4.01472C18.7246 1.76428 15.6723 0.5 12.4897 0.5C9.30715 0.5 6.2549 1.76428 4.00446 4.01472C1.75403 6.26516 0.489746 9.3174 0.489746 12.5C0.489746 15.6826 1.75403 18.7348 4.00446 20.9853C6.2549 23.2357 9.30715 24.5 12.4897 24.5Z"
                              fill="#A3ABB0" />
                            <path
                              d="M10.9897 10.25C10.9897 11.492 10.3177 12.5 9.48975 12.5C8.66175 12.5 7.98975 11.492 7.98975 10.25C7.98975 9.008 8.66175 8 9.48975 8C10.3177 8 10.9897 9.008 10.9897 10.25ZM16.9897 10.25C16.9897 11.492 16.3177 12.5 15.4897 12.5C14.6617 12.5 13.9897 11.492 13.9897 10.25C13.9897 9.008 14.6617 8 15.4897 8C16.3177 8 16.9897 9.008 16.9897 10.25Z"
                              fill="#A3ABB0" />
                            <path d="M7.98975 15.5H16.9897V17.375H7.98975V15.5Z" fill="#A3ABB0" />
                          </svg> -->
                          <!-- <svg class="happy emoji active" width="25" height="24" viewBox="0 0 25 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M6.18975 12C6.06457 11.9998 5.94073 12.0258 5.82614 12.0761C5.71155 12.1265 5.60873 12.2003 5.52426 12.2927C5.43979 12.385 5.37551 12.494 5.33554 12.6126C5.29558 12.7313 5.2808 12.8569 5.29215 12.9816C5.62815 16.6704 8.35215 19.8 12.4897 19.8C16.6273 19.8 19.3501 16.6704 19.6873 12.9816C19.6987 12.8569 19.6839 12.7313 19.6439 12.6126C19.604 12.494 19.5397 12.385 19.4552 12.2927C19.3708 12.2003 19.2679 12.1265 19.1534 12.0761C19.0388 12.0258 18.9149 11.9998 18.7897 12H6.18975ZM12.4897 18C9.78135 18 7.84455 16.224 7.24815 13.8H17.7313C17.1361 16.224 15.1993 18 12.4897 18Z"
                              fill="#A3ABB0" />
                            <path
                              d="M16.3897 8.1C15.9001 8.1 15.5377 8.4444 15.4801 8.832C15.4451 9.06815 15.3178 9.28072 15.126 9.42295C14.9343 9.56517 14.6939 9.62541 14.4577 9.5904C14.2216 9.55539 14.009 9.42801 13.8668 9.23627C13.7246 9.04453 13.6643 8.80415 13.6993 8.568C13.8937 7.26 15.0469 6.3 16.3897 6.3C17.7325 6.3 18.8857 7.26 19.0801 8.568C19.1152 8.80415 19.0549 9.04453 18.9127 9.23627C18.7705 9.42801 18.5579 9.55539 18.3217 9.5904C18.0856 9.62541 17.8452 9.56517 17.6535 9.42295C17.4617 9.28072 17.3344 9.06815 17.2993 8.832C17.2417 8.4444 16.8793 8.1 16.3897 8.1Z"
                              fill="#A3ABB0" />
                            <path
                              d="M7.68015 8.832C7.73775 8.4444 8.10015 8.1 8.58975 8.1C9.08055 8.1 9.44175 8.4444 9.49935 8.832C9.53436 9.06815 9.66174 9.28072 9.85348 9.42295C10.0452 9.56517 10.2856 9.62541 10.5217 9.5904C10.7579 9.55539 10.9705 9.42801 11.1127 9.23627C11.2549 9.04453 11.3152 8.80415 11.2801 8.568C11.0869 7.26 9.93255 6.3 8.58975 6.3C7.24695 6.3 6.09375 7.26 5.89935 8.568C5.86434 8.80415 5.92457 9.04453 6.0668 9.23627C6.20903 9.42801 6.4216 9.55539 6.65775 9.5904C6.8939 9.62541 7.13428 9.56517 7.32602 9.42295C7.51775 9.28072 7.64514 9.06815 7.68015 8.832Z"
                              fill="#A3ABB0" />
                            <path
                              d="M12.4897 0C5.86215 0 0.489746 5.3724 0.489746 12C0.489746 18.6276 5.86215 24 12.4897 24C19.1173 24 24.4897 18.6276 24.4897 12C24.4897 5.3724 19.1173 0 12.4897 0ZM2.28975 12C2.28975 9.29479 3.36439 6.70038 5.27726 4.78751C7.19013 2.87464 9.78454 1.8 12.4897 1.8C15.195 1.8 17.7894 2.87464 19.7022 4.78751C21.6151 6.70038 22.6897 9.29479 22.6897 12C22.6897 14.7052 21.6151 17.2996 19.7022 19.2125C17.7894 21.1254 15.195 22.2 12.4897 22.2C9.78454 22.2 7.19013 21.1254 5.27726 19.2125C3.36439 17.2996 2.28975 14.7052 2.28975 12Z"
                              fill="#A3ABB0" />
                          </svg> -->

                        </td>
                      </tr>

                    </tbody>

                    <!-- <tbody>
                      <tr>
                        <th class="text-nowrap">Ticket No #</th>
                        <th> Date</th>
                        <th>Subject</th>
                        <th>Description </th>
                        <th>Status</th>
                        <th>Reply</th>
                        <th>Are You Satisfied With the Solution?</th>
                      </tr>
                      <tr *ngFor="let d of data; let i = index">
                        <td>{{d?.ticketNumber}} </td>
                        <td>{{d?.createdAt | date:'shortDate'}}</td>
                        <td><button (click)="viewSubject(i)" data-toggle="modal" data-target="#subjectModal"
                            class="view-prog-btn">View</button></td>

                        <td><button (click)="viewDescription(i)" data-toggle="modal" data-target="#descriptionModal"
                            class="view-prog-btn">View</button></td>

                        <td *ngIf="d?.solvedAt==null;else solvedat">In Progress
                        </td>
                        <ng-template #solvedat>
                          <td>Resolved</td>
                        </ng-template>
                        

                        <td *ngIf="d?.UserResponses" (click)="onClickReply(d?.id,d?.organizationStudentId)">
                          <a href="javascript:void(0);" class="primary-clr"><i class="material-icons">reply</i></a>
                        </td>
                        <td>
                          <p *ngIf="(d?.status == 'solved')&&(d?.postiveFeedback ==null && d?.postiveFeedback ==null)"
                            class="action-area">
                            <a (click)="positiveFeedback(d?.id)" href="javascript:void(0);"><span
                                class="material-icons">thumb_up</span></a>
                            <a (click)="negativeFeedback(d?.id)" href="javascript:void(0);"><span
                                class="material-icons">thumb_down</span></a>

                          </p>
                          <p *ngIf="(d?.status == 'open')||(d?.status ==null)" class="action-area">
                            Ticket in Progress

                          </p>
                          <p *ngIf="(d?.status == 'solved')&&(d?.postiveFeedback ==true)" class="action-area">
                            <a class="green-clr1" (click)="positiveFeedback(d?.id)" href="javascript:void(0);"><span
                                class="material-icons green-clr1">thumb_up</span></a>
                            <a (click)="negativeFeedback(d?.id)" href="javascript:void(0);"><span
                                class="material-icons">thumb_down</span></a>
                          </p>
                          <p *ngIf="(d?.status == 'solved')&&(d?.negativeFeedback ==true)" class="action-area">
                            <a (click)="positiveFeedback(d?.id)" href="javascript:void(0);"><span
                                class="material-icons ">thumb_up</span></a>
                            <a class="red-clr" (click)="negativeFeedback(d?.id)" href="javascript:void(0);"><span
                                class="material-icons red-clr">thumb_down</span></a>
                          </p>
                         


                         

                        </td>
                       
                      </tr>
                    </tbody> -->
                  </table>
                </div>
                <div *ngIf="data?.length== 0" class="no-data-outer">
                  <i class="material-icons">warning</i><span>No Record Found</span>
                </div>
                <nav *ngIf="data?.length > 0" aria-label="Page navigation example" class="pagination-outer mt20">
                  <ul class="pagination">
                    <li class="page-item disabled previous ">
                      <a class="page-link " href="javascript:void(0);" (click)="previous() " aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item pitem " [ngClass]="(i==0?'active':'')"
                      *ngFor="let pageNumber of arrayOne(pageCount);let i=index;">
                      <a class="page-link " href="javascript:void(0);" (click)="nextMessage(i+1)">{{(i+1)}}</a>
                    </li>
                    <li class="page-item next disabled">
                      <a class="page-link " href="javascript:void(0);" (click)="next() " aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>

                <!-- ==================new structure====================  -->
                <!-- <div class="payment-detail-outer table-responsive">
                  <table class="table t-table-2  payment-detail-table">
                    <tbody>
                      <tr>
                        <th class="no-wrap">Ticket Created on</th>
                        <th class="no-wrap"> Ticket ID</th>
                        <th class="no-wrap">Your Query</th>
                        <th class="no-wrap">Status</th>
                        <th>How do you rate our customer support?</th>

                      </tr>
                      <tr *ngFor="let d of data; let i = index">
                        <td>{{d?.createdAt | date:'mediumDate'}}</td>
                        <td>{{d?.ticketNumber}} </td>
                        <td>
                          <div class="cover-outer des-outer">
                            <div class="t-title">Sub: {{d?.subject}}</div>
                            <div class="t-des-outer">
                              <div class="t-des line-clmap">{{d?.description}}

                              </div>
                              <a href="javascript:void(0);" id="readMore"
                                class="red-clr font-weight-bold mt-0 cover-outer">more</a>
                            </div>

                            <a *ngIf="d?.UserResponses" (click)="onClickReply(d?.id,d?.organizationStudentId)"
                              href="javascript:void(0);" class="red-clr font-weight-bold">View Ticket Conversation</a>
                          </div>
                        </td>
                        <td *ngIf="d?.solvedAt==null;else solvedat">In Progress
                        </td>
                        <ng-template #solvedat>
                          <td>Resolved</td>
                        </ng-template>
                        <td>




                          <svg class="sad emoji mr7" width="25" height="25" viewBox="0 0 25 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.4897 23C9.70497 23 7.03426 21.8938 5.06512 19.9246C3.09599 17.9555 1.98975 15.2848 1.98975 12.5C1.98975 9.71523 3.09599 7.04451 5.06512 5.07538C7.03426 3.10625 9.70497 2 12.4897 2C15.2745 2 17.9452 3.10625 19.9144 5.07538C21.8835 7.04451 22.9897 9.71523 22.9897 12.5C22.9897 15.2848 21.8835 17.9555 19.9144 19.9246C17.9452 21.8938 15.2745 23 12.4897 23ZM12.4897 24.5C15.6723 24.5 18.7246 23.2357 20.975 20.9853C23.2255 18.7348 24.4897 15.6826 24.4897 12.5C24.4897 9.3174 23.2255 6.26516 20.975 4.01472C18.7246 1.76428 15.6723 0.5 12.4897 0.5C9.30715 0.5 6.2549 1.76428 4.00446 4.01472C1.75403 6.26516 0.489746 9.3174 0.489746 12.5C0.489746 15.6826 1.75403 18.7348 4.00446 20.9853C6.2549 23.2357 9.30715 24.5 12.4897 24.5Z"
                              fill="#A3ABB0" />
                            <path
                              d="M6.91709 19.1495C7.08935 19.249 7.29406 19.2759 7.48619 19.2244C7.67832 19.1729 7.84213 19.0473 7.94159 18.875C8.40226 18.0765 9.06517 17.4134 9.86359 16.9526C10.662 16.4918 11.5677 16.2495 12.4896 16.25C14.4321 16.25 16.1286 17.3045 17.0376 18.875C17.1378 19.0459 17.3014 19.1702 17.4929 19.2208C17.6844 19.2714 17.8881 19.2442 18.0596 19.1452C18.2311 19.0462 18.3565 18.8833 18.4084 18.6922C18.4603 18.5011 18.4345 18.2972 18.3366 18.125C17.7443 17.0985 16.892 16.2461 15.8656 15.6536C14.8391 15.0611 13.6748 14.7495 12.4896 14.75C11.3045 14.7498 10.1402 15.0615 9.11384 15.654C8.08746 16.2464 7.23514 17.0987 6.64259 18.125C6.54314 18.2973 6.51619 18.502 6.56767 18.6941C6.61915 18.8862 6.74484 19.05 6.91709 19.1495ZM10.9896 10.25C10.9896 11.492 10.3176 12.5 9.48959 12.5C8.66159 12.5 7.98959 11.492 7.98959 10.25C7.98959 9.008 8.66159 8 9.48959 8C10.3176 8 10.9896 9.008 10.9896 10.25ZM16.9896 10.25C16.9896 11.492 16.3176 12.5 15.4896 12.5C14.6616 12.5 13.9896 11.492 13.9896 10.25C13.9896 9.008 14.6616 8 15.4896 8C16.3176 8 16.9896 9.008 16.9896 10.25Z"
                              fill="#A3ABB0" />
                          </svg>


                          <svg class="normal emoji mr7" width="25" height="25" viewBox="0 0 25 25" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M12.4897 23C9.70497 23 7.03426 21.8938 5.06512 19.9246C3.09599 17.9555 1.98975 15.2848 1.98975 12.5C1.98975 9.71523 3.09599 7.04451 5.06512 5.07538C7.03426 3.10625 9.70497 2 12.4897 2C15.2745 2 17.9452 3.10625 19.9144 5.07538C21.8835 7.04451 22.9897 9.71523 22.9897 12.5C22.9897 15.2848 21.8835 17.9555 19.9144 19.9246C17.9452 21.8938 15.2745 23 12.4897 23ZM12.4897 24.5C15.6723 24.5 18.7246 23.2357 20.975 20.9853C23.2255 18.7348 24.4897 15.6826 24.4897 12.5C24.4897 9.3174 23.2255 6.26516 20.975 4.01472C18.7246 1.76428 15.6723 0.5 12.4897 0.5C9.30715 0.5 6.2549 1.76428 4.00446 4.01472C1.75403 6.26516 0.489746 9.3174 0.489746 12.5C0.489746 15.6826 1.75403 18.7348 4.00446 20.9853C6.2549 23.2357 9.30715 24.5 12.4897 24.5Z"
                              fill="#A3ABB0" />
                            <path
                              d="M10.9897 10.25C10.9897 11.492 10.3177 12.5 9.48975 12.5C8.66175 12.5 7.98975 11.492 7.98975 10.25C7.98975 9.008 8.66175 8 9.48975 8C10.3177 8 10.9897 9.008 10.9897 10.25ZM16.9897 10.25C16.9897 11.492 16.3177 12.5 15.4897 12.5C14.6617 12.5 13.9897 11.492 13.9897 10.25C13.9897 9.008 14.6617 8 15.4897 8C16.3177 8 16.9897 9.008 16.9897 10.25Z"
                              fill="#A3ABB0" />
                            <path d="M7.98975 15.5H16.9897V17.375H7.98975V15.5Z" fill="#A3ABB0" />
                          </svg>

                          <svg class="happy emoji active" width="25" height="24" viewBox="0 0 25 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M6.18975 12C6.06457 11.9998 5.94073 12.0258 5.82614 12.0761C5.71155 12.1265 5.60873 12.2003 5.52426 12.2927C5.43979 12.385 5.37551 12.494 5.33554 12.6126C5.29558 12.7313 5.2808 12.8569 5.29215 12.9816C5.62815 16.6704 8.35215 19.8 12.4897 19.8C16.6273 19.8 19.3501 16.6704 19.6873 12.9816C19.6987 12.8569 19.6839 12.7313 19.6439 12.6126C19.604 12.494 19.5397 12.385 19.4552 12.2927C19.3708 12.2003 19.2679 12.1265 19.1534 12.0761C19.0388 12.0258 18.9149 11.9998 18.7897 12H6.18975ZM12.4897 18C9.78135 18 7.84455 16.224 7.24815 13.8H17.7313C17.1361 16.224 15.1993 18 12.4897 18Z"
                              fill="#A3ABB0" />
                            <path
                              d="M16.3897 8.1C15.9001 8.1 15.5377 8.4444 15.4801 8.832C15.4451 9.06815 15.3178 9.28072 15.126 9.42295C14.9343 9.56517 14.6939 9.62541 14.4577 9.5904C14.2216 9.55539 14.009 9.42801 13.8668 9.23627C13.7246 9.04453 13.6643 8.80415 13.6993 8.568C13.8937 7.26 15.0469 6.3 16.3897 6.3C17.7325 6.3 18.8857 7.26 19.0801 8.568C19.1152 8.80415 19.0549 9.04453 18.9127 9.23627C18.7705 9.42801 18.5579 9.55539 18.3217 9.5904C18.0856 9.62541 17.8452 9.56517 17.6535 9.42295C17.4617 9.28072 17.3344 9.06815 17.2993 8.832C17.2417 8.4444 16.8793 8.1 16.3897 8.1Z"
                              fill="#A3ABB0" />
                            <path
                              d="M7.68015 8.832C7.73775 8.4444 8.10015 8.1 8.58975 8.1C9.08055 8.1 9.44175 8.4444 9.49935 8.832C9.53436 9.06815 9.66174 9.28072 9.85348 9.42295C10.0452 9.56517 10.2856 9.62541 10.5217 9.5904C10.7579 9.55539 10.9705 9.42801 11.1127 9.23627C11.2549 9.04453 11.3152 8.80415 11.2801 8.568C11.0869 7.26 9.93255 6.3 8.58975 6.3C7.24695 6.3 6.09375 7.26 5.89935 8.568C5.86434 8.80415 5.92457 9.04453 6.0668 9.23627C6.20903 9.42801 6.4216 9.55539 6.65775 9.5904C6.8939 9.62541 7.13428 9.56517 7.32602 9.42295C7.51775 9.28072 7.64514 9.06815 7.68015 8.832Z"
                              fill="#A3ABB0" />
                            <path
                              d="M12.4897 0C5.86215 0 0.489746 5.3724 0.489746 12C0.489746 18.6276 5.86215 24 12.4897 24C19.1173 24 24.4897 18.6276 24.4897 12C24.4897 5.3724 19.1173 0 12.4897 0ZM2.28975 12C2.28975 9.29479 3.36439 6.70038 5.27726 4.78751C7.19013 2.87464 9.78454 1.8 12.4897 1.8C15.195 1.8 17.7894 2.87464 19.7022 4.78751C21.6151 6.70038 22.6897 9.29479 22.6897 12C22.6897 14.7052 21.6151 17.2996 19.7022 19.2125C17.7894 21.1254 15.195 22.2 12.4897 22.2C9.78454 22.2 7.19013 21.1254 5.27726 19.2125C3.36439 17.2996 2.28975 14.7052 2.28975 12Z"
                              fill="#A3ABB0" />
                          </svg>






                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div> -->
                <!-- =================new structure ends==============   -->

              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <app-student-footer></app-student-footer>
  </div>
</div>
<!-- description modal -->

<div class="modal fade feeDetailPopup" id="descriptionModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button aria-label="Close" class="close modal-cross-btn float-right" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <div class="d-flex align-items-center justify-content-between mb20">
          <h5 class="modal-title heading-2" id="exampleModalLongTitle">View Description </h5>
        </div>
        <div class="des-content">
          {{newData}}
        </div>
      </div>
      <!-- <div class="modal-footer">
        
        </div> -->
    </div>
  </div>
</div>
<!-- Subject modal -->

<div class="modal fade feeDetailPopup" id="subjectModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-4">
        <button aria-label="Close" class="close modal-cross-btn float-right" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <div class="d-flex align-items-center justify-content-between mb20">
          <h5 class="modal-title heading-2" id="exampleModalLongTitle">View Subject </h5>
        </div>
        <div class="des-content">
          {{subjectData}}
        </div>
      </div>
      <!-- <div class="modal-footer">
        
        </div> -->
    </div>
  </div>
</div>
<div class="modal fade feeDetailPopup" id="reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body p-4">
        <button aria-label="Close" class="close modal-cross-btn float-right" data-dismiss="modal" type="button">
          <span aria-hidden="true">×</span>
        </button>
        <div class="d-flex align-items-center justify-content-between mb20">
          <h5 class="modal-title heading-2" id="exampleModalLongTitle">View Reply</h5>
        </div>
        <div class="des-content">
          {{reply}}
        </div>
      </div>
      <!-- <div class="modal-footer">
        
        </div> -->
    </div>
  </div>
</div>

<!-- status -->
<div class="modal fade feeDetailPopup" id="exampleModalCenter3" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- <div class="modal-body p-4">
          <button aria-label="Close" class="close modal-cross-btn float-right" data-dismiss="modal" type="button">
            <span  aria-hidden="true">×</span>
          </button>
            <div class="d-flex align-items-center justify-content-between mb20">
              <h5 class="modal-title heading-2" id="exampleModalLongTitle"> View Status </h5>
            </div>
          <div class="des-content">
            <form class="feeDetailFrom">
              <div class="input-group right-arrow">
                  <Select id="status" #patchstatus class="form-control  selectpicker" ngDefaultControl name="statuslist" title="Select Status" [(ngModel)]="statuslist" (change)="patchCheckStatus(patchstatus.value)">
                    <option  value="open">Open</option>
                    <option  value="solved">Solved</option>
      
                  </Select>
              </div>
            </form>
          
          </div>
         </div> -->
      <!-- <div class="modal-footer">
        
        </div> -->


      <div class="modal-body p-4">
        <button type="button" class="close modal-cross-btn float-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex align-items-center justify-content-between mb20">
          <h5 class="modal-title heading-2" id="exampleModalLongTitle"> View Status </h5>
        </div>
        <div class="des-content">
          <form class="feeDetailFrom">
            <div class="status-tag-line"> Enquiry status is: <span class="text-success">{{statuslist |titlecase}}
              </span>
              <small>You can change your status here: </small>
            </div>

            <div class="input-group right-arrow">
              <Select id="status" #patchstatus class="form-control selectpicker" ngDefaultControl name="statuslist"
                title="Select Status" [(ngModel)]="statuslist" (change)="patchCheckStatus(patchstatus.value)">
                <option value="open">Open</option>
                <option value="solved">Solved</option>

              </Select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>