<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50">Event
                    <span class="borderheading">Detail Page</span>
                </h3>

                <div class="cover-outer">
                    <h2 (click)="goBack()" class="red-clr keyboard-back"><span class="mr-2 material-icons">keyboard_backspace</span>Back </h2>         
                </div>

                <div class="cover-outer section-padd">
                    <form class="cover-outer d-flex feeDetailFrom indoor-sport-fest">
                        <figure *ngIf="eventDetail?.EventMaster?.profilePicUrl">
                            <img class="event-detail-img" src="{{eventDetail?.EventMaster?.profilePicUrl}}"
                                onerror="this.src='../../../../assets/img/event-Image.png'" alt="No Image">
                        </figure>
                        <!-- <figure *ngIf="eventDetail?.EventMaster?.profilePicUrl=null || eventDetail?.EventMaster?.profilePicUrl==''">
                            <img class="event-detail-img" src="../../../../assets/img/event-Image.png"
                                 alt="No Image">
                        </figure> -->

                        <div class="cover-outer pl30">
                            <div class="cover-outer mb20">
                                <h1 class="lg-heading">{{eventDetail?.EventMaster?.title | titlecase}}</h1>
                                <span class="txt text-yellow-bg">{{eventDetail?.EventMaster?.ClubMaster?.name | titlecase}}</span>
                            </div>
                            <div class="cover-outer mb20">
                                <p>{{eventDetail?.EventMaster?.description}}</p>
                            </div>

                            <div class="cover-outer mb20">
                                <label class="text-grey mb10"> Club Presidents</label>
                                <div class="cover-outer ">
                                    <div class="student-data-align mb20" *ngFor="let president of eventDetail?.EventMaster?.ClubMaster?.ClubPresidents">
                                    <img src="{{president?.Student?.StudentDetail?.profilePicUrl}}"
                                            onerror="this.src='../../../assets/img/avatar.jpg'" alt="No Image">
                                            {{president?.Student?.firstName | titlecase}}
                                            {{president?.Student?.lastName | titlecase}}
                                    </div>
                                </div>
                                <!-- <button type="button" (click)="goToClubDetail(eventDetail?.EventMaster?.id)" class="btn3 mr10 pt15 pb15">Club Detail</button> -->
                               
                            </div>

                            <div class="cover-outer mb20">
                                <label class="text-grey mb10"> Venue</label>
                                <h4>{{eventDetail?.EventMaster?.eventVenue | titlecase}}</h4>
                            </div>

                            <div class="cover-outer mb20">
                                <label class="text-grey mb10"> Event Date & Time</label>
                                <h4>{{eventDetail?.EventMaster?.eventDateTime | date}} from {{eventStartTime}} to {{eventEndTime}}</h4>
                            </div>

                            <div class="cover-outer mb20">
                                <button type="button" (click)="registerEvent()" class="btn4 mr10 pt15 pb15">Join Event</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
