<!-- <toaster-container [toasterconfig]="config">
</toaster-container> -->
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <!-- <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
        </div>
    </div> -->
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50">Refund
                    <span class="borderheading">Policy</span>
                </h3>
                <div class="cover-outer section-padd">
                    <div class="cover-outer faq-section">
                        <h2 class="lg-heading">What is your tuition fee refund policy?</h2>
                        <p>The admission fee, also referred to as the token fee, is NON-REFUNDABLE and will not be
                            returned under any circumstances.
                            In case a student has to withdraw from the programme, for either academic, personal or
                            administrative reasons, only 50% of the tuition fee will be refunded on a pro rata basis.
                            A pro rata refund will be proportional to the number of terms spent by the student at the
                            programme before opting to drop out. To illustrate, if the tuition fee amount payable for a
                            candidate for our 8-term PGP-TBM were INR 8 Lakh, and a student chose to drop out in the
                            fourth term, s/he will be eligible for a refund of INR 2 lakh
                            No refund shall be made in case a student is expelled from the programme on disciplinary
                            grounds.
                        </p>
                    </div>

                    <div class="cover-outer faq-section">
                        <h2 class="lg-heading">What is your hostel fee refund policy?</h2>
                        <p>The hostel charges correspond to your holding the property for a continued
                            period of 16 months. A pro rata refund can be made only for the laundry and catering charges
                            (in case it has been paid for upfront) if you choose to pursue your industry interface
                            module outside Gurugram.
                            No refund will be made in case a student has to withdraw from the programme, for either
                            academic, personal or administrative reasons.
                            No refund shall be made in case a student is made to evacuate the hostel on disciplinary
                            grounds.</p>
                    </div>

                    <div class="cover-outer faq-section">
                        <h2 class="lg-heading">Can I pay the fees in installments?</h2>
                        <p>After submitting the NON-REFUNDABLE admissions fee,
                             you may pay the balance fee in roughly 3 equal installments. The 
                             first installment is due 1 month before the commencement of the programme,
                             and the subsequent installments will be due in the last week of October
                             and February respectively.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>