<toaster-container [toasterconfig]="config"> </toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>

  <div class="main-body">
    <section class="fees-container preview-survey">
      <div class="container-fluid">
        <div class="cover-outer create-survey">
          <h3 class="cover-outer boldheading mb50">
            Course Preference Preview <span class="borderheading"></span>
          </h3>
          <div class="row">
            <div class="col-lg-12">
              <h4 class="lg-heading mb20">
              Selected courses preferences for the current Term below:
              </h4>
              <div class="cover-outer">
                <a href="javascript:void(0);">
                    <h2 [routerLink]="['/student/courseList']" class="red-clr keyboard-back"><span
                            class="mr-2 material-icons">keyboard_backspace</span>Back </h2>
                </a>
            </div>
              <div
                class="add-ques-inner new2Colum mt20"
                *ngFor="let course of coursesData; index as i ">
                <div class="">
                  <div class="form-group mb25">
                    <label *ngIf="i<course?.CoursePrefrence?.minPreference" class="label-heading"
                    > Preference <b><u>{{ course.preferenceNumber}}</u></b> <sup class="text-danger">*</sup>
                    </label>
                    <label *ngIf="i>=course?.CoursePrefrence?.minPreference" class="label-heading"
                    > Preference <b><u>{{ course.preferenceNumber}} </u></b>
                    </label>
                    <div class="input-group ">
                        <div class="input-group" >
                        <input class="form-control" placeholder="" disabled value="{{ course?.CourseRoster?.courseName }}">
                        <span class="msg-error d-none"></span>
                      </div>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
