<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
        </div>
    </div>

    <div class="main-body">
        <section class="fees-container preview-survey leave-dtl">
            <div class="container-fluid" *ngFor= "let data of userData">
                <h3 class="cover-outer boldheading mb50"><span class="borderheading"> Leave Details</span> </h3>
                <a href="javascript:void(0);">
                    <h2 [routerLink]="['/student/leaveList']" class="red-clr keyboard-back"><span
                            class="mr-2 material-icons">keyboard_backspace</span>Back </h2>
                </a>
                <div class="cover-outer create-survey create-event">
                    <form class="cover-outer d-flex feeDetailFrom">

                        <div class="cover-outer add-ques-inner">
                            <div class="cover-outer">
                                <div class="form-group mb25">
                                    <label class="label-heading">Leave type
                                        <sup class="text-danger">*</sup>
                                    </label>
                                    <p class="label-details">{{data.leaveType |titlecase}}</p>
                                </div>
                            </div>
                            <div class="cover-outer">
                              <div class="form-group mb25">
                                  <label class="label-heading">Leave Status
                                      <sup class="text-danger">*</sup>
                                  </label>
                                  <p *ngIf = "!!data.leaveStatus" class="label-details">{{data.leaveStatus |titlecase}}</p>
                                  <p *ngIf = "!data.leaveStatus" class="label-details">Pending</p>

                              </div>
                            </div>
                            <div class="cover-outer">
                                <div class="form-group mb25">
                                    <label class="label-heading mb10">Description </label>
                                    <sup class="text-danger">*</sup>
                                    <p class="label-details">{{data.Reason}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="cover-outer">
                                        <div class="form-group mb25">
                                            <label class="label-heading">Start Date <sup
                                                    class="text-danger">*</sup></label>
                                            <p class="label-details">{{data.leaveFromDate | date}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="cover-outer">
                                        <div class="form-group mb25">
                                            <label class="label-heading">End Date <sup
                                                    class="text-danger">*</sup></label>
                                            <p class="label-details">{{data.leaveToDate | date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="cover-outer">
                                        <div class="form-group mb25">
                                            <label class="label-heading">Supporting Document</label>
                                            <p *ngIf="data?.uploadDocument!=null;else uploadDocument"class="label-details"><a
                                                (click)="viewUploadDoc(data?.uploadDocument)"
                                                href="javascript:void(0);">
                                                <u class="red-clr">View</u>
                                            </a></p>
                                            <ng-template #uploadDocument>
                                                <p>-</p>
                                            </ng-template>
                                        </div>
                                    </div>

                                </div>
                           
                            </div>
                            <div class="cover-outer subjectlist-outer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading">Subject list <sup
                                                        class="text-danger"></sup></label>
                                             </div>
    
                                        </div>
    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading">Missing Lectures <sup
                                                        class="text-danger">*</sup></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                            
                                
                                <div *ngFor="let subjects of data?.LeaveSubjects"  class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <p class="label-details">{{subjects?.CourseRoster?.courseName | titlecase}}</p>
                                             </div>
    
                                        </div>
    
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <p class="label-details">{{subjects?.courseMissed}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                              
                            </div>
                        </div>
                    </form>
                    <div *ngIf = "!!data.rejectedReason" class="accept-req mt20">
                        <div class="accept-req-comment">
                            <label class="label-heading">Rejected Reason</label>
                            <p>{{data.rejectedReason}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-student-footer></app-student-footer>
    </div>
</div>

