.accept-req {
    display: inline-block;
}

.accept-req-comment {
    margin-top: 20px;
}

.accept-req-comment p {
    background: rgb(0 78 153 / 10%);
    padding: 10px;
    border-radius: 0px 8px 0px 8px;
}
textarea{
    resize: none;
    background: #F8F9FD;
    border: none;
    border-radius: 3px!important;
    padding: 12px 24px;
    height: auto;
    min-height: 120px;
}
.modal-title{
    font-size: 24px;
    font-family: "nunitosans-Bold";
    color: #404040;
    display: inline-block;
    width: 100%;
    /* text-shadow: 1px 1px 0 #404040; */
    line-height: normal;
    margin-bottom: 20px !important;
    line-height: 26px;
}
.modal-hdr{
    position: relative; 
    display: flex;
}
.modal-hdr .close{
    margin-top: -10px;
}
.leave-dtl sup{
    display: none
}

.leave-dtl  label{
    font-weight: bold;
    font-size: 16px;
}
.label-details{
    margin-bottom: 20px;
    font-size: 15px;
}