<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>

        </div>
    </div>

    <div class="main-outer">


        <div class="main-body">

            <section class="fees-container">



                <div class="container-fluid">
                    <div class="student-added-1 create-survey cover-outer payClubMain">
                        <div class="cover-outer">
                            <div class="cover-outer student-added-1 create-survey ">
                                <div class="parallel-heading-outer student-added ">
                                    <div class="feeDetailFrom feeSearchOuter">
                                        <ul class="nav nav-tabs students-tabs">
                                            <li><a (click)="allPublishedEvents()" class="active" data-toggle="tab"
                                                    href="#home">Events</a></li>
                                            <li><a (click)="getAllUnPublishedEvents()" data-toggle="tab"
                                                    href="#menu1">Event Request Status</a></li>


                                        </ul>
                                    </div>
                                    <div class="addNewUserOuter" *ngIf="isAnyClubPresident">
                                        <a class="add-fee-detail " [routerLink]="['/student/createEvent','']">
                                            <i class="material-icons mr10"> add </i>
                                            New Event Request</a>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="cover-outer">
                            <div class="tab-content cover-outer">

                                <div id="home" class="tab-pane fade show active">
                                    <!-- <div class="feeDetailFrom feeSearchOuter float-left">
                                        <span class="txt">1 Courses</span>
                                    </div> -->
                                    <div class="event-state">
                                        <div class="event-nm green"  [ngClass]="showUpcoming? 'active': '' " (click)="upcomingEvents()">
                                            <i class="material-icons ">stop</i>
                                            <p>Upcoming Events</p>
                                        </div>
                                        <div class="event-nm red"  [ngClass]="showPast? 'active': '' " (click)="pastEvents()">
                                            <i class="material-icons ">stop</i>
                                            <p>Past Events</p>
                                        </div>
                                    </div>
                                    <div class="calendar">
                                        <!-- <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg" (click)="showCalendarFunc()">
                                            <path
                                                d="M20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM8 11H4V6H8V11ZM14 11H10V6H14V11ZM20 11H16V6H20V11ZM8 18H4V13H8V18ZM14 18H10V13H14V18ZM20 18H16V13H20V18Z"
                                                fill="black" />
                                        </svg> -->
                                        <i class="ph-table"(click)="showCalendarFunc()"></i>
                                    </div>
                                    <div class="feeDetailFrom pageSortOuter">

                                        <div class="form-group">
                                            <label class="label-heading d-none">Sort By</label>
                                            <div class="input-group right-arrow">
                                                <Select id="eventType" title="By Event Type"
                                                    class="form-control selectpicker" (change)="sortByEventType()">
                                                    <option value="">All</option>
                                                    <option value="external">External</option>
                                                    <option value="internal">Internal</option>
                                                </Select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="feeDetailFrom feeSearchOuter  ">
                                        <div class="form-group w-100"><label class="label-heading d-none">Search
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" ngDefaultControl name="searchParams1"
                                                [(ngModel)]="searchParams1" (input)="isSearchType1($event.target.value)"
                                                placeholder="Search By Event Name" (keyup.enter)="search1()">
                                                <a class="deleteSearch material-icons" *ngIf="isCrossEnable1" (click)="resetsearch1()">close</a>
                                                <a (click)="search1()" class="material-icons">search</a>
                                                <!-- <input class="form-control" name="searchParam"
                                                    placeholder="Search " type="text">
                                                <a class="material-icons">search</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="showPast">
                                        <div class="payment-detail-outer table-responsive" *ngIf="!showCalendar">
                                            <table class="table payment-detail-table">
                                                <tr>
                                                    <th>Event Name</th>
                                                    <th>Club Name</th>
                                                    <th>Date and Time</th>
                                                    <th>Event</th>
                                                    <th>Event Type</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr *ngFor="let past of pastE;index as i">
                                                    <td class="course-1">
                                                        <div class="studentSurvey-title">
                                                            <img src="../../../assets/img/1.png" alt="" class="d-none">
                                                            <p class="ml-2">{{past?.title}}</p>
                                                        </div>
                                                    </td>
                                                    <td>{{past?.clubName}}
                                                    </td>
                                                    <td>
                                                        {{past?.eventDate}}, {{past?.eventTime}} IST
                                                    </td>
                                                    <td class="red">
                                                        Past Events
                                                    </td>
                                                    <td>{{past?.eventType | titlecase}}
                                                    </td>
                                                    <td class="action-dropdown-menu fixedLast">
                                                        <div class="dropdown">
                                                            <button class="btn" type="button" data-toggle="dropdown"><i
                                                                    class="material-icons">
                                                                    more_vert
                                                                </i>
                                                                <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <li class=" pl10" *ngIf="past.isPresident"
                                                                    routerLink="/student/event-details/{{past.id}}">
                                                                    <span class="material-icons mr10"> edit
                                                                    </span> Add Gallery
                                                                </li>
                                                                <li class="pl10"
                                                                    routerLink="/student/event-details/{{past.id}}">
                                                                    <span class="material-icons mr10">
                                                                        remove_red_eye
                                                                    </span> Event Details
                                                                </li>
                                                                

                                                                <!-- <li class="pl10">
                                                                    <span class="material-icons mr10"> delete
                                                                    </span> Delete
                                                                </li> -->
                                                                <div class="small-square"> </div>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div *ngIf="pastE?.length == 0 && !showCalendar"  class="no-data-outer">
                                            <i class="material-icons">warning</i><span>No Record Found</span>
                                        </div>
                                        <div class="cover-outer ml20" *ngIf="showCalendar">
                                            <!-- <button type="button" class="btn4Red float-n event-btn" data-toggle="modal" data-target="#exampleModal" >Event button</button> -->
                                            <full-calendar [options]="calendarOptions"></full-calendar>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="showUpcoming">
                                        <div class="payment-detail-outer table-responsive" *ngIf="!showCalendar">
                                            <table class="table payment-detail-table">
                                                <tr>
                                                    <th>Event Name</th>
                                                    <th>Club Name</th>
                                                    <th>Date and Time</th>
                                                    <th>Event</th>
                                                    <th>Event Type</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr *ngFor="let upcoming of upcomingE">
                                                    <td class="course-1">
                                                        <div class="studentSurvey-title">
                                                            <img src="../../../assets/img/1.png" alt="" class="d-none">
                                                            <p class="ml-2">{{upcoming?.title}}</p>
                                                        </div>
                                                    </td>
                                                    <td>{{upcoming?.clubName}}
                                                    </td>
                                                    <td>
                                                        {{upcoming?.eventDate}}, {{upcoming?.eventTime}} IST
                                                    </td>
                                                    <td class="green">
                                                        Upcoming Events
                                                    </td>
                                                    <td>{{upcoming?.eventType | titlecase}}
                                                    </td>
                                                    <td class="action-dropdown-menu fixedLast">
                                                        <div class="dropdown">
                                                            <button class="btn" type="button" data-toggle="dropdown"><i
                                                                    class="material-icons">
                                                                    more_vert
                                                                </i>
                                                                <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                <!-- <li class=" pl10" *ngIf="upcoming.isPresident"
                                                                    routerLink="/student/event-details/{{upcoming.id}}">
                                                                    <span class="material-icons mr10"> edit
                                                                    </span> Edit
                                                                </li> -->
                                                                <li class="pl10"
                                                                    routerLink="/student/event-details/{{upcoming.id}}">
                                                                    <span class="material-icons mr10">
                                                                        remove_red_eye
                                                                    </span> Event Details
                                                                </li>


                                                                <!-- <li class="pl10" *ngIf="upcoming.isPresident" (click)="eventDelete(upcoming?.id)">
                                                                    <span class="material-icons mr10"> delete
                                                                    </span> Delete
                                                                </li> -->
                                                                <ng-container *ngIf="upcoming?.eventType == 'external'">
                                                                    <li class="pl10" (click)="copyLink(upcoming?.id)">
                                                                        <span class="material-icons mr10"> remove_red_eye
                                                                        </span> Copy link
                                                                    </li>
                                                                </ng-container>
                                                               
                                                                <div class="small-square"> </div>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                         <div *ngIf="upcomingE?.length == 0 && !showCalendar"  class="no-data-outer">
                                            <i class="material-icons">warning</i><span>No Record Found</span>
                                        </div>
                                        <div class="cover-outer ml20" *ngIf="showCalendar">
                                            <!-- <button type="button" class="btn4Red float-n event-btn" data-toggle="modal" data-target="#exampleModal" >Event button</button> -->
                                            <full-calendar [options]="calendarOptions"></full-calendar>
                                        </div>
                                    </ng-container>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <!-- <div class="feeDetailFrom feeSearchOuter float-left">
                                        <span class="txt">1 Courses</span>
                                    </div>
                                    <br><br> -->
                                    <div class="feeDetailFrom pageSortOuter">

                                        <div class="form-group">
                                            <label class="label-heading d-none">Sort By</label>
                                            <div class="input-group right-arrow">
                                                <Select id="eventStatus" ngDefaultControl name="event" title="By Status"
                                                    [(ngModel)]="eventStatus" (change)="getByStatus()"
                                                    class="form-control selectpicker">
                                                    <option value="">All</option>
                                                    <option value="pending">Pending</option>
                                                    <option value="approved">Approved</option>
                                                    <option value="rejected">Rejected</option>
                                                </Select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="feeDetailFrom feeSearchOuter  ">
                                        <div class="form-group w-100"><label class="label-heading d-none">Search
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" ngDefaultControl name="searchParams2"
                                                [(ngModel)]="searchParams2" (input)="isSearchType2($event.target.value)"
                                                placeholder="Search By Event Name" (keyup.enter)="search2()">
                                                <a class="deleteSearch material-icons" *ngIf="isCrossEnable2" (click)="resetsearch2()">close</a>
                                                <a (click)="search2()" class="material-icons">search</a>
                                                <!-- <input class="form-control" name="searchParam"
                                                    placeholder="Search " type="text">
                                                <a class="material-icons">search</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payment-detail-outer table-responsive">
                                        <table class="table payment-detail-table">
                                            <tr>
                                                <th>Event Name</th>
                                                <th>Club Name</th>

                                                <!-- <th>Event</th> -->
                                                <th>Event Type</th>

                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr *ngFor="let unPublished of unPublishedEvents">
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="" class="d-none">
                                                        <p class="ml-2">{{unPublished?.title}}</p>
                                                    </div>
                                                </td>
                                                <td>{{unPublished?.ClubMaster?.name}}
                                                </td>

                                                <!-- <td class="green">
                                                    Upcoming Events
                                                </td> -->
                                                <td>{{unPublished?.eventType | titlecase}}
                                                </td>

                                                <td *ngIf="unPublished?.eventStatus == 'pending'">
                                                    <div class="blue-highlight">Pending</div>
                                                </td>
                                                <td *ngIf="unPublished?.eventStatus == 'approved'">
                                                    <div class="green-highlight">Approved</div>
                                                </td>
                                                <td *ngIf="unPublished?.eventStatus == 'rejected'">
                                                    <div class="red-highlight">Rejected</div>
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li class=" pl10" (click)="goToStatusPage(unPublished?.id)">
                                                                <span class="material-icons mr10"> edit
                                                                </span> Preview & Edit
                                                            </li>
                                                            <!-- <li class="pl10" (click)="eventDelete(unPublished?.id)">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li> -->


                                                            <!-- <li class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li> -->
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                    <div *ngIf="unPublishedEvents?.length == 0"  class="no-data-outer">
                                        <i class="material-icons">warning</i><span>No Record Found</span>
                                    </div>
                                </div>
                                <div id="menu2" class="tab-pane fade">
                                    <!-- <div class="feeDetailFrom feeSearchOuter float-left">
                                        <span class="txt">2 Courses</span>
                                    </div>
                                    <br><br> -->
                                    <div class="payment-detail-outer table-responsive">
                                        <table class="table payment-detail-table">
                                            <tr>
                                                <th>Club Name</th>
                                                <th>President Name</th>
                                                <th>Club Type</th>
                                                <th>Events</th>
                                                <th>Chats</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr>
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="">
                                                        <span class="ml-2">Music Club</span>
                                                    </div>
                                                </td>
                                                <td>Anand krishnan
                                                </td>
                                                <td>
                                                    Sport
                                                </td>
                                                <td>
                                                    4 Events
                                                </td>
                                                <td>Lets Discuss
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">

                                                            <li class="pl10"> <span class="material-icons mr10">
                                                                    remove_red_eye
                                                                </span> Preview</li>

                                                            <li class=" pl10"> <span class="material-icons mr10"> edit
                                                                </span> Edit</li>
                                                            <li class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li>
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <!-- <div id="menu3" class="tab-pane fade">
                                    <div class="payment-detail-outer table-responsive">
                                        <table class="table payment-detail-table">
                                            <tr>
                                                <th>Club Name</th>
                                                <th>President Name</th>
                                                <th>Club Type</th>
                                                <th>Events</th>
                                                <th>Chats</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr>
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="">
                                                        <span class="ml-2">Music Club</span>
                                                    </div>
                                                </td>
                                                <td>Anand krishnan
                                                </td>
                                                <td>
                                                    Sport
                                                </td>
                                                <td>
                                                    4 Events
                                                </td>
                                                <td>Lets Discuss
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">

                                                            <li class="pl10"> <span class="material-icons mr10">
                                                                    remove_red_eye
                                                                </span> Preview</li>

                                                            <li 
                                                                class=" pl10"> <span class="material-icons mr10"> edit
                                                                </span> Edit</li>
                                                            <li  class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li>
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="">
                                                        <span class="ml-2">Music Club</span>
                                                    </div>
                                                </td>
                                                <td>Anand krishnan
                                                </td>
                                                <td>
                                                    Sport
                                                </td>
                                                <td>
                                                    4 Events
                                                </td>
                                                <td>Lets Discuss
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li
                                                                class="pl10"> <span class="material-icons mr10">
                                                                    remove_red_eye
                                                                </span> Preview</li>

                                                            <li 
                                                                class=" pl10"> <span class="material-icons mr10"> edit
                                                                </span> Edit</li>
                                                            <li  class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li>
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <app-student-footer></app-student-footer>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body popup">
                <div class="view-event-box">
                    <div class="cover-outer">
                        <!-- <h2 class="mb15" id="clubTitle"></h2> -->
                        <!-- <h2 class="mb15">{{clubTitle | titlecase}}</h2> -->
                        <div class="event-sec">
                            <p>Event Details</p>
                            <div class="icon-sec">
                                <div class="action-dropdown-menu fixedLast">
                                    <div class="dropdown">
                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                class="material-icons">
                                                more_vert
                                            </i>
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <!-- <li [routerLink]="['/org/preview-bid',unPublishedRow?.id]"
                                                class="pl10"> <span class="material-icons mr10">
                                                    remove_red_eye
                                                </span> Preview</li> -->
                                            <!-- <li *ngIf="isPresident" (click)="goToDetailsPage()" class=" pl10"> <span
                                                    class="material-icons mr10"> edit
                                                </span> Edit</li> -->
                                            <li class="pl10"
                                            (click)="goToDetailsPage()">
                                            <span class="material-icons mr10">
                                                remove_red_eye
                                            </span> Event Details
                                            </li>
                                            <!-- <li (click)="deleteCourse(unPublishedRow?.id)" class="pl10">
                                                <span class="material-icons mr10"> delete
                                                </span> Delete
                                            </li> -->
                                            <div class="small-square"> </div>
                                        </ul>
                                    </div>
                                </div>

                                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                                    <div aria-hidden="true">&times;</div>
                                </button>
                            </div>
                        </div>
                        <div class="img-sec">
                            <img *ngIf="eventCoverPicUrl; else noImg"
                                src="{{eventCoverPicUrl}}" alt="">
                            <ng-template #noImg>
                                <img src="../../../assets/img/coverBg.jpg" alt="">
                            </ng-template>
                            <!-- <img src="../../../assets/img/pop-up-img.jpg" alt="pop-upimg"> -->
                        </div>
                        <div class="event-desc-sec">
                            <h4>{{eventTitle}}</h4>
                            <h6 class="green-highlight">{{clubName}}</h6>

                        </div>
                        <div class="event-time">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.25 3.23077H14.375V2.61538C14.375 2.45217 14.3092 2.29565 14.1919 2.18024C14.0747 2.06484 13.9158 2 13.75 2C13.5842 2 13.4253 2.06484 13.3081 2.18024C13.1908 2.29565 13.125 2.45217 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.45217 6.80915 2.29565 6.69194 2.18024C6.57473 2.06484 6.41576 2 6.25 2C6.08424 2 5.92527 2.06484 5.80806 2.18024C5.69085 2.29565 5.625 2.45217 5.625 2.61538V3.23077H3.75C3.41858 3.23109 3.10083 3.36086 2.86648 3.59161C2.63213 3.82235 2.50033 4.13522 2.5 4.46154V16.7692C2.50033 17.0956 2.63213 17.4084 2.86648 17.6392C3.10083 17.8699 3.41858 17.9997 3.75 18H16.25C16.5814 17.9997 16.8992 17.8699 17.1335 17.6392C17.3679 17.4084 17.4997 17.0956 17.5 16.7692V4.46154C17.4997 4.13522 17.3679 3.82235 17.1335 3.59161C16.8992 3.36086 16.5814 3.23109 16.25 3.23077ZM16.25 6.92308H3.75V4.46154H5.625V5.07692C5.625 5.24013 5.69085 5.39666 5.80806 5.51207C5.92527 5.62747 6.08424 5.69231 6.25 5.69231C6.41576 5.69231 6.57473 5.62747 6.69194 5.51207C6.80915 5.39666 6.875 5.24013 6.875 5.07692V4.46154H13.125V5.07692C13.125 5.24013 13.1908 5.39666 13.3081 5.51207C13.4253 5.62747 13.5842 5.69231 13.75 5.69231C13.9158 5.69231 14.0747 5.62747 14.1919 5.51207C14.3092 5.39666 14.375 5.24013 14.375 5.07692V4.46154H16.25V6.92308Z"
                                    fill="#404040" />
                            </svg>

                            <!-- <p>tue, Aug 31, 2021, 7.00 PM - 8.00 PM</p> -->
                            <p>{{eventDate}} , {{eventTime}}</p>
                        </div>

                        <!-- <div class="ev-box-inner mb15">
                        <div class="cover-outer mr-1">
                            <span>Club President</span>
                                <p id="clubPresident">{{clubPresident | titlecase}} <small class="red-clr">+ 1 more</small> </p>
                            </div>
                        <figure><img 
                            src="../../../assets/img/avatar.jpg" alt="No Image" ></figure>
                        </div> -->
                        <!-- <div class="cover-outer">
                    <span>Club Members</span>
                    <p>50</p>
                    </div> -->
                        <!-- <button type="button" class="btn4 w-100 mt15">View Details</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>