@media(max-width:1199px) {
    .notepad-outer {
        width: 700px;
    }
    .payment-detail-outer {
        overflow-x: auto;
    }
    .myProfileOuter .details-tab-inner {
        width: 270px;
    }
    .stu-details-tab .tab-content {
        width: calc(100% - 270px);
        padding-left: 20px;
    }
    .feeDetailFrom .row-2-col .form-group {
        width: 50%;
    }
    .row-2-col.full-width-form-grup .form-group {
        width: 100%!important;
    }
}

@media(max-width:1024px) {
    button.btn4.float-left.d-inline-flex.align-items-center {
        margin: 0 0 30px;
    }
    .notepad-outer {
        width: 600px;
    }
    .profile-row2Col, .profile-row3Col {
        flex-wrap: wrap;
    }
    .profile-row2Col-inner {
        width: 100%;
    }
    .profile-row2Col-inner:not(last-child) {
        padding-right: 0px;
    }
    .profile-row3Col-inner {
        width: 50%;
        margin-bottom: 10px;
    }
    .profileRight-innerCol {
        flex-wrap: wrap;
    }
    .profileRight-innerCol .w-50 {
        width: auto!important;
    }
    ul.mentor-rating-list li.star {
        padding-right: 10px;
    }
}

@media(max-width:992px) {
    .studentView-course .student-BiddingTime {
        margin-top: 20px;
    }
    .t-table-2 th:nth-child(1), .t-table-2 td:nth-child(1) {
        width: unset
    }
    .t-table-2 th:nth-child(2), .t-table-2 td:nth-child(2) {
        width: unset
    }
    .t-table-2 th:nth-child(3), .t-table-2 td:nth-child(3) {
        width: unset
    }
    .t-table-2 th:nth-child(4), .t-table-2 td:nth-child(4) {
        width: unset
    }
}

@media(min-width:954px) {
    .stu-details-tab .tab-content .collapse {
        display: block;
    }
}

@media(max-width:953px) {
    .stu-details-tab .card-header {
        display: block;
    }
    .feeDetailFrom.feeSearchOuter.lg-width {
        width: 80%;
    }
    .stu-details-tab .tab-content .feeDetailFrom {
        padding: 20px;
        background: #F8F9FD;
    }
    .stu-details-tab .card-header .nav-link {
        background: #F8F9FD;
    }
    .details-inner {
        margin-bottom: 0px;
    }
    .stu-details-tab .detail-tab .card-header a {
        box-shadow: 0 0 4px 0px #ccc;
    }
    .stu-details-tab {
        flex-direction: column;
    }
    .myProfileOuter .tab-content {
        width: 100%;
        padding-left: 0;
    }
    .stu-details-tab ul {
        display: none;
    }
    .stu-details-tab .tab-content>.tab-pane {
        display: inline-block;
        opacity: 1;
        border: 1px solid #efefef!important;
        margin-bottom: 20px;
        width: 100%;
    }
    .myProfileOuter .details-tab-inner {
        width: 100%;
    }
    .card-header .nav-link {
        font-family: 'nunitosans-Bold';
        font-size: 12px;
    }
    figure.person-img-prof {
        width: 200px;
        height: 200px;
    }
    .stu-details-tab ul.nav-tabs .nav-item .nav-link {
        padding: 20px 15px;
    }
    .notepad-outer {
        width: 500px;
    }
    .feeDetailFrom .row-2-col .form-group {
        width: 45.5%
    }
    .feeDetailFrom .row-3-col .form-group:first-child {
        width: 35%
    }
    .feeDetailFrom .row-3-col .form-group:nth-child(2) {
        width: 25%
    }
    .feeDetailFrom .row-3-col .form-group:nth-child(3) {
        width: 28.5%
    }
    /* ticket detail page  */
    .ticketD-outer .row-2-col .form-group {
        width: 100%;
    }
    ul.mentor-rating-list>li.star>i {
        font-size: 2em;
    }
    ul.mentor-rating-list li.star {
        padding-right: 5px;
    }
    /* ticket detail page ends  */
}

@media(max-width:951px) {
    .student-added-1 .parallel-heading-outer .feeSearchOuter {
        margin-top: 10px;
    }
    /* ticket detail page  */
    .ticketD-outer .cont {
        margin-bottom: 10px;
    }
    .student-portal-tabbing>ul li {
        margin-right: 10px;
        width: 46%;
    }
    .tution-installment {
        width: 49%;
    }
    .student-portal-tabbing>ul .nav-item a {
        margin-bottom: 20px;
        padding: 15px;
        width: 100%;
    }
    .rating-text {
        font: 16px/22px 'nunitosans';
    }
    /* ticket detail page ends */
}

@media(max-width:820px) {
    .notepad-outer {
        width: 400px;
        height: 500px;
    }
    .student-PD {
        padding: 30px;
    }
}

@media (max-width:772px) {
    .feeDetailFrom .row-2-col .form-group {
        width: 45.5%
    }
}

@media(min-width:992px) {
    /* .studentView-course .row .col-lg-2 { max-width: 500px;} */
    .studentView-course .row .col-lg-2 {
        max-width: 400px!important;
        flex: 0 0 380px;
    }
    .studentView-course .row .col-lg-10 {
        max-width: calc(100% - 380px);
    }
}

@media(min-width:768px) {
    .fee-detail-tab .nav-tabs {
        display: flex
    }
    .fee-detail-tab .card {
        border: none
    }
    .fee-detail-tab .card .card-header {
        display: none
    }
    .fee-detail-tab .card .collapse {
        display: block
    }
}

@media(max-width:767px) {
    
    .cont{
        width: 100%;
    margin-top: 10px;
    }
    .ticket-ans {
        padding-right:15px;
        
    }
    .ticket-ques {
        padding-left:15px;
    }
    .t-detail {flex-direction:column}
    .lg-width {
        width: 100% !important;
    }
    .students-tabs li a {
        white-space: nowrap;
    }
    ul.nav.nav-tabs.students-tabs {
        flex-wrap: nowrap;
        overflow-y: hidden;
        white-space: nowrap;
        flex-wrap: nowrap;
        min-height: 45px;
        /* overflow-x: scroll; */
    }
    .notepad-outer {
        width: 520px;
        height: 500px;
    }
    .floating-action-notebook {
        left: 20px;
    }
    .fees-container {
        padding: 50px 20px;
    }
    .boldheading {
        font-size: 52px;
        line-height: 55px;
    }
    .hostel-inner-tabbing .nav-tabs .nav-item .nav-link span {
        font: 15px/21px nunitosans-Bold
    }
    .hostel-inner-tabbing .nav-tabs .nav-link.active, .hostel-inner-tabbing .nav-tabs .nav-link {
        padding: 7px 20px;
        min-height: auto
    }
    .hostel-inner-tabbing .nav-tabs .nav-link figure {
        max-width: 34px
    }
    .hostel-inner-tabbing {
        padding: 20px
    }
    .student-prog-right h4 {
        font: 15px/25px nunito_sanssemibold
    }
    .student-prog-outer {
        flex-wrap: wrap;
        margin-bottom: 20px
    }
    .student-prog-left, .student-prog-right {
        width: 100%
    }
    .student-portal-tabbing>ul .nav-item a figure {
        max-width: 35px;
        margin-bottom: 10px
    }
    .student-portal-tabbing>ul .nav-item a {
        padding: 15px
    }
    .tution-installment .txt {
        font: 14px/18px nunito_sanssemibold
    }
    .tution-installment .link2.mt45 {
        margin-top: 35px!important
    }
    .student-portal-tabbing>ul .nav-item a h6 {
        font: 13px/18px nunito_sanssemibold;
        margin-bottom: 10px
    }
    .student-portal-tabbing>ul .nav-item a span {
        font: 18px/21px nunitosans-Bold
    }
    .student-portal-tabbing>ul .nav-item a {
        margin-bottom: 20px
    }
    .student-portal-tabbing>ul li {
        margin-right: 0;
        width: 49%
    }
    .student-portal-tabbing>ul li:last-of-type {
        margin-left: 2%
    }
    .student-portal-tabbing>ul .nav-item a {
        width: 100%
    }
    .tution-installment {
        width: 49%;
        margin: 0 0 20px
    }
    /* .tution-installment:nth-last-of-type(1),.tution-installment:nth-last-of-type(2){margin-bottom:0} */
    .tution-installment:nth-of-type(2n+2) {
        float: right
    }
    .tution-installment-outer {
        justify-content: space-between
    }
    .student-portal-content {
        padding: 30px
    }
    a.add-fee-detail, a.add-fee-detail:link, a.add-fee-detail:visited {
        padding: 12px 15px
    }
    .fee-detail-tab .tab-pane {
        display: block!important;
        opacity: 1;
        margin-bottom: 20px;
        border: 0
    }
    .fee-detail-tab .fade:not(.show) {
        opacity: 1
    }
    .fee-detail-tab .card-header {
        background: #fff;
        border: 0;
        border-left: 2px solid red;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px
    }
    form.login-form {
        padding: 0 10px
    }
    /* preloader css  */
    .preloader-wrapper {
        margin-left: 0px;
        height: 92vh;
        width: 100%
    }
}

@media(max-width:700px) {
    .feeDetailFrom .row-2-col, .row-3-col {
        flex-wrap: wrap;
    }
    .feeDetailFrom .row-2-col .form-group, .feeDetailFrom .row-3-col .form-group {
        width: 100%!important;
        margin-right: 0!important
    }
    .fc-scroller.fc-scroller-liquid-absolute {
        overflow-y: scroll!important;
    }
    .fc .fc-daygrid-body {
        overflow: scroll;
    }
    .fc-toolbar-title {
        font: 19px/17px 'nunitosans-bold'!important;
    }
    .fc-theme-standard td, .fc-theme-standard th {
        width: 100px
    }
}

@media(max-width:660px) {
    .notepad-outer {
        width: 430px;
        height: 500px;
    }
    .bidding-detail-topNav .feeDetailFrom.pageSortOuter {
        display: block;
        width: 100%;
    }
    .bidding-detail-topNav .feeDetailFrom.pageSortOuter .btn4, .bidding-detail-topNav .feeDetailFrom.pageSortOuter .btn4:link, .bidding-detail-topNav .feeDetailFrom.pageSortOuter .btn4:visited {
        padding: 12px 15px;
        font: 13px/15px nunito_sanssemibold;
    }
}

@media(max-width:600px) {
    .fc-custom-header-outer .feeDetailFrom.feeSearchOuter {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .fc-h-event .fc-event-main h4 {
        font: 11px/15px 'nunitosans';
    }
    .fc-h-event .fc-event-main span.text-yellow-bg.text-capitalize {
        font: 8px/12px 'nunitosans';
    }
    .stu-overview-outer {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .stu-overview {
        width: 100%;
        padding-left: 0px;
    }
    .stu-details-tab {
        display: flex;
        flex-direction: column;
    }
    .pay-online-btn-outer button small {
        font: 13px/14px nunito_sanssemibold;
    }
    .stu-details-tab ul {
        flex-direction: row;
        justify-content: space-between;
    }
    .stu-details-tab ul.nav-tabs .nav-item .nav-link {
        font-size: 0;
        width: 100%;
        border-top: 0;
        border-bottom: 0;
    }
    .stu-details-tab ul.nav-tabs .nav-item .nav-link i {
        margin-right: 10px;
    }
    .stu-details-tab ul.nav-tabs .nav-item .nav-link {
        justify-content: center;
    }
    .stu-details-tab .nav-tabs .nav-item {
        width: 20%;
    }
    .stu-details-tab .nav-tabs {
        border-bottom: 0;
    }
    .stu-details-tab ul.nav-tabs .nav-item .nav-link.active {
        border-color: unset;
        border-left: unset;
        border-top: 3px solid #F12A2A;
        border-right: 0;
    }
    .details-tab-inner ul {
        box-shadow: 0 0 9px 4px rgb(0 0 0 / 5%);
    }
    .indoor-sport-fest {
        flex-direction: column;
    }
    .indoor-sport-fest .pl30 {
        padding-left: 0px!important;
    }
}

@media(max-width:575px) {
    button.btn4.float-right {
        margin-top: 20px;
    }
    .addNewUserOuter {
        margin-top: 10px;
    }
    .event-nm {
        margin-left: 10px;
        margin-right: 10px;
    }
    .calendar {
        margin-bottom: 20px;
    }
    .fees-container {
        padding: 30px 0;
    }
    .cover-outer.student-added-1.create-survey {
        padding: 10px!important;
    }
    .view-detail-btn {
        min-width: unset;
        width: 100%;
    }
    .notepad-outer {
        width: 320px;
        bottom: 79px;
        left: 1px;
        height: 400px;
    }
    .hostel-inner-tabbing .nav-tabs .nav-item {
        margin-right: 0
    }
    header span.MU-person-profile {
        width: 33px;
        height: 33px;
    }
    header span.MU-person-profile h2 {
        font-size: 22px;
    }
    .notification-menu span.material-icons {
        font-size: 20px;
    }
    .sub-menu-toggle span.material-icons {
        margin-left: 10px;
    }
    .notification-menu {
        margin-right: 13px;
        top: 4px;
    }
    .sub-menu-toggle span.material-icons {
        font-size: 28px;
    }
    .payment-status p {
        font: 16px/21px 'nunitosans';
    }
    .payment-status .heading-2 {
        font: 24px/37px oswald_semiBold;
    }
    .payment-status span.pay-heading {
        width: auto;
    }
    .payment-status p strong {
        margin-left: 5px;
    }
    .payment-status {
        width: 100%;
        padding: 20px;
    }
}

@media(max-width:500px) {
    /* .feeDetailFrom.feeSearchOuter {
        width: 100%;
        flex-wrap: wrap;
    } */
    .bidding-detail-topNav .feeDetailFrom.pageSortOuter .input-group {
        flex-direction: column;
    }
    .bidding-detail-topNav .feeDetailFrom.pageSortOuter input.form-control {
        width: 100%;
    }
    .fc .fc-toolbar {
        flex-wrap: wrap;
    }
    .fc .fc-toolbar .fc-toolbar-chunk {
        width: 50%;
        margin-top: 10px;
    }
    .fc .fc-toolbar .fc-toolbar-chunk h2.fc-toolbar-title {
        text-align: right;
    }
    .feeDetailFrom.feeSearchOuter.lg-width {
        width: 100%;
    }
    .student-portal-content {
        padding: 20px
    }
    .tution-installment {
        width: 48%
    }
    .btn2 {
        font-size: 12px!important
    }
    .ticketD-outer .cont {
        margin-right: 20px;
    }
    .feeDetailFrom.feeSearchOuter .form-group {
        width: 100%;
        margin-right: 0px;
    }
    .feeDetailFrom.pageSortOuter .form-group {
        margin-left: 0px;
    }
    .feeDetailFrom.feeSearchOuter {
        width: 100%;
        flex-wrap: wrap;
    }
    .feeDetailFrom.pageSortOuter {
        float: none;
        display: unset;
    }
}

@media(max-width:415px) {
    .parallel-heading-outer {
        flex-wrap: wrap
    }
    .parallel-heading-outer .boldheading-meadium {
        width: 100%;
        margin-bottom: 20px
    }
    .tution-installment {
        width: 100%
    }
    .tution-installment:nth-last-of-type(2) {
        margin: 0 0 20px
    }
    ul.mentor-rating-list li.star {
        padding-right: 2px;
    }
}

@media(max-width:400px) {
    .square-box {
        font-size: 10px;
    }
    .floating-action-notebook {
        left: 20px;
    }
    .notepad-outer {
        width: 295px;
        bottom: 79px;
        left: -8px;
    }
    ul.feesD-list li {
        width: 100%
    }
    .login-remember .link1 {
        margin-top: 10px;
        float: left
    }
    .login-remember p {
        width: 100%
    }
    .student-portal-tabbing>ul li {
        width: 48%
    }
    .student-portal-tabbing>ul li:last-of-type {
        margin-left: 4%
    }
    .hostel-inner-tabbing .nav-tabs .nav-link.active, .hostel-inner-tabbing .nav-tabs .nav-link {
        display: flex;
        flex-direction: column;
        padding: 7px 15px
    }
    .hostel-inner-tabbing .nav-tabs .nav-link figure {
        margin: 0 0 5px
    }
    .notificationOuter {
        left: 0px!important;
    }
}

@media (min-width: 1500px) {
    .abc .col-md-6, .abc .col-xl-12 {
        max-width: 33.333333%;
    }
}

@media(max-width:768px) {}

@media (max-width: 1024px) {
    .club-heading-prev-outer .card-sec:first-child {
        padding-left: 20px;
    }
    .feesD-outer, header {
        padding: 20px
    }
    /* side menu toggle css  */
    a.sub-menu-toggle.d-none {
        display: block!important
    }
    .side-menu {
        width: 210px;
        height: 100%;
        margin-left: -217px;
        transition: .5s
    }
    .main-body {
        width: 100%;
        padding: 0;
        display: inline-block;
        min-height: inherit;
        margin-left: 0
    }
    /* side menu toggle css  ends */
    /* .row.f-wrap .col-md-6 {
        max-width: 100%;
        flex: 0 0 100%;
    } */
    .event-state {
        flex-direction: column;
        /* padding: 0; */
        align-items: flex-start;
    }
    .event-nm:not(:first-child) {
        /* margin-left: 0; */
        margin-top: 10px;
    }
    /* .feeDetailFrom.feeSearchOuter{
        float:none;
        width:100%;
    } */
    .bg-grey-padd20 {
        padding: 15px;
    }
    .col-md-6 {
        -ms-flex: 0 0 10%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-md-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .reviews .card-sec {
        width: 100%;
    }
    .preloader-wrapper {
        position: fixed;
        padding: 30px 20px;
        margin-left: 0px;
        margin-top: 60px;
        height: 100vh;
        width: calc(100% - 0px);
        z-index: 6;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .floating-action-notebook {
        left: 20px;
    }
}

@media(max-width:1366px) {
    .coverPicOuter img {
        object-fit: cover;
    }
    /* .button-events-top .btn7:last-child {
        margin-top: 10px;
    } */
    .club-heading-prev-outer.e-preview {
        align-items: center;
        flex-wrap: wrap;
    }
    .club-heading-prev-outer .card-sec {
        width: 100%;
    }
}
/* @media(min-width:1366px)  {
    .heading-3 p.green-highlight {
        margin-left: 0!important; 
        margin-bottom: 5px;
    }

} */
@media(max-width:375px) {
    .event-desc-sec h6 {
        /* margin-top: 10px; */
        margin-left: 0;
    }
    .event-desc-sec {
        justify-content: space-between;
    }
    .ClubP-detail {
        flex-wrap: wrap;
    }
    .ClubP-detail div {
        width: 100%;
        padding-left: 0;
    }
    .heading-3 p.green-highlight {
        margin-left: 10px;
    }
    .ClubP-detail div span {
        margin-top: 5px;
    }
}