<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>

        </div>
    </div>

    <div class="main-outer">


        <div class="main-body">
            <div class="cover-outer">

                <section class="fees-container preview-survey" *ngIf="status == 'rejected'">
                    <div class="container-fluid">
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->
                        <div class="d-inline-flex align-items-center float-left ">
                            <div class="red-clr keyboard-back" (click)="goBack()">
                                <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
                            </div>
                            <div class="ml-3 red-highlight">
                                Rejected
                            </div>
                        </div>

                        <!-- <button class="btn4 float-right d-inline-flex align-items-center" (click)="editEventRequest()">Update</button> -->
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->

                        <div class="cover-outer clubOuter mt50">
                            <!-- <div class="cover-outer feeDetailFrom-innerimg">
                                                    <div class="coverPicOuter">
                                                        <img src="../../../assets/img/coverBg.jpg" alt="">
                                                        <button class="coverPic-btn">
                                                            <i class="material-icons">photo_camera</i>
                                                            Upload Cover Photo
                                                        </button>
                                                    </div>
                                                    <div class="upload-club-wrapper">
                                                        <figure>
                                                            <img src="../../../assets/img/club-brand.png" alt="">
                                                        </figure>
                            
                                                        <i class="material-icons">photo_camera</i>
                                                    </div>
                                                </div> -->
                            Reject Reason : 
                            <div class="ml-3 red-highlight mb20" *ngIf="rejectedReason != null && rejectedReason != 'null'">
                                {{rejectedReason}}
                            </div>
                            <form [formGroup]="eventForm" class="cover-outer feeDetailFrom mt20">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Name of the Event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="title" class="form-control " placeholder="Write name of the event">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10"> Club/Committee Name</label>
                                                <sup class="text-danger">*</sup>

                                                <div class="input-group right-arrow">
                                                    <select formControlName="clubId" (change)="clubChange()" id="clubId"
                                                        class="form-control selectpicker" placeholder="Select">
                                                        <option *ngFor="let club of clubsList" [value]="club?.id">
                                                            {{club?.name | titlecase}}</option>
                                                    </select>
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                                <!-- <div class="input-group">
                                                                        <input class="form-control" formControlName="clubName"
                                                                            placeholder="write a description">
                                                                        <span class="msg-error d-none"></span>
                                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Amount Needed </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="amountNeeded" type="number" onkeyup="if(this.value<0){this.value=this.value * -1}"
                                                     class="form-control" placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Describe the usage of this funding
                                                    during the
                                                    event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="resourcesRequired" type="text" class="form-control" placeholder="Write usage of this funding">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed time for the event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventTime" type="time" class="form-control" placeholder="--Select your time--" value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed date of the event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventDate" type="date" [min]="todayDate" class="form-control" placeholder="Write a Title">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row">

                                                    </div> -->
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Enable rating and reviews</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" [value]="true"
                                                                                type="radio" name="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" 
                                                                                type="radio" ame="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No </span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Visible of all students</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No only for president</span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb25">
                                            <label class="label-heading mb10">Detailed Description of the event </label>
                                            <sup class="text-danger">*</sup>
                                            <div class="input-group">
                                                <textarea class="form-control mh150" formControlName="description" class="form-control " placeholder="Write your detailed description"></textarea>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group ">
                                                <label class="label-heading mb10">Support required for the event
                                                </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="supportRequired" type="text" class="form-control" placeholder="Write your support required" value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                        <div class="cover-outer">
                                            <div class="form-group ">
                                                <label class="label-heading mb10">Resources required for the
                                                    event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="fundingArray" class="form-control  multi-select" placeholder="Write resources required">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Event type </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <label class="cont">
                                                        <input formControlName="eventType" checked="" value="internal"
                                                            type="radio" name="eventType" (change)="onTypeChange($event.target.value)">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Internal Event</span>
                                                    </label>
                                                    <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio"
                                                            name="eventType" (change)="onTypeChange($event.target.value)">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">External Event</span>
                                                    </label>        
                                                    <!-- <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio"
                                                            name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Registration Required</span>
                                                    </label> -->

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6" *ngIf="EventType == 'internal'">
                                        <div class="cover-outer">
                                          <div class="form-group mb25">
                                            <label class="label-heading mb10">Is registration required?
                                            </label>
                                            <sup class="text-danger">*</sup>
                                            <div class="input-group">
                                              <label class="cont">
                                                <input formControlName="isRegisterableEvent" [value]="true" type="radio"
                                                  name="isRegisterableEvent" />
                                                <span class="checkmark"></span>
                                                <span class="txt">Yes</span>
                                              </label>
                                              <label class="cont">
                                                <input formControlName="isRegisterableEvent" [value]="false" type="radio"
                                                  name="isRegisterableEvent" />
                                                <span class="checkmark"></span>
                                                <span class="txt">No</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6" *ngIf="EventType == 'external'">
                                        <div class="cover-outer">
                                          <div class="form-group mb25">
                                            <label class="label-heading mb10">Is public event?
                                            </label>
                                            <!-- <sup class="text-danger">*</sup> -->
                                            <div class="input-group">
                                              <label class="cont">
                                                <input formControlName="isPublic" [value]="true" type="radio" name="isPublic" />
                                                <span class="checkmark"></span>
                                                <span class="txt">Yes</span>
                                              </label>
                                              <label class="cont">
                                                <input formControlName="isPublic" [value]="false" type="radio" name="isPublic" />
                                                <span class="checkmark"></span>
                                                <span class="txt">No</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="cover-outer">
                                        <div class="form-group mb25">
                                          <label class="label-heading mb10">Enable rating and reviews</label>
                                          <!-- <sup class="text-danger">*</sup> -->
                                          <div class="input-group">
                                            <label class="cont">
                                              <input formControlName="enableRating" checked="" [value]="true" type="radio"
                                                name="enableRating" />
                                              <span class="checkmark"></span>
                                              <span class="txt">Yes</span>
                                            </label>
                                            <label class="cont">
                                              <input formControlName="enableRating" checked="" [value]="false" type="radio"
                                                ame="enableRating" />
                                              <span class="checkmark"></span>
                                              <span class="txt">No </span>
                                            </label>
                                          </div>
                                          <span class="msg-error d-none"></span>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                               

                            </form>
                        </div>


                    </div>
                    <!-- <section class="fees-container preview-survey ">
                        <div class="container-fluid">
                            <div class="cover-outer clubOuter">
                                <h3 class="heading-bold-blue"> Leave Comment </h3>
                                <div class="mt30">
                                    <div class="chat-container">
                                        <div class="left-chat">
                                            <div class="left-inner"><img src="../../../assets/img/left-img.png">
                                                <p> The Development Monitoring and Evaluation Office (DMEO) was constituted in September 2015 by merging the erstwhile Program Evaluation Office (PEO) and the was constituted in September 2015 (DMEO) was constituted
                                                    in September 2015 by </p>
                                            </div><span>10:26 am</span>
                                        </div>
                                        <div class="right-chat">
                                            <div class="right-inner"><img src="../../../assets/img/avatar.jpg">
                                                <p> The Development Monitoring and Evaluation Office (DMEO) was constituted
                                                </p>
                                            </div><span>10:26 am</span>
                                        </div>
                                        <div class="left-chat">
                                            <div class="left-inner"><img src="../../../assets/img/left-img.png">
                                                <p> The Development Monitoring and Evaluation Office (DMEO) was constituted in September 2015 by </p>
                                            </div><span>10:26 am</span>
                                        </div>
                                    </div>
                                    <div class="chat-sent-container">
                                        <div class="chat-send-outer"><input placeholder="Send Message" type="text"><a class="send-outer" href=""><i class="ph-paper-plane-tilt"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->
                    <section  class="fees-container preview-survey mt20">
                        <div  class="container-fluid">
                            <div  class="cover-outer clubOuter">
                                <h3  class="heading-bold-blue"> Leave Comment </h3>
                                <div  class="mt30">
                                    <div  class="chat-container">
                                        <ng-container *ngFor="let comment of eventComments">
                                            <div  class="left-chat" *ngIf="comment.userResponseId">
                                                <div  class="left-inner">
                                                    <img  src="../../../assets/img/avatar.jpg">
                                                    <p >{{comment.userComment}}</p>
                                                </div><span >{{comment.createdAt | date : 'medium'}}</span>
                                                <span>{{comment.User.firstName}}</span>
                                            </div>
                                            <div  class="right-chat" *ngIf="comment.studentId">
                                                <div  class="right-inner">
                                                    <!-- <img  src="../../../assets/img/avatar.jpg"> -->
                                                    <img *ngIf="(comment?.Student?.StudentDetail?.profilePicUrl && comment?.Student?.StudentDetail?.profilePicUrl !== 'null'); else noImg"
                                                    src={{comment?.Student?.StudentDetail?.profilePicUrl}} alt="">
                                                    <ng-template #noImg>
                                                        <img src="../../../assets/img/avatar.jpg" alt="">
                                                    </ng-template>
                                                    <p >{{comment.studentComment}}</p>
                                                </div><span >{{comment.createdAt | date : 'medium'}}</span>
                                                <span>{{comment.Student.firstName}}</span>
                                            </div>
                                        </ng-container>
        
                                    </div>
                                    <div  class="chat-sent-container">
                                        <div  class="chat-send-outer"><input  placeholder="Send Message" type="text" [(ngModel)]="responseText" (keyup.enter)="sendMessage()">
                                            <button  class="send-outer" (click)="sendMessage()">
                                                <i 
                                                    class="ph-paper-plane-tilt">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

                <section class="fees-container preview-survey" *ngIf="status == 'pending'">
                    <div class="container-fluid">
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->
                        <div class="d-inline-flex align-items-center float-left ">
                            <div class="red-clr keyboard-back" (click)="goBack()">
                                <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
                            </div>
                            <div class="ml-3 blue-highlight">
                                Pending
                            </div>
                        </div>

                        <button class="btn4 float-right d-inline-flex align-items-center" (click)="editEventRequest()">Update</button>
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->

                        <div class="cover-outer clubOuter mt50">
                            <!-- <div class="cover-outer feeDetailFrom-innerimg">
                                                    <div class="coverPicOuter">
                                                        <img src="../../../assets/img/coverBg.jpg" alt="">
                                                        <button class="coverPic-btn">
                                                            <i class="material-icons">photo_camera</i>
                                                            Upload Cover Photo
                                                        </button>
                                                    </div>
                                                    <div class="upload-club-wrapper">
                                                        <figure>
                                                            <img src="../../../assets/img/club-brand.png" alt="">
                                                        </figure>
                            
                                                        <i class="material-icons">photo_camera</i>
                                                    </div>
                                                </div> -->

                            <form [formGroup]="eventForm" class="cover-outer feeDetailFrom mt20">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Name of Event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="title" class="form-control " placeholder="Write name of event">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10"> Club/Committee Name</label>
                                                <sup class="text-danger">*</sup>

                                                <div class="input-group right-arrow">
                                                    <select formControlName="clubId" (change)="clubChange()" id="clubId"
                                                        class="form-control selectpicker" placeholder="Select">
                                                        <option *ngFor="let club of clubsList" [value]="club?.id">
                                                            {{club?.name | titlecase}}</option>
                                                    </select>
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                                <!-- <div class="input-group">
                                                                        <input class="form-control" formControlName="clubName"
                                                                            placeholder="write a description">
                                                                        <span class="msg-error d-none"></span>
                                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Amount Needed </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="amountNeeded" type="number" onkeyup="if(this.value<0){this.value=this.value * -1}"
                                                     class="form-control" placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Describe the usage of this funding
                                                    during the
                                                    event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="resourcesRequired" type="text" class="form-control" placeholder="Write usage of this funding">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed time for the event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventTime" type="time" class="form-control" placeholder="--Select your time--" value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed date of the event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventDate" type="date" [min]="todayDate" class="form-control" placeholder="Write a Title">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row">

                                                    </div> -->
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Enable rating and reviews</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" [value]="true"
                                                                                type="radio" name="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" 
                                                                                type="radio" ame="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No </span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Visible of all students</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No only for president</span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb25">
                                            <label class="label-heading mb10">Detailed Description of the event </label>
                                            <sup class="text-danger">*</sup>
                                            <div class="input-group">
                                                <textarea class="form-control mh150" formControlName="description" class="form-control " placeholder="Write your detailed description"></textarea>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group ">
                                                <label class="label-heading mb10">Support required for the event
                                                </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="supportRequired" type="text" class="form-control" placeholder="Write your support required" value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                        <div class="cover-outer">
                                            <div class="form-group ">
                                                <label class="label-heading mb10">Resources required for the
                                                    event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="fundingArray" class="form-control  multi-select" placeholder="Write resources required">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Event type </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <label class="cont">
                                                        <input formControlName="eventType" checked="" value="internal" (change)="onTypeChange($event.target.value)"
                                                            type="radio" name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Internal Event</span>
                                                    </label>
                                                    <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio" (change)="onTypeChange($event.target.value)"
                                                            name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">External Event</span>
                                                    </label>        
                                                    <!-- <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio"
                                                            name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Registration Required</span>
                                                    </label> -->

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6" *ngIf="EventType == 'internal'">
                                        <div class="cover-outer">
                                          <div class="form-group mb25">
                                            <label class="label-heading mb10">Is registration required?
                                            </label>
                                            <sup class="text-danger">*</sup>
                                            <div class="input-group">
                                              <label class="cont">
                                                <input formControlName="isRegisterableEvent" [value]="true" type="radio"
                                                  name="isRegisterableEvent" />
                                                <span class="checkmark"></span>
                                                <span class="txt">Yes</span>
                                              </label>
                                              <label class="cont">
                                                <input formControlName="isRegisterableEvent" [value]="false" type="radio"
                                                  name="isRegisterableEvent" />
                                                <span class="checkmark"></span>
                                                <span class="txt">No</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6" *ngIf="EventType == 'external'">
                                        <div class="cover-outer">
                                          <div class="form-group mb25">
                                            <label class="label-heading mb10">Is public event?
                                            </label>
                                            <!-- <sup class="text-danger">*</sup> -->
                                            <div class="input-group">
                                              <label class="cont">
                                                <input formControlName="isPublic" [value]="true" type="radio" name="isPublic" />
                                                <span class="checkmark"></span>
                                                <span class="txt">Yes</span>
                                              </label>
                                              <label class="cont">
                                                <input formControlName="isPublic" [value]="false" type="radio" name="isPublic" />
                                                <span class="checkmark"></span>
                                                <span class="txt">No</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="cover-outer">
                                        <div class="form-group mb25">
                                          <label class="label-heading mb10">Enable rating and reviews</label>
                                          <!-- <sup class="text-danger">*</sup> -->
                                          <div class="input-group">
                                            <label class="cont">
                                              <input formControlName="enableRating" checked="" [value]="true" type="radio"
                                                name="enableRating" />
                                              <span class="checkmark"></span>
                                              <span class="txt">Yes</span>
                                            </label>
                                            <label class="cont">
                                              <input formControlName="enableRating" checked="" [value]="false" type="radio"
                                                name="enableRating" />
                                              <span class="checkmark"></span>
                                              <span class="txt">No </span>
                                            </label>
                                          </div>
                                          <span class="msg-error d-none"></span>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                

                            </form>
                        </div>


                    </div>
                    <!-- <section class="fees-container preview-survey ">
                        <div class="container-fluid">
                            <div class="cover-outer clubOuter">
                                <h3 class="heading-bold-blue"> Leave Comment </h3>
                                <div class="mt30">
                                    <div class="chat-container">
                                        <div class="left-chat">
                                            <div class="left-inner"><img src="../../../assets/img/left-img.png">
                                                <p> The Development Monitoring and Evaluation Office (DMEO) was constituted in September 2015 by merging the erstwhile Program Evaluation Office (PEO) and the was constituted in September 2015 (DMEO) was constituted
                                                    in September 2015 by </p>
                                            </div><span>10:26 am</span>
                                        </div>
                                        <div class="right-chat">
                                            <div class="right-inner"><img src="../../../assets/img/avatar.jpg">
                                                <p> The Development Monitoring and Evaluation Office (DMEO) was constituted
                                                </p>
                                            </div><span>10:26 am</span>
                                        </div>
                                        <div class="left-chat">
                                            <div class="left-inner"><img src="../../../assets/img/left-img.png">
                                                <p> The Development Monitoring and Evaluation Office (DMEO) was constituted in September 2015 by </p>
                                            </div><span>10:26 am</span>
                                        </div>
                                    </div>
                                    <div class="chat-sent-container">
                                        <div class="chat-send-outer"><input placeholder="Send Message" type="text"><a class="send-outer" href=""><i class="ph-paper-plane-tilt"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->
                    <section  class="fees-container preview-survey mt20">
                        <div  class="container-fluid">
                            <div  class="cover-outer clubOuter">
                                <h3  class="heading-bold-blue"> Leave Comment </h3>
                                <div  class="mt30">
                                    <div  class="chat-container">
                                        <ng-container *ngFor="let comment of eventComments">
                                            <div  class="left-chat" *ngIf="comment.userResponseId">
                                                <div  class="left-inner">
                                                    <img  src="../../../assets/img/avatar.jpg">
                                                    <p >{{comment.userComment}}</p>
                                                </div><span >{{comment.createdAt | date : 'medium'}}</span>
                                                <span>{{comment.User.firstName}}</span>
                                            </div>
                                            <div  class="right-chat" *ngIf="comment.studentId">
                                                <div  class="right-inner">
                                                    <!-- <img  src="../../../assets/img/avatar.jpg"> -->
                                                    <img *ngIf="(comment?.Student?.StudentDetail?.profilePicUrl && comment?.Student?.StudentDetail?.profilePicUrl !== 'null'); else noImg"
                                                    src={{comment?.Student?.StudentDetail?.profilePicUrl}} alt="">
                                                    <ng-template #noImg>
                                                        <img src="../../../assets/img/avatar.jpg" alt="">
                                                    </ng-template>
        
                                                    <p >{{comment.studentComment}}</p>
                                                </div><span >{{comment.createdAt | date : 'medium'}}</span>
                                                <span>{{comment.Student.firstName}}</span>
                                            </div>
                                        </ng-container>
        
                                    </div>
                                    <div  class="chat-sent-container">
                                        <div  class="chat-send-outer"><input  placeholder="Send Message" type="text" [(ngModel)]="responseText" (keyup.enter)="sendMessage()">
                                            <button  class="send-outer" (click)="sendMessage()">
                                                <i 
                                                    class="ph-paper-plane-tilt">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                
                <section class="fees-container preview-survey" *ngIf="status == 'approved'">
                    <div class="container-fluid">
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->
                        <div class="d-inline-flex align-items-center float-left ">
                            <div class="red-clr keyboard-back" (click)="goBack()">
                                <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
                            </div>
                            <div class="ml-3 green-highlight">
                                Approved
                            </div>
                        </div>

                        <button class="btn4 float-right d-inline-flex align-items-center" (click)="editApprovedEventRequest()">Request to change</button>
                        <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->

                        <div class="cover-outer clubOuter mt50">
                            

                            <form [formGroup]="eventForm" class="cover-outer feeDetailFrom mt20">
                                <div class="cover-outer feeDetailFrom-innerimg">
                                    <div class="coverPicOuter">
                                        <img *ngIf="eventForm.controls.coverPicUrl.value; else addUploadPic"
                                            src="{{eventForm.controls.coverPicUrl.value}}" alt="">

                                        <ng-template #addUploadPic>
                                            <img src="../../../assets/img/coverBg.jpg" alt="">
                                        </ng-template>
                                        <button class="coverPic-btn" (click)="onUploadCoverPic()">
                                            <i class="material-icons">photo_camera</i>
                                            Upload Cover Photo
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Name of Event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="title" class="form-control " placeholder="Write name of event">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10"> Club/Committee Name</label>
                                                <sup class="text-danger">*</sup>

                                                <div class="input-group right-arrow">
                                                    <select formControlName="clubId" (change)="clubChange()" id="clubId"
                                                        class="form-control selectpicker" placeholder="Select">
                                                        <option *ngFor="let club of clubsList" [value]="club?.id">
                                                            {{club?.name | titlecase}}</option>
                                                    </select>
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                                <!-- <div class="input-group">
                                                                        <input class="form-control" formControlName="clubName"
                                                                            placeholder="write a description">
                                                                        <span class="msg-error d-none"></span>
                                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Amount Needed </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="amountNeeded" type="number" onkeyup="if(this.value<0){this.value=this.value * -1}"
                                                    class="form-control" placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Describe the usage of this funding
                                                    during the
                                                    event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="resourcesRequired"  type="text" class="form-control" placeholder="Write usage of this funding">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed time for the event </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventTime" type="time" class="form-control" placeholder="--Select your time--" value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Proposed date of the event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="eventDate" type="date" [min]="todayDate" class="form-control" placeholder="Write a Title">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row">

                                                    </div> -->
                                <div class="row">
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Enable rating and reviews</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" [value]="true"
                                                                                type="radio" name="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" 
                                                                                type="radio" ame="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No </span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                    <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Visible of all students</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No only for president</span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb25">
                                            <label class="label-heading mb10">Detailed Description of the event </label>
                                            <sup class="text-danger">*</sup>
                                            <div class="input-group">
                                                <textarea class="form-control mh150" placeholder="Write your detailed description" formControlName="description" class="form-control " placeholder="Write your detailed description"></textarea>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group ">
                                                <label class="label-heading mb10">Support required for the event
                                                </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="supportRequired" type="text" class="form-control" placeholder="Write your support required" value="">
                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                        <div class="cover-outer">
                                            <div class="form-group ">
                                                <label class="label-heading mb10">Resources required for the
                                                    event</label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input formControlName="fundingArray" class="form-control  multi-select" placeholder="Write resources required">

                                                </div>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Event type </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <label class="cont">
                                                        <input formControlName="eventType" checked="" value="internal"
                                                            type="radio" name="eventType" (change)="onTypeChange($event.target.value)">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Internal Event</span>
                                                    </label>
                                                    <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio"
                                                            name="eventType" (change)="onTypeChange($event.target.value)">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">External Event</span>
                                                    </label>        
                                                    <!-- <label class="cont">
                                                        <input formControlName="eventType" value="external" type="radio"
                                                            name="eventType">
                                                        <span class="checkmark"></span>
                                                        <span class="txt">Registration Required</span>
                                                    </label> -->

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6" *ngIf="EventType == 'internal'">
                                        <div class="cover-outer">
                                          <div class="form-group mb25">
                                            <label class="label-heading mb10">Is registration required?
                                            </label>
                                            <sup class="text-danger">*</sup>
                                            <div class="input-group">
                                              <label class="cont">
                                                <input formControlName="isRegisterableEvent" [value]="true" type="radio"
                                                  name="isRegisterableEvent" />
                                                <span class="checkmark"></span>
                                                <span class="txt">Yes</span>
                                              </label>
                                              <label class="cont">
                                                <input formControlName="isRegisterableEvent" [value]="false" type="radio"
                                                  name="isRegisterableEvent" />
                                                <span class="checkmark"></span>
                                                <span class="txt">No</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6" *ngIf="EventType == 'external'">
                                        <div class="cover-outer">
                                          <div class="form-group mb25">
                                            <label class="label-heading mb10">Is public event?
                                            </label>
                                            <!-- <sup class="text-danger">*</sup> -->
                                            <div class="input-group">
                                              <label class="cont">
                                                <input formControlName="isPublic" [value]="true" type="radio" name="isPublic" />
                                                <span class="checkmark"></span>
                                                <span class="txt">Yes</span>
                                              </label>
                                              <label class="cont">
                                                <input formControlName="isPublic" [value]="false" type="radio" name="isPublic" />
                                                <span class="checkmark"></span>
                                                <span class="txt">No</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="cover-outer">
                                        <div class="form-group mb25">
                                          <label class="label-heading mb10">Enable rating and reviews</label>
                                          <!-- <sup class="text-danger">*</sup> -->
                                          <div class="input-group">
                                            <label class="cont">
                                              <input formControlName="enableRating" checked="" [value]="true" type="radio"
                                                name="enableRating" />
                                              <span class="checkmark"></span>
                                              <span class="txt">Yes</span>
                                            </label>
                                            <label class="cont">
                                              <input formControlName="enableRating" checked="" [value]="false" type="radio"
                                                ame="enableRating" />
                                              <span class="checkmark"></span>
                                              <span class="txt">No </span>
                                            </label>
                                          </div>
                                          <span class="msg-error d-none"></span>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                               

                            </form>
                        </div>


                    </div>
                    <section  class="fees-container preview-survey mt20">
                        <div  class="container-fluid">
                            <div  class="cover-outer clubOuter">
                                <h3  class="heading-bold-blue"> Leave Comment </h3>
                                <div  class="mt30">
                                    <div  class="chat-container">
                                        <ng-container *ngFor="let comment of eventComments">
                                            <div  class="left-chat" *ngIf="comment.userResponseId">
                                                <div  class="left-inner">
                                                    <img  src="../../../assets/img/avatar.jpg">
                                                    <p >{{comment.userComment}}</p>
                                                </div><span >{{comment.createdAt | date : 'medium'}}</span>
                                                <span>{{comment.User.firstName}}</span>
                                            </div>
                                            <div  class="right-chat" *ngIf="comment.studentId">
                                                <div  class="right-inner">
                                                    <!-- <img  src="../../../assets/img/avatar.jpg"> -->
                                                    <img *ngIf="(comment?.Student?.StudentDetail?.profilePicUrl && comment?.Student?.StudentDetail?.profilePicUrl !== 'null'); else noImg"
                                                    src={{comment?.Student?.StudentDetail?.profilePicUrl}} alt="">
                                                    <ng-template #noImg>
                                                        <img src="../../../assets/img/avatar.jpg" alt="">
                                                    </ng-template>
        
                                                    <p >{{comment.studentComment}}</p>
                                                </div><span >{{comment.createdAt | date : 'medium'}}</span>
                                                <span>{{comment.Student.firstName}}</span>
                                            </div>
                                        </ng-container>
        
                                    </div>
                                    <div  class="chat-sent-container">
                                        <div  class="chat-send-outer"><input  placeholder="Send Message" type="text" [(ngModel)]="responseText" (keyup.enter)="sendMessage()">
                                            <button  class="send-outer" (click)="sendMessage()">
                                                <i 
                                                    class="ph-paper-plane-tilt">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

            </div>




            <app-student-footer></app-student-footer>
        </div>
    </div>
</div>
