<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50">My
                    <span class="borderheading">Events</span>
                </h3>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
              <div class="cover-outer fc-custom-header-outer">
                  <div class="feeDetailFrom feeSearchOuter float-left">
                    <div class="form-group">
                      <label class="label-heading">Search Event</label>
                      <div class="input-group">
                        <input type="text" class="form-control" ngDefaultControl name="searchParam" [(ngModel)]="searchParam"
                          placeholder="Search by event name" (input)="isSearchType($event.target.value)" (keyup.enter)="search()">
                        <a *ngIf="isCrossEnable" (click)="resetsearch()" class="deleteSearch material-icons">close</a>
                        <a (click)="search()" class="material-icons">search</a>
                      </div>
                  </div>
                  <div class="fc-status-outer">
                    <div class="fc-active">
                      <p class="input-group">Active Events ({{activeCount}})</p>
                  </div>
                  <div class="fc-upcoming">
                      <p class="input-group">Upcoming Events ({{upcomingCount}})</p>
                  </div>
                  <div class="fc-past">
                      <p class="input-group">Past Events ({{pastCount}})</p>
                  </div>
                  </div>
                    
                  </div>
                  <div class="feeDetailFrom pageSortOuter">
                  
                    <div class="form-group">
                        <label class="label-heading">Sort By</label>
                        <div class="input-group right-arrow">
                          <Select id="club" ngDefaultControl name="club" title="By Club" [(ngModel)]="club"
                            (change)="clubsSearch()" class="form-control selectpicker">
                            <option *ngFor="let club of orgClubsData" [value]=club?.id>{{club?.name | titlecase}}</option>
                            <option>Reset</option>
                          </Select>
                        </div>
                      </div>
                      
                </div>
              </div>
                
                <div class="cover-outer">
                    <full-calendar [options]="calendarOptions"></full-calendar>
                </div>
            </div>
            
        </section>
    </div>

</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="view-event-box">
                <div class="cover-outer">
                    <!-- <h2 class="mb15" id="clubTitle"></h2> -->
                    <h2 class="mb15">{{clubTitle | titlecase}}</h2>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                      <div aria-hidden="true">&times;</div>
                    </button>
                    <div class="ev-box-inner mb15">
                      <div class="cover-outer mr-1">
                           <span>Club President</span>
                            <p id="clubPresident">{{clubPresident | titlecase}} <small class="red-clr">+ 1 more</small> </p>
                        </div>
                      <figure><img 
                        src="../../../assets/img/avatar.jpg" alt="No Image" ></figure>
                    </div>
                  <!-- <div class="cover-outer">
                  <span>Club Members</span>
                 <p>50</p>
                  </div> -->
                    <button type="button" class="btn4 w-100 mt15">View Details</button>
                 </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>


