<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container [toasterconfig]="config">
</toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
      <!-- <h4 class="lt">Master Union</h4> -->
    </div>
  </div>
  <div class="main-body main-fee-slip pt-0">

    <!-- ///////////////////////////// pdf formet///////////////////// -->

    <!-- <div class="cover-outer">
      <button class="add-fee-detail mt30 mb30" (click)="downloadPdf()">Download Fee Receipt</button>
    </div> -->


    <div class="cover-outer">
      <div class="contianer certificatePDF" id="downloadPdfId">
        <div class="certificate">
          <div class="header header-receipt">
            <img class="logo" src="../../../assets/downloadRecipt/img/new-logo.png">
            <span class="office-fin-text">Office of Finance</span>
          </div>
          <div class="content-section">
            <div class="receipt-no-outer">
              <div class="receipt-no-left">
                <!-- <h4>Receipt No:</h4><br> -->
                <p>Receipt No:<b> {{slipData?.FeeTransaction?.receiptNumber}}</b></p>
              </div>
              <div class="receipt-no-right">
                <span>Receipt Issue Date: <strong>{{slipData?.FeeTransaction?.paidOn | date}}</strong></span>
              </div>
            </div>
            <p class="certificate-text">
              Dear {{slipData?.Student?.firstName}} {{slipData?.Student?.lastName}}, <br>
              <strong>Address:</strong> {{slipData?.Student?.StudentDetail?.address}}<br>
              <strong>Place of Supply:
              </strong>
              <!-- {{slipData?.Student?.StudentDetail?.city}},{{slipData?.Student?.StudentDetail?.state}}<br> -->
              Gurugram<br>
              <!-- <strong>Address:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit<br>
            Phasellus in nibh cursus XXXXXX<br>
            <strong>Place of Supply:</strong> Delhi<br>
            Whether the TAX is payable on reverse charge basis - <strong>No</strong> -->
              Whether the TAX is payable on reverse charge basis - <strong>No</strong>
            </p>
            <!-- <p class="certificate-text">
          Mr./Ms. XXXXXXX, <br>
          Address: XXXX,XXXXXX,XXXXX<br>
          Place of Supply : Delhi
        </p> -->
            <table class="receipt-table-outer text-center" cellspacing="0">
              <tr>
                <th>Sr. No </th>
                <th colspan="2">Description </th>
                <th>Amount</th>
              </tr>
              <tr *ngIf="!slipData?.isAllInstallmentsPaidOnce && slipData?.FeeInstallment">
                <td style="height: 250px;">1</td>
                <td style="height: 250px;" colspan="2"><strong>{{slipData?.Fee?.name}} : {{InstInt}}
                    Installment</strong></td>
                <!-- <td>{{slipData?.FeeInstallment?.amount}} </td> -->
                <td>{{actualFeeAmount == undefined ? slipData?.FeeInstallment?.amount : actualFeeAmount}}</td>
              </tr>
              <tr *ngIf="slipData?.isAllInstallmentsPaidOnce || !slipData?.Fee?.isPayableInInstallments">
                <td style="height: 250px;">1</td>
                <td style="height: 250px;" colspan="2"><strong>{{slipData?.Fee?.name}} </strong></td>
                <!-- <td>{{slipData?.Fee?.amount}} </td> -->
                <td style="height: 250px;">{{actualFeeAmount == undefined ? slipData?.Fee?.amount : actualFeeAmount}}
                </td>
              </tr>
              <!-- <tr *ngIf="slipData?.adjustemntAmount && slipData?.adjustmentEvent">
                <td></td>
                <td colspan="2">Balance Adjust </td>
                <td *ngIf="slipData?.adjustmentEvent == 'add'">+ {{slipData?.adjustemntAmount}} </td>
                <td *ngIf="slipData?.adjustmentEvent == 'subtract'">- {{slipData?.adjustemntAmount}} </td>
              </tr> -->
              <tr *ngIf="slipData?.scholarshipAmount">
                <td> </td>
                <td colspan="2">Scholarship</td>
                <td>- {{slipData?.scholarshipAmount}}</td>
              </tr>
              <!-- <tr>
                <td> </td>
                <td colspan="2">Scholarship</td>
                <td *ngIf="slipData?.scholarshipAmount; else scholarshipAmount">- {{slipData?.scholarshipAmount}}</td>
                <ng-template #scholarshipAmount>
                  <td>-</td>
                </ng-template>
              </tr> -->
              <!-- <tr>
                <td> </td>
                <td colspan="2">Discount</td>
                <td *ngIf="slipData?.discount; else noDiscount">- {{slipData?.discount}}</td>
                <ng-template #noDiscount>
                  <td>-</td>
                </ng-template>
              </tr> -->
              <tr *ngIf="slipData?.discount">
                <td> </td>
                <td colspan="2">Discount</td>
                <td>- {{slipData?.discount}}</td>
              </tr>
              <tr *ngFor="let tax of slipData?.Fee?.FeeTaxes; let i=index">
                <td> </td>
                <td> </td>
                <td>{{tax?.name}} @ {{tax?.percent}}%</td>
                <td>{{CalTaxAmount[i]}}</td>
              </tr>
              <tr>
                <td colspan="3"><strong>Total Amount After Tax</strong></td>
                <td><strong>{{slipData?.feeDue}} </strong> </td>
              </tr>
              <tr>
                <td colspan="4">Rupees in Words:<strong> {{amountInRupees| titlecase}} Only/-</strong>
                </td>
              </tr>
            </table>

            <p class="certificate-text certify-stamp">
              For Masters’ Union School Of Business<br><br>
              Authorised Signatory
              <img src="../../../assets/downloadRecipt/img/stamp-sign.png" alt="signature">
            </p>
          </div>
          <div class="footer">
            <div class="footer-inner">
              <div><span class="material-icons-outlined">location_on</span>
              </div>
              <!-- <ng-container *ngIf="('slipData?.FeeTransaction?.paidOn | date' > 'defaultDate | date')">
                <div>
                  <b>Masters’ Union School of Business:</b> <br>
                  A unit of Shanti Informatics, #75, Ground Floor,<br>
                  World Trade Centre, Babar Road, New Delhi,<br>
                  Delhi - 110001
                </div>
              </ng-container> -->
              <ng-container *ngIf="compareDates(slipData?.FeeTransaction?.paidOn); else newAddress">
                <div>
                  <b>Masters' Union School of Business:</b><br>
                  A unit of Shanti Informatics<br>
                  Ground Floor, Tower C, DLF Cyber Park,
                  <!-- <br> Parcel of land at Plot No.405 B,<br> -->
                  Sector 20, Udhyog Vihar Phase III,<br> Gurgaon,
                  Haryana, PIN-122008<br>
                </div>
              </ng-container>
              <ng-template #newAddress>
                <div>
                  <b>Masters’ Union School of Business:</b> <br>
                  A unit of Shanti Informatics<br>
                  Plot No- 76 D, Phase IV, Udyog Vihar<br> Gurugram, Haryana, PIN-122001
                </div>
              </ng-template>
            </div>
            <div class="footer-inner">
              <div><span class="material-icons-outlined">call</span>
              </div>
              <div>
                <a href="tel:1800 120 5288">1800 120 5288</a><br>
                GSTIN:06ADSFS8704J1ZG
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
