@charset "utf-8";
/* nunito sans font */
@font-face {
font-family: 'nunito_sansregular';
src: url('../../../assets/fonts/nunitosans-regular-webfont.woff2') format('woff2'),
url('../../../assets/fonts/nunitosans-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
/* oswald font  */
@font-face {
font-family: 'oswaldbold';
src: url('../../../assets/fonts/oswald-bold-webfont.woff2') format('woff2'),
url('../../../assets/fonts/oswald-bold-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Material Icons Outlined';
font-style: normal;
font-weight: 400;
src: url('https://fonts.gstatic.com/s/materialiconsoutlined/v5/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2') format('woff2');
font-display: swap;
}
.material-icons-outlined{font-family:'Material Icons Outlined';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:liga;-webkit-font-smoothing:antialiased}
*{box-sizing:border-box;margin:0;padding:0}
body{color:#4E5D64;background-color:#efefef}
/* .main-fee-slip { max-width: 1170px; } */
.main-fee-slip .mb20{margin-bottom:20px}
.main-fee-slip .mb30{margin-bottom:30px}
.main-fee-slip .mb75{margin-bottom:75px}
.main-fee-slip .mt30{margin-top:30px}
.main-fee-slip .mb40{margin-bottom:40px}
.main-fee-slip .mb55{margin-bottom:55px}
.main-fee-slip .mt40{margin-top:40px}
.main-fee-slip .contianer{
    width: 100%;
    margin: 0 auto;
    background: url(../../../assets/img//mu-water-mark.png) center center no-repeat #fff;
    position: relative;
    display: block;
    padding: 0 30px 0 90px;
    max-width: 900px;
    background-size: 65%;
}
.main-fee-slip .header,.main-fee-slip .main,.main-fee-slip .footer{display:block;width:100%}
.main-fee-slip .main{position:relative}
.main-fee-slip .certificate{padding:90px 0;display:block}
.main-fee-slip .header .logo{width:230px;display:block}
.main-fee-slip .header{margin-bottom:40px;float:left}
.main-fee-slip .content-section{width:100%;display:block}
.main-fee-slip .certificate-text{width:100%;font:21px/29px nunito_sansregular}
.main-fee-slip .certificate-text > a,.main-fee-slip .certificate-text > a:link,.main-fee-slip .certificate-text > a:visited {font:21px/29px nunito_sansregular; color:#F12A2A;text-decoration:none;}
.main-fee-slip .footer{border-top:1px solid #111;display:block;padding-top:40px;margin-top:80px;display:flex;justify-content:space-between;align-items:center}.main-fee-slip .footer > div{display:flex;align-items:center;font:18px/23px nunito_sansregular;color:#4E5D64;flex-direction: row;}
.main-fee-slip .footer > div a,.main-fee-slip .footer > div a:link,.main-fee-slip .footer > div a:visited{font:18px/23px nunito_sansregular;color:#4E5D64;text-decoration:none}
.main-fee-slip .footer > div span{float:left;margin-right:10px;width:50px;height:50px;background:#feee62;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;display:flex;justify-content:center;align-items:center}
.main-fee-slip .receipt-table-outer{width:100%;height:auto;margin:30px 0;border:1px solid #C3C3C3;border-bottom:0}
.main-fee-slip .receipt-table-outer th,.main-fee-slip .receipt-table-outer td{border-bottom:1px solid #C3C3C3;border-right:1px solid #C3C3C3;padding:10px}
.main-fee-slip .receipt-table-outer th:last-of-type,.main-fee-slip .receipt-table-outer td:last-of-type{border-right:0}
.main-fee-slip .receipt-table-outer td{min-width:70px;font:21px/29px nunito_sansregular}
.main-fee-slip .receipt-table-outer th{font:21px/29px nunito_sansregular;background-color:#4E5E65;color:#fff}
.main-fee-slip .receipt-no-outer{width:100%;margin-bottom:30px;display:flex;justify-content:space-between;font:21px/29px nunito_sansregular}
.main-fee-slip .receipt-no-right{text-align:right}
.main-fee-slip .receipt-no-left h4{color:#081526}
.main-fee-slip .receipt-no-right span{color:#2A232C}
.main-fee-slip .receipt-table-outer.text-center { text-align: center; }
.main-fee-slip .header.header-receipt{display: flex;
align-items: center;
justify-content: space-between;}
.main-fee-slip span.office-fin-text { font: 21px/22px nunito_sansregular; }
.main-fee-slip .footer > div span { position: relative; }
.main-fee-slip .certificate-text.certify-stamp { margin-top: 80px; position: relative; }
.main-fee-slip .certificate-text.certify-stamp img { position: absolute; left: 20px; top: -20px; }