<toaster-container [toasterconfig]="config"> </toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>

  <div class="main-body">
    <section class="fees-container preview-survey">
      <div class="container-fluid">
        <div class="cover-outer create-survey">
          <h3 class="cover-outer boldheading mb50">
            Fill Course Preferences <span class="borderheading"></span>
          </h3>
          <div class="row">
            <div class="col-lg-12">
              <h4 class="lg-heading mb20">
                Please provide your course preferences for the current Term
                {{ termValue }} below:
              </h4>

              <h4 *ngIf="coursesData?.title" class="heading mb10 font-weight-bold">Title</h4>
              <p class="mb10 pl0">
                {{coursesData?.title}}
              </p>
              
              <h4 *ngIf="coursesData?.description" class="heading mb10 font-weight-bold">Description</h4>
              <p class="mb10 pl0">
                {{coursesData?.description}}
              </p>

              <p class="font-weight-bold mb10 pl0">
                Please be aware of the following:
              </p>
              <ul class="list-pr mb20">
                <li>
                  Please choose {{ coursesData?.numberOfPrefrences }} course(s), out of these
                  {{coursesArrayLength}} courses.
                </li>
                <li>
                  The deadline to fill the preference form will be {{expiryDate}} at midnight.
                </li>
              </ul>
              <div class="mb20">
                <div class="row">
                  <div class="col-md-6" *ngFor="let course of coursesData?.CoursePrefrenceRoasters">
                    <p>
                      <i class="material-icons">note</i>
                      {{ course.CourseRoster.courseName }}</p>
                  </div>
                </div>
              </div>

              <div
                class=" add-ques-inner new2Colum mt20"
                *ngFor="let pre of [].constructor(numberOfPreferences); let i = index"
              >
                <div class="">
                  <div class="form-group mb25">
                    <label *ngIf="i<minPreferences"class="label-heading "
                    >Select Preference {{ i + 1
                    }}<sup class="text-danger">*</sup> </label>
                    <label *ngIf="i>=minPreferences"class="label-heading "
                    >Select Preference {{ i + 1
                    }}</label>

                    <div *ngIf="i<minPreferences" class="input-group right-arrow">
                      <select
                        (change)="mandatoryFields($event.target.value,i+1)"
                        class="form-control selectpicker"
                        placeholder="Select"
                        required
                      >
                        <option disabled value="">Select Course</option>
                        <option
                          [value]="course?.id"
                          *ngFor="let course of courseList"
                        >{{ course.courseName }}
                        </option>
                      </select>
                      <span class="msg-error d-none"></span>
                    </div>

                    <div *ngIf="i>=minPreferences" class="input-group right-arrow">
                      <select
                        (change)="selectOption($event.target.value,i+1)"
                        class="form-control selectpicker"
                        placeholder="Select"
                      >
                        <option disabled value="">Select Course</option>
                        <option
                          [value]="course?.id"
                          *ngFor="let course of courseList"
                        >{{ course.courseName }}
                        </option>
                      </select>
                      <span class="msg-error d-none"></span>
                    </div>
                    
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="cover-outer mt30">
            <button (click)="onPublish()" class="btn4 mr10">Submit</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
