<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50">Edit Course Bid
                    <span class="borderheading"></span>
                </h3>

                <div class="cover-outer">
                    <h2 class="red-clr keyboard-back" (click)="goBack()">
                        <span class="mr-2 material-icons">keyboard_backspace</span>Back
                    </h2>
                </div>

                <div class="cover-outer section-padd studentView-course">



                    <div class="row">
                        <div class="col-lg-10">
                            <div class="student-courseName">
                                <h4 class="lg-heading mb10">{{courseDetail?.courseName}}</h4>
                                <div [innerHTML]="courseDetail?.description"></div>
                                <!-- <p class="mb20" *ngIf="!viewMore"> {{courseDetail?.description?.substr(0, 100)}} 
                                    <a href="javascript:void(0);" (click)="viewMoreFunc()"><u class="red-clr"> More</u></a>
                                </p> -->
                                <p class="mb20" *ngIf="viewMore">{{courseDetail?.description}}
                                    <a href="javascript:void(0);" (click)="viewMoreFunc()"><u class="red-clr"> Less</u></a>
                                </p>
                                <h5 class="mb10 mt20">Instructor</h5>
                                <div class="d-flex align-items-center">
                                    <div class="studentSurvey-title">
                                       <figure class="mb-0">
                                        <!-- <img src="{{courseDetail?.Mentor?.profilePicUrl}}" 
                                          onerror="this.src='https://cdn.filestackcontent.com/CNBRl0SQ46WXULEWYuW8'" alt=""> -->
                                          <img src="{{courseDetail?.Mentor?.profilePicUrl}}"
                                          onerror="this.src='../../../assets/img/avatar.jpg'" alt="">
                                        </figure>
                                    </div>
                                    <!-- <img src="{{courseDetail?.Mentor?.profilePicUrl}}" 
                                    onerror="this.src='https://cdn.filestackcontent.com/CNBRl0SQ46WXULEWYuW8'" alt=""> -->
                                    <div class="ml10">
                                        <div>
                                            <h6 class="intructor-name">{{courseDetail?.Mentor?.firstName | titlecase}}
                                                {{courseDetail?.Mentor?.lastName | titlecase}}</h6>
                                            <div class="ins-des">
                                                <p>{{courseDetail?.Mentor?.designation}}</p>
                                            <div [innerHtml]="courseDetail?.Mentor?.about"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="student-BiddingTime float-right">
                                <h6 class="mb10">Bidding Time Left</h6>
                                <!-- <h6 class="mb10">Bidding Last Date</h6> -->

                                <div class="d-flex bidding-box mb10">
                                    <div class="square-box">
                                        {{d}} <br> Days
                                    </div>

                                    <div class="square-box">
                                        {{h}} <br> Hours
                                    </div>

                                    <div class="square-box">
                                        {{m}} <br> Minutes
                                    </div>

                                    <div class="square-box">
                                        {{s}} <br> Seconds
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="cover-outer bidding-detail-outer bg-grey-padd20 mt30">
                        <!-- search nd sort  -->
                        <div class="cover-outer bidding-detail-topNav">
                            <div class="feeDetailFrom feeSearchOuter float-left">
                                <div class="form-group">
                                    <div class="lg-heading mt20 mb10">Bidding Details</div>
                                    <p class="heading-4-sb">Minimum Bid: {{minBidValue}} Points</p>
                                    <!-- <p class="heading-4-sb">Last Highest Bid: {{highestBidValue}} Points</p> -->
                                    <p class="heading-4-sb">Total bid done: {{allBidDetail?.length}} </p>
                                </div>
    
                            </div>
                            <div class="feeDetailFrom pageSortOuter">
                                <div class="form-group">
                                    <!-- <label class="label-heading">Show</label> -->
                                    <div class="input-group mb5">
                                        <input placeholder="Enter your bid value" type="number" step="1" min="1" class="form-control pl18"
                                            [(ngModel)]="bidValue" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <button type="button" class="btn4" (click)="bidCourse()">submit</button>
                                    </div>
                                    <p class="heading-4-sb">Coins available : {{leftAvailableCoin}}</p>
    
                                </div>
    
                            </div>
                        </div>
    
                        <div class="table-responsive payment-detail-outer bg-white" *ngIf="allBidDetail.length>0">
                            <table class="table payment-detail-table">
                                <thead>
                                    <tr>
                                        <th>Student</th>
                                        <!-- <th class="text-right">Bid Value</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of allBidDetail; let i =index">
                                        <td>
                                            <div class="studentSurvey-title">
                                                <!-- <figure > <img src="../../../../assets/img/person-profile.jpg"
                                                        alt=""></figure> -->
                                                <figure class="mb-0">
                                                    <img class="event-detail-img"
                                                        src="{{list?.Student?.StudentDetail?.profilePicUrl}}"
                                                        onerror="this.src='../../../assets/img/avatar.jpg'"
                                                        alt="{{list?.Student?.firstName | titlecase}}">
                                                </figure>
    
                                                {{list?.Student?.firstName | titlecase}} {{list?.Student?.lastName |
                                                titlecase}}
                                            </div>
    
                                        </td>
                                        <!-- <td class="text-right">{{list?.bidValue}} Points</td> -->
                                    </tr>
    
                                    <!-- <tr>
                                        <td>
                                            <div class="studentSurvey-title">
                                                <figure class="mb-0"> <img src="../../../../assets/img/person-profile.jpg"
                                                        alt=""></figure>
    
                                                Anand Krishnan
                                            </div>
    
                                        </td>
                                        <td class="text-right">10 Points</td>
                                    </tr>
    
                                    <tr>
                                        <td>
                                            <div class="studentSurvey-title">
                                                <figure class="mb-0"> <img src="../../../../assets/img/person-profile.jpg"
                                                        alt=""></figure>
    
                                                Anand Krishnan
                                            </div>
    
                                        </td>
                                        <td class="text-right">10 Points</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
    
                    </div>
    
                    <div class="cover-outer outer-bidding mb20 mt20 bg-grey-padd20" *ngIf="false">
                        <h3 class="lg-heading mb10">Bidding Details </h3>
                        <p class="mb10">Opening Bid: {{minBidValue}} Points</p>
    
                        <div class="cover-outer bidding-submit-box">
                            <form class="open-bidding">
                                <input [ngModelOptions]="{standalone: true}" type="number" min="1" step="1" placeholder="Enter your bid value"  [(ngModel)]="bidValue">
                                <button class="submit-btn" type="button" (click)="bidCourse()">Submit</button>
                                <p class="mt10">Your balance coins are {{leftAvailableCoin}}</p>
                            </form>
                        </div>
                    </div>
    
    
                    <div class="no-data-outer" *ngIf="allBidDetail.length==0">
                        <i class="material-icons">warning</i> <span> No bid record found </span>
                    </div>
                </div>

            </div>
        </section>
    </div>

</div>