<toaster-container [toasterconfig]="config">
</toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid">
        <h3 class="cover-outer boldheading mb50">My <span class="borderheading">Inbox </span></h3>
        <!-- search nd sort  -->
        <div class="cover-outer">
          <div class="feeDetailFrom feeSearchOuter float-left">
            <div class="form-group">
              <label class="label-heading">Search Mail</label>
              <div class="input-group">
                <input type="text" class="form-control" 
                ngDefaultControl name="searchParam" [(ngModel)]="searchParam" (input)="isSearchType($event.target.value)"
                placeholder="Search mail" (keyup.enter)="search()">
                <a  class="deleteSearch material-icons" *ngIf="isCrossEnable" (click)="resetsearch()" >close</a>
                <a (click)="search()" class="material-icons">search</a>
              </div>
            </div>
            <div class="form-group actionOuter right-arrow" *ngIf="messageIds.length>0">
              <label class="label-heading">Action</label>
              <div class="input-group"></div>
              <select id="selectOption" ngDefaultControl (change)="selectChanged()"
              class=" form-control selectpicker" title="Select action">
                <option value="">Nothing </option>
                <option value="Delete">Delete</option>
              </select>
            </div>
          </div>
          <div class="feeDetailFrom pageSortOuter">
            <div class="form-group">
              <label class="label-heading">Show</label>
              <div class="input-group right-arrow">
                <Select id="pageSize" class="form-control  selectpicker" ngDefaultControl name="pageSize" [(ngModel)]="pageSize" (change)="search()">
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="150">150</option>
                </Select>
              </div>
            </div>
            <div class="form-group">
              <label class="label-heading">sorting</label>
              <div class="input-group right-arrow multi-select2">
                <Select id="sortBy" class="form-control selectpicker" title="By date" (change)="sortByDate()">
                  <option value="asc">Ascending</option>
                  <option value="dsc">Descending</option>
                </Select>
                <span class="msg-error d-none"></span>
              </div>
            </div>
          </div>
        </div>
        <!-- search nd sort ends  -->
        <div class="cover-outer mt10" *ngIf="fetchedData.length>0">
          <div class="selectAllInfoTab" *ngIf="messageIds.length>0 && fetchedData.length>1" >
            <!-- All 5 students on this page are selected. -->
            <a *ngIf="!checkAll" href="javascript:void(0);" (click)="selectedAll()">Select all {{recordCount}} messages</a>
            <a *ngIf="checkAll" href="javascript:void(0);" (click)="unselectedAll()">All {{recordCount}} messages are
              selected. Click to unselect
            </a>
          </div>
          <div class="table-responsive email-inbox-outer">
            <table class="table email-inbox-table t-accordian">
              <tbody id="accordian" *ngFor="let data of fetchedData ; index as i">
                <tr class="accordian-inner">
                  <td class="for-checkbox">
                    <p class="outerTableCheckbox">
                      <input id="{{data?.id}}" type="checkbox" (change)="innercheckClicked( data?.id)" [checked]="checkAll"/>
                      <label for="{{data?.id}}"></label>
                    </p>
                  </td>
                  <td class="email-name" data-toggle="collapse" [attr.data-target]="'#t'+i">
                    <i class="material-icons email-arrow">keyboard_arrow_right</i>Mastersunion Team
                  </td>
                  <td class="email-des pb-0" data-toggle="collapse" [attr.data-target]="'#t'+i">
                    <span class="oneLineText">
                      <span class="email-subject"><span class="email-subject-nm">{{data.subject | titlecase}} </span><span> <span class="email-subject-nm">- Dear Student,</span> &nbsp;<span class="dataMailText" [innerHtml]="data.mail">{{data.mail}}</span></span></span>
                      
                  </span>
                  </td>
                  <td class="email-time"><span>{{data.createdAt | date:'short'}}</span>
                    <i class="material-icons email-delete" data-toggle="modal" data-target="#deleteEmail"
                      (click)="getmessageId(data.id)">delete</i>
                  </td>
                </tr>
                <tr class="collapse " id="t{{i}}" data-parent=".t-accordian">
                  <td colspan="3" class="pb-0">
                    <div class="email-detail">
                      <div class="email-from">
                        <div class="e-heading">
                          Subject:
                        </div>
                        <div class="edetail-text">
                          <!-- Mastersunion Team <span>(admissions@mastersunion.org)</span> -->
                          {{data.subject | titlecase}}
                        </div>
                      </div>
                      <div class="email-content">
                        <div class="e-heading"> Message:</div>
                        <div class="edetail-text">
                          <p [innerHtml]="data.mail"> {{data.mail}}
                          </p>
                          <div class="Regards">
                            <p><strong>Best,</strong></p>
                            <p>Mastersunion Team<br>
                              <!-- industry's standard -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example" class="pagination-outer mt20">
            <ul class="pagination">
              <li class="page-item disabled previous ">
                <a class="page-link " href="javascript:void(0);" (click)="previous() " aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item pitem " [ngClass]="(i==0?'active':'')"
                *ngFor="let pageNumber of arrayOne(pageCount);let i=index;">
                <a class="page-link " href="javascript:void(0);" (click)="nextMessage(i+1)">{{(i+1)}}</a>
              </li>
              <li class="page-item next disabled">
                <a class="page-link " href="javascript:void(0);" (click)="next() " aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="no-data-outer" *ngIf="fetchedData.length == 0 && !isCrossEnable">
            <i class="material-icons">warning</i> <span> You have not recieved any message yet </span>
        </div>
        <div class="no-data-outer" *ngIf="fetchedData.length == 0 && isCrossEnable">
          <i class="material-icons">warning</i> <span> No results found </span>
      </div>
      </div>
    </section>
  </div>
</div>


<!-- delete modal  -->
<!-- Modal -->
<div id="deleteEmail" class="modal fade deletePopup" role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content text-center p-2">
      <div class="modal-body">
        <button type="button" class="close float-right" (click)="refreshPicker()" data-dismiss="modal">&times;</button>
        <h4 class="heading-1 text-uppercase ">Are you sure you
          <br> want to delete</h4>
        <div class="d-flex justify-content-center align-items-center w-100 mt30">
          <button (click)="onDelete()" class="btn3 mr-3" type="button" data-dismiss="modal">Yes</button>
          <button class="btn4" type="button" (click)="refreshPicker()" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>