<!-- <toaster-container [toasterconfig]="config">
</toaster-container> -->
<app-lead-header></app-lead-header>
<div class="main-outer">
  <app-lead-menu></app-lead-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
      <!-- <h4 class="lt">Master Union</h4> -->
    </div>
  </div>
