<!-- <div class="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container></toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body">
        <section class="fees-container pt-0">
            <div class="container-fluid pl-0 pr-0">
                <!-- tabs with accordians  -->
                <div class="cover-outer fee-detail-tab">
                    <!-- <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li class="nav-item" (click)="editStudent()">
                            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">
                                <figure class="tabMatIconOuter"> <i class="material-icons"> folder_shared </i> </figure>
                                <h6>Mentor Detail</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-B" href="#pane-B" class="nav-link " data-toggle="tab" role="tab">
                                <figure class="tabMatIconOuter"><i class="material-icons">add_box </i></figure>
                                <h6>Mentor Rating</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">
                                <figure class="tabMatIconOuter"><i class="material-icons">business</i></figure>
                                <h6>View Student Fee Due</h6>
                            </a>
                        </li>
                    </ul> -->


                    <div id="content" class="tab-content" role="tablist">
                        <!-- <div id="pane-A" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-A">
                            <div class="card-header mobile-tab" role="tab" id="heading-A">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapse-A" data-parent="#content"
                                        aria-expanded="true" aria-controls="collapse-A">
                                        <div class="hostel-fee-heading">
                                            <figure class="tabMatIconOuter"><i class="material-icons">folder_shared </i>
                                            </figure>
                                            <h6>Student Detail</h6>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
                                <div class="student-PD">
                                    <div class="add-details">
                                        <h3 class="cover-outer boldheading-meadium mb20">Mentor Personal Details</h3>
                                        <div class="cover-outer">
                                            <form class="cover-outer feeDetailFrom">
                                                <div class="row-2-col">
                                                    <div class="form-group mb25">
                                                        
                                                        <div class="upload-btn-wrapper" (click)="uploadPic()">
                                                                <span class="material-icons">person_add</span>
                                                               
                                                            </div>
                                                        

                                                    </div>
                                                </div>
                                                <div class=" row-2-col">
                                                   
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">Name
                                                        </label>
                                                        <div class="input-group ">
                                                            <i class="material-icons">person</i>
                                                            <input type="text" class="form-control"
                                                                
                                                                placeholder="Enter your full Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">Role
                                                         </label>
                                                        <div class="input-group ">
                                                            <i class="material-icons">person</i>
                                                            <input type="number" class="form-control"
                                                                 placeholder="Enter Role in Organization">
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="row-2-col">
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">EMAIL ID</label>
                                                        <div class="input-group">
                                                            <i class="material-icons">email</i>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter your EMAIL ID">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">PHONE NUMBER</label>
                                                        <div class="input-group">
                                                            <i class="material-icons">phone</i>
                                                            <input type="text" class="form-control" 
                                                                placeholder="Enter your phone number">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class=" row-2-col">
                                                    <div class="form-group  mb25">
                                                        <label class="label-heading">ALTERNATE EMAIL ID
                                                        </label>
                                                        <div class="input-group">
                                                            <i class="material-icons">email</i>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter your alternate email id">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <label class="label-heading">ADMIN PASSWORD</label>
                                                        <div class="input-group">
                                                            <i class="material-icons">email</i>
                                                            <input type="text" class="form-control"
                                                                placeholder="Enter your password">
                                                            <span class="msg-error d-none"></span>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="row-2-col">
                                                    <div class="form-group mb25">
                                                        <button type="button" class="btn1">Save
                                                            <span class="ml-2 material-icons">
                                                                arrow_right_alt</span>
                                                        </button>
                                                    </div>
                                                </div>
                                           </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div id="pane-B" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-B">


                            <div class="student-PD mentorOuter">
                                <!-- <h3 class="cover-outer boldheading-meadium mb20"> You are rating {{mentorName
                                    |titlecase}}</h3> -->
                                <h3 class="cover-outer boldheading-meadium mb20">Mentor Association Survey</h3>
                                <!-- <div class="add-details">
                                        <div class="cover-outer">
                                            <form class="cover-outer feeDetailFrom">
                                                <div class=" row-2-col">

                                                    <div class="form-group mb25">
                                                        <p class="rating-text pb20">Satisfaction with your mentee match
                                                        </p>
                                                        <ul class="mentor-rating-list cover-outer">
                                                            <li><img src="../../../assets/img/yellow-star.png"></li>
                                                            <li><img src="../../../assets/img/yellow-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                        </ul>

                                                    </div>
                                                    <div class="form-group mb25">

                                                        <div class="input-group ">
                                                            <textarea class="form-control mh100 pl18"
                                                                placeholder="Comments and Remarks (if any)"></textarea>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div> -->
                                <!-- <div class="add-details pb50">
                                        <div class="cover-outer">
                                            <form class="cover-outer feeDetailFrom">
                                                <div class=" row-2-col">
                                                    <div class="form-group mb25">
                                                        <p class="rating-text pb20">Satisfaction with the partnership
                                                            between you and your mentee</p>
                                                        <ul class="mentor-rating-list cover-outer">
                                                            <li><img src="../../../assets/img/yellow-star.png"></li>
                                                            <li><img src="../../../assets/img/yellow-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="form-group mb25">
                                                        <div class="input-group ">
                                                            <textarea class="form-control mh100 pl18"
                                                                placeholder="Comments and Remarks (if any)"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->
                                <!-- <div class="add-details pb50">
                                        <div class="cover-outer">
                                            <form class="cover-outer feeDetailFrom">
                                                <div class=" row-2-col">
                                                    <div class="form-group mb25">
                                                        <p class="rating-text pb20">Satisfaction with the frequency and
                                                            mode of your meeting/ communication/ interaction with your
                                                            mentee</p>
                                                        <ul class="mentor-rating-list cover-outer">
                                                            <li><img src="../../../assets/img/yellow-star.png"></li>
                                                            <li><img src="../../../assets/img/yellow-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                            <li><img src="../../../assets/img/white-star.png"></li>
                                                        </ul>

                                                    </div>
                                                    <div class="form-group mb25">

                                                        <div class="input-group ">
                                                            <textarea class="form-control mh100 pl18"
                                                                placeholder="Comments and Remarks (if any)"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->
                                <ng-container *ngIf="!isRatingAvaliable">
                                    <ng-container *ngFor="let qus of questionData; let i = index">
                                        <div class="add-details pb10">
                                            <div class="cover-outer">
                                                <div class="cover-outer feeDetailFrom">
                                                    <!-- <ng-container formArrayName="ratingArray"> -->
                                                    <!-- <ng-container *ngFor="let awd of ratingForm.get('ratingArray')['controls']; -->
                                                    <!-- let ind = index" [formGroupName]="ind"> -->
                                                    <div class=" row-2-col">
                                                        <div class="form-group">
                                                            <p class="rating-text pb20">{{qus?.title}} <sup
                                                                    *ngIf="i < questionData.length-1"
                                                                    class="text-danger">*</sup></p>



                                                            <!-- <ul class="mentor-rating-list cover-outer"
                                                                        *ngIf="qus?.hasRating">
                                                                        <li>
                                                                            <star-rating value="0" totalstars="5"
                                                                                checkedcolor="gold" uncheckedcolor="gray"
                                                                                size="45px" readonly="false"
                                                                                (rate)="onRate($event,qus?.id, i)">
                                                                            </star-rating>
                                                                        </li>
                                                                    </ul> -->
                                                            <ng-container *ngIf="qus?.hasRating">
                                                                <ul id='stars' class="cover-outer mentor-rating-list"
                                                                    (mouseover)="onRateQus(i)">
                                                                    <!-- <li class="star"> -->
                                                                    <!-- <star-rating value="0" totalstars="5"
                                                                                checkedcolor="gold" uncheckedcolor="gray"
                                                                                size="45px" readonly="false"
                                                                                (rate)="onRate($event,qus?.id, i)">
                                                                            </star-rating>  -->
                                                                    <!-- </li> -->
                                                                    <li class='star' title='Poor' data-value='1'>
                                                                        <i class='material-icons'>grade</i>
                                                                    </li>
                                                                    <li class='star' title='Fair' data-value='2'>
                                                                        <i class='material-icons'>grade</i>
                                                                    </li>
                                                                    <li class='star' title='Good' data-value='3'>
                                                                        <i class='material-icons'>grade</i>
                                                                    </li>
                                                                    <li class='star' title='Excellent' data-value='4'>
                                                                        <i class='material-icons'>grade</i>
                                                                    </li>
                                                                    <li class='star' title='WOW!!!' data-value='5'>
                                                                        <i class='material-icons'>grade</i>
                                                                    </li>
                                                                </ul>
                                                            </ng-container>
                                                        </div>
                                                        <div class="form-group " *ngIf="qus?.hasComments">
                                                            <div class="input-group ">
                                                                <!-- <ng-container *ngFor="let ra of i.ratingArr">
                                                                                            <h1>aa{{ra?.id}}</h1>
                                                                                        </ng-container> -->
                                                                <!-- <h1>{{i}}{{ratingArr.length}}</h1>  -->
                                                                <textarea class="form-control mh100 pl18"
                                                                    *ngIf="i !== 1" placeholder="Comments and Remarks"
                                                                    [(ngModel)]="ratingArr[i].comment"
                                                                    (input)="commentSpacePrevant()"></textarea>
                                                                <textarea class="form-control mh100 pl18" *ngIf="i == 1"
                                                                    placeholder="Dissatisfied, Satisfied, Very Satisfied"
                                                                    [(ngModel)]="ratingArr[i].comment"
                                                                    (input)="commentSpacePrevant()"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" row-2-col" *ngIf="qus?.hasGoal">
                                                        <div class="form-group ">
                                                            <div class="goal-list-outer">
                                                                <div class="add-goal">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Add Goals" readonly>
                                                                    <span class="material-icons"
                                                                        (click)="addGoal(qus?.id, i)">add_circle</span>
                                                                </div>
                                                                <ul class="goal-list">
                                                                    <ng-container
                                                                        *ngFor="let gol of ratingArr[i].goals;let ind=index">
                                                                        <li>
                                                                            <div class=" edit-goal-outer">
                                                                                <h4 class="heading-3 mb10">Goal
                                                                                    {{ind+1}}
                                                                                </h4>
                                                                                <!-- <a href="javascript:void(0);" class="add-new-goal" (click)="addGoal(qus?.id, i)"><span class="material-icons">add_circle</span></a> -->
                                                                                <a href="javascript:void(0);"
                                                                                    class="delete-goal"
                                                                                    (click)="removeGoal(i, ind)"><span
                                                                                        class="material-icons">add_circle</span>
                                                                                </a>

                                                                            </div>
                                                                            <p class="rating-text">
                                                                                <textarea type="text"
                                                                                    class="form-control pl18"
                                                                                    placeholder="Add Goals"
                                                                                    [(ngModel)]="gol.title"></textarea>
                                                                            </p>

                                                                        </li>
                                                                    </ng-container>
                                                                    <!-- <li> -->
                                                                    <!-- <h4 class="heading-3 mb10">Goal 1</h4> -->
                                                                    <!-- <p class="rating-text">
                                                                                    Please state the goals/objectives that have
                                                                                    been
                                                                                    established at the beginning or in the
                                                                                    due course of the mentor relationship with
                                                                                    the
                                                                                    mentee in the following tabs and rate the
                                                                                    level of progress towards each of them.
                                                                                </p> -->
                                                                    <!-- </li> -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                        </div>

                                                    </div>
                                                    <ng-container *ngIf="qus?.hasSubtitles">
                                                        <div class="cover-outer"
                                                            *ngFor="let subq of qus?.SubRatings;let j=index">
                                                            <div class="row-2-col">

                                                                <div class="form-group mb30">
                                                                    <ul class="goal-list">
                                                                        <li class="mt0">
                                                                            <p class="rating-text mb25">
                                                                                <i> {{subq?.title}}</i>
                                                                            </p>

                                                                            <!-- <ul id='stars'
                                                                                        class="cover-outer mentor-rating-list"
                                                                                        *ngIf="subq?.hasRating">
                                                                                        <li class="star">
                                                                                            <star-rating value="0"
                                                                                                totalstars="5"
                                                                                                checkedcolor="gold"
                                                                                                uncheckedcolor="gray"
                                                                                                size="45px" readonly="false"
                                                                                                (rate)="onSubRate($event,subq?.id, i, j)">
                                                                                            </star-rating>
                                                                                        </li>
                                                                                    </ul> -->
                                                                            <ng-container *ngIf="subq?.hasRating">
                                                                                <ul id='subStars'
                                                                                    class="cover-outer mentor-rating-list"
                                                                                    (mouseover)="onSubRateQus(i,j)">
                                                                                    <!-- <li class="star"> -->
                                                                                    <!--  <star-rating value="0"
                                                                                                totalstars="5"
                                                                                                checkedcolor="gold"
                                                                                                uncheckedcolor="gray"
                                                                                                size="45px" readonly="false"
                                                                                                (rate)="onSubRate($event,subq?.id, i, j)">
                                                                                            </star-rating>  -->
                                                                                    <!-- </li> -->
                                                                                    <li class='star' title='Poor'
                                                                                        data-value='1'>
                                                                                        <i
                                                                                            class='material-icons'>grade</i>
                                                                                    </li>
                                                                                    <li class='star' title='Fair'
                                                                                        data-value='2'>
                                                                                        <i
                                                                                            class='material-icons'>grade</i>
                                                                                    </li>
                                                                                    <li class='star' title='Good'
                                                                                        data-value='3'>
                                                                                        <i
                                                                                            class='material-icons'>grade</i>
                                                                                    </li>
                                                                                    <li class='star' title='Excellent'
                                                                                        data-value='4'>
                                                                                        <i
                                                                                            class='material-icons'>grade</i>
                                                                                    </li>
                                                                                    <li class='star' title='WOW!!!'
                                                                                        data-value='5'>
                                                                                        <i
                                                                                            class='material-icons'>grade</i>
                                                                                    </li>
                                                                                </ul>
                                                                            </ng-container>
                                                                        </li>
                                                                    </ul>
                                                                </div>

                                                                <div class="form-group mb30" *ngIf="subq?.hasComments">
                                                                    <div class="input-group ">
                                                                        <textarea class="form-control mh100 pl18"
                                                                            placeholder="Comments and Remarks (if any)"
                                                                            [(ngModel)]=ratingArr[i].subRatingArray[j].comment></textarea>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="row-2-col" *ngIf="subq?.hasGoal">

                                                                <div class="form-group mb30">
                                                                    <div class="goal-list-outer">
                                                                        <div class="add-goal">
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Add Goals" readonly>
                                                                            <span class="material-icons"
                                                                                (click)="addSubGoal(qus?.id, subq?.id, i, j)">add_circle</span>
                                                                        </div>
                                                                        <ul class="goal-list">
                                                                            <ng-container
                                                                                *ngFor="let gol of ratingArr[i].subRatingArray[j].goals;let ind=index">
                                                                                <li>
                                                                                    <div class=" edit-goal-outer">
                                                                                        <h4 class="heading-3 mb10">Goal
                                                                                            {{ind+1}}
                                                                                        </h4>
                                                                                        <!-- <a href="javascript:void(0);" class="add-new-goal"><span class="material-icons">add_circle</span></a> -->
                                                                                        <a href="javascript:void(0);"
                                                                                            class="delete-goal"
                                                                                            (click)="removeSubGoal(i,j, ind)"><span
                                                                                                class="material-icons">add_circle</span></a>
                                                                                    </div>
                                                                                    <p class="rating-text">
                                                                                        <textarea type="text"
                                                                                            class="form-control mh100 pl18"
                                                                                            placeholder="Add Goals"
                                                                                            [(ngModel)]="gol.title"></textarea>
                                                                                    </p>


                                                                                </li>
                                                                            </ng-container>
                                                                            <!-- <li>
                                                                                        <h4 class="heading-3 mb10">Goal 2</h4>
                                                                                        <p class="rating-text">
                                                                                            Satisfaction with the frequency and
                                                                                            mode of
                                                                                            your
                                                                                            meeting/ communication/ interaction
                                                                                            with
                                                                                            your mentee
                                                                                        </p>
                                                                                    </li> -->
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group "></div>

                                                            </div>
                                                        </div>

                                                    </ng-container>

                                                    <!-- *ngIf="qus?.hasGoal" -->

                                                    <!-- </ng-container> -->
                                                    <!-- </ng-container> -->



                                                </div>
                                            </div>
                                        </div>

                                    </ng-container>
                                    <p class="mt20 note-text w-100 ">Please complete and submit the form latest by
                                        <strong>30th January 2021, 23.59 PM</strong>
                                    </p>
                                    <div class="d-inline-block w-100 feeDetailFrom pl30 mt30">
                                        <div class="row-2-col">
                                            <div class="form-group mb25">

                                                <button type="button" class="btn1" (click)="sendRating()">Submit
                                                    <span class="ml-2 material-icons">
                                                        arrow_right_alt</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <div *ngIf="isRatingAvaliable" class="no-data-outer">
                                    <i class="material-icons">warning</i><span>You have completed this survey</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>