<!-- <div class="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container></toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body">
        <section class="fees-container">
            <div class="container-fluid pl-0 pr-0">
                <!-- tabs with accordians  -->
                <div class="cover-outer fee-detail-tab">


                    <div id="content" class="tab-content" role="tablist">
                      
                        <div id="pane-B" class="card tab-pane fade active show" role="tabpanel" aria-labelledby="tab-B">
                            <div class="card-header mobile-tab" role="tab" id="heading-B">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-B"
                                        data-parent="#content" aria-expanded="false" aria-controls="collapse-B">
                                        <div class="hostel-fee-heading">
                                            <figure class="tabMatIconOuter"><i class="material-icons">add_box </i>
                                            </figure>
                                            <h6>Show Rating</h6>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-B" class="collapse" role="tabpanel" aria-labelledby="heading-B">
                                <div class="student-PD mentorOuter">
                                    <h3 class="cover-outer boldheading-meadium mb20" *ngIf="ratingArrayData.length>0">Rating Given By {{mentorName
                                        |titlecase}}</h3>
                                    <ng-container *ngIf="ratingArrayData.length>0">
                                    <ng-container *ngFor="let qus of ratingArrayData; let i = index">
                                        <div class="add-details pb50" *ngIf="qus?.subRatingQuesId == null">
                                            <div class="cover-outer">
                                                <div class="cover-outer feeDetailFrom" >

                                                    <!-- <ng-container formArrayName="ratingArray"> -->
                                                    <!-- <ng-container *ngFor="let awd of ratingForm.get('ratingArray')['controls']; -->
                                                    <!-- let ind = index" [formGroupName]="ind"> -->
                                                    <div class=" row-2-col" >
                                                        <div class="form-group">
                                                            <p class="rating-text pb20" >{{qus?.RatingMaster?.title}}</p>


                                                            <ul class="mentor-rating-list cover-outer"
                                                                *ngIf="qus?.RatingMaster?.hasRating">
                                                                <li>
                                                                    <star-rating value={{qus?.rating}} totalstars="5"
                                                                        checkedcolor="gold" uncheckedcolor="gray"
                                                                        size="45px" readonly="true"
                                                                        >
                                                                    </star-rating>
                                                                </li>
                                                                <!-- <li><img src="../../../assets/img/yellow-star.png"></li>
                                                                <li><img src="../../../assets/img/white-star.png"></li>
                                                                <li><img src="../../../assets/img/white-star.png"></li>
                                                                <li><img src="../../../assets/img/white-star.png"></li>
                                                                <li><img src="../../../assets/img/white-star.png"></li> -->
                                                                <!-- <li class='star' 
                                                                [ngClass]="(qus?.rating==1 || qus?.rating==2 || qus?.rating==3|| qus?.rating== 4||qus?.rating==5)?'selected': null" 
                                                                title='Poor' data-value='1'>
                                                                    <i class='material-icons'>grade</i>
                                                                  </li>
                                                                  <li class='star' 
                                                                  [ngClass]="(qus?.rating==2 ||qus?.rating==3||qus?.rating==4||qus?.rating==5)?'selected': null" 
                                                                  title='Fair' data-value='2'>
                                                                    <i class='material-icons'>grade</i>
                                                                  </li>
                                                                  <li class='star' [ngClass]="(qus?.rating==3||qus?.rating==4||qus?.rating==5)?'selected': null"title='Good' data-value='3'>
                                                                    <i class='material-icons'>grade</i>
                                                                  </li>
                                                                  <li class='star' [ngClass]="(qus?.rating==4||qus?.rating==5)?'selected': null" title='Excellent' data-value='4'>
                                                                    <i class='material-icons'>grade</i>
                                                                  </li>
                                                                  <li class='star'  [ngClass]="(qus?.rating==5)?'selected': null" title='WOW!!!' data-value='5'>
                                                                    <i class='material-icons'>grade</i>
                                                                  </li> -->
                                                            </ul>

                                                        </div>
                                                        <div class="form-group " *ngIf="qus?.RatingMaster?.hasComments">
                                                            <div class="input-group ">
                                                                <!-- <ng-container *ngFor="let ra of i.ratingArr">
                                                                                    <h1>aa{{ra?.id}}</h1>
                                                                                </ng-container> -->
                                                                <!-- <h1>{{i}}{{ratingArr.length}}</h1>  -->
                                                                <textarea class="form-control mh100 pl18"
                                                                    placeholder="No Comments / Remarks Given"
                                                                   readonly >{{qus?.comment}}</textarea>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class=" row-2-col" *ngIf="qus?.hasGoals  && qus?.subRatingQuesId== null">
                                                        <div class="form-group ">
                                                            <div class="goal-list-outer">
                                                                <!-- <div class="add-goal"> -->
                                                                    <!-- <input type="text" class="form-control"
                                                                        placeholder="Add Goals" readonly> -->
                                                                    <!-- <span class="material-icons"
                                                                        (click)="addGoal(qus?.id, i)">add_circle</span> -->
                                                                <!-- </div> -->
                                                                <ul class="goal-list">
                                                                    <ng-container
                                                                        *ngFor="let gol of qus.RatingMaster?.Goals;let ind=index">
                                                                        <li *ngIf="gol.mentorId == qus?.mentorId && gol.studentId == qus?.studentId && gol.subRatingQuesId==null">
                                                                            <div class=" edit-goal-outer" >
                                                                                <h4 class="heading-3 mb10">Goal
                                                                                </h4>
                                                                                <!-- <a href="javascript:void(0);" class="add-new-goal" (click)="addGoal(qus?.id, i)"><span class="material-icons">add_circle</span></a> -->
                                                                                <!-- <a href="javascript:void(0);"
                                                                                    class="delete-goal"
                                                                                    (click)="removeGoal(i, ind)"><span
                                                                                        class="material-icons">add_circle</span>
                                                                                </a> -->

                                                                            </div>
                                                                            <p class="rating-text">
                                                                                <textarea type="text"
                                                                                    class="form-control pl18"
                                                                                    placeholder="Add Goals"
                                                                                    readonly
                                                                                   >{{gol.title}}</textarea>
                                                                            </p>

                                                                        </li>
                                                                    </ng-container>
                                                                    <!-- <li> -->
                                                                    <!-- <h4 class="heading-3 mb10">Goal 1</h4> -->
                                                                    <!-- <p class="rating-text">
                                                                            Please state the goals/objectives that have
                                                                            been
                                                                            established at the beginning or in the
                                                                            due course of the mentor relationship with
                                                                            the
                                                                            mentee in the following tabs and rate the
                                                                            level of progress towards each of them.
                                                                        </p> -->
                                                                    <!-- </li> -->
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">

                                                        </div>

                                                    </div>
                                                    <ng-container *ngIf="qus?.RatingMaster?.hasSubtitles">
                                                        <div class="cover-outer" *ngFor="let subq of qus?.RatingMaster?.SubRatings;let j=index">
                                                            <div class="row-2-col" >
                                                                <div class="form-group mb30">
                                                                    <ul class="goal-list">
                                                                        <li class="mt0">
                                                                            <p class="rating-text mb25">
                                                                                <i> {{subq.title}}</i>
                                                                            </p>
                                                                            <div *ngFor="let subarray of subRatingArrayData">
                                                                            <ul id='stars'
                                                                                class="cover-outer mentor-rating-list"
                                                                                *ngIf="subq?.hasRating && subarray?.subRatingQuesId == subq?.id">
                                                                                <li class="star">
                                                                                    <star-rating value={{subarray.rating}}
                                                                                        totalstars="5"
                                                                                        checkedcolor="gold"
                                                                                        uncheckedcolor="gray"
                                                                                        size="45px" readonly="true"
                                                                                        >
                                                                                    </star-rating>
                                                                                </li>
                                                                                <!-- <li class='star' 
                                                                                [ngClass]="(subarray.rating==1 || subarray.rating==2 || subarray.rating==3|| subarray.rating==4||subarray.rating==5)?'selected': null" 
                                                                                title='Poor' data-value='1'>
                                                                                    <i class='material-icons'>grade</i>
                                                                                  </li>
                                                                                  <li class='star' 
                                                                                  [ngClass]="(subarray.rating==2 ||subarray.rating==3||subarray.rating==4||subarray.rating==5)?'selected': null" 
                                                                                  title='Fair' data-value='2'>
                                                                                    <i class='material-icons'>grade</i>
                                                                                  </li>
                                                                                  <li class='star' [ngClass]="(subarray.rating==3||subarray.rating==4||subarray.rating==5)?'selected': null"title='Good' data-value='3'>
                                                                                    <i class='material-icons'>grade</i>
                                                                                  </li>
                                                                                  <li class='star' [ngClass]="(subarray.rating==4||subarray.rating==5)?'selected': null" title='Excellent' data-value='4'>
                                                                                    <i class='material-icons'>grade</i>
                                                                                  </li>
                                                                                  <li class='star'  [ngClass]="subarray.rating==5?'selected': null" title='WOW!!!' data-value='5'>
                                                                                    <i class='material-icons'>grade</i>
                                                                                  </li> -->
                                                                            </ul>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <ng-container *ngFor="let subarray of subRatingArrayData">
                                                                <div class="form-group mb30" *ngIf="subq?.hasComments && subarray?.subRatingQuesId == subq?.id">
                                                                    <div class="input-group ">
                                                                        <textarea class="form-control mh100 pl18"
                                                                            placeholder="No Comments / Remarks Given"
                                                                           readonly >{{subarray?.comment}}</textarea>
                                                                    </div>
                                                                </div>
                                                                </ng-container>
                                                            </div>
                                                            <!-- <ng-container *ngFor="let subaGoal of subRatingGoals"> -->
                                                            <div class="row-2-col" *ngIf="subq?.hasGoal">
                                                                <div class="form-group mb50">
                                                                    <div class="goal-list-outer">
                                                                        <!-- <div class="add-goal"> -->
                                                                            <!-- <input type="text" class="form-control"
                                                                                placeholder="Has Goals" readonly> -->
                                                                            <!-- <span class="material-icons"
                                                                                (click)="addSubGoal(qus?.id, subq?.id, i, j)">add_circle</span> -->
                                                                        <!-- </div> -->
                                                                        <ul class="goal-list">
                                                                            <ng-container
                                                                                *ngFor="let subGoal of qus?.RatingMaster?.Goals;let ind=index">
                                                                                <li *ngIf="subGoal?.mentorId == qus?.mentorId && subGoal?.studentId == qus?.studentId && subGoal?.subRatingQuesId == subq?.id">
                                                                                    <div class=" edit-goal-outer">
                                                                                        <h4 class="heading-3 mb10">Goal
                                                                                        </h4>
                                                                                        <!-- <a href="javascript:void(0);" class="add-new-goal"><span class="material-icons">add_circle</span></a> -->
                                                                                        <!-- <a href="javascript:void(0);"
                                                                                            class="delete-goal"
                                                                                            (click)="removeSubGoal(i,j, ind)"><span
                                                                                                class="material-icons">add_circle</span></a> -->
                                                                                    </div>
                                                                                    <p class="rating-text">
                                                                                        <textarea type="text"
                                                                                            class="form-control pl18"
                                                                                            placeholder="Add Goals"
                                                                                            readonly
                                                                                            >{{subGoal.title}}</textarea>
                                                                                    </p>
                                                                                </li>
                                                                            </ng-container>
                                                                        </ul>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group "></div>

                                                            </div>
                                                          <!-- </ng-container> -->
                                                        </div>

                                                    </ng-container>
                                                    <!-- *ngIf="qus?.hasGoal" -->
                                                    
                                                    <!-- </ng-container> -->
                                                    <!-- </ng-container> -->



                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <div *ngIf="ratingArrayData.length== 0" class="no-data-outer">
                                    <i class="material-icons">warning</i><span>Mentor has not rated yet !</span>
                                  </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
