.dashboard-outer {
  width: 100%;
  margin-left: 20px;
  margin: 0;
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: calc(100vh - 130px);
  overflow: auto;
}
.dashboard-left {
  width: 73.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
.dashboard-right {
  width: 21.5%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
}
.search-bar {
  background: #fff;
  padding: 10px;
  width: 400px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #ededed;
}
.clean-input {
  background: #fff;
  border: none;
  outline: none;
  font-family: "nunitosans";
  font-size: 14px;
  width: 100%;
  caret-color: #004e9a;
}
.dashborad-boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
}
.dashboard-box {
  cursor: pointer;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background: #ededed;
}
.upper-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lower-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper-content .content .type {
  font-size: 14px;
  font-family: "nunitosans";
}
.upper-content .content .count {
  font-size: 20px;
  font-family: "nunitosans-Bold";
}
.lower-content .content .type {
  font-size: 11px;
  line-height: 120%;
  color: #999999;
  font-family: "nunitosans";
}
.lower-content .content .count {
  font-family: "nunitosans-Bold";
  font-size: 14px;
  line-height: 150%;
}
.bg-green {
  background: #e8fff2;
}
.bg-Yellow {
  background: #feeeb3;
}

.attendence-box {
  cursor: pointer;
  width: 35%;
  display: flex;
  padding: 20px;
  background: #e1e9f0;
  border-radius: 5px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 145px;
}
.attendence-box .count {
  font-size: 20px;
  font-family: "nunitosans-Bold";
}
.attendence-box .type {
  font-size: 14px;
  font-family: "nunitosans";
}
.attendence-box .content-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}
.attendence-box .lower-content {
  gap: 20px;
}
.grey-marker {
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background: #999999;
}
.yellow-marker {
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background: #fad133;
}
.green-marker {
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background: #229e6d;
}
.blue-marker {
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background: #004e9a;
}
.red-marker {
  width: 6px;
  border-radius: 50%;
  height: 6px;
  background: #d63736;
}
.count {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.progress-box-outer {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ededed;
}
.progress-box-outer .heading {
  font-size: 18px;
  font-family: "nunito_sanssemibold";
  line-height: 120%;
}
.blue-bar {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e1e9f0;
  border-left: 10px solid #004e9a;
}
.green-bar {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e8fff2;
  border-left: 10px solid#229e6d;
}
.yellow-bar {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #feeeb3;
  border-left: 10px solid #fad133;
}
.danger-bar {
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f7d7d7;
  border-left: 10px solid #d63736;
}

.left-content {
  font-size: 14px;
  font-family: "nunito_sanssemibold";
}

.right-content {
  font-size: 12px;
  font-family: "nunito_sanssemibold";
}
.progress-info {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-top: 15px;
  flex-direction: column;
}
.bidding-btn {
  width:64%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 15px;
  gap: 10px;
  background: #004e9a;
  border-radius: 10px;
}
.bidding-btn p {
  font-size: 16px;
  color: #fff;
  font-family: "nunito_sanssemibold";
}
.course-btn {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 12px;
  font-size: 14px;
  background: #e1e9f0;
  border-radius: 5px;
  font-family: "nunito_sanssemibold";
  cursor: pointer;
}
.course-btn:last-child {
  width: 63%;
}
.course-btn-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dashboard-table{
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ededed;
    background: #fff;
}
.table-header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ededed;
}
.table-header .heading {
  font-size: 18px;
  font-family: "nunito_sanssemibold";
}
.toggler {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.toggle {
  font-size: 14px;
  cursor: pointer;
  font-family: "nunito_sanssemibold";
}
.toggle.active {
  font-family: "ns-extrabold";
}

.day-bar {
  padding: 0 15px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}
.day {
  padding: 6px 0;
  font-size: 16px;
  font-family: "nunito_sanssemibold";
}
.time-outer .time {
  font-size: 12px;
  font-family: "nunitosans";
}
.table-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.lecture-row {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1px 0;
  border-bottom: 1px solid #ededed;
}
.lecture {
  width: 160px;
  border-radius: 5px;
  padding: 12px 5px;
}
.ml-80 {
  margin-left: -80px;
}
.ml80 {
  margin-left: 80px;
}

.lecture-inner {
  padding-left: 5px;
}
.lecture.blue {
  background: #e1e9f0;
}
.lecture-inner.blue {
  border-left: 5px solid #004e9a;
}
.lecture.Green {
  background: #e8fff2;
}
.lecture-inner.Green {
  border-left: 5px solid#229e6d;
}
.lecture.yellow {
  background: #feeeb3;
}
.lecture-inner.yellow {
  border-left: 5px solid #fad133;
}


.course-name {
  font-size: 12px;
  font-family: "nunitosans";
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.time-table {
  width: 100%;
  margin-bottom: 20px;
}
.time-table .time-outer {
  gap: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.time-table td {
  padding: 2px 0;
  border-bottom: 1px solid #ededed;
}
.time-table tbody tr {
  border-bottom: 1px solid #ededed;
}
.time-table thead th {
  border-bottom: 1px solid #ededed;
}
.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 2px solid #ededed;
  position: sticky;
  top: 50px;
  z-index: 1000;
}
.filter-bar {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
select {
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  font-family: "nunitosans";
  color: #404040;
  background-image: url("https://epicenter2022.s3.ap-south-1.amazonaws.com/assets/img/caretDown.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  outline: none;
  appearance: none;
  padding-right: 30px;
  border-radius: 300px;
  border: 1px solid #ededed;
}
.pointer {
  cursor: pointer;
}
.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 2px solid #ededed;
  position: sticky;
  top: 0px;
  z-index: 1000;
  border-left: 1px solid #ededed;
}
.main-body {
  padding: 0;
  overflow: hidden;
}

.create-input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 13px;
  font-family: "nunito_sanssemibold";
  width: 100%;
}

.new-event{
  padding: 10px;
}
.session-name{
  font-size: 16px;
  font-family: 'nunitosans';
  
}
.session-name span{
  font-family: "nunitosans-Bold";
}
#description{
  padding: 0 20px;
  margin-top: 10px;
}

.new-design-popup{
  max-width: 700px !important;
}

.course-code{
  font-family: 'nunitosans';
  font-family: 20px !important;
}
.course-code span{
  font-family: 'nunitosans-Bold';
}

a.fc-timegrid-event{
  cursor: pointer !important;
}
