<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body">
    <div class="page-header">
      <div class="header-left">
        <p class="component-heading">Dashboard</p>
      </div>
      <!-- <div class="header-right">
        <form action="" class="search-bar">
          <img src="../assets/img/search.svg" alt="" />
          <input type="text" name="" id="" placeholder="Search" class="clean-input" />
        </form>
      </div> -->
    </div>
    <div class="dashboard-outer scrollbar">
      <div class="dashboard-left">
        <div class="dashborad-boxes">
          <div class="dashboard-box">
            <div class="upper-content">
              <div class="content">
                <p class="type">Current Term Courses</p>
                <p class="count">{{Data?.noOfCourses}}</p>
              </div>
              <img src="../assets/img/dashboard-icon01.svg" alt="" />
            </div>
            <div class="lower-content">
              <div class="content">
                <p class="type">Core Courses</p>
                <p class="count">{{Data?.coreType}}</p>
              </div>
              <div class="content">
                <p class="type">Elective Courses</p>
                <p class="count">{{Data?.electiveType}}</p>
              </div>
              <div class="content">
                <p class="type">All Courses</p>
                <p class="count">{{totalCourses}}</p>
              </div>
            </div>
          </div>
          <!-- <div class="dashboard-box bg-green">
            <div class="upper-content">
              <div class="content">
                <p class="type">Total Assignment</p>
                <p class="count">15</p>
              </div>
              <img src="../assets/img/dashboard-icon02.svg" alt="" />
            </div>
            <div class="lower-content">
              <div class="content">
                <p class="type">Completed</p>
                <p class="count">03</p>
              </div>
              <div class="content">
                <p class="type">On Going</p>
                <p class="count">04</p>
              </div>
            </div>
          </div> -->
          <div class="dashboard-box bg-Yellow">
            <div class="upper-content">
              <div class="content">
                <p class="type">Total Session</p>
                <p class="count">{{Data?.noofSessions}}</p>
              </div>
              <img src="../assets/img/dashboard-icon03.svg" alt="" />
            </div>
            <div class="lower-content">
              <div class="content">
                <p class="type">Completed</p>
                <p class="count">{{completedSession}}</p>
              </div>
              <div class="content">
                <p class="type">Missed</p>
                <p class="count">{{Data?.missed}}</p>
              </div>
              <div class="content">
                <p class="type">Upcoming</p>
                <p class="count">{{upcomingSession}}</p>
              </div>
            </div>
          </div>
          <div class="attendence-box" [routerLink]="['/student/studentAttendance']">
            <div class="content-left">
              <div class="content">
                <p class="type">Attendance</p>
                <p class="count">{{Data?.attendance}}%</p>
                <!-- <p class="count">%</p> -->
              </div>
              <div class="lower-content">
                <div class="content">
                  <p class="type"></p>
                  <div class="count">
                    <!-- {{Data?.noofSessions}} -->
                  </div>
                </div>
                <!-- <div class="content">
                  <p class="type">Total Sessions</p>
                  <div class="count">
                    <div class="yellow-marker"></div>
                    180
                  </div>
                </div> -->
              </div>
            </div>
            <div class="content-right">
              <img src="../assets/img/attendaceIcon.svg"/>
            </div>
          </div>
        </div>
        <div class="dashboard-table hide">
          <div class="table-header">
            <p class="heading">My Schedule</p>
            <div class="toggler">
              <p class="toggle active">Today</p>
              <p class="toggle">Weekly</p>
              <p class="toggle">Monthly</p>
            </div>
          </div>
          <div class="day-bar">
            <p class="day">Monday</p>
            <table class="time-table">
              <thead>
                <tr>
                  <th>
                    <div class="time-outer">
                      <p class="time">8:00 AM</p>
                      <p class="time">9:00 AM</p>
                    </div>
                  </th>
                  <th>
                    <div class="time-outer">
                      <p class="time">10:00 AM</p>
                      <p class="time">11:00 AM</p>
                    </div>
                  </th>
                  <th>
                    <div class="time-outer">
                      <p class="time">12:00 PM</p>
                      <p class="time">1:00 PM</p>
                    </div>
                  </th>
                  <th>
                    <div class="time-outer">
                      <p class="time">2:00 PM</p>
                      <p class="time">3:00 PM</p>
                    </div>
                  </th>
                  <th>
                    <div class="time-outer">
                      <p class="time">4:00 PM</p>
                      <p class="time">5:00 PM</p>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="lecture blue">
                      <div class="lecture-inner blue">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>

                  <td>
                    <div class="lecture yellow ml-80">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture blue">
                      <div class="lecture-inner blue">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <div class="lecture blue ml-80">
                      <div class="lecture-inner blue">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>

                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture blue">
                      <div class="lecture-inner blue">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="lecture blue">
                      <div class="lecture-inner blue">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>

                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <div class="lecture yellow">
                      <div class="lecture-inner yellow">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture Green">
                      <div class="lecture-inner Green">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="lecture blue">
                      <div class="lecture-inner blue">
                        <div class="course-code">MABD1625</div>
                        <div class="course-name">Usex Expreience Design</div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="dashboard-table">
          <full-calendar [options]="calendarOptions" *ngIf="initialized" id="calendar"></full-calendar>
        </div>
      </div>
      <div class="dashboard-right">
        <div class="progress-box-outer">
          <p class="heading">My Progress</p>
          <div class="progress-info">
            <div class="blue-bar">
              <div class="left-content">
                <p class="name">Core</p>
                <!-- <p class="content">User Experience Design</p> -->
              </div>
              <p class="right-content">{{Data?.attendedCore}}/{{Data?.coreSessions}}</p>
            </div>
            <div class="green-bar">
              <div class="left-content">
                <p class="name">Elective</p>
                <!-- <p class="content">User Experience Design</p> -->
              </div>
              <p class="right-content">{{Data?.attendedElective}}/{{Data?.electiveSession}}</p>
            </div>
            <!-- <div class="yellow-bar">
              <div class="left-content">
                <p class="name">Core</p>
                <p class="content">User Experience Design</p>
              </div>
              <p class="right-content">06/10</p>
            </div>
            <div class="danger-bar">
              <div class="left-content">
                <p class="name">Core</p>
                <p class="content">User Experience Design</p>
              </div>
              <p class="right-content">06/10</p>
            </div> -->
          </div>
        </div>
        
        <div class="course-btn-outer">
          <div class="course-btn" [routerLink]="['/student/newCourseList']">
            <img src="../assets/img/bookmark.svg" alt="" />
            Courses
          </div>
          <div *ngIf="isBiddingEnabled" class="bidding-btn" [routerLink]="['/student/electiveBidding']">
            <p>Bidding for Course</p>
            <img src="../assets/img/bigArrow.svg" alt="" />
          </div>
          <!-- <div class="course-btn">
            <img src="../assets/img/calenderX.svg" alt="" />
            Book office hours
          </div> -->
        </div>
        <div class="course-btn-outer">
          <div class="bidding-btn" [routerLink]="['/student/termWiseAssingmentMarks']">
            <p class="center">Result</p>
            <img src="../assets/img/bigArrow.svg" alt="" />
          </div>
          <!-- <div class="course-btn">
            <img src="../assets/img/calenderX.svg" alt="" />
            Book office hours
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered new-design-popup">
    <div class="modal-content">
      <div class="modal-body">
          <div class="view-event-box new-event">
              <div class="cover-outer">
                  <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">&times;</div>
                  </button>
                  <h2 class="course-code mb15">Course Name: <span> {{courseName  | titlecase}} ({{courseCode}})</span></h2>
                  <div class="ev-box-inner mb15">
                    <div class="cover-outer mr-1">
                          <p class="session-name">Session Name: <span>{{sessionName | titlecase}}</span></p>
                          <div id="description"></div>
                      </div>
                  </div>
               </div>
          </div>
      </div>
      
    </div>
  </div>
</div>