<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container [toasterconfig]="config">
</toaster-container>
<app-student-header></app-student-header>
<div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
        <div class="sh1"></div>
        <div class="sh2"></div>
        <!-- <h4 class="lt">Master Union</h4> -->
    </div>
</div>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div class="main-body">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb40">
                    Ticket <span class="borderheading">Conversation
                    </span>
                </h3>
                <div class="cover-outer create-survey ticket-detial-outer">
                    <div class="parallel-heading-outer">
                        <!-- <h3 class="cover-outer lg-heading w-75 mr-2">
                            Ticket ID: {{enquiryList[0]?.Enquiry?.ticketNumber}}
                        </h3> -->
                        <h3 class="cover-outer lg-heading w-75 mr-2">
                            Ticket No: {{details?.ticketNumber}}
                        </h3>

                        <p class="text-yellow-bg newcolor-edit">Status: {{details?.status == 'solved' &&
                            details?.studentFeedback ==
                            null ? 'Solved' :(details?.status == 'open')? 'In Progress': (details?.status == 'solved' &&
                            details?.studentFeedback !=
                            null ?'Resolved':'Pending')}}
                        </p>

                    </div>

                   
                    <div class="cover-outer ticket-conver-outer t-detail mb15">

                        <p class="pr-2">Category :</p>
                        <p> {{details?.CategoryMaster?.name |titlecase}}</p>
                    </div>
                    <div class="cover-outer t-detail mb15 ticket-conver-outer">
                        <p class="pr-2">Sub Category :</p>
                        <p>{{details?.SubCategoryMaster?.name |titlecase}}</p>
                    </div>
                    <div class="cover-outer t-detail mb15 ticket-conver-outer ">
                        <p class="pr-2">Description :</p>
                        <p>{{details?.description| titlecase}}</p>
                    </div>

                </div>
            </div>
            <div class="cover-outer create-survey mt20 ticket-conver-outer">
                <div class="parallel-heading-outer">

                    <!-- <div class="feeDetailFrom pageSortOuter">
                            <div class="form-group mb-0">
                                <div class="input-group right-arrow">
                                    <Select class="form-control selectpicker">
                                        <option value="">Reassign Ticket</option>
                                        <option>Reassign Ticket
                                        </option>
                                    </Select>
                                </div>
                            </div>

                        </div> -->
                </div>
                <div class="ticket-conver cover-outer">
                    <!-- <div *ngFor="let enquiry of enquiryList;let i =index" class="ticket-ques">
                      
                                {{enquiry?.studentReply}}
                                <div class="ticket-ques-by cover-outer mt10">
                                    <p>{{enquiry?.Student?.firstName | titlecase}} {{enquiry?.Student?.lastName | titlecase}}   |   {{enquiry?.studentReplyDate | date:'mediumDate'}}</p> 
                                    <a href="javascript:void(0);" class="link2"><u>Publish to FAQ</u></a>
                                </div>

                        </div> -->
                    <ng-container *ngFor="let enquiry of enquiryList;let i =index">

                        <div *ngIf="enquiry?.reply != null" class="ticket-ques">
                            <div class="cover-outer">
                                {{enquiry?.reply | titlecase}}
                                <div class="ticket-ques-by cover-outer p-0 mt10">
                                    <p>{{enquiry?.User?.firstName | titlecase}} {{enquiry?.User?.lastName |
                                        titlecase}} | {{enquiry?.date | date:'mediumDate'}}</p>
                                    <!-- <a class="link2" href="javascript:void(0);"><u>Publish to FAQ</u></a> -->
                                </div>
                            </div>
                        </div>
                        <div *ngIf="enquiry?.studentReply != null" class="ticket-ans">

                            <div class="cover-outer">
                                {{enquiry?.studentReply | titlecase}}
                                <div class="ticket-ques-by cover-outer p-0 mt10">
                                    <p>{{enquiry?.Student?.firstName | titlecase}} {{enquiry?.Student?.lastName |
                                        titlecase}} | {{enquiry?.studentReplyDate | date:'mediumDate'}}</p>
                                    <!-- <a class="link2" href="javascript:void(0);"><u>Publish to FAQ</u></a> -->
                                </div>
                            </div>
                        </div>

                    </ng-container>
                    <!-- <ng-container *ngFor="let enquiry of enquiryList;let i =index">

                    </ng-container> -->
                    <ng-container *ngIf="details?.status != 'solved'">
                        <form class="cover-outer mt10 feeDetailFrom">
                            <div class="form-group mb-0">
                                <label class="label-heading">Reply</label>
                                <div class="input-group">
                                    <textarea name="reply" [(ngModel)]="reply" class="form-control mh100 pl18"
                                        id="ticket-reply"></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="parallel-heading-outer student-added mt20">
                            <!-- <div class="feeDetailFrom feeSearchOuter flex-column">
                                <button class="upload-csv mr-3 mb10" type="button">Choose File</button>
                                <p class="text-grey">No choosen file</p>
                            </div> -->



                            <div class="feeDetailFrom pageSortOuter">
                                <!-- <div class="form-group mb-0 d-flex align-items-center">
                                    <label class="label-heading">Ticket Status</label>
                                    <div class="input-group right-arrow">
                                        <Select class="form-control selectpicker">
                                            <option value="">Inprogress</option>
                                            <option>Inprogress
                                            </option>
                                        </Select>
                                    </div>
                                </div> -->
                                <div class="form-group mb-0 ml-0">
                                    <div class="input-group">
                                        <a (click)="sendReply()" href="javascript:void(0);" class="btn4">Send
                                            Reply</a>
                                    </div>
                                </div>




                            </div>




                        </div>



                    </ng-container>
                    <div class="emoji-outer cover-outer mt50">
                        <div class="emoji-outer icos">



                            <ng-container *ngIf="details?.status == 'solved' && details?.studentFeedback == null">
                                <h3 class="lg-heading mb20"> Rate your experience with our support team </h3>
                                <i (click)="unSatisfied('unsatisfied')" class="material-icons sad emoji mr7">
                                    mood_bad </i> <span class="emoji-text ml10">Dissatisfactory</span><br>
                                <i (click)="neutral('neutral')" class="material-icons normal emoji mr7">
                                    sentiment_satisfied </i> <span class="emoji-text ml10">Neutral</span> <br>
                                <i (click)="satisfied('satisfied')" class="material-icons happy emoji mr7 ">
                                    insert_emoticon </i> <span class="emoji-text ml10">Satisfactory</span>
                            </ng-container>
                            <ng-container
                                *ngIf="details?.status == 'solved' && details?.studentFeedback == 'satisfied'">
                                <h3 class="lg-heading mb20"> Rate your experience with our support team </h3>
                                <i class="material-icons sad emoji mr7"> mood_bad </i> <span
                                    class="emoji-text ml10">Dissatisfactory</span> <br>
                                <i class="material-icons normal emoji mr7"> sentiment_satisfied </i> <span
                                    class="emoji-text ml10">Neutral</span> <br>

                                <i class="material-icons happy emoji active"> insert_emoticon </i> <span
                                    class="emoji-text ml10">Satisfactory</span>
                            </ng-container>
                            <ng-container *ngIf="details?.status == 'solved' && details?.studentFeedback == 'neutral'">
                                <h3 class="lg-heading mb20"> Rate your experience with our support team </h3>
                                <i class="material-icons sad emoji mr7"> mood_bad </i> <span
                                    class="emoji-text ml10">Dissatisfactory</span> <br>

                                <i class="material-icons normal emoji mr7 active"> sentiment_satisfied </i>
                                <span class="emoji-text ml10">Neutral</span> <br>
                                <i class="material-icons happy emoji "> insert_emoticon </i> <span
                                    class="emoji-text ml10">Satisfactory</span>

                            </ng-container>
                            <ng-container
                                *ngIf="details?.status == 'solved' && details?.studentFeedback == 'unsatisfied'">
                                <h3 class="lg-heading mb20"> Rate your experience with our support team </h3>
                                <i class="material-icons sad emoji mr7 active"> mood_bad </i> <span
                                    class="emoji-text ml10">Dissatisfactory</span> <br>

                                <i class="material-icons normal emoji mr7 "> sentiment_satisfied </i> <span
                                    class="emoji-text ml10">Neutral</span> <br>
                                <i class="material-icons happy emoji "> insert_emoticon </i> <span
                                    class="emoji-text ml10">Satisfactory</span>


                            </ng-container>
                        </div>

                        <!-- <div class="d-flex mb10 align-items-center">
                            <svg class="emoji" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.314 23C9.52919 23 6.85848 21.8938 4.88934 19.9246C2.92021 17.9555 1.81396 15.2848 1.81396 12.5C1.81396 9.71523 2.92021 7.04451 4.88934 5.07538C6.85848 3.10625 9.52919 2 12.314 2C15.0987 2 17.7695 3.10625 19.7386 5.07538C21.7077 7.04451 22.814 9.71523 22.814 12.5C22.814 15.2848 21.7077 17.9555 19.7386 19.9246C17.7695 21.8938 15.0987 23 12.314 23ZM12.314 24.5C15.4966 24.5 18.5488 23.2357 20.7992 20.9853C23.0497 18.7348 24.314 15.6826 24.314 12.5C24.314 9.3174 23.0497 6.26516 20.7992 4.01472C18.5488 1.76428 15.4966 0.5 12.314 0.5C9.13137 0.5 6.07912 1.76428 3.82868 4.01472C1.57825 6.26516 0.313965 9.3174 0.313965 12.5C0.313965 15.6826 1.57825 18.7348 3.82868 20.9853C6.07912 23.2357 9.13137 24.5 12.314 24.5Z" fill="#A3ABB0"/>
                                <path d="M6.74131 19.1495C6.91357 19.249 7.11828 19.2759 7.31041 19.2244C7.50254 19.1729 7.66635 19.0473 7.76581 18.875C8.22648 18.0765 8.88939 17.4134 9.68781 16.9526C10.4862 16.4918 11.392 16.2495 12.3138 16.25C14.2563 16.25 15.9528 17.3045 16.8618 18.875C16.962 19.0459 17.1257 19.1702 17.3171 19.2208C17.5086 19.2714 17.7123 19.2442 17.8838 19.1452C18.0553 19.0462 18.1807 18.8833 18.2326 18.6922C18.2845 18.5011 18.2587 18.2972 18.1608 18.125C17.5685 17.0985 16.7162 16.2461 15.6898 15.6536C14.6634 15.0611 13.499 14.7495 12.3138 14.75C11.1287 14.7498 9.96444 15.0615 8.93806 15.654C7.91168 16.2464 7.05936 17.0987 6.46681 18.125C6.36736 18.2973 6.34041 18.502 6.39189 18.6941C6.44337 18.8862 6.56906 19.05 6.74131 19.1495ZM10.8138 10.25C10.8138 11.492 10.1418 12.5 9.31381 12.5C8.48581 12.5 7.81381 11.492 7.81381 10.25C7.81381 9.008 8.48581 8 9.31381 8C10.1418 8 10.8138 9.008 10.8138 10.25ZM16.8138 10.25C16.8138 11.492 16.1418 12.5 15.3138 12.5C14.4858 12.5 13.8138 11.492 13.8138 10.25C13.8138 9.008 14.4858 8 15.3138 8C16.1418 8 16.8138 9.008 16.8138 10.25Z" fill="#A3ABB0"/>
                            </svg>
                            <p class="emoji-text ml10">Unsatisfied</p>
                        </div>
                        <div  class="mb10 d-flex align-items-center">
                            <svg class="emoji" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.314 23C9.52919 23 6.85848 21.8938 4.88934 19.9246C2.92021 17.9555 1.81396 15.2848 1.81396 12.5C1.81396 9.71523 2.92021 7.04451 4.88934 5.07538C6.85848 3.10625 9.52919 2 12.314 2C15.0987 2 17.7695 3.10625 19.7386 5.07538C21.7077 7.04451 22.814 9.71523 22.814 12.5C22.814 15.2848 21.7077 17.9555 19.7386 19.9246C17.7695 21.8938 15.0987 23 12.314 23ZM12.314 24.5C15.4966 24.5 18.5488 23.2357 20.7992 20.9853C23.0497 18.7348 24.314 15.6826 24.314 12.5C24.314 9.3174 23.0497 6.26516 20.7992 4.01472C18.5488 1.76428 15.4966 0.5 12.314 0.5C9.13137 0.5 6.07912 1.76428 3.82868 4.01472C1.57825 6.26516 0.313965 9.3174 0.313965 12.5C0.313965 15.6826 1.57825 18.7348 3.82868 20.9853C6.07912 23.2357 9.13137 24.5 12.314 24.5Z" fill="#A3ABB0"/>
                                <path d="M10.814 10.25C10.814 11.492 10.142 12.5 9.31396 12.5C8.48596 12.5 7.81396 11.492 7.81396 10.25C7.81396 9.008 8.48596 8 9.31396 8C10.142 8 10.814 9.008 10.814 10.25ZM16.814 10.25C16.814 11.492 16.142 12.5 15.314 12.5C14.486 12.5 13.814 11.492 13.814 10.25C13.814 9.008 14.486 8 15.314 8C16.142 8 16.814 9.008 16.814 10.25Z" fill="#A3ABB0"/>
                                <path d="M7.81396 15.5H16.814V17.375H7.81396V15.5Z" fill="#A3ABB0"/>
                                </svg>
                                <p class="emoji-text ml10">Neutral</p>
                        </div>
                        <div class="mb10 d-flex align-items-center">
                            <svg class="emoji" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.01397 12.5C5.88879 12.4998 5.76495 12.5258 5.65036 12.5761C5.53577 12.6265 5.43295 12.7003 5.34848 12.7927C5.264 12.885 5.19973 12.994 5.15976 13.1126C5.1198 13.2313 5.10502 13.3569 5.11636 13.4816C5.45236 17.1704 8.17637 20.3 12.314 20.3C16.4516 20.3 19.1744 17.1704 19.5116 13.4816C19.5229 13.3569 19.5081 13.2313 19.4682 13.1126C19.4282 12.994 19.3639 12.885 19.2795 12.7927C19.195 12.7003 19.0922 12.6265 18.9776 12.5761C18.863 12.5258 18.7391 12.4998 18.614 12.5H6.01397ZM12.314 18.5C9.60557 18.5 7.66877 16.724 7.07237 14.3H17.5556C16.9604 16.724 15.0236 18.5 12.314 18.5Z" fill="#A3ABB0"/>
                                <path d="M16.214 8.6C15.7244 8.6 15.362 8.9444 15.3044 9.332C15.2694 9.56815 15.142 9.78072 14.9502 9.92295C14.7585 10.0652 14.5181 10.1254 14.282 10.0904C14.0458 10.0554 13.8332 9.92801 13.691 9.73627C13.5488 9.54453 13.4886 9.30415 13.5236 9.068C13.718 7.76 14.8712 6.8 16.214 6.8C17.5568 6.8 18.71 7.76 18.9044 9.068C18.9394 9.30415 18.8791 9.54453 18.7369 9.73627C18.5947 9.92801 18.3821 10.0554 18.146 10.0904C17.9098 10.1254 17.6694 10.0652 17.4777 9.92295C17.286 9.78072 17.1586 9.56815 17.1236 9.332C17.066 8.9444 16.7036 8.6 16.214 8.6Z" fill="#A3ABB0"/>
                                <path d="M7.50437 9.332C7.56197 8.9444 7.92437 8.6 8.41397 8.6C8.90477 8.6 9.26597 8.9444 9.32357 9.332C9.35857 9.56815 9.48596 9.78072 9.6777 9.92295C9.86943 10.0652 10.1098 10.1254 10.346 10.0904C10.5821 10.0554 10.7947 9.92801 10.9369 9.73627C11.0791 9.54453 11.1394 9.30415 11.1044 9.068C10.9112 7.76 9.75677 6.8 8.41397 6.8C7.07117 6.8 5.91796 7.76 5.72357 9.068C5.68856 9.30415 5.74879 9.54453 5.89102 9.73627C6.03325 9.92801 6.24582 10.0554 6.48197 10.0904C6.71811 10.1254 6.9585 10.0652 7.15023 9.92295C7.34197 9.78072 7.46936 9.56815 7.50437 9.332Z" fill="#A3ABB0"/>
                                <path d="M12.314 0.5C5.68637 0.5 0.313965 5.8724 0.313965 12.5C0.313965 19.1276 5.68637 24.5 12.314 24.5C18.9416 24.5 24.314 19.1276 24.314 12.5C24.314 5.8724 18.9416 0.5 12.314 0.5ZM2.11396 12.5C2.11396 9.79479 3.1886 7.20038 5.10148 5.28751C7.01435 3.37464 9.60876 2.3 12.314 2.3C15.0192 2.3 17.6136 3.37464 19.5265 5.28751C21.4393 7.20038 22.514 9.79479 22.514 12.5C22.514 15.2052 21.4393 17.7996 19.5265 19.7125C17.6136 21.6254 15.0192 22.7 12.314 22.7C9.60876 22.7 7.01435 21.6254 5.10148 19.7125C3.1886 17.7996 2.11396 15.2052 2.11396 12.5Z" fill="#A3ABB0"/>
                                </svg>
                                <p class="emoji-text ml10">Satisfed</p>
                        </div> 
                             -->
                    </div>

                </div>
                <!-- <div *ngIf="enquiryList?.length == 0"  class="no-data-outer">
                    <i class="material-icons">warning</i><span>No Record Found</span>
                  </div>
                   -->
            </div>




        </section>
        <app-student-footer></app-student-footer>
    </div>


</div>