<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>

        </div>
    </div>

    <div class="main-outer">


        <div class="main-body">

            <section class="fees-container">



                <div class="container-fluid">
                    <h3 class="cover-outer boldheading mb50">
                        List <span class="borderheading">of Clubs</span>
                    </h3>

                    <div class="student-added-1 create-survey cover-outer payClubMain">
                        <div class="cover-outer">
                            <div class="cover-outer student-added-1 ">
                                <div class="parallel-heading-outer student-added ">
                                    <div class="feeDetailFrom feeSearchOuter">
                                        <ul class="nav nav-tabs students-tabs">
                                            <li><a (click)="allJoinedList()" class="active" data-toggle="tab"
                                                    href="#home">Club List</a></li>
                                            <li><a (click)="allRequestedList()" data-toggle="tab" href="#menu1">Club
                                                    Request Status</a></li>
                                            <!-- <li><a (click)="unPublishedClick()" data-toggle="tab"
                                                    href="#menu2">Unpublish</a></li>
                                            <li><a (click)="coursesPublishedClick()" data-toggle="tab"
                                                    href="#menu3">Rejected List</a></li> -->

                                        </ul>
                                    </div>
                                    <div class="addNewUserOuter">
                                        <a class="add-fee-detail mb10" routerLink="/student/create-club">
                                            <i class="material-icons mr10"> add </i>
                                            New Club Request</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="event-state">
                                <div class="event-nm red">
                                    <i class="material-icons ">stop</i>
                                    <p>Past Events</p>
                                </div>
                                <div class="event-nm green">
                                    <i class="material-icons ">stop</i>
                                    <p>Upcoming Events</p>
                                </div>
                            </div> -->
                            <!-- <div class="calendar">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM8 11H4V6H8V11ZM14 11H10V6H14V11ZM20 11H16V6H20V11ZM8 18H4V13H8V18ZM14 18H10V13H14V18ZM20 18H16V13H20V18Z" fill="black"/>
                                    </svg>
                                    
                            </div> -->
                        </div>
                        <div class="cover-outer">
                            <div class="tab-content cover-outer mt10">
                                <div id="home" class="tab-pane fade show active">
                                    <div class="feeDetailFrom pageSortOuter">

                                        <!-- <div class="form-group">
                                            <label class="label-heading d-none">Sort By</label>
                                            <div class="input-group right-arrow">
                                              <Select id="clubType" ngDefaultControl name="club" title="By Club Type" [(ngModel)]="clubType" 
                                              (change)="getByType()"class="form-control selectpicker">
                                                <option value="">All</option>
                                                <option value="music">Music</option>
                                                <option value="sports">Sports</option>
                                              </Select>
                                            </div>
                                        </div> -->

                                    </div>
                                    <div class="feeDetailFrom feeSearchOuter  ">
                                        <div class="form-group w-100"><label class="label-heading d-none">Search
                                            </label>
                                            <div class="input-group">
                                                <!-- <input class="form-control ng-pristine ng-valid ng-touched"
                                                name="searchParam" ngdefaultcontrol=""
                                                placeholder="Search " type="text"
                                                ng-reflect-name="searchParam" ng-reflect-model="">
                                                <a class="material-icons">search</a> -->
                                                <input type="text" class="form-control" ngDefaultControl
                                                    name="searchParams1" [(ngModel)]="searchParams1"
                                                    (input)="isSearchType1($event.target.value)"
                                                    placeholder="Search By Club Name" (keyup.enter)="search1()">
                                                <a class="deleteSearch material-icons" *ngIf="isCrossEnable1"
                                                    (click)="resetsearch1()">close</a>
                                                <a (click)="search1()" class="material-icons">search</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="feeDetailFrom feeSearchOuter float-left">
                                        <span class="txt">{{courseUnPublishedList.length}} Courses</span>
                                    </div> -->
                                    <!-- <div class="cover-outer">
                                        <full-calendar [options]="calendarOptions"></full-calendar>
                                    </div>
                                    <br><br> -->
                                    <div class="payment-detail-outer table-responsive" *ngIf="joinedClubs?.length > 0">
                                        <table class="table payment-detail-table">
                                            <tr>
                                                <th>Club Name</th>
                                                <th>President Name</th>
                                                <th>Club Type</th>
                                                <!-- <th>Events</th>
                                                <th>Send Messages</th> -->
                                                <!-- <th>Join Club</th> -->
                                                <th>Club Member</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr *ngFor="let jclub of joinedClubs;index as i">
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img *ngIf="jclub?.clubProfileImage && jclub?.clubProfileImage !== 'null'; else noImg"
                                                            src="{{jclub?.clubProfileImage}}" alt="">
                                                        <ng-template #noImg>
                                                            <img src="../../../../assets/img/club-brand.png" alt="">
                                                        </ng-template>
                                                        <p class="ml-2">{{jclub?.name}}</p>
                                                    </div>
                                                </td>
                                                <ng-container *ngFor="let p of jclub.ClubIntrestedStudents;index as j">
                                                    <td *ngIf="p.isPresident">{{p?.Student?.firstName}}
                                                        {{p?.Student?.lastName}}
                                                    </td>
                                                </ng-container>

                                                <td>
                                                    {{jclub?.clubType}}
                                                </td>
                                                <!-- <td >
                                                    <a href="" class="red-clr font-weight-bold"> <u>Events</u> </a>
                                                </td>
                                                <td> <a href="" class="red-clr font-weight-bold"> <u>View</u> </a>
                                                </td> -->
                                                <td *ngIf="jclub.isJoinedClub.length==0">
                                                    <!-- <a class="link-1" target="_blank" (click)="joinClubRequest(jclub?.id)">Send Request</a> -->
                                                    No
                                                </td>
                                                <td *ngIf="jclub.isJoinedClub.length>0">
                                                    Yes
                                                </td>
                                                <td>
                                                    <button class="btn7"
                                                        [routerLink]="['/student/club-detail',jclub?.id]">Club
                                                        Details</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div *ngIf="joinedClubs?.length == 0" class="no-data-outer">
                                        <i class="material-icons">warning</i><span>No Record Found</span>
                                    </div>
                                </div>
                                <div id="menu1" class="tab-pane fade">
                                    <div class="feeDetailFrom pageSortOuter">

                                        <div class="form-group">
                                            <label class="label-heading d-none">Sort By</label>
                                            <div class="input-group right-arrow">
                                                <Select id="clubStatus" ngDefaultControl name="club" title="By Status"
                                                    [(ngModel)]="clubStatus" (change)="getByStatus()"
                                                    class="form-control selectpicker">
                                                    <option value="">All</option>
                                                    <option value="pending">Pending</option>
                                                    <option value="approved">Approved</option>
                                                    <option value="rejected">Rejected</option>
                                                </Select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="feeDetailFrom feeSearchOuter">
                                        <div class="form-group w-100"><label class="label-heading d-none">Search
                                            </label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" ngDefaultControl
                                                    name="searchParams2" [(ngModel)]="searchParams2"
                                                    (input)="isSearchType2($event.target.value)"
                                                    placeholder="Search By Club Name" (keyup.enter)="search2()">
                                                <a class="deleteSearch material-icons" *ngIf="isCrossEnable2"
                                                    (click)="resetsearch2()">close</a>
                                                <a (click)="search2()" class="material-icons">search</a>
                                                <!-- <input class="form-control ng-pristine ng-valid ng-touched"
                                                name="searchParam" ngdefaultcontrol=""
                                                placeholder="Search" type="text"
                                                ng-reflect-name="searchParam" ng-reflect-model="">
                                                <a class="material-icons">search</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="payment-detail-outer table-responsive payClubMain" *ngIf="clubResponse?.length > 0">
                                        <table class="table payment-detail-table">
                                            <tr>

                                                <th>Club Name</th>
                                                <th>Club Type</th>
                                                <th>Club Status</th>
                                                <th>Action</th>

                                            </tr>
                                            <tr *ngFor="let response of clubResponse;index as i">
                                                <td>
                                                    <div class="studentSurvey-title">
                                                        <img *ngIf="response?.ClubMaster?.clubProfileImage && response?.ClubMaster?.clubProfileImage !== 'null'; else noImg"
                                                            src="{{response?.ClubMaster?.clubProfileImage}}" alt="">
                                                        <ng-template #noImg>
                                                            <img src="../../../../assets/img/club-brand.png" alt="">
                                                        </ng-template>
                                                        <p class="ml-2">{{response?.ClubMaster?.name}}</p>
                                                    </div>
                                                </td>
                                                <td>{{response?.ClubMaster?.clubType}}</td>
                                                <td *ngIf="response?.ClubMaster?.clubStatus == 'pending'">
                                                    <div class="blue-highlight">Pending</div>
                                                </td>
                                                <td *ngIf="response?.ClubMaster?.clubStatus == 'approved'">
                                                    <div class="green-highlight">Approved</div>
                                                </td>
                                                <td *ngIf="response?.ClubMaster?.clubStatus == 'rejected'">
                                                    <div class="red-highlight">Rejected</div>
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li class=" pl10"
                                                                (click)="goToStatusPage(response?.ClubMaster?.id)">
                                                                <span class="material-icons mr10"> edit
                                                                </span> Preview & Edit
                                                            </li>
                                                            <!-- <li class="pl10"
                                                                (click)="clubDelete(response?.ClubMaster?.id)"> <span
                                                                    class="material-icons mr10"> delete
                                                                </span> Delete</li> -->


                                                            <!-- <li class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li> -->
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <!-- <td><a class="link-1" target="_blank" (click)="goToStatusPage(response?.ClubMaster?.id)">Edit</a></td> -->
                                            </tr>
                                        </table>
                                    </div>
                                    <div *ngIf="clubResponse?.length == 0" class="no-data-outer">
                                        <i class="material-icons">warning</i><span>No Record Found</span>
                                    </div>
                                </div>
                                <!-- <div id="menu2" class="tab-pane fade">
                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                        <span class="txt">{{coursePublishedList.length}} Courses</span>
                                    </div>
                                    <br><br>
                                    <div class="payment-detail-outer table-responsive">
                                        <table class="table payment-detail-table">
                                            <tr>
                                                <th>Club Name</th>
                                                <th>President Name</th>
                                                <th>Club Type</th>
                                                <th>Events</th>
                                                <th>Chats</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr>
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="">
                                                        <span class="ml-2">Music Club</span>
                                                    </div>
                                                </td>
                                                <td>Anand krishnan
                                                </td>
                                                <td>
                                                    Sport
                                                </td>
                                                <td>
                                                    4 Events
                                                </td>
                                                <td>Lets Discuss
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
    
                                                            <li [routerLink]="['/org/preview-bid',unPublishedRow?.id]"
                                                                class="pl10"> <span class="material-icons mr10">
                                                                    remove_red_eye
                                                                </span> Preview</li>
    
                                                            <li [routerLink]="['/org/updateCourse',unPublishedRow?.id]"
                                                                class=" pl10"> <span class="material-icons mr10"> edit
                                                                </span> Edit</li>
                                                            <li (click)="deleteCourse(unPublishedRow?.id)" class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li>
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="">
                                                        <span class="ml-2">Music Club</span>
                                                    </div>
                                                </td>
                                                <td>Anand krishnan
                                                </td>
                                                <td>
                                                    Sport
                                                </td>
                                                <td>
                                                    4 Events
                                                </td>
                                                <td>Lets Discuss
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li [routerLink]="['/org/preview-bid',unPublishedRow?.id]"
                                                                class="pl10"> <span class="material-icons mr10">
                                                                    remove_red_eye
                                                                </span> Preview</li>
    
                                                            <li [routerLink]="['/org/updateCourse',unPublishedRow?.id]"
                                                                class=" pl10"> <span class="material-icons mr10"> edit
                                                                </span> Edit</li>
                                                            <li (click)="deleteCourse(unPublishedRow?.id)" class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li>
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div id="menu3" class="tab-pane fade">
                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                        <span class="txt">{{coursePublishedList.length}} Courses</span>
                                    </div>
                                    <br><br>
                                    <div class="payment-detail-outer table-responsive">
                                        <table class="table payment-detail-table">
                                            <tr>
                                                <th>Club Name</th>
                                                <th>President Name</th>
                                                <th>Club Type</th>
                                                <th>Events</th>
                                                <th>Chats</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr>
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="">
                                                        <span class="ml-2">Music Club</span>
                                                    </div>
                                                </td>
                                                <td>Anand krishnan
                                                </td>
                                                <td>
                                                    Sport
                                                </td>
                                                <td>
                                                    4 Events
                                                </td>
                                                <td>Lets Discuss
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
    
                                                            <li [routerLink]="['/org/preview-bid',unPublishedRow?.id]"
                                                                class="pl10"> <span class="material-icons mr10">
                                                                    remove_red_eye
                                                                </span> Preview</li>
    
                                                            <li [routerLink]="['/org/updateCourse',unPublishedRow?.id]"
                                                                class=" pl10"> <span class="material-icons mr10"> edit
                                                                </span> Edit</li>
                                                            <li (click)="deleteCourse(unPublishedRow?.id)" class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li>
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="course-1">
                                                    <div class="studentSurvey-title">
                                                        <img src="../../../assets/img/1.png" alt="">
                                                        <span class="ml-2">Music Club</span>
                                                    </div>
                                                </td>
                                                <td>Anand krishnan
                                                </td>
                                                <td>
                                                    Sport
                                                </td>
                                                <td>
                                                    4 Events
                                                </td>
                                                <td>Lets Discuss
                                                </td>
                                                <td class="action-dropdown-menu fixedLast">
                                                    <div class="dropdown">
                                                        <button class="btn" type="button" data-toggle="dropdown"><i
                                                                class="material-icons">
                                                                more_vert
                                                            </i>
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li [routerLink]="['/org/preview-bid',unPublishedRow?.id]"
                                                                class="pl10"> <span class="material-icons mr10">
                                                                    remove_red_eye
                                                                </span> Preview</li>
    
                                                            <li [routerLink]="['/org/updateCourse',unPublishedRow?.id]"
                                                                class=" pl10"> <span class="material-icons mr10"> edit
                                                                </span> Edit</li>
                                                            <li (click)="deleteCourse(unPublishedRow?.id)" class="pl10">
                                                                <span class="material-icons mr10"> delete
                                                                </span> Delete
                                                            </li>
                                                            <div class="small-square"> </div>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <app-student-footer></app-student-footer>
        </div>
    </div>
</div>
