<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>

        </div>
    </div>

    <div class="main-body">
        <section class="fees-container preview-survey ClubNewBox">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50">Club
                    <span class="borderheading">Details </span>
                  </h3>
                <div class="d-inline-flex align-items-center float-left" routerLink="/student/view-club">
                    <div class="red-clr keyboard-back">
                        <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
                    </div>
                    <!-- <div class="ml-3 red-highlight">
                    Rejected
                    </div> -->
                </div>

                <!-- <button class="btn4 float-right d-inline-flex align-items-center" type="submit"
                    (click)="onSaveBtn(clubForm.value)"><i class="ph-clipboard"></i>Create</button> -->
                <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->

                <div class="cover-outer clubOuter mt50">
                    <!-- <div class="cover-outer feeDetailFrom-innerimg">
                        <div class="coverPicOuter">
                            <img src="../../../assets/img/coverBg.jpg" alt="">
                            <button class="coverPic-btn">
                                <i class="material-icons">photo_camera</i>
                                Upload Cover Photo
                            </button>
                        </div>
                        <div class="upload-club-wrapper">
                            <figure>
                                <img src="../../../assets/img/club-brand.png" alt="">
                            </figure>

                            <i class="material-icons">photo_camera</i>
                        </div>
                    </div> -->
                    <form [formGroup]="clubForm" class="cover-outer feeDetailFrom">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="cover-outer">
                                    <div class="form-group mb25">
                                        <label class="label-heading mb10">Club Name </label>
                                        <sup class="text-danger">*</sup>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Club Name" formControlName="name">
                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="cover-outer">
                                    <div class="form-group mb25">
                                        <label class="label-heading mb10">Mission of your club </label>
                                        <sup class="text-danger">*</sup>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Write a description"
                                                formControlName="description">
                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb25">
                                    <label class="label-heading mb10">Mission of your club
                                    </label>
                                    <sup class="text-danger">*</sup>
                                    <div class="input-group">
                                        <textarea class="form-control mh150"
                                            placeholder="Write your detailed description" formControlName="mission"
                                            class="form-control"
                                            placeholder="Write your detailed description"></textarea>
                                        <span class="msg-error d-none"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb25">
                                    <label class="label-heading mb10">Why do you want to form the club?
                                    </label>
                                    <sup class="text-danger">*</sup>
                                    <div class="input-group">
                                        <textarea class="form-control mh150"
                                            placeholder="Write your detailed description" formControlName="description"
                                            class="form-control"
                                            placeholder="Write your detailed description"></textarea>
                                        <span class="msg-error d-none"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-6">
                                <div class="cover-outer">
                                    <div class="form-group mb25">
                                        <label class="label-heading mb10">Why do you want to form the club </label>
                                        <sup class="text-danger">*</sup>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Write a description"
                                                formControlName="mission">
                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="col-md-6">
                                <div class="form-group mb25">
                                    <label class="label-heading mb10">Vision of your club
                                    </label>
                                    <sup class="text-danger">*</sup>
                                    <div class="input-group">
                                        <textarea class="form-control mh150"
                                            placeholder="Write your detailed description" formControlName="vision"
                                            class="form-control"
                                            placeholder="Write your detailed description"></textarea>
                                        <span class="msg-error d-none"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="cover-outer">
                                    <div class="form-group mb25">
                                        <label class="label-heading mb10">Vision of your club </label>
                                        <sup class="text-danger">*</sup>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Write a description"
                                                formControlName="vision">
                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="label-heading">Interested Students<sup>*</sup></label>
                                    <div class="bg-grey-padd20">


                                        <div class="parallel-heading-outer student-added mb20 d-inline-block">
                                            <div class="feeDetailFrom feeSearchOuter float-left">
                                                <div class="form-group">
                                                    <!-- <label class="label-heading">Search Student</label> -->
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" ngDefaultControl
                                                            name="searchParam" [ngModelOptions]="{standalone: true}"
                                                            [(ngModel)]="searchParam" placeholder="Search Student"
                                                            (input)="isSearchType($event.target.value)"
                                                            >
                                                        <a *ngIf="isCrossEnable" (click)="resetsearch()"
                                                            class="deleteSearch material-icons">close</a>
                                                        <a (click)="searchSpecific()" class="material-icons">search</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="feeDetailFrom pageSortOuter rm-mg">
                                                <div class="form-group">
                                                    <!-- <label class="label-heading">Show</label> -->
                                                    <div class="input-group right-arrow">
                                                        <Select id="pageSize" ngDefaultControl name="pageSize"
                                                            [ngModelOptions]="{standalone: true}" [(ngModel)]="pageSize"
                                                            (change)="searchSpecific()"
                                                            class="form-control selectpicker">
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                            <option value="150">150</option>
                                                        </Select>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <!-- <label class="label-heading">sorting</label> -->
                                                    <div class="input-group right-arrow">
                                                        <Select id="proName" ngDefaultControl name="proName"
                                                            title="By Program" (change)="programNameSearch()"
                                                            class="form-control selectpicker">
                                                            <option value="All">All Programs</option>
                                                            <option *ngFor="let pro of programNames" [value]=pro?.id>
                                                                {{pro?.programName}}
                                                            </option>
                                                        </Select>
                                                    </div>
                                                </div>
                                                <div class="form-group" *ngIf="orgProgramsData.length>0">
                                                    <!-- <label class="label-heading">sorting</label> -->
                                                    <div class="input-group right-arrow">
                                                        <Select id="programs" ngDefaultControl name="programs"
                                                            title="By Batch" (change)="programsSearch()"
                                                            class="form-control selectpicker">
                                                            <option value="All">All Batches</option>
                                                            <!-- <option disabled value="">Select Batch</option> -->

                                                            <option *ngFor="let pro of orgProgramsData" [value]=pro?.id>
                                                                {{pro?.batch}}</option>
                                                        </Select>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <div class="input-group right-arrow">
                                                        <Select (change)="searchSpecific()" id="sortBy"
                                                            class="form-control selectpicker">
                                                            <!-- <option value="officialEmail">Email</option> -->
                                                            <option value="firstName">First Name</option>
                                                            <option value="lastName">Last Name</option>
                                                        </Select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="selectAllInfoTab" *ngIf="checkAll">All {{recordCount}} students on
                                            this
                                            page are selected.
                                            <!-- <a *ngIf="!selectAll" (click)="selectedAll()"
                                                href="javascript:void(0);">Select
                                                all {{allCount}} students</a>
                                            <a *ngIf="selectAll" (click)="unselectedAll()"
                                                href="javascript:void(0);">All
                                                {{allCount}} students are
                                                selected
                                            </a> -->
                                        </div>
                                        <div
                                            class="fee-table-outer table-height table-responsive bg-white pl-4 pr-4 mt20 ">
                                            <table class="table payment-detail-table table-width-edit">
                                                <ng-container>
                                                    <tr>
                                                        <th>
                                                            <p class="outerTableCheckbox">
                                                                <input (change)="checkClicked()" type="checkbox"
                                                                    id="zero">
                                                                <label for="zero"></label>
                                                            </p>
                                                        </th>
                                                        <th>Student</th>
                                                        <th>Program</th>
                                                        <th>Batch</th>
                                                        <!-- <th>
                                                            <div class="tb-width">
                                                                President
                                                            </div>
                                                        </th> -->
                                                    </tr>
                                                    <tr *ngFor="let student of studentData">
                                                        <td formArrayName="studentIdsData">
                                                            <p class="outerTableCheckbox">
                                                                <input id="{{student?.id}}" [checked]="checkAll"
                                                                    (change)="innercheckClicked(student?.id)"
                                                                    type="checkbox">
                                                                <label for="{{student?.id}}"></label>
                                                            </p>
                                                        </td>
                                                        <td class="studentSurvey-title">
                                                            <img *ngIf="student?.StudentDetail!= null && student?.StudentDetail?.profilePicUrl"
                                                                src="{{student?.StudentDetail?.profilePicUrl}}">

                                                            <div *ngIf="student?.StudentDetail?.profilePicUrl=='' || student?.StudentDetail==null ||student?.StudentDetail?.profilePicUrl== null"
                                                                class="right">
                                                                <span class="MU-person-profile prof-title-outer"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">
                                                                    <h2 class="prof-title" id="title">
                                                                        {{student?.firstName[0] | titlecase}}</h2>
                                                                </span>
                                                            </div>


                                                            {{student?.firstName}} {{student?.lastName}}
                                                        </td>
                                                        <td>{{student?.Program?.name| titlecase}}</td>
                                                        <td>{{student?.Program?.batch}}</td>
                                                        <!-- <td formArrayName="presidentStudentId">
                                                            <div class="tb-width">
                                                                <button *ngIf="isSelected(student?.id)"
                                                                    [class]="isPresident(student?.id)?'green-active':'btn-green'"
                                                                    (click)="makePresident(student?.id)"
                                                                    class="btn-green">President</button>
                                                            </div>

                                                        </td> -->
                                                    </tr>
                                                </ng-container>
                                            </table>

                                            <div *ngIf="studentData?.length== 0" class="no-data-outer">
                                                <i class="material-icons">warning</i><span>No Record Found</span>
                                            </div>

                                        </div>
                                        <!-- pagination  -->

                                        <nav *ngIf="studentData?.length> 0" aria-label="Page navigation example"
                                            class="pagination-outer">
                                            <ul class="pagination mb0 mt20">
                                                <li class="page-item disabled previous ">
                                                    <a class="page-link " href="javascript:void(0);"
                                                        (click)="previous() " aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                <li class="page-item pitem " [ngClass]="(i==0?'active':'')"
                                                    *ngFor="let pageNumber of arrayOne(pageCount);let i=index;">
                                                    <a class="page-link " href="javascript:void(0);"
                                                        (click)="searchStudent(i+1) ">{{(i+1)}}</a>
                                                </li>
                                                <li class="page-item next disabled">
                                                    <a class="page-link " href="javascript:void(0);" (click)="next() "
                                                        aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">

                            <div class="col-md-6">

                                <div class="form-group mb25">
                                    <label class="label-heading">Club Type<sup>*</sup></label>
                                    <div class="input-group right-arrow new ">
                                        <Select id="club" name="club" title="By Club" class="form-control selectpicker"
                                            (change)="changeClubType($event.target.value)">
                                            <option value="" selected disabled>Choose Club</option>
                                            <option value="Academic">Academic</option>
                                            <option value="Extracurricular">Extracurricular</option>
                                        </Select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group mb25">
                                    <label class="label-heading">Club Guidance Document</label>
                                    <div class="bg-grey-padd20 pd10">
                                        <div class="cover-outer">
                                            <div class="form-group mb-0">
                                                <div class="input-group">
                                                    <div class="remove-section-outer">
                                                        <div class="chooseFile-outer">
                                                            <!-- <div class="chooseFile">Choose File</div> -->
                                                            <input type="file" #uploadfile
                                                                (change)="uploadGuidDoc($event)" style="display: none;">
                                                            <button class="chooseFile"
                                                                (click)="uploadfile.click()">Choose File </button>
                                                            <div class="filenm">{{fileName}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button class="btn4 float-left d-inline-flex align-items-center" type="submit"
                            (click)="onSaveBtn(clubForm.value)"><i class="ph-clipboard"></i>Create</button>
                        <!-- <button type="submit" (click)="onSaveBtn(clubForm.value)">Save</button> -->
                    </form>
                </div>
            </div>
        </section>
        <app-student-footer></app-student-footer>
    </div>
</div>