.feeDetailFrom-innerimg {
    margin-bottom: -30px;
}
.parallel-heading-outer {
    flex-wrap: wrap;
}

.feeDetailFrom.pageSortOuter .form-group {
    margin-left: 0px;
    margin-right: 20px;
}
.studentSurvey-title {
    min-width: 200px;
}
@media (max-width: 1240px){
    .feeDetailFrom.pageSortOuter {
        flex-wrap: wrap;
    }
}
@media (max-width: 600px){
.feeDetailFrom.pageSortOuter {
    width: 100%;
}
.lg-width {
    width: 100%!important;
}
.feeDetailFrom.pageSortOuter .form-group{margin-right: 0px;width: 100%;}
}