.body-fullwidth {
    margin-left: 0px;
    width: 100%;
    padding: 0px 80px;
}

ul.mentor-rating-list li.star {
    padding-right: 7px;
}

ul.mentor-rating-list>li.star>i {
    font-size: 24px;
}

textarea {
    padding: 10px !important;
}

.login-cont {
    opacity: 1 !important;
}

.submit-sucessful {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-sucessful-wrapper {
    background: #fff;
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 3px 5px 22px #f2f2f2;
}

.submit-sucessful-wrapper h2 {
    font-family: "oswald-bold";
    color: #4E5D64;
    width: 100%;
    line-height: 32px;
    margin-bottom: 5px;
    font-size: 26px;
}

.submit-sucessful-wrapper p {
    font-family: 'nunitosans';
    color: #4E5D64;
    width: 100%;
    line-height: 24px;
    font-size: 22px;
}

@media (max-width:1024px) {
    .body-fullwidth {
        padding: 0px 20px;
    }
}

@media (max-width:767px) {
    .body-fullwidth {
        padding: 0px 0px;
    }
    .fees-container {
        padding: 30px 10px;
    }
    .submit-sucessful-wrapper {
        margin: 0 15px;
    }
}