<toaster-container [toasterconfig]="config">
</toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body">
    <div class="page-header club-preview-header new-back-btn-wrapper">
        <a href="javascript:void(0);">
          <h2 [routerLink]="['/student/electiveBidding']" class=" component-heading red-clr new-back-btn">
            <span class="mr-2 material-icons">keyboard_backspace</span>
            Back 
          </h2>
        </a>
      <p class="component-heading">Courses Point Preference</p>
      <!-- <div class="filters">
        <select id="type">
          <option value="hide">Cluster</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <select id="term" (change)="onTermSelect()">
          <option value="1">Term</option>
          <option *ngFor="let x of [1,2,3,4,5,6,7,8]" value="{{x}}">{{x}}</option>
          <option value="2">Draft</option>
          <option value="3">Active</option>
        </select>
      </div> -->
    </div>
    <div class="myCourse scrollbar">
      <div class="student-profile-outer bidding-box-outer">
        <div class="student-profile-right">
          <div class="policy-box">
            <div class="policy-header">
              <img src="../assets/img/question.svg" alt="" />
              <p>Distributing points for electives</p>
            </div>
            <ul class="dot-list">
              <li class="dot-list-item">
                You will recieve 100 points which you can distribute among the
                electives.
              </li>
              <li class="dot-list-item">
                Courses with higher points will have a higher preference
              </li>
              <li class="dot-list-item">
                The total of all points must add up to 100 cannot be less than 100
              </li>
              <li class="dot-list-item">
                Once you submit your preference it cannot be changed
              </li>
            </ul>
          </div>
        </div>
        <div class="student-profile-left">
          <div class="student-details">
            <p class="item">Pending Points</p>
            <p class="count primary-text">{{pendingPoints}}</p>
          </div>
        </div>
        <div class="student-profile-left">
          <div class="student-details">
            <p class="item">Total Points</p>
            <p class="count primary-text">100</p>
          </div>
        </div>
        <div class="student-profile-left">
          <div class="student-details">
            <p class="item">Total no. of courses</p>
            <p *ngIf="alreadyBidded; else currentBiddingLength" class="count text-success">{{bid}}/{{noOfCourses}}</p>
            <ng-template #currentBiddingLength>
              <p class="count text-success">{{finalCourses.length}}/{{noOfCourses}}</p>
            </ng-template>
            
            <p><b>Minimum {{minElectiveBidCourses}} Elective Course</b></p>
          </div>
        </div>
      </div>
      <div class="biddingList feedback-container scrollbar">
        <table class="feedback-table table" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th class="custom-width">Course name</th>
              <th class="custom-width">Faculty</th>
              <th>Cluster</th>
              <th>Course Code</th>
              <!-- <th>Term</th> -->
              <th class="custom-width">Enter points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses; index as i">
              <!-- <ng-container> -->
                <td class="custom-width">{{course?.courseName}}</td>
                <td class="custom-width">
                  <p class="faculty-details">
                    <b>{{course?.master}}</b> {{course?.aboutMaster}}
                  </p>
                </td>
                <td>{{course?.ProgramCluster?.Cluster?.name}}</td>
                <td>{{course?.courseCode}}</td>
                <!-- <td>{{course?.term}}</td> -->
                <td class="custom-width" *ngIf="course?.StudentBids.length ==0; else alreadyBid">
                  <!-- <h3>aagaya if {{course?.StudentBids.length}}</h3> -->
                  <input type="number" maxlength="100" minlength="0" class="create-input" (change)="biddingValue($event.target.value,i,course?.id);" />
                </td>
                <ng-template #alreadyBid>
                  <td class="custom-width">
                    <!-- <h3>aagya else {{course?.StudentBids.length}}</h3> -->
                    <input type="number" maxlength="100" minlength="0" class="create-input" disabled="true" value={{course?.StudentBids[0]?.bidPoint}} (change)="biddingValue($event.target.value,i,course?.id);" />
                  </td>
                </ng-template>
              <!-- </ng-container> -->
              
            </tr>
          </tbody>
        </table>
        <div class="table-footer">
          <p class="text" *ngIf="pendingPoints<100" >Total is less than 100</p>
          <div *ngIf="finalCourses.length>=minElectiveBidCourses"class="green-btn-a" (click)="checkIsTotalEqualToHundred()">
            Submit Preference <img src="../assets/img/ArrowLeft.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
