<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container [toasterconfig]="config">
</toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
      <!-- <h4 class="lt">Master Union</h4> -->
    </div>
  </div>
  <!-- <div class="side-menu" id="side-menu">
    <a href="javascript:void(0);">
      <i class="material-icons">home</i> <span> Home</sbrpan>
    </a>
    <a routerLink="/student" [routerLinkActive]="'active'">
      <i class="material-icons">account_balance_wallet</i> <span>Fee Details</span>
    </a>
    <a routerLink="/student/enquiry" [routerLinkActive]="'active'">
      <i class="material-icons">assignment_late</i> <span>Enquire</span>
    </a>
  </div> -->
  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid">
        <h3 class="cover-outer boldheading mb50">My Payment
          <span class="borderheading">Details </span>
        </h3>
        <!-- table  -->
        <div class="cover-outer section-padd mt10">
          <h4 class="sm-heading">Programme Name</h4>
          <h2 class="lg-heading mb10">{{programmeName | uppercase}}</h2>
          <div class="payment-detail-outer table-responsive">
            <table class="table payment-detail-table">
              <tr>
                <th>Fee Category</th>
                <th> Amount Due</th>
                <th>Due On </th>
                <th>Status</th>
                <!-- <th>Transaction No </th> -->
                <th>Payment Details </th>
              </tr>
              <!-- <tr>
                  <td colspan="6">
                    <p>Hostel Fee (Twin Sharing Room)</p>
                      <div class="inner-installment-table">
                        <table class="table">
                          <tr>
                            <td>Installment 1</td>
                            <td>Rs.90,000</td>
                            <td>Mar 1, 2021</td>
                            <td>
                              <div class="paid-c"> Paid</div>
                            </td>
                            <td>N/A</td>
                            <td>
                              <a class="pay-now-btn" data-toggle="modal" data-target="#pay-now" href="javascript:void(0);">Pay Now <i class="material-icons">arrow_drop_down</i>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td>Installment 1</td>
                            <td>Rs.90,000</td>
                            <td>Mar 1, 2021</td>
                            <td>Pending</td>
                            <td>N/A</td>
                            <td><a class="link-1" href="javascript:void(0);">Download Receipt</a></td>
                          </tr>
                          <tr>
                            <td>Installment 1</td>
                            <td>Rs.90,000</td>
                            <td>Mar 1, 2021</td>
                            <td>Pending</td>
                            <td>N/A</td>
                            <td><a class="link-1" href="javascript:void(0);">Download Receipt</a></td>
                          </tr>
                        </table>
                      </div>
                  </td>
                 </tr> -->
              <ng-container *ngFor="let feeDetail of details?.Program?.Fees; let i = index">
                <tr *ngFor="let inst of feeDetail.StudentFeeDues; let ind=index">
                  <td>
                    <p>{{feeDetail?.name}} <em *ngIf="inst?.FeeInstallment">Installment
                        {{inst?.FeeInstallment?.installmentNumber}}/{{feeDetail?.StudentFeeDues?.length}}</em></p>

                  </td>
                  <td *ngIf="inst?.feeDue;else amount">Rs.{{inst?.feeDue}}</td>
                  <ng-template #amount>
                    <td>N/A</td>
                  </ng-template>
                  <td>{{inst?.dueOn| date:'mediumDate'}}
                  </td>
                  <!-- <ng-template #due>
                    <td>-</td>
                  </ng-template> -->
                  <td>
                    <div *ngIf="inst?.paymentStatus ==='paid'" class="paid-c"> {{inst?.paymentStatus | titlecase}}</div>
                    <div *ngIf="inst?.paymentStatus ==='verification pending'  " class="pending-c">
                      {{inst?.paymentStatus | titlecase}}</div>
                    <div *ngIf="inst?.paymentStatus ==='pending' "> {{inst?.paymentStatus | titlecase}}</div>
                    <div *ngIf="inst?.paymentStatus ==='verification reject' " class="reject-c">Verification Rejected
                    </div>
                  </td>
                  <!-- <td *ngIf="inst?.FeeTransaction?.transactionNumber;else empty">
                    {{inst?.FeeTransaction?.transactionNumber}}</td>
                  <ng-template #empty>
                    <td>N/A</td>
                  </ng-template> -->
                  <td>
                    <ng-container *ngIf="inst?.paymentStatus === 'paid'">
                      <a class="link-1" routerLink="/student/feeSlip/{{inst.id}}" href="javascript:void(0);">Download
                        Receipt</a>
                    </ng-container>
                    <ng-container
                      *ngIf="inst?.paymentStatus ==='pending' || inst?.paymentStatus ==='verification reject'">
                      <a type="button" class="pay-now-btn" (click)="pay(inst?.id, inst)">Pay Now
                        <i class="material-icons">arrow_drop_down</i>
                      </a>
                    </ng-container>

                    <ng-container *ngIf="inst?.paymentStatus === 'verification pending'">
                      N/A
                    </ng-container>
                  </td>
                </tr>
              </ng-container>

              <!-- <tr>
                  <td> Application Fee</td>
                  <td>Rs.90,000</td>
                  <td>Mar 1, 2021</td>
                  <td> <div class="paid-c"> Paid</div></td>
                  <td>xsdwd558s6946</td>
                  <td><a class="link-1" href="javascript:void(0);">Download Receipt</a></td>
                </tr>
                <tr>
                  <td> Application Fee</td>
                  <td>Rs.90,000</td>
                  <td>Mar 1, 2021</td>
                  <td>
                    <div class="pending-c">Verification Pending</div>
                  </td>
                  <td>xsdwd558s6946</td>
                  <td><a class="link-1" href="javascript:void(0);">Download Receipt</a></td>
                </tr>
                <tr>
                  <td> Application Fee</td>
                  <td>Rs.90,000</td>
                  <td>Mar 1, 2021</td>
                  <td> <div class="paid-c"> Paid</div></td>
                  <td>xsdwd558s6946</td>
                  <td><a class="link-1" href="javascript:void(0);">Download Receipt</a></td>
                </tr>
                <tr>
                  <td> Application Fee</td>
                  <td>Rs.90,000</td>
                  <td>Mar 1, 2021</td>
                  <td> <div class="paid-c"> Paid</div></td>
                  <td>xsdwd558s6946</td>
                  <td><a class="link-1" href="javascript:void(0);">Download Receipt</a></td>
                </tr> -->
            </table>
          </div>
        </div>
        <!-- table ends  -->

      </div>
    </section>
    <!-- <app-student-footer></app-student-footer> -->
  </div>
</div>




<!-- The Modal -->
<div class="modal fade" id="pay-now">
  <div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <div class="pay-now-dropdown" aria-labelledby="dropdownMenuButton">
          <h2 class="dropdown-heading mb20">Payment Method</h2>
          <div class="cover-outer pay-online-btn-outer">
            <button type="button" class="btn3 cover-outer" (click)="payFee()">Pay Online
              <small class="cover-outer">Rs. {{this.stuData?.feeDue}} + Taxes (Online Transaction Charges) </small>
            </button>
            <!-- <a class="link1 ml-2" data-toggle="collapse" href="#tax-box" role="button" aria-expanded="false" aria-controls="tax-box">
              Taxes
            </a> -->
          </div>
          <!-- <div class="collapse" id="tax-box">
            <div class="card card-body">
              <div class="payment-detail-outer table-responsive">
              </div>
            </div>
          </div> -->

          <p class="mb10 mt10 cover-outer">or</p>
          <button type="button" *ngIf="!isBankTransferClicked" class="btn4 cover-outer" (click)="bankTransfer()">Bank
            Transfer</button>
          <ng-container *ngIf="isBankTransfer">
            <div class="bank-transfer-section mt10">
              <h3 class="heading3 text-center mb10">Bank Transfer</h3>
              <p class="mb10">Account Name: <strong>Masters Union School Of Business Unit Of Shanti Informatics</strong>
              </p>
              <p class="mb10">Account Number: <strong>920020061732475</strong></p>
              <p class="mb10">IFSC Code: <strong>UTIB0000056</strong></p>
              <p>Bank Name: <strong>AXIS Bank</strong></p>
            </div>
            <form class="cover-outer feeDetailFrom mt15 text-left">
              <div class="form-group">
                <label class="label-heading">Enter the UTR number post transfer</label>
                <div class="input-group">
                  <!-- <i class="material-icons">person</i> -->
                  <input class="form-control" name="UTR_number" (keyup)="onChange($event.target.value)"
                    [(ngModel)]="UTR_number" placeholder="Enter the UTR number here" type="text">
                  <!-- <span class="msg-error d-none"></span> -->
                </div>

              </div>
              <button *ngIf="submitEnabled" type="button" (click)="submit()" class="btn4">Submit</button>
            </form>
          </ng-container>


        </div>
      </div>
      <div class="modal-footer">
        <a class="" target="_blank" href="student/cashFreeBillingDetails" role="button">
          <u>View Taxes for Online Payment Method</u>
        </a> |
        <a class="" target="_blank" href="student/refundPolicy" role="button">
          <u>Refund Policy</u>
        </a>
      </div>
    </div>
  </div>
