.courselist-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  height: 100%;
  width: calc(100% - 40px);
  margin: 20px auto;
}
.course-table thead {
  box-shadow: 0px 4px 2px rgb(0 0 0 / 2%);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.course-table th {
  color: var(--grey);
  background: var(--white);
}
.course-table-container {
  background: var(--white);
  height: calc(100vh - 160px);
  overflow: auto;
  width: 60%;
  
}
.course-table-container:last-child{
  padding: 10px;
  position: relative;
  height: calc(100vh - 145px);
}
.table-heading {
  font-size: 18px;
  font-family: "nunitosans-Bold";
}
.course-table{
  width: 100%;
}
.course-table td{
  border-bottom: 1px solid #f1f1f1;
}
.course-table td,
.course-table th {
  padding: 10px 12px;
  font-size: 14px;
  
}
.course-table-header {
  padding: 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  border-bottom: 1px solid #ededed;
}
.course-table-header .search-bar {
  width: 100%;
}
.course-table-outer {
  position: relative;
  width: 100%;
}
.course-table-footer {
  position: fixed;
  width: 100%;
  padding: 15px;
  border: 1px solid #ededed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-table-container-outer {
  background: var(--white);
  height: calc(100vh - 200px);
  overflow: hidden;
  width: 40%;
  position: relative;
  border: 1px solid #ededed;
  border-radius: 10px 10px 0 0;
}
.course-table-container-outer .course-table-container {
  width: 100%;
  height: calc(100% - 125px);
}
.course-table-container-outer .table-footer {
  position: fixed;
  border: 1px solid #ededed;
  bottom: 30px;
  width: 34.4%;
  border-radius: 0 0 5px 5px;
}
.bidding-box-outer .student-profile-right {
  width: 50%;
  min-height: 165px;
  height: 100%;
  padding: 25px;
}
.bidding-box-outer .student-profile-left {
  text-align: center;
  width: 15%;
  justify-content: center;
  min-height: 165px;
  height: 100%;
}
.bidding-box-outer .item {
  font-size: 18px;
  font-family: "nunitosans-Bold";
}
.count {
  font-size: 40px;
  font-family: "nunitosans-Bold";
}
.biddingList.feedback-container {
  height: calc(100% - 235px);
  border: 1px solid #ededed;
  border-radius: 5px;
}
.faculty-details {
  width: 58%;
  font-family: "nunito_sansregular";
}
.table-footer {
  position: fixed;
  bottom: 28px;
  left: 0;
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  padding: 10px 20px;
  margin-left: 230px;
  border: 1px solid #ededed;
}
.table-footer .text {
  font-size: 14px;
  color: #000;
  font-family: "nunitosans-Bold";
}
.green-btn-a {
  font-size: 14px;
  color: #fff;
  font-family: "ns-semibold";
  background: #229e6d;
  padding: 8px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
}
.myCourse {
  height: calc(100vh - 120px);
  overflow: auto;
}
.profile-img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid #ededed;
  object-fit: cover;
}
.student-profile-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto 10px;
  width: calc(100% - 40px);
}
.student-profile-left {
  width: 24%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ededed;
}
.student-profile-right {
  min-height: 172px;
  width: 74%;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 25px 35px;
  border-radius: 5px;
  border: 1px solid #ededed;
}
.student-profile-right ul li {
  list-style: disc;
}
.student-details {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.student-details .name {
  font-size: 18px;
  font-family: "nunitosans-Bold";
  color: #000;
}
.student-details .id {
  font-size: 14px;
  color: #404040;
  font-family: "nunitosans-Bold";
}
.student-details .batch {
  font-size: 14px;
  font-family: "nunito_sansregular";
  color: #404040;
}
.policy-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  line-height: 150%;
  margin-bottom: 10px;
}
.policy-header p {
  font-family: "nunitosans-Bold";
  font-size: 18px;
}
.dot-list-item {
  color: #404040;
  font-size: 13px;
  font-family: "nunito_sansregular";
  line-height: 150%;
}
.myCourse .feedback-container {
  height: calc(100% - 260px);
}
.table tr:nth-last-child(-n + 4) .action-dropdown {
  bottom: 0;
  top: auto;
}
.table tr:nth-child(-n + 4) .action-dropdown {
  top: 15px !important;
  bottom: auto !important;
}
.primary-text {
  color: #004e9a;
}
.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 2px solid #ededed;
  position: sticky;
  top: 50px;
  z-index: 1000;
}
.filter-bar {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
select {
  background: #fff;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  font-family: "nunito_sansregular";
  color: #404040;
  background-image: url("https://epicenter2022.s3.ap-south-1.amazonaws.com/assets/img/caretDown.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  outline: none;
  appearance: none;
  padding-right: 30px;
  border-radius: 300px;
  border: 1px solid #ededed;
}
.pointer {
  cursor: pointer;
}
.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #fff;
  border-bottom: 2px solid #ededed;
  position: sticky;
  top: 0px;
  z-index: 1000;
  border-left: 1px solid #ededed;
}
.primary-btn-a {
  width: fit-content;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "nunito_sansregular";
  line-height: 120%;
  color: #fff;
  cursor: pointer;
  background: #004e9a;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.green-btn {
  font-size: 14px;
  font-family: "nunito_sanssemibold";
  border: 1px solid #229e6d;
  background: #229e6d;
  border-radius: 300px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.side-popup-body .green-btn {
  font-size: 14px;
  font-family: "nunito_sanssemibold";
  text-transform: capitalize;
}
.action-btn {
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
}
.action-btn:hover {
  background: #fafafa;
  border-radius: 50%;
}
.main-body {
  padding: 0;
  overflow: hidden;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "nunitosans-Bold";
  gap: 10px;
}
.header-left p {
  font-size: 16px;
}
.search-bar {
  background: #fff;
  padding: 10px;
  width: 400px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #ededed;
}
.clean-input {
  background: #fff;
  border: none;
  outline: none;
  font-family: "nunito_sansregular";
  font-size: 14px;
  width: 100%;
  caret-color: #004e9a;
}
.table tr:nth-child(-n + 4) .action-dropdown {
  top: 15px !important;
  bottom: auto !important;
}
.table tr:nth-last-child(-n + 4) .action-dropdown {
  bottom: 0;
  top: auto;
}
.action-dropdown.active {
  visibility: visible;
  opacity: 1;
}
.action-dropdown.active {
  visibility: visible;
  opacity: 1;
}
.action-dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 15px;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 5%);
  right: 5%;
  width: fit-content;
  transition: 0.2s;
}

.dropdown-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  transition: 0.5s;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #fffdf5;
  border-radius: 5px;
}
.dropdown-text {
  font-family: "nunito_sansregular";
  font-size: 14px;
  transition: 0.5s;
}
.side-popup {
  width: 325px;
  height: 220px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ededed;
  border-radius: 10px;
  padding: 20px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
}
.side-popup-header {
  display: flex;
  font-size: 16px;
  font-family: "nunito_sanssemibold";
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
}
.side-left {
  display: flex;
  align-items: center;
  gap: 5px;
}
.side-popup-body {
  margin-top: 15px;
}
.side-popup-body .text {
  font-family: "nunito_sansregular";
  line-height: 150%;
}

.side-popup-body .text b {
  font-family: "nunitosans-Bold";
}
.side-popup-body .btn-grp {
  display: flex;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.side-popup-body .green-btn {
  font-size: 14px;
  font-family: "nunito_sanssemibold";
  text-transform: capitalize;
}
.side-popup-body .clear-btn {
  font-size: 14px;
  color: #999999;
  font-family: "nunito_sanssemibold";
}
.custom-width {
  width: 20%;
}
.feedback-container {
  width: calc(100% - 40px);
  /* padding: 20px; */
  margin-left: 20px;
  background: #fff;
  height: calc(100vh - 210px);
  overflow-x: hidden;
}
.feedback-table {
  width: 100%;
}
.feedback-table thead {
  box-shadow: 0px 4px 2px rgb(0 0 0 / 2%);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.feedback-table tr th {
  color: #999999;
  background: #fff;
  border: none;
}
.feedback-table tr th,
td {
  padding: 15px 20px;
  font-family: "nunito_sanssemibold";
  text-align: left;
}
.feedback-table tbody {
  overflow: auto;
}
.faculty-details {
  width: 65%;
  font-family: "nunito_sansregular";
}
.feedback-table tr td {
  color: #000;
  font-size: 14px;
  border-bottom: 2px solid #fffdf5;
}
.feedback-table tr {
  border-bottom: 1px solid #999999;
  position: relative;
}
ul.action-dropdown::after {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 10px;
  right: -19px;
  top: 10px;
}
.dropdown-item:hover {
  background: #fffdf5;
}
.create-input {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 13px;
  font-family: "nunito_sanssemibold";
  width: 100%;
}
.new-event{
  padding: 10px;
}
.session-name{
  font-size: 16px;
  font-family: 'nunito_sansregular';
  
}
.session-name span{
  font-family: "nunitosans-Bold";
}
#description{
  padding: 0 20px;
  margin-top: 10px;
}

.new-design-popup{
  max-width: 700px !important;
}

.course-code{
  font-family: 'nunito_sansregular';
  font-family: 20px;
}
.course-code span{
  font-family: 'nunitosans-Bold';
}
.calenderouter{
  height: calc(100% - 60px);
  overflow: auto;
}
.clashText{
  margin-top: 15px;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  background:#FEECEC;
  font-size: 16px;
  color: var(--red);
  width: 100%;
  padding: 10px;
}

a.fc-timegrid-event{
  cursor: pointer !important;
}