<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body">
    <div class="">
      <div class="page-header club-preview-header new-back-btn-wrapper">
            <!-- <div class="page-header club-preview-header new-back-btn-wrapper"> -->
        <a href="javascript:void(0);">
          <h2 [routerLink]="['/student/dashboard']" class=" component-heading red-clr new-back-btn">
            <span class="mr-2 material-icons">keyboard_backspace</span>
            Back 
          </h2>
          </a>
        <p class="component-heading">Course Registration</p>
      </div>
      <div class="header-right"></div>
    </div>

    <div class="courselist-container mt-20">
      <div class="course-table-container-outer">
        <div class="course-table-header">
          <p class="table-heading">Select courses</p>
          <!-- <form action="" class="search-bar">
            <img src="../assets/img/search.svg" alt="" />
            <input
              type="text"
              name=""
              id=""
              placeholder="Search for Course"
              class="clean-input"
            />
          </form> -->
        </div>
        <div class="course-table-container scrollbar">
          <table class="course-table" cellPadding="{0}" cellSpacing="{0}">
            <thead>
              <tr>
                <th>
                  <!-- <input type="checkbox" name="" id=""> -->
                </th>
                <th>Course Code</th>
                <!-- <th>Cluster</th> -->
                <th>Course Name</th>
                <th>Faculty</th>
                <!-- <th>Status</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let elective of electiveCourse; index as i">
                <td>
                  <input type="checkbox" name="" #inputBox id="{{elective.id}}" (change)="checkClicked(inputBox?.checked, elective.id)">
                </td>

                <td>{{elective.courseCode}}</td>
                <!-- <td>Marketing</td> -->
                <td>{{elective.courseName}}</td>
                <!-- <td [routerLink]="[]" (click)="onCourseClick(elective.id)">{{elective.courseName}}</td> -->
                <!-- <a href="javascript:void(0);">
                  <td [routerLink]="['/student/newMyCourse']">{{elective.courseName}}</td>   
                </a> -->
                <td>{{elective.courseName}}</td>
                <td>{{elective.master}}</td>
                <!-- <td>
                  <p class="text-danger">Clashing</p>
                </td> -->
              </tr>
              <!-- <tr>
                <td>
                  <input type="checkbox" name="" id="">
                </td>
                <td>MABD1625</td>
                <td>Marketing</td>
                <td>Marketing Research</td>
                <td>Narendra Jadhav</td>
                <td>
                  <p class="text-success hide">Available</p>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox" name="" id="">
                </td>
                <td>MABD1625</td>
                <td>Marketing</td>
                <td>Marketing Research</td>
                <td>Narendra Jadhav</td>
                <td>
                  <p class="primary-text hide">Not Selected</p>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div class="table-footer">
          <p class="text">{{courseCount}} Course(s) selected</p>
          <!-- <div class="primary-btn-a" (click)="showClash()">
           Show Clash <img src="../assets/img/ArrowLeft.svg" alt="" />
          </div> -->
          <div class="primary-btn-a" [routerLink]="['/student/newBiddingList']">
            Go to bidding <img src="../assets/img/ArrowLeft.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="course-table-container scrollbar">
        <div class="calenderouter">
          <full-calendar [options]="calendarOptions" *ngIf="initialized" id="calendar"></full-calendar>
        </div>
        <div class="clashText"> <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.49996 0.416626C3.58996 0.416626 0.416626 3.58996 0.416626 7.49996C0.416626 11.41 3.58996 14.5833 7.49996 14.5833C11.41 14.5833 14.5833 11.41 14.5833 7.49996C14.5833 3.58996 11.41 0.416626 7.49996 0.416626ZM8.20829 11.0416H6.79163V9.62496H8.20829V11.0416ZM8.20829 8.20829H6.79163V3.95829H8.20829V8.20829Z" fill="#ED1717"/>
          </svg>
           <p (click)="showClash()">{{clashedCourse.length}} Session(s) overlapped [{{hoursArr[0]}} hour(s) & {{hoursArr[1]}} minute(s)]  </p>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered new-design-popup">
    <div class="modal-content">
      <div class="modal-body">
          <div class="view-event-box new-event">
              <div class="cover-outer">
                  <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">&times;</div>
                  </button>
                  <h2 class="course-code mb15">Course Name: <span> {{courseName  | titlecase }}({{courseCode}})</span></h2>
                  <div class="ev-box-inner mb15">
                    <div class="cover-outer mr-1">
                          <p class="session-name">Session Name: <span>{{sessionName | titlecase}}</span></p>
                          <div id="description"></div>
                      </div>
                  </div>
               </div>
          </div>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered new-design-popup">
    <div class="modal-content">
      <div class="modal-body">
          <div class="view-event-box new-event">
              <div class="cover-outer">
                  <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <div aria-hidden="true">&times;</div>
                  </button>
                  <div class="ev-box-inner mb15">
                      <table class="course-table" cellPadding="{0}" cellSpacing="{0}">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let course of clashedCourse; index as i">
                            <td>{{course.name | titlecase}}</td>
                            <td>{{course.date | date:'longDate'}}</td>
                            <td>{{course.fromTime}}-{{course.toTime}}</td>
                          </tr>
                        </tbody>
                      </table>
                  </div>
                  <div class="no-data-outer" *ngIf="clashedCourse.length==0">
                    <i class="material-icons">warning</i> <span>No sessions overlapped</span>
                  </div>
               </div>
          </div>
      </div>
      
    </div>
  </div>
</div>
