<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    
    </div>
  </div>
  
  <div class="main-body pt-0">
    <section class="fees-container">
      <div class="container-fluid">
        <h3 class="cover-outer boldheading mb50">List of
          <span class="borderheading">Feedback</span>
        </h3>
        <!-- table  -->
        <div class="cover-outer create-survey">
          <div class="parallel-heading-outer student-added mb20">
            <div class="feeDetailFrom feeSearchOuter">
              <ul class="nav nav-tabs students-tabs">
                <li>
                  <a class="active" data-toggle="tab" href="#home">Pending</a>
                </li>
                <li>
                  <a data-toggle="tab" href="#menu1">Completed</a>
                </li>
                <li>
                  <a  data-toggle="tab" href="#menu2">Anonymous</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content cover-outer">
            <div class="tab-pane fade show active" id="home">
              <div class="feeDetailFrom feeSearchOuter float-left">
                <span class="txt"></span>
                

              </div>
              <div class="payment-detail-outer table-responsive height-fix">
                <table class="table payment-detail-table tablefeedback-form freezetable" *ngIf="unattemptedSurvey.length>0">
                  <tr>
                    <th class="nowrap">Title</th>
                    <th class="nowrap">Type</th>
                    <th class="nowrap">Expiry Date</th>
                    <th class="nowrap">Action</th>
                  </tr>
                  <tr *ngFor="let unattempt of unattemptedSurvey;index as i">
                      <td>{{unattempt.SurveyMaster?.title}}</td>
                      <td>{{unattempt.SurveyMaster?.surveyType | titlecase}}</td>
                      <td>{{unattempt.SurveyMaster?.expiryDate | date}}</td>
                      <!-- <td *ngIf="unattempt.SurveyMaster?.isAnonymous"><a class="link-1" target="_blank" routerLink="/anonymous/{{unattempt.organizationId}}/{{unattempt.SurveyMaster?.id}}">Fill the feedback [Anonymous]</a></td> -->
                           <td *ngIf="!unattempt.SurveyMaster?.isAnonymous"><a class="link-1"  routerLink="/student/survey-detail/{{unattempt.SurveyMaster?.id}}">Fill the feedback</a></td>
  
                  </tr>
                 </table>
                 <div class="no-data-outer"  *ngIf="unattemptedSurvey.length==0">
                  <i class="material-icons">warning</i> <span> No pending feedback </span>
                 </div>
              </div>
            </div>
            <div class="tab-pane fade " id="menu1">
              <div class="feeDetailFrom feeSearchOuter float-left">
                <span class="txt"></span>
               
               
              </div>
              <div class="payment-detail-outer table-responsive height-fix">
                <table class="table payment-detail-table tablefeedback-form freezetable" *ngIf="attemptedSurvey.length>0">
                  <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Expiry Date</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let attempt of attemptedSurvey;index as i">
                      <td>{{attempt.SurveyMaster?.title}}</td>
                      <td>{{attempt.SurveyMaster?.surveyType | titlecase}}</td>
                      <td>{{attempt.SurveyMaster?.expiryDate | date}}</td>
                      <td *ngIf="false">
                          Completed
                          <!-- <em>10 Feb 2021</em> -->
                          <em>{{attempt.SurveyMaster?.expiryDate | date}}</em>
                      </td>
                      <td>
                        Completed
                    </td>
                  </tr>
                </table>
                <div class="no-data-outer"  *ngIf="attemptedSurvey.length==0">
                  <i class="material-icons">warning</i> <span> You haven't completed any feedback yet </span>
                 </div>
              </div>
            </div>
            <div class="tab-pane fade " id="menu2">
              <div class="feeDetailFrom feeSearchOuter float-left">
                <span class="txt"></span>
               

              </div>
              <div class="payment-detail-outer table-responsive height-fix">
                <table class="table payment-detail-table tablefeedback-form freezetable" *ngIf="anonymousSurvey.length>0">
                  <tr>
                    <th class="nowrap">Title</th>
                    <th class="nowrap">Type</th>
                    <th class="nowrap">Expiry Date</th>
                    <th class="nowrap">Action</th>
                  </tr>
                  <tr *ngFor="let anonymous of anonymousSurvey;index as i">
                      <td>{{anonymous.SurveyMaster?.title}}</td>
                      <td>{{anonymous.SurveyMaster?.surveyType | titlecase}}</td>
                      <td>{{anonymous.SurveyMaster?.expiryDate | date}}</td>
                      <td *ngIf="anonymous.SurveyMaster?.isAnonymous"><a class="link-1" target="_blank" routerLink="/anonymous/{{anonymous.organizationId}}/{{anonymous.SurveyMaster?.id}}">Fill the feedback [Anonymous]</a></td>
  
                  </tr>
                 </table>
                 <div class="no-data-outer"  *ngIf="anonymousSurvey.length==0">
                  <i class="material-icons">warning</i> <span> No anonymous feedback </span>
                 </div>
              </div>
            </div>
          </div>
         
          
          
        </div>
        <!-- table ends  -->

      </div>
    </section>
    <!-- <app-student-footer></app-student-footer> -->
  </div>
</div>
