<toaster-container></toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
	<app-student-menu></app-student-menu>
	<div *ngIf="loading" class="preloader-wrapper">
		<div class="cssloader">
			<div class="sh1"></div>
			<div class="sh2"></div>
		</div>
	</div>

	<div class="main-body pt-0">
		<section class="fees-container">
			<div class="container-fluid">
				<h3 class="cover-outer boldheading mb50 w-auto">
					<span class="borderheading"> Marks Record</span>
				</h3>
				<div class="section-padd cover-outer mt20">
                    <div class="cover-outer  mt10">
                        <div class="row ">
                            <div class="col-md-6">
                                <!-- <ng-container> -->
                                <div>
                                    <label class="label-heading mb10">Select Term <sup
                                            class="text-danger">*</sup></label>
                                    <div class="input-group">
                                        <select id="termId" class="form-control mb25 pr-0 selectpicker icon-pos-edit"
                                            title="Choose Term" 
                                            (change)="onTermSelect($event.target.value)">
                                            <option *ngFor="let term of [1, 2, 3, 4, 5, 6, 7, 8]" [value]="term">
                                                {{ term }}
                                            </option>
                                        </select>
                                        <!-- <span class="msg-error d-none"></span> -->
                                    </div>
                                </div>
                                
                    <div  *ngIf ="courseData?.length > 0" class="cover-outer btn-parallel">
                        <button   class="export btn4 btn-right" type="button "
                            (click)="downloadTransript()">Download Transcript</button>
                      </div>
                                <!-- </ng-container> -->
                            </div>
                            <div class="col-md-6">
                                <label class="label-heading mb10">Out Class Gpa? </label>
                                <div class="form-group mb-0" >
                                      <div class="input-group">
                
                                        <label class="login-cont">Yes
                                          <input name="" [value]="" type="checkbox"
                                            (change)="updateOutClass($event)">
                                          <span class="l-checkmark"></span>
                                        </label>
                
                                      </div>
                                  </div>
                            </div>
                
                        </div>
                        <div class="cover-outer">
                            <div class="payment-detail-outer table-responsive">
                                <table class="table payment-detail-table tablefeedback-form">
                                    <tr *ngIf ="courseData?.length > 0">
                                        <!-- <th class="sr-num-width">S.No.</th> -->
                                        <th class="width-fix">Course Name</th>
                                        <!-- <th>Credits</th> -->
                                        <!-- <th>Marks Scored</th>
                                        <th>Maximum Marks</th> -->
                                        <th class="">Credits</th>
                                        <th class="">Grades</th>
                                        <th class="">GPA</th>

                                    </tr>
                                    <tr *ngFor="let course of courseData;index as i">                                       
                                        <td ><a (click)="onCourseClick(course?.courseId)" href="javascript:void(0);"><u>{{course?.CourseRoster?.courseName}}</u></a></td>
                                        <!-- <td>{{course?.CourseRoster?.credits}}</td>     -->
                                        <!-- <td>{{course?.count}}</td>
                                        <ng-container *ngFor="let tot of totalData">
                                            <td *ngIf="tot?.courseId ==course?.courseId">
                                               {{tot?.totalMarks}} 
                                            </td>
                                        </ng-container> -->
                                        <td>{{course?.CourseRoster?.credits}}</td>

                                
                                        <td *ngIf="course?.gradeValue;else noGradeValue">{{course?.gradeValue | titlecase}}</td>
                                        <ng-template #noGradeValue>
<td>-</td>
                                        </ng-template>
                                        <td *ngIf="course?.grades;else noGrade">{{course?.grades | titlecase}}</td>
                                        <ng-template #noGrade>
<td>-</td>
                                        </ng-template>
                                    </tr>
                                </table>
                                <div class="no-data-outer" *ngIf="courseData?.length==0">
                                    <i class="material-icons">warning</i> <span> No record found </span>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div>
              
                <!-- table ends  -->

				<!-- table ends  -->
			</div>
		</section>
	</div>
</div>
