<toaster-container [toasterconfig]="config">
</toaster-container>
<header>
    <a href="javascript:void(0);" id="logo"><img height="33" src="../../../assets/img/new_mulogo.png" width="152"></a>
</header>
<div class="main-outer">
    <div *ngIf="loading" class="preloader-wrapper body-fullwidth">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>

        </div>
    </div>

    <div class="main-body pt-0 body-fullwidth">
        <section class="fees-container" *ngIf="!SuccessFullMeg">
            <div class="container-fluid">
                <h3 class="heading-1 text-uppercase">
                    <strong>Feedback Form</strong>
                </h3>
                <div class="cover-outer preview-survey feeDetailFrom section-padd ">
                    <h2 class="heading-2 mb20">{{eventData?.title}}</h2>
                    <form [formGroup]="feedbackForm">
                        <div class="cover-outer feeDetailFrom  d-flex">
                            <div class="cover-outer surveyQuestionClass">
                                <div class="cover-outer">
                                    <label class="rating-text mb5">
                                        Email
                                        <sup class="text-danger">*</sup>
                                    </label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control" formControlName="email" placeholder="Email address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cover-outer">
                                    <label class="rating-text mb5">
                                        What did you like most about the event?
                                        <sup class="text-danger">*</sup>
                                    </label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea class="form-control mh100 " placeholder="Comments and Remarks (if any)" formControlName="feedback1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="cover-outer">
                                    <label class="rating-text mb5">
                                        Do you have any other suggestions or comments to help us improve our future events?
                                        <sup class="text-danger">*</sup>
                                    </label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea class="form-control mh100 " placeholder="Comments and Remarks (if any)" formControlName="feedback2"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="cover-outer">
                                    <a href="javascript:void(0);" class="btn4" (click)="onSubmit()">Submit</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- <div class="no-data-outer" *ngIf="surveyData?.isAttempted || hideSubmit">
                    <i class="material-icons">warning</i> <span>You have already submitted the feedback</span>
                </div>
                <div class="no-data-outer" *ngIf="noData">
                    <i class="material-icons">warning</i> <span>No Data Found</span>
                </div> -->

            </div>
        </section>
        <section class="submit-sucessful" *ngIf="SuccessFullMeg">
            <div class="submit-sucessful-wrapper">
                <figure class="mb50"> <img src="../../../assets/img/tick-circle.png" alt=""> </figure>
                <h2 class="heading-2">Submitted Successfully</h2>
                <!-- <p>Your data submitted Successfully</p> -->
            </div>
        </section>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="thankyou-modal">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body pt50 pb50">
                <div class="pay-now-dropdown cover-outer">
                    <figure class="mb50"> <img src="../../../assets/img/tick-circle.png" alt=""> </figure>
                    <h3 class="cover-outer boldheading mb15 d-inline-block ">Thank You!</h3>
                    <div class="cover-outer mb10">
                        <h1 class="rating-text">Thank you for taking the time to complete the feedback, your response is valuable to us.</h1>
                    </div>
                    <a href="javascript:void(0);" class="mt30 btn4 d-inline-block float-none text-center" (click)="closeModal()">OK</a>

                </div>
            </div>
        </div>
    </div>
</div>