.main-body {
    padding: 30px 20px;
    width: 100%;
    max-width: 700px;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-padd {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 0 10px 2px #eee;
}

.submit-sucessful {
    background: #fff;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.heading-1 {
    font-family: nunitosans-Bold;
    color: #404040;
    margin-bottom: 10px;
}

.heading-2 {
    font: 30px/44px nunito_sanssemibold;
    color: #004E9A;
    text-transform: capitalize;
}