<toaster-container [toasterconfig]="config">
</toaster-container>
<div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div>
<app-header></app-header>
    <div class="cover-outer">
        <section class="login-container">
            <div class="container">
                <h3 class='login-heading'>Welcome Back!</h3>
                <p class="login-subheading">Forgot Password</p>
            </div>
            <div class="container">
                <div class="row">
                    <form class="login-form feeDetailFrom text-left mt35" [formGroup]="forgotPasswordForm">
                        <div class="form-group  mb25 l-email">
                            <label class="label-heading">Enter Email</label>
                            <div class="input-group">
                                <i class="material-icons">mail_outline</i>
                                <input type="email" class="form-control" placeholder="john.doe@gmail.com" formControlName="officialEmail" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                                <span class="msg-error d-none"></span>
                            </div>
                            <span *ngIf="!forgotPasswordForm.get('officialEmail').valid && forgotPasswordForm.get('officialEmail').touched 
                            || (submited && emailError)" class="error-msg">Please Enter Your Valid Email</span>
                        </div>
                        <button type="button" class="btn1 mt60" (click)="submitbtn()">Submit
                            <span class="material-icons">send</span>
                        </button>
                    </form>

                </div>
            </div>
        </section>
    </div>