.create-app-form{
    background: #fff;
    width: 100%;
    padding: 20px;
}
.create-app-form label{
    font: 16px/15px nunito_sanssemibold;
}
.feeDetailFrom .cont span.txt {
    position: relative;
    top: 4px;
    font-size: 14px;
}