<!-- <div id="loader" *ngIf="loading">
  <img src="../../../assets/img/master2.svg">
</div> -->
<toaster-container [toasterconfig]="config"> </toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
	<app-student-menu></app-student-menu>
	<div *ngIf="loading" class="preloader-wrapper">
		<div class="cssloader">
			<div class="sh1"></div>
			<div class="sh2"></div>
			<!-- <h4 class="lt">Master Union</h4> -->
		</div>
	</div>
	<div class="main-body">
		<section class="fees-container preview-survey">
			<div class="container-fluid">
				<h3 class="cover-outer boldheading mb50">
					Leave Application<span class="borderheading"> Form</span>
				</h3>
				<div class="cover-outer create-app-form">
					<form class="cover-outer d-flex feeDetailFrom" [formGroup]="leaveForm">
						<div class="cover-outer">
							<!-- <div class="cover-outer">
                                <div class="form-group mb25">
                                    <label class="label-heading mb10">Name <sup class="text-danger">*</sup></label>
                                    <div class="input-group">
                                        <input class="form-control" formControlName="title"
                                            placeholder="Enter your Name">
                                        <span class="msg-error d-none"></span>
                                    </div>
                                </div>
                            </div> -->
							<!-- <div class="cover-outer">
                                <div class="form-group mb25">
                                    <label class="label-heading mb10">Roll Number <sup
                                            class="text-danger">*</sup></label>
                                    <div class="input-group">
                                        <input class="form-control" formControlName="title"
                                            placeholder="Enter your rollnumber" type="number">
                                        <span class="msg-error d-none"></span>
                                    </div>
                                </div>
                            </div> -->

							<div class="row">
								<div class="col-md-6">
									<div class="cover-outer">
										<div class="form-group mb25">
											<label class="label-heading mb10">Type of Leave <sup
													class="text-danger">*</sup></label>
											<div class="input-group">
												<!-- <label class="cont mb10">
													<input id="sick" checked="" formControlName="leaveType" value="Sick Leave"
														type="radio">
													<span class="checkmark"></span>
													<span class="txt">Sick Leave</span>
												</label> -->
												<label class="cont mb10">
													<input id="medical" checked="" formControlName="leaveType"
														value="Medical Leave" type="radio" (change)="medicalSelect()" />
													<span class="checkmark"></span>
													<span class="txt">Medical Leave</span>
												</label>

												<label class="cont mb10">
													<input id="casual" checked="" formControlName="leaveType"
														value="Casual Leave" type="radio" (change)="casualSelect()" />
													<span class="checkmark"></span>
													<span class="txt">Casual Leave</span>
												</label>
											</div>
										</div>
									</div>


								</div>
								<div class="col-md-6">
									<div class="cover-outer">
										<div class="form-group mb25">
											<label class="label-heading mb10">Duration of Leave
												<sup class="text-danger">*</sup></label>
											<div class="input-group">
												<label class="cont mb10">
													<input (input)="isRadioType($event.target.value)" id="single"
														checked="" formControlName="dayType" value="Single Day"
														type="radio" />
													<span class="checkmark"></span>
													<span class="txt">Single Day</span>
												</label>

												<label class="cont mb10">
													<input (input)="isRadioType($event.target.value)" id="multiple"
														checked="" formControlName="dayType" value="Multiple Days"
														type="radio" />
													<span class="checkmark"></span>
													<span class="txt">Multiple Days</span>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div *ngIf="showDateView" class="row">
								<div class="col-md-6">
									<div class="form-group mb25">
										<label class="label-heading mb10">From <sup class="text-danger">*</sup></label>
										<div class="input-group">
											<input class="form-control" formControlName="leaveFromDate"
												placeholder="Select Date" type="date"
												[min]="isMedical? null: todayDate" />
											<span class="msg-error d-none"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group mb25">
										<label class="label-heading mb10">To <sup class="text-danger">*</sup></label>
										<div class="input-group">
											<input class="form-control" formControlName="leaveToDate"
												placeholder="Select date" type="date"
												[min]="isMedical? null:tommorowDate" />
											<span class="msg-error d-none"></span>
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="!showDateView" class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="label-heading mb10">Select Date <sup
												class="text-danger">*</sup></label>
										<div class="input-group">
											<input id="datePicker" class="form-control" formControlName="leaveFromDate"
												placeholder="Select date" type="date"
												[min]="isMedical? null:  todayDate" />
											<span class="msg-error d-none"></span>
										</div>
									</div>
								</div>
							</div>

							<div class="row ">
								<div class="col-md-6">

									<!-- <ng-container> -->
									<div>
										<label class="label-heading mb10">Select Term <sup
												class="text-danger">*</sup></label>
										<div class="input-group">
											<select id="termId" class="form-control mb25 pr-0 selectpicker"
												title="Choose Term" formControlName="term"
												(ngModelChange)="onTermSelect($event)">
												<option *ngFor="let term of [1, 2, 3, 4, 5, 6, 7, 8]" [value]="term">
													{{ term }}
												</option>
											</select>
											<!-- <span class="msg-error d-none"></span> -->
										</div>
									</div>
									<!-- </ng-container> -->
								</div>
							</div>


							<div class="row m-0 " *ngIf="isTerm">
								<label class="label-heading mb10">Select the courses you will be missing during this
									time period <sup class="text-danger">*</sup></label>
								<div class="input-group">
									<ng-multiselect-dropdown class="select-search"
										[placeholder]="'Select from the course list'" [settings]="dropdownSettings"
										[data]="courseList" (onDeSelect)="onItemDeSelect($event)"
										(onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
									</ng-multiselect-dropdown>
									<!-- <select multiple class="form-control mb25 pr-0  selectpicker" title="Choose Course"
                                        formControlName="courseId">
                                        <option *ngFor="let c of courseList" [value]="c?.id">{{c?.courseName}}</option>
                                    </select> -->
									<!-- <span class="msg-error d-none"></span> -->
								</div>
							</div><br *ngIf="isTerm">

							<label *ngIf="arrayLength.length > 0" class="label-heading mb10">Select the number of
								lectures you will be missing during this time period <sup
									class="text-danger">*</sup></label>
							<div class="row missing-lecture-List">

								<div class="col-md-6" *ngFor="let item of arrayLength">
									<div class="bg-grey">
										<p>{{item.courseName}}</p>
										<div class="form-group">
											<div class="input-group">
												<input type="number" name="pname[]" value=1 min=0 class="form-control"
													(input)="onSearchChange($event.target.value,item.id)">
											</div>
										</div>
									</div>

								</div>

							</div>
							<div class="cover-outer">
								<div class="form-group mb25">
									<label class="label-heading mb10">Specify the accurate reason for leave application
										<sup class="text-danger">*</sup></label>
									<div class="input-group">
										<textarea formControlName="Reason" class="form-control mh100 pt10 pl18"
											placeholder="Type the details here"></textarea>
										<span class="msg-error d-none"></span>
									</div>
								</div>
							</div>
							<!-- <div class="cover-outer">
                                <div class="form-group mb25">
                                    <label class="label-heading mb10">Attachment <sup class="text-danger"></sup></label>
                                    <div class="cover-outer">
                                        <button class="btn5 "> Upload</button>
                                    </div> -->

							<!-- <label for="file">Choose File</label> -->
							<!-- <input type="file" id="file" (change)="handleFileInput($event.target.files)"
                                        formControlName="uploadDocument"> -->
							<!-- </div>
                            </div> -->

							<div class="cover-outer">
								<label *ngIf="isMedical; else notMedical" class="label-heading mb10">Add supporting document <sup class="text-danger">*</sup></label>
								<ng-template #notMedical>
									<label class="label-heading mb10">Add supporting document</label>
								</ng-template>
								<div class="form-group mb25">
									<!-- <label class="label-heading mb10">Attachment <sup class="text-danger"></sup></label> -->
									<!-- <label for="file">Choose File</label> -->
									<!-- <div class="chooseFile-outer">
                                        <input type="file">
                                        <div class="chooseFile">Choose File</div> <div class="filenm">No File chosen</div>
                                    </div> -->
									<!-- <div class="cover-outer">
										<input type="file" #uploadfile accept=".csv" (change)="uploadBulk($event)" accept=".csv" style="display: none;">
										<button type="button" class=" btn4 mr10" (click)="uploadfile.click()">Upload</button>
									  </div> -->
									
                                                        <div class="chooseFile-outer">
												
                                                            <div (click)="handleFileInput($event.target.files)"  required class="chooseFile">Choose File</div>
                                                            <div class="filenm">{{fileToUpload}}</div>
                                                        </div>
								</div>
							</div>
							<div class="cover-outer mt20">
								<button (click)="submitLeaveApplication()" type="button" class="btn4 mr10">
									Submit Leave Request
								</button>
							</div>
							<div class="cover-outer	mt20">
								<div class="form-group mb25">
									<label class="label-heading mb10"> <sup class="text-danger"> Note : The leave will
											be approved only for the following valid reasons:</sup></label>
									<div class="input-group">

										<span class="msg-error font-italic">1. Leave ( Please attach the medical
											certificate )<br>
											2. External Examination (please attach proof) <br><br>
											Please note that if your leave request is not approved, you will be
											penalised according to the attendance norms defined in the student handbook.
											An approved leave will be exempted from penalties. </span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- The Modal -->
<div class="modal fade" id="thankyou-modal">
	<div class="modal-dialog  modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body pt50 pb50">
				<div class="pay-now-dropdown cover-outer">
					<figure class="mb50"> <img src="../../../assets/img/tick-circle.png" alt=""> </figure>
					<h3 class="cover-outer boldheading mb15 d-inline-block ">Message!</h3>
					<div class="cover-outer mb10">
						<h1 class="rating-text"> Your leave request has been submitted for approval to the Academic
							Services team. </h1>
					</div>
					<a href="javascript:void(0);" class="mt30 btn4 d-inline-block float-none text-center"
						(click)="closeModal()">OK</a>

				</div>
			</div>
		</div>
	</div>
</div>