<toaster-container [toasterconfig]="config">
</toaster-container>
<!-- <div id="loader" *ngIf="loading">
    <img src="../../../assets/img/master2.svg">
</div> -->
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50">My
                    <span class="borderheading">Account</span>
                </h3>
                <!-- ====================edit design for public profile ==================== -->
                <div class="myProfileOuter edit" *ngIf="false">
                    <div class="stu-details-tab">
                        <div class="details-tab-inner">
                            <div class="cover-outer text-center">
                                <div class="form-group mb15">
                                    <div class="profile-upload-btn-wrapper">
                                        <div class="upload-btn">Upload</div>
                                        <input name="myfile" type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="stu-overview text-center mb20">
                                <div class="name" id="name">Aanand Krishnan</div>
                                <div class="info mt-0" id="program-e">
                                    <span id="infoTitle"> Email: aanand.krishnan@mastersunion.org</span>
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item" id="overviewTab-e">
                                    <a class="nav-link active" data-toggle="tab" href="#overview-e">
                                        <i class="material-icons">person_outline</i>Overview
                                    </a>
                                </li>
                                <li class="nav-item" id="eduTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#edu-e">
                                        <i class="material-icons-outlined">school</i>Education
                                    </a>
                                </li>
                                
                                <li class="nav-item" id="skillTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#skill-e">
                                        <i class="material-icons-outlined">school</i>Skills
                                    </a>
                                </li>
                                <li class="nav-item" id="achievementTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#achievement-e">
                                        <i class="material-icons-outlined">school</i>ACHIEVEMENTS
                                    </a>
                                </li>
                                <li class="nav-item" id="workExpTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#workExp-e">
                                        <i class="material-icons-outlined">school</i>WORK EXPERIENCE
                                    </a>
                                </li>
                                <li class="nav-item" id="projMUTab-e">
                                    <a class="nav-link" data-toggle="tab" href="#projMU-e">
                                        <i class="material-icons-outlined">school</i>PROJECTS AT MASTERS’ UNION
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">

                            <div id="overview-e" class="tab-pane fade active show">
                                <form class="cover-outer feeDetailFrom">
                                    <div class="details-inner" id="aboutHeading">
                                        <div class="details-heading">About Me</div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea class="form-control mh100">
                                                    A passionate, transformation oriented person with 4.5 years of experience in operations at an investment bank and, marketing and operations at a social impact sector. A mnagement specialist with a track record of launching an app, setting up operations and driving marketing strategy.
                                                </textarea>
                                                <span class="msg-error d-none"></span>
                                            </div>
                                            <div class="upload-resume-btn mt20">
                                                <span><i class="material-icons">add_circle_outline</i> Upload
                                                    Resume</span>
                                                <input type="file">
                                            </div>
                                            <div class="cover-outer mt20">
                                                <button class="btn4">Cancel</button>
                                                <button class="btn3 ml-3">Update</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="edu-e" class="tab-pane fade">
                                <form class="cover-outer feeDetailFrom">
                                    <div class="details-heading">Education</div>
                                    <div class="form-group mb25">
                                        <label class="label-heading">Education</label>
                                        <div class="input-group right-arrow">
                                            <select class="form-control selectpicker" name="">
                                                <option value="">Degree/Diploma</option>
                                                <option value="">Degree/Diploma</option>
                                                <option value="">Degree/Diploma</option>
                                                <option value="">Degree/Diploma</option>
                                            </select>
                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb25">
                                        <label class="label-heading">Course</label>
                                        <div class="input-group">
                                            <input class="form-control" value="Bachelor of Commerce" type="text">

                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb25">
                                        <label class="label-heading">University</label>
                                        <div class="input-group">
                                            <input class="form-control" value="PSG College of Arts & Science"
                                                type="text">

                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                    <div class="form-group mb25">
                                        <label class="label-heading">Passing out Year</label>
                                        <div class="input-group">
                                            <select class="form-control w-auto selectpicker" name="">
                                                <option value="">2015</option>
                                                <option value="">2015</option>
                                                <option value="">2015</option>
                                                <option value="">2015</option>
                                            </select>

                                            <span class="msg-error d-none"></span>
                                        </div>
                                    </div>
                                    <div class="upload-resume-btn mt20">
                                        <span><i class="material-icons">add_circle_outline</i> Upload Resume</span>
                                        <input type="file">
                                    </div>
                                    <div class="cover-outer mt20">
                                        <button class="btn4">Cancel</button>
                                        <button class="btn3 ml-3">Update</button>
                                    </div>
                                </form>
                            </div>
                            <div id="skill-e" class="tab-pane fade">
                                <form class="cover-outer feeDetailFrom">
                                    <div class="details-heading">Skills</div>
                                    <ul id="dvSkills">
                                        <li>Project Management</li>
                                        <li>Project Management</li>
                                        <li>Project Management</li>
                                        <li>Project Management</li>
                                        <li>Project Management</li>
                                        <li>Project Management</li>

                                    </ul>
                                </form>
                            </div>
                            <div id="achievement-e" class="tab-pane fade">
                                <form class="cover-outer feeDetailFrom">
                                    <div class="details-heading">ACHIEVEMENTS </div>
                                    <ul id="dvAchievements">
                                        <li>Launched SignAble app which made a significant difference in 7000 deafs’
                                            life.</li>
                                        <li>Launched SignAble app which made a significant difference in 7000 deafs’
                                            life.</li>
                                        <li>Launched SignAble app which made a significant difference in 7000 deafs’
                                            life.</li>
                                        <li>Launched SignAble app which made a significant difference in 7000 deafs’
                                            life.</li>
                                        <li>Launched SignAble app which made a significant difference in 7000 deafs’
                                            life.</li>
                                        <li>Launched SignAble app which made a significant difference in 7000 deafs’
                                            life.</li>
                                    </ul>
                                </form>
                            </div>
                            <div id="workExp-e" class="tab-pane fade">
                                <form class="cover-outer feeDetailFrom">
                                    <div class="details-heading">WORK EXPERIENCE</div>
                                    <div class="dvWEouter">
                                        <div class="dvWEheading">SignAble Communications Pvt Ltd
                                            <br> Marketing and Operations Manager
                                        </div>
                                        <div class="dvWEheadingtext"> Oct ’19 - Aug ’20 </div>
                                        <ul class="dvWElist">
                                        </ul>
                                    </div>
                                    <div class="dvWEouter">
                                        <div class="dvWEheading">Inkludo Consulting and Advisory Pvt Ltd
                                            <br> Managing Consultant
                                        </div>
                                        <div class="dvWEheadingtext">Jul ’19 - Jan ’20 </div>
                                        <ul class="dvWElist">
                                            <li class="mt10">
                                                Led a cross-functional team of 3 analysts to design strategies and
                                                execute them for a portfolio of companies worth USD 3 million
                                            </li>
                                            <li class="mt10">
                                                Crafted strategies to set up the workflow of SignAble Communication (a
                                                subsidiary of Inkludo)
                                            </li>
                                            <li class="mt10">
                                                Improved Business Strategy of BleeTech, leading to an Increase in Sales
                                                by 30%
                                            </li>
                                            <li class="mt10">
                                                Built alliances and partnerships with NGOs, Incubators and Startups
                                                working in the disability sector, such as Samarthanam, NSRCEL and Enable
                                                India, to organise a hackathon for Assistive Technology
                                            </li>
                                        </ul>

                                        <!-- =====work Designation ==========-->
                                        <div class="dvWE-sub-heading">Inkludo Consulting </div>
                                        <ul class="dvWElist two">
                                            <li> Led a cross-functional team of 3 analysts to design strategies and
                                                execute them for a portfolio of companies worth USD 3 million </li>
                                            <li> Led a cross-functional team of 3 analysts to design strategies and
                                                execute them for a portfolio of companies worth USD 3 million </li>
                                            <li> Led a cross-functional team of 3 analysts to design strategies and
                                                execute them for a portfolio of companies worth USD 3 million </li>
                                        </ul>

                                    </div>
                                </form>
                            </div>
                            <div id="projMU-e" class="tab-pane fade">
                                <form class="cover-outer feeDetailFrom">
                                    <div class="details-heading">PROJECTS AT MASTERS’ UNION</div>
                                    <div class="details-inner" id="aboutHeading">
                                        <div class="details-heading">Education</div>
                                        <p>
                                            PGP in Technology and Business Management from the Masters' Union School of
                                            Business (2020 - 2021 )
                                            Bachelor of Commerce from the PSG College of Arts and Science (2012 - 2015 )
                                        </p>
                                    </div>
                                    <div class="details-inner" id="aboutHeading">
                                        <div class="details-heading">Education</div>
                                        <p>
                                            PGP in Technology and Business Management from the Masters' Union School of
                                            Business (2020 - 2021 )
                                            Bachelor of Commerce from the PSG College of Arts and Science (2012 - 2015 )
                                        </p>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- ====================edit  design for public profile ends ==================== -->


                <!-- ====================new design for public profile ==================== -->
                <div class="myProfileOuter" *ngIf="profileData && false">
                    <div class="stu-overview-outer mb50">
                        <figure class="person-img-prof">
                            <!-- <img id="personImage" src="../../../assets/img/student/1.jpg" width="236" height="236"> -->
                            <img id="personImage" width="236" height="236"
                                src="{{details?.StudentDetail?.profilePicUrl}}"
                                onerror="this.src='../../../assets/img/avatar.jpg'" alt="No Image" />
                        </figure>
                        <div class="stu-overview">
                            <div class="name" id="name">{{profileData?.firstName}} {{profileData?.lastName}}</div>
                            <div class="info" id="program">
                                <span id="infoTitle"> {{profileData?.orgComingFrom}} | {{profileData?.campusComingFrom}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="stu-details-tab">
                        <div class="details-tab-inner">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" id="overviewTab">
                                    <a class="nav-link active" data-toggle="tab" href="#overview">
                                        <i class="material-icons">person_outline</i>Overview
                                    </a>
                                </li>
                                <li class="nav-item" id="skillTab">
                                    <a class="nav-link" data-toggle="tab" href="#skill">
                                        <i class="material-icons-outlined">school</i>Skills
                                    </a>
                                </li>
                                <li class="nav-item" id="achievementTab">
                                    <a class="nav-link" data-toggle="tab" href="#achievement">
                                        <i class="material-icons-outlined">school</i>ACHIEVEMENTS
                                    </a>
                                </li>
                                <li class="nav-item" id="workExpTab">
                                    <a class="nav-link" data-toggle="tab" href="#workExp">
                                        <i class="material-icons-outlined">school</i>WORK EXPERIENCE
                                    </a>
                                </li>
                                <li class="nav-item" id="projMUTab">
                                    <a class="nav-link" data-toggle="tab" href="#projMU">
                                        <i class="material-icons-outlined">school</i>PROJECTS AT MASTERS’ UNION
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="overview" class="tab-pane fade active show">
                                <div class="details-inner" id="aboutHeading">
                                    <div class="details-heading">About Me</div>
                                    <p>
                                        {{profileData?.overview}}
                                    </p>
                                </div>
                                <div class="details-inner" id="aboutHeading">
                                    <div class="details-heading">Education</div>
                                    <!-- <p> -->
                                    <ul *ngFor="let edu of profileData?.StudentEducations">
                                        <li>
                                            {{edu.courseName}} from the {{edu.organization}} ({{edu.duration}})
                                        </li>
                                    </ul>

                                </div>

                                <div class="applynow-outr master-details-btn">
                                    <a id="ancrDownload" target="_blank" class="masterCta">Download Resume
                                        <i class="material-icons ml-2">save_alt</i>
                                    </a>
                                </div>
                            </div>
                            <div id="skill" class="tab-pane fade">
                                <div class="details-heading">Skills</div>
                                <ul id="dvSkills" *ngFor="let skill of profileData?.StudentSkills">
                                    <li>{{skill.skillTitle | titlecase}}</li>

                                </ul>
                            </div>
                            <div id="achievement" class="tab-pane fade">
                                <div class="details-heading">ACHIEVEMENTS </div>
                                <ul id="dvAchievements" *ngFor="let achieve of profileData?.StudentAchievements">
                                    <li>{{achieve.description}}</li>
                                </ul>
                            </div>
                            <div id="workExp" class="tab-pane fade">
                                <div class="details-heading">WORK EXPERIENCE</div>
                                <div class="dvWEouter" *ngFor="let work of profileData?.StudentWorkExperiences">
                                    <div class="dvWEheading">{{work?.organizationName}}
                                        <br>{{work.profile}}
                                    </div>
                                    <div class="dvWEheadingtext">{{work?.duration}}</div>
                                    <ul class="dvWElist"
                                        *ngFor="let workResponsibility of work?.WorkResponsibilityDetails">
                                        <li class="mt10">{{workResponsibility?.description}}</li>
                                    </ul>
                                    <ul *ngFor="let workDesignation of work?.WorkDesignations">
                                        <li dvWE-sub-heading>{{workDesignation?.title}}</li>
                                        <ul class="dvWElist two"
                                            *ngFor="let workResp of workDesignation?.WorkResponsibilityDetails">
                                            <li class="mt10">{{workResp?.description}}</li>
                                        </ul>
                                    </ul>
                                </div>

                            </div>
                            <div id="projMU" class="tab-pane fade">
                                <div class="details-heading">PROJECTS AT MASTERS’ UNION</div>
                                <div class="details-inner" id="aboutHeading"
                                    *ngFor="let project of profileData?.StudentAcademicProjects">
                                    <div class="details-heading">{{project?.title}}</div>
                                    <p>
                                        {{project?.description}}
                                    </p>
                                </div>

                            </div>



                        </div>
                    </div>
                </div>
                <!-- ====================new design for public profile ends ==================== -->
                <!-- output section  -->
                <div class="myProfileOuter mb40">
                    <div class="row mr-0 ml-0">
                        <div class="col-md-12 pr-0 pl-0">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#change-pwd"
                                class="changePwd float-right">Change Password</a>
                            <!-- <a href="{{details?.Program?.handbookLink}}" target="_blank" class="btn4 float-right" *ngIf="details?.Program?.handbookLink">Download Handbook</a> -->
                        </div>
                        <div class="col-md-6 profileLeft">
                            <div class="profileOutput">
                                <figure class="profile-pic">
                                    <img src="{{details?.StudentDetail?.profilePicUrl}}"
                                        onerror="this.src='../../../assets/img/avatar.jpg'" alt="No Image" />
                                </figure>
                                <!-- <a class="addOtherBtn float-right  ml-2" >Update</a> -->
                            </div>

                            <div class="profileOutput" *ngIf="!profileData">
                                <div class="pofileOutput-inner">
                                    <i class="material-icons"> person</i>
                                    <div class="name">
                                        {{details?.firstName|titlecase}} {{details?.lastName|titlecase}}
                                    </div>
                                </div>
                            </div>
                            <div class="profileOutput" *ngIf="!profileData">
                                <div class="pofileOutput-inner">
                                    <i class="material-icons">email</i>
                                    <div class="output-txt">
                                        {{details?.officialEmail}}
                                    </div>
                                </div>
                            </div>
                            <div class="profileOutput">
                                <div class="pofileOutput-inner">
                                    <i class="material-icons">book</i>
                                    <h6>Opted Course: </h6>
                                </div>
                                <div class="pofileOutput-inner">
                                    <div class="output-txt">
                                        <ul>
                                            <li>{{details?.Program?.name}} </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="profileOutput">
                                <div class="pofileOutput-inner">
                                    <i class="material-icons">school</i>
                                    <h6>Qualification: </h6>
                                </div>
                                <div class="pofileOutput-inner">
                                    <div class="output-txt" *ngIf="qualfication.length>0">
                                        <ul *ngFor="let qual of qualfication">
                                            <li>{{qual?.class | uppercase}} ({{qual?.board}}),
                                                {{qual?.schoolOrCollegeName}}, {{qual?.yearOfPassing}}</li>
                                        </ul>
                                    </div>
                                    <div *ngIf="qualfication.length==0">
                                        -
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="profileOutput">
                                <div class="pofileOutput-inner">
                                    <i class="material-icons">business</i>
                                    <h6>Experience:      </h6>
                                </div>
                                <div class="pofileOutput-inner">
                                 <div class="output-txt">
                                       <ul>
                                           <li>Designation Name, Company Name, City Name, Passing Year</li>
                                           <li>Designation Name, Company Name, City Name, Passing Year</li>
                                        </ul>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-6 profileRight">
                            <div class="parallel-heading-outer mb25">
                                <h3 class="heading-3">Other Personal Information</h3>
                                <!-- <a class="addOtherBtn float-right ml-2">Update</a> -->
                            </div>
                            <div class="profileRight-innerCol">
                                <div class="w-50">
                                    <!-- <div class="profileOutput">
                                        <h6>Mother’s Name</h6>
                                       <div class="output-txt">- </div>
                                    </div> -->
                                    <!-- <div class="profileOutput">
                                        <h6>Father’s Name:</h6>
                                       <div class="output-txt">-</div>
                                    </div> -->
                                    <div class="profileOutput">
                                        <h6>Permanent Address:</h6>
                                        <div class="output-txt"
                                            *ngIf="details?.StudentDetail?.address || details?.StudentDetail?.city || details?.StudentDetail?.state || details?.StudentDetail?.pincode">
                                            {{details?.StudentDetail?.address}},
                                            <br> {{details?.StudentDetail?.city}}, {{details?.StudentDetail?.state}},
                                            {{details?.StudentDetail?.pincode}}
                                        </div>
                                        <div class="output-txt"
                                            *ngIf="!details?.StudentDetail?.address || !details?.StudentDetail?.city || !details?.StudentDetail?.state || !details?.StudentDetail?.pincode">
                                            -</div>
                                    </div>
                                    <div class="profileOutput">
                                        <h6>Emergency Contact Name:</h6>
                                        <div class="output-txt" *ngIf="details?.StudentDetail?.emergencyContactName">
                                            {{details?.StudentDetail?.emergencyContactName}}</div>
                                        <div class="output-txt" *ngIf="!details?.StudentDetail?.emergencyContactName">-
                                        </div>
                                    </div>
                                    <div class="profileOutput">
                                        <h6>Emergency Contact Number:</h6>
                                        <div class="output-txt" *ngIf="details?.StudentDetail?.emergencyContactNumber">
                                            {{details?.StudentDetail?.emergencyContactNumber}}</div>
                                        <div class="output-txt" *ngIf="!details?.StudentDetail?.emergencyContactNumber">
                                            -</div>
                                    </div>
                                    <div class="profileOutput"
                                        *ngIf="details?.id == '4c0492d1-f136-48e4-9d31-2ddf9f17f56d'">
                                        <div class="profileOutput">
                                            <input type="file" #uploadfile
                                                (change)="uploadResume($event, details?.firstName, details?.lastName)"
                                                style="display: none;">
                                            <div class="cover-outer">
                                                <button type="button" class="update-btn mt10"
                                                    (click)="uploadfile.click()">Upload
                                                    Resume</button><span>{{this.fileName}}</span>
                                            </div>
                                            <div class="cover-outer  mt20">
                                                <button type="button" class="btn3"
                                                    (click)="goToResumePage(details?.firstName.toLowerCase(), details?.lastName.toLowerCase(), details?.slug)">Update Details</button>
                                            </div>


                                        </div>
                                    </div>
                                   
                                    <!-- <div class="profileOutput">
                                        <h6>Gender:</h6>
                                       <div class="output-txt">Male</div>
                                    </div>
                                    <div class="profileOutput">
                                        <h6>Marital Status:</h6>
                                       <div class="output-txt">Married</div>
                                    </div>
                                    <div class="profileOutput">
                                        <h6>Spouse Name::</h6>
                                       <div class="output-txt">Reena</div>
                                    </div>
                                    <div class="profileOutput">
                                        <h6>Category:   </h6>
                                       <div class="output-txt">Gen</div>
                                    </div>
                                    <div class="profileOutput">
                                        <h6> Birthdate:</h6>
                                       <div class="output-txt">10th Jul 1996</div>
                                    </div> -->
                                </div>
                                <!-- <div class="w-50">
                                    <div class="profileOutput">
                                        <h6>Profile Brief:</h6>
                                       <div class="output-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                           Pellentesque rhoncus mi vitae ornare dapibus. Quisque sodales dapibus pretium. 
                                           Donec ac nisl ut neque vulputate interdum. Integer vestibulum ullamcorper odio, 
                                           quis ornare augue imperdiet quis. Etiam est nisi, iaculis a ex at, facilisis 
                                           molestie arcu</div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="parallel-heading-outer ">
                                <div class="mt20">
                                    <h6 class="heading-3">Download Handbook</h6>
                                    
                                </div>
                            </div>
                            <div class="profileRight-innerCol">
                                <div class="output-txt" >
                                    <ul class="handbook-list">
                                        <li><a href="{{details?.Program?.handbookLink}}" target="_blank" class="" *ngIf="details?.Program?.handbookLink"><i class="material-icons">file_download</i>Student Handbook</a> </li>
                                        <li><a href="https://mastersunion.s3.ap-south-1.amazonaws.com/assets/Mentee+Handbook.pdf" target="_blank" class=""><i class="material-icons">file_download</i>Mentee Handbook</a> </li>
                                    </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- output section ends  -->
                <!------------- form ----------------->
                <div class="myProfileOuter" *ngIf="false">
                    <div class="row mr-0 ml-0">
                        <div class="col-md-12 pr-0 pl-0">
                            <a href="javascript:void(0);" data-target="#change-pwd" class="changePwd float-right"
                                class="changePwd float-right">Change Password</a>
                                <a href="javascript:void(0);" class="btn4 float-right">Download Report</a>
                        </div>
                        <div class="col-md-6 profileLeft">
                            <form class="cover-outer feeDetailFrom">
                                <div class="form-group mb15">
                                    <div class="profile-upload-btn-wrapper">
                                        <div class="upload-btn">Upload</div>
                                        <input name="myfile" type="file">
                                    </div>
                                </div>
                                <div class="form-group mb15">
                                    <label class="label-heading">Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="John Wilington">
                                    </div>
                                    <!-- <span class="error-msg d-none">Official email is required</span> -->
                                </div>

                                <div class="form-group mb15">
                                    <label class="label-heading">Email</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="john.wilington@gmail.com">
                                    </div>
                                </div>
                                <div class="form-group mb15">
                                    <label class="label-heading">Phone</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="+91 - 77778888999">
                                    </div>
                                </div>
                                <!-- <div class="form-group mb15">
                                        <label class="label-heading">Course Opted</label>
                                        <div class="input-group right-arrow">
                                           <select class="form-control selectpicker">
                                                <option>Course Opted</option>
                                                <option>Course Opted</option>
                                                <option>Course Opted</option>
                                            </select>
                                         </div>
                                        
                                    </div> -->
                                <!-- <div class="form-group mb15">
                                        <label class="label-heading">Previous qualification</label>
                                        <div class="input-group right-arrow">
                                           <select class="form-control selectpicker">
                                                <option>Previous qualification</option>
                                                <option>Previous qualification</option>
                                                <option>Previous qualification</option>
                                            </select>
                                         </div>
                                        
                                    </div> -->
                                <!-- <div class="form-group mb15 profile-row2Col">
                                        <div class="profile-row2Col-inner">
                                            <label class="label-heading">Previous Qualification Year</label>
                                            <div class="input-group right-arrow">
                                            <select class="form-control selectpicker">
                                                    <option>Select Batch</option>
                                                    <option>Select Batch</option>
                                                    <option>Select Batch</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="profile-row2Col-inner">
                                            <label class="label-heading">College NAme</label>
                                            <div class="input-group ">
                                                <input type="text" class="form-control" placeholder="College Name">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group mb15">
                                        <label class="label-heading">Previous qualification City Name</label>
                                        <div class="input-group ">
                                            <input type="text" class="form-control" placeholder="City Name">
                                        </div>
                                        <div class="addOtherBtnOuter">
                                            <a class="addOtherBtn">Add Other Qualification</a>
                                        </div>
                                    </div>
                                    <div class="form-group mb15">
                                        <label class="label-heading">Previous Experience Designation</label>
                                        <div class="input-group">
                                           <input type="text" class="form-control" placeholder="Designation Name">
                                        </div>
                                    </div>
                                    <div class="form-group mb15 profile-row2Col">
                                        <div class="profile-row2Col-inner">
                                            <label class="label-heading">Previous Qualification Year</label>
                                            <div class="input-group right-arrow">
                                            <select class="form-control selectpicker">
                                                    <option>Select Batch</option>
                                                    <option>Select Batch</option>
                                                    <option>Select Batch</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="profile-row2Col-inner">
                                            <label class="label-heading">Organization NAme</label>
                                            <div class="input-group ">
                                                <input type="text" class="form-control" placeholder="Organization Name">
                                            </div>
                                         </div>
                                    </div>
                                     <div class="form-group mb15">
                                        <label class="label-heading">Previous Experience City Name</label>
                                        <div class="input-group ">
                                            <input type="text" class="form-control" placeholder="City Name">
                                        </div>
                                        <div class="addOtherBtnOuter">
                                            <a class="addOtherBtn">Add Other Qualification</a>
                                        </div>
                                    </div> -->
                                <div class="form-group mb-0">
                                    <button type="button" class="update-btn mt15">Update</button>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-6 profileRight">
                            <h3 class="heading-3">Other Personal Information</h3>
                            <form class="cover-outer feeDetailFrom ">
                                <!-- <div class="form-group mb15">
                                    <label class="label-heading">Mother’s Name</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control"  placeholder="John Wilington">
                                    </div> -->
                                <!-- <span class="error-msg d-none">Official email is required</span> -->
                                <!-- </div> -->

                                <!-- <div class="form-group mb15">
                                    <label class="label-heading">Father’s Name</label>
                                    <div class="input-group">
                                        <input type="email" class="form-control"  placeholder="Daniel Willington">
                                    </div> -->
                                <!-- <span class="error-msg">Mobile number is required</span> -->
                                <!-- </div> -->
                                <div class="form-group mb15">
                                    <label class="label-heading">Address</label>
                                    <div class="input-group">
                                        <textarea class="form-control mh90"></textarea>
                                    </div>
                                    <!-- <span class="error-msg">Alternate email is required</span> -->
                                </div>
                                <div class="form-group mb15">
                                    <label class="label-heading">City</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="City Name">
                                    </div>
                                    <!-- <span class="error-msg">Mobile number is required</span> -->
                                </div>
                                <div class="form-group mb15">
                                    <label class="label-heading">State Name</label>
                                    <div class="input-group right-arrow">
                                        <select class="form-control selectpicker">
                                            <option>State Name</option>
                                            <option>State Name</option>
                                            <option>State Name</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="form-group mb15">
                                    <label class="label-heading">Pin Code</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="########">
                                    </div>

                                </div>
                                <!-- <div class="form-group  mb15">
                                    <label class="label-heading">Gender
                                    </label>
                                    <div class="input-group">
                                        <label class="cont mt15">
                                            <input value="true"  name="Gender" type="radio">
                                            <span class="checkmark"></span>
                                            <span class="txt">Male</span>
                                        </label>
                                        <label class="cont mt15">
                                            <input value="false" name="Gender" type="radio">
                                            <span class="checkmark"></span>
                                            <span class="txt">Female</span>
                                        </label>
                                       
                                    </div>
                                </div> -->
                                <div class="form-group  mb15">
                                    <label class="label-heading">MArital Status
                                    </label>
                                    <div class="input-group">
                                        <label class="cont mt15">
                                            <input value="true" name="mat-status" type="radio">
                                            <span class="checkmark"></span>
                                            <span class="txt">Married</span>
                                        </label>
                                        <label class="cont mt15">
                                            <input value="false" name="mat-status" type="radio">
                                            <span class="checkmark"></span>
                                            <span class="txt">Single</span>
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group mb15">
                                    <label class="label-heading">Spouse Name</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Reena">
                                    </div>

                                </div>
                                <div class="form-group mb15 ">
                                    <label class="label-heading">Date Of Birth</label>
                                    <div class="profile-row3Col">
                                        <div class="profile-row3Col-inner">
                                            <div class="input-group right-arrow">
                                                <select class="form-control selectpicker">
                                                    <option>Date</option>
                                                    <option>Date</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="profile-row3Col-inner">
                                            <div class="input-group right-arrow">
                                                <select class="form-control selectpicker">
                                                    <option>Month</option>
                                                    <option>Month</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="profile-row3Col-inner">
                                            <div class="input-group right-arrow">
                                                <select class="form-control selectpicker">
                                                    <option>Year</option>
                                                    <option>Year</option>

                                                </select>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb15">
                                    <label class="label-heading">Profile Brief</label>
                                    <div class="input-group ">
                                        <textarea class="form-control mh140"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="update-btn mt15">Update</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <!-- -------form ends--------- -->
            </div>

        </section>
    </div>
</div>


<!-- Modal -->
<div class="modal fade modal-passsword" id="change-pwd" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title login-heading">Change Password</h4>
                <button type="button" id="closeModel" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form class="feeDetailFrom" [formGroup]="changePasswordForm">
                    <div class="form-group mb15">
                        <label class="label-heading">Old Password</label>
                        <div class="input-group">
                            <i class="material-icons"> lock</i>
                            <input class="form-control" placeholder="********" type="password"
                                formControlName="oldpassword">
                        </div>
                        <span *ngIf="!changePasswordForm.get('oldpassword').valid && changePasswordForm.get('oldpassword').touched 
                || (submited && oldpasswordError)" class="error-msg">Please Enter Your Old Password</span>
                        <span *ngIf="oldPasswordWrong && !changePasswordForm.get('oldpassword').touched"
                            class="error-msg">Please enter correct old password</span>
                    </div>
                    <div class="form-group mb15">
                        <label class="label-heading">New Password</label>
                        <div class="input-group">
                            <i class="material-icons"> lock</i>
                            <input class="form-control" placeholder="********" type="password"
                                formControlName="password">
                        </div>
                        <span *ngIf="!changePasswordForm.get('password').valid && changePasswordForm.get('password').touched 
                || (submited && passwordError)" class="error-msg">Please Enter Your Password</span>
                    </div>
                    <div class="form-group mb15">
                        <label class="label-heading">Confirm New Password</label>
                        <div class="input-group">
                            <i class="material-icons"> lock</i>
                            <input class="form-control" placeholder="********" type="password"
                                formControlName="confirmPassword">
                        </div>
                        <span *ngIf="!changePasswordForm.get('confirmPassword').valid && changePasswordForm.get('confirmPassword').touched 
                                    || (submited && !passwordMatch)" class="error-msg">Password not match</span>
                    </div>

                    <div class="form-group">
                        <button type="button" class="update-btn mt15" (click)="submitPassword()"
                            *ngIf="!saveloading">Save</button>
                        <button type="button" class="update-btn mt15 d-inline-flex valignCenter"
                            *ngIf="saveloading">Save
                            <figure class="mb-0 ml-2"><img src="../../../assets/img//loading.gif"></figure>
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>