.profile-pic {
    border : 1px solid #eee;
    border-radius: 50%;
}
.myProfileOuter .btn4{
    margin: 0px 10px;
}
a.changePwd, a.changePwd:link, a.changePwd:visited, a.changePwd:active{
    padding:10px;
}
.modal-passsword input{
    padding-left:40px;
}
.handbook-list li{
    padding-left: 0px;
}
.handbook-list li::before{
    display: none;
}
.handbook-list li a{
    font: 16px/19px 'nunitosans-Bold';
    color: #004e9a;
    display: flex;
    margin:10px 0px;
}
.handbook-list li a:hover{
    /* text-decoration: underline; */
    color: #1d8af3;
}
.handbook-list li a i{
    font-size: 20px;
    margin-right: 5px;
    
}