<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>
  <div class="main-body">
    <div class="page-header">
      <div class="header-left">
        <p [routerLink]="['/student/newCourseList']" class="text-grey pointer">Course Roster</p>
        <p [routerLink]="['/student/newMyCourse']"class="text-primary pointer">My Courses</p>
      </div>
      <div class="filters">
        <button class="primary-btn-a" [routerLink]="['/student/newBiddingList']">Select elective Courses</button>
      </div>
    </div>
    <div class="myCourse scrollbar">
      <div class="student-profile-outer">
        <div class="student-profile-left">          
            <img *ngIf="studentDetails?.StudentDetail!=null; else avatar"
            src={{studentDetails?.StudentDetail?.profilePicUrl}}
            alt=""
            class="profile-img"
          />
          <ng-template #avatar>
            <img 
            src="../../../assets/img/avatarUser.png"
            alt="avatar"
            class="profile-img"
            />
          </ng-template>
          <!-- <img 
            src={{studentDetails?.StudentDetail?.profilePicUrl}}
            alt=""
            class="profile-img"
          /> -->

          <div class="student-details">
            <p class="name">{{studentDetails?.firstName}} {{studentDetails?.lastName}}</p>
            <p class="id">UID : {{studentDetails?.registrationNumber}}</p>
            <p class="batch">Program : {{studentDetails?.Program.name}}</p>
            <p class="batch">Batch : {{studentDetails?.Program.batch}}</p>
          </div>
        </div>
        <div class="student-profile-right">
          <div class="policy-box">
            <div class="policy-header">
              <img src="../assets/img/question.svg" alt="" />
              <p>Course Policy</p>
            </div>
            <ul class="dot-list">
              <li class="dot-list-item">
                You will recieve 10 points which you can distribute among the
                electives.
              </li>
              <li class="dot-list-item">
                Courses with higher points will have a higher preference
              </li>
              <li class="dot-list-item">
                The total of all points must add up to 10 cannot be less than 10
              </li>
              <li class="dot-list-item">
                Once you submit your preference it cannot be changed
              </li>
            </ul>
          </div>
          <div class="policy-box">
            <div class="policy-header"><p>Attendance Policy</p></div>
            <ul class="dot-list">
              <li class="dot-list-item">
                You will recieve 10 points which you can distribute among the
                electives. and
              </li>
              <li class="dot-list-item">
                Courses with higher points will have a higher preference
              </li>
              <li class="dot-list-item">
                The total of all points must add up to 10 cannot be less than 10
              </li>
              <li class="dot-list-item">
                Once you submit your preference it cannot be changed
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="filter-bar">
        <div action="" class="search-bar">
          <img src="../assets/img/search.svg" alt="" (click)="search()"/><input
            ngDefaultControl name="searchParam" [(ngModel)]="searchParam" 
            (input)="isSearchType($event.target.value)"
            (keyup.enter)="search()"
            type="text"
            name=""
            id=""
            placeholder="Search"
            class="clean-input"
          />
          <a class="deleteSearch material-icons" *ngIf="isCrossEnable" (click)="resetsearch()">close</a>
        </div>
        <!-- <div class="filters">
           <select id="type">
            <option value="hide">Feedback Type</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option></select> 
             <select id="type">
            <option value="hide">Status</option>
            <option value="1">Publish</option>
            <option value="2">Unpublish</option>
            <option value="3">Active</option>
            </select> 
          <select id="type">
            <option value="hide">1-50</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div> -->
      </div>
      <div class="feedback-container scrollbar">
        <table class="feedback-table table" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th class="custom-width">Course name</th>
              <th class="custom-width">Faculty</th>
              <th>Cluster</th>
              <th>Course Code</th>
              <th>Type</th>
              <th>Credits</th>
              <th>Hours</th>
              <!-- <th>Status</th> -->
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courseRoster; index as i" >
              <td class="custom-width">
                <p class="primary-text pointer">
                  {{course?.CourseRoster?.courseName}}
                </p>
              </td>
              <td class="custom-width">
                <p class="faculty-details">
                  <b>{{course?.CourseRoster?.master}}</b> {{course?.CourseRoster?.aboutMaster}}
                </p>
              </td>
              <td>{{course?.CourseRoster?.ProgramCluster?.Cluster?.name}}</td>
              <td>{{course?.CourseRoster?.courseCode}}</td>
              <td>{{course?.CourseRoster?.courseType}}</td>
              <td>{{course?.CourseRoster?.credits}}</td>
              <td>{{course?.CourseRoster?.hours}}</td>
              <!-- <td *ngIf="course?.CourseRoster?.isPublished; else unPub"><p class="tag-expired">Publish</p></td>
              <ng-template #unPub> <td><p class="tag-expired">Unpublish</p></td> </ng-template> -->
              <td class="action-dropdown-menu fixedLast">


                <div class="dropdown">
                    <button class="btn no-space" type="button" data-toggle="dropdown"><i
                            class="material-icons">
                            more_vert
                        </i>
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">

                        <!-- <li [routerLink]="[]"
                            class=" pl10">
                            <img src="../assets/img/edit.svg" alt="" />
                            <p class="dropdown-text">Webinar Links</p>
                          </li> -->

                        <li [routerLink]="[]" (click)="onCourseClick(course?.CourseRoster?.id)" class="pl10">
                            <img src="../assets/img/table.svg" alt="" />
                            <p class="dropdown-text">View course details</p>
                        </li>
                        <!-- <li [routerLink]="[]" class="pl10">
                          <img src="../assets/img/message.svg" alt="" />
                          <p class="dropdown-text ">Assignments</p>
                        </li>
                        <li [routerLink]="[]" class=" pl10">
                          <img src="../assets/img/message.svg" alt="" />
                          <p class="dropdown-text">
                            Group Assignments
                          </p>
                        </li>
                        <li [routerLink]="[]" class=" pl10">
                          <img src="../assets/img/files.svg" alt="" />
                          <p class="dropdown-text">Grades</p>
                      </li>
                      <li [routerLink]="[]" class=" pl10">
                        <img src="../assets/img/edit.svg" alt="" />
                        <p class="dropdown-text">Resource Shared</p>
                    </li> -->
                
                        <div class="small-square"> </div>
                    </ul>
                </div>
            </td>
              <!-- <td class="text-center" (click)="toggleAction()">
                <button class="action-btn">
                  <img src="../assets/img/options.svg" />
                </button>
                <ul *ngIf="isShow" class="action-dropdown active course-dropdown">
                  <li class="dropdown-item">
                    <img src="../assets/img/table.svg" alt="" />
                    <p class="dropdown-text">View course details</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/message.svg" alt="" />
                    <p class="dropdown-text primary-text">Assignments(2)</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/message.svg" alt="" />
                    <p class="dropdown-text primary-text">
                      Group Assignments (1)
                    </p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/files.svg" alt="" />
                    <p class="dropdown-text">Grades</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/edit.svg" alt="" />
                    <p class="dropdown-text">Resource Shared</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/edit.svg" alt="" />
                    <p class="dropdown-text">Webinar Links</p>
                  </li>
                </ul>
              </td> -->
            </tr>
            <!-- <tr>
              <td class="custom-width">
                <p class="primary-text pointer">
                  How Does the Economy Work (Part 1)
                </p>
              </td>
              <td class="custom-width">
                <p class="faculty-details">
                  <b>Narendra Jadhav</b> MP, Rajya Sabha &amp; Chief Economist,
                  RBI
                </p>
              </td>
              <td>Marketing</td>
              <td>MABD1625</td>
              <td>Core</td>
              <td>2</td>
              <td>20</td>
              <td><p class="tag-expired">Unpublish</p></td>
               <td class="text-center">
                <button class="action-btn">
                  <img src="../assets/img/options.svg" />
                </button>
                <ul class="action-dropdown course-dropdown">
                  <li class="dropdown-item">
                    <img src="../assets/img/table.svg" alt="" />
                    <p class="dropdown-text">View all Request</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/message.svg" alt="" />
                    <p class="dropdown-text">Assignments</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/file.svg" alt="" />
                    <p class="dropdown-text">Grades</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/edit.svg" alt="" />
                    <p class="dropdown-text">Edit Course Details</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/fileText.svg" alt="" />
                    <p class="dropdown-text">Course Design</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/cross-black.svg" alt="" />
                    <p class="dropdown-text">Unpublish</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/delete.svg" alt="" />
                    <p class="dropdown-text text-danger">Delete</p>
                  </li>
                </ul>
              </td> 
            </tr> -->
            <!-- <tr>
              <td class="custom-width">
                <p class="primary-text pointer">
                  How Does the Economy Work (Part 1)
                </p>
              </td>
              <td class="custom-width">
                <p class="faculty-details">
                  <b>Narendra Jadhav</b> MP, Rajya Sabha &amp; Chief Economist,
                  RBI
                </p>
              </td>
              <td>Marketing</td>
              <td>MABD1625</td>
              <td>Core</td>
              <td>2</td>
              <td>20</td>
              <td><p class="tag-expired">Unpublish</p></td>
             <td class="text-center">
                <button class="action-btn">
                  <img src="../assets/img/options.svg" />
                </button>
                <ul class="action-dropdown course-dropdown">
                  <li class="dropdown-item">
                    <img src="../assets/img/table.svg" alt="" />
                    <p class="dropdown-text">View all Request</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/message.svg" alt="" />
                    <p class="dropdown-text">Assignments</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/file.svg" alt="" />
                    <p class="dropdown-text">Grades</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/edit.svg" alt="" />
                    <p class="dropdown-text">Edit Course Details</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/fileText.svg" alt="" />
                    <p class="dropdown-text">Course Design</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/cross-black.svg" alt="" />
                    <p class="dropdown-text">Unpublish</p>
                  </li>
                  <li class="dropdown-item">
                    <img src="../assets/img/delete.svg" alt="" />
                    <p class="dropdown-text text-danger">Delete</p>
                  </li>
                </ul>
              </td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="side-popup">
      <div class="side-popup-header">
        <div class="side-left">
          <img src="../assets/img/Bell.svg" alt="" />Select Elective courses
        </div>
        <div class="side-right">
          <img src="../assets/img/close.svg" alt="" class="pointer" />
        </div>
      </div>
      <div class="side-popup-body">
        <p class="text">
          Select your elective courses for <b>Term II (2022-2023)</b>. Last date
          to select and complete bidding is <b>16/05/2022</b>
        </p>
        <div class="btn-grp">
          <button class="green-btn">Select Course</button>
          <div class="clear-btn">Not Now</div>
        </div>
      </div>
    </div> -->
  </div>
</div>
