<toaster-container></toaster-container>
<app-student-header></app-student-header>
<div class="main-outer">
	<app-student-menu></app-student-menu>
	<div *ngIf="loading" class="preloader-wrapper">
		<div class="cssloader">
			<div class="sh1"></div>
			<div class="sh2"></div>
		</div>
	</div>

	<div class="main-body pt-0">
		<section class="fees-container">
			<div class="container-fluid">
				<h3 class="cover-outer boldheading mb50 w-auto">
					Assignment
					<span class="borderheading"> Marks</span>
				</h3>
                <div class="cover-outer mb20">
                    <h2 class="course-name">{{courseName}}</h2>
                </div>
                <div class="cover-outer">
                    <a href="javascript:void(0);">
                        <h2 [routerLink]="['/student/termWiseAssingmentMarks']" class="red-clr keyboard-back"><span
                                class="mr-2 material-icons">keyboard_backspace</span>Back </h2>
                    </a>
                </div>                
				<div class="section-padd cover-outer mt20">
                    <div class="cover-outer  mt10">
                        <div class="cover-outer">
                            <div class="payment-detail-outer table-responsive">
                                <table *ngIf ="assingmentData?.length > 0" class="table payment-detail-table tablefeedback-form">
                                    <tr>
                                        <!-- <th class="sr-num-width">S.No.</th> -->
                                        <th>Assignment Name</th>
                                        <th>Marks Scored</th>
                                        <th>Maximum Marks</th>
                                    </tr>
                                    <tr *ngFor="let assingment of assingmentData;index as i">                                       
                                        <td >{{assingment?.name}}</td>
                                        <td>{{assingment?.StudentMarks[0]?.obtainedMarks}}</td>
                                        <td>{{assingment?.totalPoint}}</td>    
                                    </tr>
                                    <tr>
                                        <th>Total Score</th>
                                        <th> {{assingmentData[0]?.StudentMarks[0]?.totalMarks}}</th>
                                        <th>100</th>
                                        <!-- <th>{{totalMarks}}</th> -->

                                    </tr>
                                    <tr>
                                        <th>GPA</th>
                                        
                                        <th>{{assingmentData[0]?.StudentMarks[0]?.grades}}</th>
                                        <th></th>
                                    </tr>
                                </table>
                                <div class="no-data-outer" *ngIf="assingmentData?.length==0">
                                    <i class="material-icons">warning</i> <span> No record found </span>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div>
              
                <!-- table ends  -->

				<!-- table ends  -->
			</div>
		</section>
	</div>
</div>
