<div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
        <div class="sh1"></div>
        <div class="sh2"></div>
        <!-- <h4 class="lt">Master Union</h4> -->
    </div>
</div>
<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div class="main-body pt-0">
        <section class="fees-container">
            <div class="container-fluid payment-status-outer">
                <div class="payment-status">
                    <div *ngIf="paymentStatusData?.status == 'OK' && paymentStatusData?.orderStatus == 'PAID'">
                        <h1 class="heading-2">Fee Payment Status: <span
                                class="text-success">{{paymentStatusData?.txStatus}}</span></h1>
                        <p><span class="pay-heading mt10">Fee Amount:</span>
                            <strong>{{paymentStatusData?.orderAmount}}</strong>
                        </p>
                        <p><span class="pay-heading">Payment Mode:</span>
                            <strong>{{paymentStatusData?.paymentMode}}</strong>
                        </p>
                        <p><span class="pay-heading">Transaction Time:</span>
                            <strong>{{paymentStatusData?.txTime}}</strong>
                        </p>
                    </div>
                    <div *ngIf="paymentStatusData?.status == 'OK' && paymentStatusData?.orderStatus == 'ACTIVE'">
                        <h1 class="heading-2">Fee Payment Status Pending</h1>
                        <p><span class="pay-heading mt10">Fee Amount:</span>
                            <strong>{{paymentStatusData?.orderAmount}}</strong>
                        </p>
                        <p><span class="pay-heading">Transaction Expiry Time:</span>
                            <strong>{{paymentStatusData?.orderExpiryTime}}</strong>
                        </p>
                    </div>
                    <div class="d-inline-block w-100 text-center">
                        <button class="update-btn" routerLink="/student/student-portal">
                            <i class="material-icons mr-2">keyboard_backspace</i>Back
                        </button>
                    </div>

                </div>

            </div>
        </section>
    </div>

</div>