<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
        </div>
    </div>

    <div class="main-body">
        <section class="fees-container preview-survey student-added-1">
            <div class="container-fluid">
                <h3 class="cover-outer boldheading mb50 w-auto"> Club Details </h3>
                <div class="addNewUserOuter">
                    <button class="btn4 mb10 mr-3">APPROVED</button>
                    <button class="btn4Red mb10">EDIT</button>
                </div>
                <div class="cover-outer clubOuter">
                    <div class="cover-outer">

                        <div class="coverPicOuter">
                            <img src="../../../assets/img/coverbg2.jpg" alt="">

                        </div>
                        <div class="upload-club-wrapper">
                            <figure>
                                <img src="../../../assets/img/coverbg2.jpg" alt="">
                            </figure>

                            <!-- <i class="material-icons">photo_camera</i> -->
                        </div>

                        <div class="club-heading-prev-outer"> <h2 class="heading-1 ">Harvard business Club</h2>
                            <div class="button-events-top">
                                <button class="btn7 ml10"><i class="ph-plus"></i>NEW EVENT</button>
                                <button class="btn7 ml10"><i class="ph ph-chats "></i>Forum</button>
                                <button class="btn7 ml10"><i class="ph-eye"></i>Guidance Document </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover-outer mt10 club-outer-1" style="display: none;">
                    <div class="row ">
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="card-sec">
                                <h4 class="heading-4">About Club</h4>
                                <p class="mt10">At Harvard Business Review, we believe in management. If the world’s
                                    organizations and institutions were run more effectively, if our leaders made better
                                    decisions, if people worked more productively, we believe that all of us would be
                                    better off.</p>
                            </div>
                            <div class="card-sec">
                                <div class="ClubP-detail">
                                    <img src="../../../assets/img/1.png" alt="">
                                    <div>
                                        <h3 class="heading-3">Rohan kumar
                                            <span class="designation-tag">Student</span>
                                        </h3>
                                        <span>Programme in Finance and Accounting | 2018-2020 |</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="card-sec">
                                <h4 class="heading-4">Mission of Club</h4>
                                <p class="mt10">At Harvard Business Review, we believe in management. If the world’s
                                    organizations and institutions were run more effectively, if our leaders made better
                                    decisions, if people worked more productively,
                                    we believe that all of us would be better off.</p>
                            </div>
                            <div class="card-sec">
                                <h4 class="heading-4 mb10">16 recommends students Request your club</h4>
                                <ul class="userList">
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <!-- <img src="../../../assets/img/1.png" alt=""> -->
                                        5+
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="card-sec">
                                <h4 class="heading-4">Vission of Club</h4>
                                <p class="mt10">At Harvard Business Review, we believe in management.
                                    If the world’s organizations and institutions were run more effectively, if our
                                    leaders made better decisions, if people worked more productively, we believe that
                                    all of us would be better off.</p>
                            </div>
                            <div class="card-sec">
                                <h4 class="heading-4">Leave Comment</h4>
                                <p class="mt10 line-clamp">At Harvard Business Review, we believe in management. If the
                                    world’s organizations and institutions were run more effectively <a
                                        href="javascript:void(0);" class="red-clr">more</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="cover-outer mt10 club-outer-1">
                    <div class="row abc">
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="card-sec">
                                <h4 class="heading-4">About Club</h4>
                                <p class="mt10">At Harvard Business Review, we believe in management. If the world’s
                                    organizations and institutions were run more effectively, if our leaders made better
                                    decisions, if people worked more productively, we believe that all of us would be
                                    better off.</p>
                            </div>
                            <div class="card-sec">
                                <div class="ClubP-detail">
                                    <img src="../../../assets/img/1.png" alt="">
                                    <div>
                                        <h3 class="heading-3">Rohan kumar
                                            <span class="designation-tag">Student</span>
                                        </h3>
                                        <span>Programme in Finance and Accounting | 2018-2020 |</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-sec">
                                <h4 class="heading-4 mb10">16 recommends students Request your club</h4>
                                <ul class="userList">
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="../../../assets/img/1.png" alt="">
                                    </li>
                                    <li>
                                        <!-- <img src="../../../assets/img/1.png" alt=""> -->
                                        5+
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div class="card-sec">
                                <h4 class="heading-4">Club Report</h4>
                                <div class="no-data-outer mt10" style="display: none;">
                                    <div class="no-data-content">
                                        <img src="../../../assets/img/no-data.png">
                                        <span>No Data Found</span>
                                    </div>
                                </div>
                                <div class="club-list mt10">
                                    <ul>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>

                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                        <li>
                                            <span>Club Report 1</span>
                                            <span class="date-club-list">5 july 2020</span>
                                            <i class="ph-download-simple"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="card-sec">
                                <div class="student-added mb20">
                                    <div class="feeDetailFrom">
                                        <ul class="nav students-tabs text-center tabs-events-club">
                                            <li class=""><a class="active " data-toggle="tab" href="#home">Events
                                                    Organised</a></li>
                                            <li class=""><a class="" data-toggle="tab" href="#menu1" class="">Upcoming
                                                    Events</a></li>
                                            <li class=""><a class="" data-toggle="tab" href="#menu2" class="">Events
                                                    Request</a></li>
                                        </ul>
                                        <div class="tab-content cover-outer">
                                            <div class="tab-pane fade show active" id="home">
                                                <div class="feeDetailFrom feeSearchOuter float-left">
                                                    <span class="txt"></span>
                                                </div>
                                                <div class="payment-detail-outer">
                                                    <div class="no-data-outer mt10" style="display: none;">
                                                        <div class="no-data-content">
                                                            <img src="../../../assets/img/no-data.png">
                                                            <span>No Data Found</span>
                                                        </div>
                                                    </div>
                                                    <div class="club-list mt10">
                                                        <ul>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>

                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <i class="ph-eye"></i>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="menu1">
                                                <div class="feeDetailFrom feeSearchOuter float-left">
                                                    <span class="txt"></span>
                                                </div>
                                                <div class="payment-detail-outer">
                                                    <div class="no-data-outer mt10">
                                                        <div class="no-data-content">
                                                            <img src="../../../assets/img/no-data.png">
                                                            <span>No Data Found</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="menu2">
                                                <div class="feeDetailFrom feeSearchOuter float-left">
                                                    <span class="txt"></span>
                                                </div>
                                                <div class="payment-detail-outer">
                                                    <div class="no-data-outer mt10" style="display: none;">
                                                        <div class="no-data-content">
                                                            <img src="../../../assets/img/no-data.png">
                                                            <span>No Data Found</span>
                                                        </div>
                                                    </div>
                                                    <div class="club-list mt10">
                                                        <ul>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>

                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                            <li>
                                                                <div class="list-inner-center">
                                                                    <img src="../../../assets/img/rext-1.jpg">
                                                                    <span>Club Report 1</span>
                                                                </div>
                                                                <button class="btn4 btn-4sm">Preview</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-student-footer></app-student-footer>
    </div>
</div>
