<app-student-header></app-student-header>
<div class="main-outer">
  <app-student-menu></app-student-menu>
  <div *ngIf="loading" class="preloader-wrapper">
    <div class="cssloader">
      <div class="sh1"></div>
      <div class="sh2"></div>
    </div>
  </div>

  <div class="main-outer">
    <div class="main-body">
      <section class="fees-container preview-survey">
        <div class="container-fluid">
          <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->
          <div class="d-inline-flex align-items-center float-left" routerLink="/student/event-list">
            <div class="red-clr keyboard-back">
              <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
            </div>
            <!-- <div class="ml-3 green-highlight">
                                                Approved
                                            </div> -->
          </div>

          <!-- <h3 class="cover-outer boldheading mb50"> Create<span class="borderheading"> a Club</span> </h3> -->

          <div class="cover-outer clubOuter mt50">
            <div class="cover-outer feeDetailFrom-innerimg">
              <div class="coverPicOuter">
                <img *ngIf="
                    createEventForm.controls.coverPicUrl.value;
                    else addUploadPic
                  " src="{{ createEventForm.controls.coverPicUrl.value }}" alt="" />

                <ng-template #addUploadPic>
                  <img src="../../../assets/img/coverBg.jpg" alt="" />
                </ng-template>
                <button class="coverPic-btn" (click)="uploadCoverImage()">
                  <i class="material-icons">photo_camera</i>
                  Upload Cover Photo
                </button>
              </div>
              <!-- <div class="upload-club-wrapper">
                                                        <figure>
                                                            <img src="../../../assets/img/club-brand.png" alt="">
                                                        </figure>
                            
                                                        <i class="material-icons">photo_camera</i>
                                                    </div> -->
            </div>

            <form [formGroup]="createEventForm" class="cover-outer feeDetailFrom mt20">
              <div class="row">
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Name of the Event</label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <input formControlName="title" class="form-control" placeholder="Write name of the event" />
                        <span class="msg-error d-none"></span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">
                        Club/Committee Name</label>
                      <sup class="text-danger">*</sup>

                      <div class="input-group right-arrow">
                        <select (change)="clubSearch()" id="clubId" class="form-control selectpicker"
                          placeholder="Select" formControlName="clubId">
                          <option disabled value="">Select clubs</option>
                          <option *ngFor="let club of clubsList" [value]="club?.id">
                            {{ club?.name | titlecase }}
                          </option>
                        </select>
                        <span class="msg-error d-none"></span>
                      </div>
                      <!-- <div class="input-group">
                                                                        <input class="form-control" formControlName="clubName"
                                                                            placeholder="write a description">
                                                                        <span class="msg-error d-none"></span>
                                                                    </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Amount Needed</label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <input type="number" formControlName="amountNeeded"
                          onkeyup="if(this.value<0){this.value=this.value * -1}" class="form-control"
                          placeholder="Amount" />
                        <span class="msg-error d-none"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Describe the usage of this funding during the event
                      </label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <input formControlName="resourcesRequired" type="text" class="form-control"
                          placeholder="Write usage of this funding" value="Decoration, food" />
                      </div>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Proposed date of the event</label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <input formControlName="eventDate" type="date" [min]="todayDate" class="form-control"
                          placeholder="Write a Title" />
                      </div>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Proposed time for the event
                      </label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <input formControlName="eventTime" type="time" class="form-control"
                          placeholder="--Select your time--" value="" />
                      </div>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="row">

                                                    </div> -->
              <div class="row">
                <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Enable rating and reviews</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" [value]="true"
                                                                                type="radio" name="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label class="cont">
                                                                            <input formControlName="enableRating" checked="" 
                                                                                type="radio" ame="enableRating">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No </span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
                <!-- <div class="col-md-6">
                                                            <div class="cover-outer">
                                                                <div class="form-group mb25">
                                                                    <label class="label-heading mb10">Visible of all students</label>
                                                                    <sup class="text-danger">*</sup>
                                                                    <div class="input-group">
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">yes</span>
                                                                        </label>
                                                                        <label for="" class="cont">
                                                                            <input formControlName="visibleStudent" type="radio" name="Visible">
                                                                            <span class="checkmark"></span>
                                                                            <span class="txt">No only for president</span>
                                                                        </label>
                            
                                                                    </div>
                                                                    <span class="msg-error d-none"></span>
                                                                </div>
                                                            </div>
                                                        </div> -->
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb25">
                    <label class="label-heading mb10">Detailed Description of the event
                    </label>
                    <sup class="text-danger">*</sup>
                    <div class="input-group">
                      <textarea class="form-control mh150" placeholder="Write your detailed description"
                        formControlName="description" class="form-control"></textarea>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group">
                      <label class="label-heading mb10">Resources required for the event</label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <input formControlName="fundingArray" class="form-control multi-select"
                          placeholder="Write resources required" />
                      </div>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                  <div class="cover-outer">
                    <div class="form-group">
                      <label class="label-heading mb10">Support required for the event
                      </label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <input formControlName="supportRequired" type="text" class="form-control"
                          placeholder="Write your support required" value="" />
                      </div>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Event Type </label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <label class="cont">
                          <input formControlName="eventType" checked="" value="internal" type="radio"
                            (change)="onTypeChange($event.target.value)" name="eventType" />
                          <span class="checkmark"></span>
                          <span class="txt">Internal Event</span>
                        </label>
                        <label class="cont">
                          <input formControlName="eventType" value="external" type="radio" name="eventType"
                            (change)="onTypeChange($event.target.value)" />
                          <span class="checkmark"></span>
                          <span class="txt">External</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="EventType == 'internal'">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Is registration required?
                      </label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <label class="cont">
                          <input formControlName="isRegisterableEvent" [value]="true" type="radio"
                            name="isRegisterableEvent" />
                          <span class="checkmark"></span>
                          <span class="txt">Yes</span>
                        </label>
                        <label class="cont">
                          <input formControlName="isRegisterableEvent" [value]="false" type="radio"
                            name="isRegisterableEvent" />
                          <span class="checkmark"></span>
                          <span class="txt">No</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6" *ngIf="EventType == 'external'">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Is public event?
                      </label>
                      <sup class="text-danger">*</sup>
                      <div class="input-group">
                        <label class="cont">
                          <input formControlName="isPublic" [value]="true" type="radio" name="isPublic" />
                          <span class="checkmark"></span>
                          <span class="txt">Yes</span>
                        </label>
                        <label class="cont">
                          <input formControlName="isPublic" [value]="false" type="radio" name="isPublic" />
                          <span class="checkmark"></span>
                          <span class="txt">No</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <div class="cover-outer">
                    <div class="form-group mb25">
                      <label class="label-heading mb10">Enable rating and reviews</label>
                      <!-- <sup class="text-danger">*</sup> -->
                      <div class="input-group">
                        <label class="cont">
                          <input formControlName="enableRating" checked="" [value]="true" type="radio"
                            name="enableRating" />
                          <span class="checkmark"></span>
                          <span class="txt">Yes</span>
                        </label>
                        <label class="cont">
                          <input formControlName="enableRating" checked="" [value]="false" type="radio"
                            ame="enableRating" />
                          <span class="checkmark"></span>
                          <span class="txt">No </span>
                        </label>
                      </div>
                      <span class="msg-error d-none"></span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <button class="btn4 float-left d-inline-flex align-items-center" (click)="submitEventDetail()">
              <i class="ph-clipboard"></i>Create
            </button>
          </div>


        </div>
      </section>

      <app-student-footer></app-student-footer>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body popup">
        <div class="view-event-box">
          <div class="cover-outer">
            <!-- <h2 class="mb15" id="clubTitle"></h2> -->
            <!-- <h2 class="mb15">{{clubTitle | titlecase}}</h2> -->
            <div class="event-sec">
              <p>Event Details</p>
              <div class="icon-sec">
                <div class="action-dropdown-menu fixedLast">
                  <div class="dropdown">
                    <button class="btn" type="button" data-toggle="dropdown">
                      <i class="material-icons"> more_vert </i>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="pl10">
                        <span class="material-icons mr10">
                          remove_red_eye
                        </span>
                        Preview
                      </li>

                      <li class="pl10">
                        <span class="material-icons mr10"> edit </span> Edit
                      </li>
                      <li class="pl10">
                        <span class="material-icons mr10"> delete </span> Delete
                      </li>
                      <div class="small-square"></div>
                    </ul>
                  </div>
                </div>

                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                  <div aria-hidden="true">&times;</div>
                </button>
              </div>
            </div>
            <div class="img-sec">
              <img src="../../../assets/img/pop-up-img.jpg" alt="pop-upimg" />
            </div>
            <div class="event-desc-sec">
              <h4>Harvard Event</h4>
              <h6 class="green-highlight">Music Club</h6>
            </div>
            <div class="event-time">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.25 3.23077H14.375V2.61538C14.375 2.45217 14.3092 2.29565 14.1919 2.18024C14.0747 2.06484 13.9158 2 13.75 2C13.5842 2 13.4253 2.06484 13.3081 2.18024C13.1908 2.29565 13.125 2.45217 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.45217 6.80915 2.29565 6.69194 2.18024C6.57473 2.06484 6.41576 2 6.25 2C6.08424 2 5.92527 2.06484 5.80806 2.18024C5.69085 2.29565 5.625 2.45217 5.625 2.61538V3.23077H3.75C3.41858 3.23109 3.10083 3.36086 2.86648 3.59161C2.63213 3.82235 2.50033 4.13522 2.5 4.46154V16.7692C2.50033 17.0956 2.63213 17.4084 2.86648 17.6392C3.10083 17.8699 3.41858 17.9997 3.75 18H16.25C16.5814 17.9997 16.8992 17.8699 17.1335 17.6392C17.3679 17.4084 17.4997 17.0956 17.5 16.7692V4.46154C17.4997 4.13522 17.3679 3.82235 17.1335 3.59161C16.8992 3.36086 16.5814 3.23109 16.25 3.23077ZM16.25 6.92308H3.75V4.46154H5.625V5.07692C5.625 5.24013 5.69085 5.39666 5.80806 5.51207C5.92527 5.62747 6.08424 5.69231 6.25 5.69231C6.41576 5.69231 6.57473 5.62747 6.69194 5.51207C6.80915 5.39666 6.875 5.24013 6.875 5.07692V4.46154H13.125V5.07692C13.125 5.24013 13.1908 5.39666 13.3081 5.51207C13.4253 5.62747 13.5842 5.69231 13.75 5.69231C13.9158 5.69231 14.0747 5.62747 14.1919 5.51207C14.3092 5.39666 14.375 5.24013 14.375 5.07692V4.46154H16.25V6.92308Z"
                  fill="#404040" />
              </svg>

              <p>tue, Aug 31, 2021, 7.00 PM - 8.00 PM</p>
            </div>

            <!-- <div class="ev-box-inner mb15">
                        <div class="cover-outer mr-1">
                            <span>Club President</span>
                                <p id="clubPresident">{{clubPresident | titlecase}} <small class="red-clr">+ 1 more</small> </p>
                            </div>
                        <figure><img 
                            src="../../../assets/img/avatar.jpg" alt="No Image" ></figure>
                        </div> -->
            <!-- <div class="cover-outer">
                    <span>Club Members</span>
                    <p>50</p>
                    </div> -->
            <!-- <button type="button" class="btn4 w-100 mt15">View Details</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>