@charset "utf-8";

@page{margin-left:0;margin-right:0}

/* @page {
size: 5.5in 8.5in;
}
@page {
size: A4;
}
@page {
size: A4 landscape;
} */

.footer .f-1{background-color:#4E5D64!important;-webkit-print-color-adjust:exact}
.contianer{-webkit-print-color-adjust:exact!important;color-adjust:exact!important}
.footer > div span { position: relative; }