<app-student-header></app-student-header>
<div class="main-outer">
    <app-student-menu></app-student-menu>
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
        </div>
    </div>

    <div class="main-body">
        <section class="fees-container preview-survey student-added-1">
            <div class="container-fluid">
                <!-- <h3 class="cover-outer boldheading mb50 w-auto"> Club Details </h3> -->
                <div class="d-inline-flex align-items-center float-left ">
                    <div class="red-clr keyboard-back" routerLink="/student/event-list">
                        <span class="mr-2 material-icons mb-0">keyboard_backspace</span>Back
                    </div>
                    <!-- <div class="ml-3 red-highlight">
                    Rejected
                    </div> -->
                </div>
                <!-- <div class="addNewUserOuter">
                    <button class="btn4 mb10 mr-3">APPROVED</button>
                    <button class="btn4Red mb10">EDIT</button>
                </div> -->
                <div class="cover-outer clubOuter mt50">
                    <div class="cover-outer">

                        <div class="coverPicOuter">
                            <img *ngIf="eventCommData?.coverPicUrl; else noCoverImg" src={{eventCommData?.coverPicUrl}}
                                alt="">
                            <ng-template #noCoverImg>
                                <img src="../../../../assets/img/coverBg.jpg" alt="">
                            </ng-template>
                        </div>
                        <!-- <div class="upload-club-wrapper">
                            <figure *ngIf="eventCommData?.profilePicUrl; else noProfileImg">
                                <img src={{eventCommData?.profilePicUrl}} alt="">
                            </figure>
                            <ng-template #noProfileImg>
                                <figure>
                                    <img src="../../../../assets/img/club-brand.png" alt="">
                                </figure>
                            </ng-template>
                        </div> -->

                        <div class="club-heading-prev-outer e-preview sahilNew">
                            <div class="card-sec">

                                <div _ngcontent-ahd-c1="" class="event-desc-sec">
                                    <h2 class="heading-1 ">{{eventCommData?.title}}</h2>
                                    <h6 _ngcontent-ahd-c1="" class="green-highlight">{{eventCommData?.ClubMaster?.name}}
                                    </h6>
                                    <h6 _ngcontent-ahd-c1="" class="red-highlight">{{eventCommData?.eventType |
                                        titlecase}} Event</h6>
                                </div>

                                <div _ngcontent-ahd-c1="" class="event-time"><svg _ngcontent-ahd-c1="" fill="none"
                                        height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                                        <path _ngcontent-ahd-c1=""
                                            d="M16.25 3.23077H14.375V2.61538C14.375 2.45217 14.3092 2.29565 14.1919 2.18024C14.0747 2.06484 13.9158 2 13.75 2C13.5842 2 13.4253 2.06484 13.3081 2.18024C13.1908 2.29565 13.125 2.45217 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.45217 6.80915 2.29565 6.69194 2.18024C6.57473 2.06484 6.41576 2 6.25 2C6.08424 2 5.92527 2.06484 5.80806 2.18024C5.69085 2.29565 5.625 2.45217 5.625 2.61538V3.23077H3.75C3.41858 3.23109 3.10083 3.36086 2.86648 3.59161C2.63213 3.82235 2.50033 4.13522 2.5 4.46154V16.7692C2.50033 17.0956 2.63213 17.4084 2.86648 17.6392C3.10083 17.8699 3.41858 17.9997 3.75 18H16.25C16.5814 17.9997 16.8992 17.8699 17.1335 17.6392C17.3679 17.4084 17.4997 17.0956 17.5 16.7692V4.46154C17.4997 4.13522 17.3679 3.82235 17.1335 3.59161C16.8992 3.36086 16.5814 3.23109 16.25 3.23077ZM16.25 6.92308H3.75V4.46154H5.625V5.07692C5.625 5.24013 5.69085 5.39666 5.80806 5.51207C5.92527 5.62747 6.08424 5.69231 6.25 5.69231C6.41576 5.69231 6.57473 5.62747 6.69194 5.51207C6.80915 5.39666 6.875 5.24013 6.875 5.07692V4.46154H13.125V5.07692C13.125 5.24013 13.1908 5.39666 13.3081 5.51207C13.4253 5.62747 13.5842 5.69231 13.75 5.69231C13.9158 5.69231 14.0747 5.62747 14.1919 5.51207C14.3092 5.39666 14.375 5.24013 14.375 5.07692V4.46154H16.25V6.92308Z"
                                            fill="#404040"></path>
                                    </svg>
                                    <p _ngcontent-ahd-c1="">
                                        {{dayofweek}}, {{eventCommData?.eventDate | date:'mediumDate'}},
                                        {{eventCommData?.eventTime}}</p>
                                </div>
                            </div>

                            <div _ngcontent-iwu-c1="" class="card-sec">
                                <div _ngcontent-iwu-c1="" class="ClubP-detail">
                                    <ng-container
                                        *ngIf="eventCommData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.StudentDetail?.profilePicUrl ;else defaultImg">
                                        <img _ngcontent-iwu-c1="" alt=""
                                            src={{eventCommData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.StudentDetail?.profilePicUrl}}>
                                    </ng-container>
                                    <ng-template #defaultImg>
                                        <img _ngcontent-iwu-c1="" alt="" src="../../../assets/img/avatar.jpg">
                                    </ng-template>
                                    <div _ngcontent-iwu-c1="">
                                        <h3 _ngcontent-iwu-c1="" class="heading-3">
                                            {{eventCommData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.firstName}}
                                            {{eventCommData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.lastname}}<p
                                                _ngcontent-iwu-c1="" class="ml-2  green-highlight">Organizer</p>
                                        </h3><span
                                            _ngcontent-iwu-c1="">{{eventCommData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.Program?.name}}
                                            |
                                            {{eventCommData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.Program?.batch}}
                                            |</span>
                                    </div>
                                </div>
                            </div>
                            <div class="button-events-top">
                                <!-- <button class="btn7 ml10"><i class="ph-chat-centered-text"></i>Send Message</button>
                                <button class="btn7 notify ml10"><i class="ph-chat-centered-text"></i>Inbox</button>
                                <button class="btn7 ml10"><i class="ph ph-chats "></i>Forum</button> -->
                                <!-- <button class="btn7 ml10"><i class="ph-eye"></i>Guiding Document </button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover-outer mt10 club-outer-1">
                    <div class="row ">

                        <ng-container *ngIf="pastEventData">
                            <div class="col-md-4 col-lg-4 col-xl-4">
                                <div class="card-sec h-100">
                                    <h4 class="heading-4">Detailed Description of the event </h4>
                                    <p class="mt10">{{pastEventData?.description}}</p>
                                </div>
                                <!-- <div class="card-sec">
                                    <div class="ClubP-detail">
                                        <img src="../../../assets/img/1.png" alt="">
                                        <div>
                                            <h3 class="heading-3">Rohan kumar
                                                <span class="designation-tag">Student</span>
                                            </h3>
                                            <span>Programme in Finance and Accounting | 2018-2020 |</span>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="card-sec">
                                    <h4 class="heading-4 mb10">16 recommends students Request your club</h4>
                                    <ul class="userList">
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                        </li>
                                        <li>
                                            <img src="../../../assets/img/1.png" alt="">
                                            5+
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                            <div class="col-md-8 col-lg-8 col-xl-8">
                                <div class="cover-outer card-sec h-100">
                                    <div class=" flex-design">

                                        <h4 class="heading-4">Gallery</h4>
                                        <button *ngIf="isStuPresident" class="btn7 ml10" (click)="addGalleryImg()"><i
                                                class="ph-image"></i>ADD
                                            Photo</button>
                                    </div>
                                    <ng-container *ngIf="eventGalleryData.length == 0">
                                        <div class="mt20 flex-design">
                                            <div class="no-data-content">
                                                <img src="../../../assets/img/no-data.png">
                                                <span>No Data Found</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="eventGalleryData.length > 0 && customOptions">
                                        <div class=" mt20 flex-design owl-slider">
                                            <owl-carousel-o [options]="customOptions">
                                                <ng-container *ngFor="let egall of eventGalleryData; let i=index">
                                                    <ng-template class="slide" carouselSlide [id]="i">
                                                        <img src={{egall?.imgUrl}} alt="gallery-img">
                                                    </ng-template>
                                                </ng-container>

                                            </owl-carousel-o>
                                            <!-- <div class="" *ngFor="let egall of eventGalleryData">
                                                <img src={{egall?.imgUrl}} alt="gallery-img">
    
                                            </div> -->
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-12" *ngIf="pastEventData?.enableRating">
                                <div class="cover-outer mt20 h-100">
                                    <div class="card-sec d-flex justify-content-between">

                                        <h4 class="heading-4">All Reviews</h4>
                                        <button class="btn7 ml10" (click)="openReviewModel()"><i
                                                class="ph-chat-dots"></i>ADD Review</button>


                                        <!-- <div class="student-added mb20">
                                        <div class="feeDetailFrom">
                                            <ul class="nav students-tabs text-center tabs-events-club">
                                                <li class=""><a class="active " data-toggle="tab" href="#home">Events
                                                        Organised</a></li>
                                                <li class=""><a class="" data-toggle="tab" href="#menu1" class="">Upcoming
                                                        Events</a></li>
                                                <li class=""><a class="" data-toggle="tab" href="#menu2" class="">Events
                                                        Request</a></li>
                                            </ul>
                                            <div class="tab-content cover-outer">
                                                <div class="tab-pane fade show active" id="home">
                                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                                        <span class="txt"></span>
                                                    </div>
                                                    <div class="payment-detail-outer">
                                                        <div class="no-data-outer mt10" style="display: none;">
                                                            <div class="no-data-content">
                                                                <img src="../../../assets/img/no-data.png">
                                                                <span>No Data Found</span>
                                                            </div>
                                                        </div>
                                                        <div class="club-list mt10">
                                                            <ul>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
    
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <i class="ph-eye"></i>
                                                                </li>
                                                            </ul>
                                                        </div>
    
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="menu1">
                                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                                        <span class="txt"></span>
                                                    </div>
                                                    <div class="payment-detail-outer">
                                                        <div class="no-data-outer mt10">
                                                            <div class="no-data-content">
                                                                <img src="../../../assets/img/no-data.png">
                                                                <span>No Data Found</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="menu2">
                                                    <div class="feeDetailFrom feeSearchOuter float-left">
                                                        <span class="txt"></span>
                                                    </div>
                                                    <div class="payment-detail-outer">
                                                        <div class="no-data-outer mt10" style="display: none;">
                                                            <div class="no-data-content">
                                                                <img src="../../../assets/img/no-data.png">
                                                                <span>No Data Found</span>
                                                            </div>
                                                        </div>
                                                        <div class="club-list mt10">
                                                            <ul>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
    
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                                <li>
                                                                    <div class="list-inner-center">
                                                                        <img src="../../../assets/img/rext-1.jpg">
                                                                        <span>Club Report 1</span>
                                                                    </div>
                                                                    <button class="btn4 btn-4sm">Preview</button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    </div>
                                    <div class=" reviews " *ngIf="eventReview.length > 0 && customReviewOptions">
                                        <owl-carousel-o [options]="customReviewOptions">
                                            <div class="card-sec" *ngFor="let ereview of eventReview; let i=index">
                                                <ng-template class="slide" carouselSlide [id]="ereview.id">
                                                    <!-- <div class="card-sec"> -->
                                                    <div class="ClubP-detail NewClubDetail">


                                                        <div>
                                                            <div class="newClubImage">
                                                                <img *ngIf="ereview?.Student?.StudentDetail?.profilePicUrl;else noReviewImg"
                                                                    alt=""
                                                                    src={{ereview?.Student?.StudentDetail?.profilePicUrl}}>
                                                                <ng-template #noReviewImg>
                                                                    <img alt=""
                                                                        src="../../../../assets/img/user-bg.png">
                                                                </ng-template>
                                                                <div class="newClubgImageInner">
                                                                    <h3 class="heading-3">
                                                                        {{ereview?.Student?.firstName | titlecase}}
                                                                        {{ereview?.Student?.lastName | titlecase}}
                                                                        <p class="ml-2  green-highlight"
                                                                            *ngIf="ereview?.Student?.id == this.eventCommData.ClubMaster.ClubIntrestedStudents[0].Student.id">
                                                                            Organizer</p>
                                                                    </h3>
                                                                    <span>
                                                                        <i class="ph-star"
                                                                            [ngClass]="(ereview.rating == 1 || ereview.rating == 2 || ereview.rating == 3 || ereview.rating == 4 || ereview.rating == 5) ? 'fill':'null'"></i>
                                                                        <i class="ph-star"
                                                                            [ngClass]="(ereview.rating == 2 || ereview.rating == 3 || ereview.rating == 4 || ereview.rating == 5) ? 'fill':'null'"></i>
                                                                        <i class="ph-star"
                                                                            [ngClass]="(ereview.rating == 3 || ereview.rating == 4 || ereview.rating == 5) ? 'fill':'null'"></i>
                                                                        <i class="ph-star"
                                                                            [ngClass]="(ereview.rating == 4 || ereview.rating == 5) ? 'fill':'null'"></i>
                                                                        <i class="ph-star"
                                                                            [ngClass]="(ereview.rating == 5) ? 'fill':'null'"></i>

                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="t-des-outer">
                                                                <!-- {{ereview?.comment}}
                                                                <a class="e-dots">see more...
                                                                </a> -->

                                                                <!-- <span class="t-des"
                                                                    [ngClass]="!viewMoreList.includes(i)?'line-clmap':''">
                                                                    {{ereview?.comment}}
                                                                </span> -->

                                                                <!-- <span>
                                                                    <a href="javascript:void(0);" id="readMore"
                                                                        class="red-clr font-weight-bold mt-0"
                                                                        (click)="viewMore(i)">{{!viewMoreList.includes(i)?'more':'less'}}</a>
                                                                </span> -->


                                                                <div class="view-more-para-outer dropdown">
                                                                    <!-- {{ans.answer}} -->
                                                                    <div class="view-more-para">
                                                                        {{ereview?.comment}}
                                                                    </div>
                                                                    <a href="javascript:void(0);" id="dropdown-ParaBtn"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false"><u class="red-clr">view
                                                                            more</u></a>
                                                                    <!-- hidden it for csv -->
                                                                    <div class="dropdown-menu"
                                                                        aria-labelledby="dropdown-ParaBtn">
                                                                        {{ereview?.comment}}
                                                                    </div>
                                                                    <!-- hidden it for csv end -->
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- </div> -->
                                                </ng-template>
                                            </div>
                                        </owl-carousel-o>

                                    </div>
                                    <div class=" reviews " *ngIf="eventReview.length ==  0">
                                        <div class="no-data-content">
                                            <img src="../../../assets/img/no-data.png">
                                            <span>No Data Found</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="upcommingEventData">
                            <div class="col-md-8 col-lg-8 col-xl-8">
                                <div class="card-sec h-100">
                                    <h4 class="heading-4 mb20">Detailed Description of the event </h4>
                                    <p class="mt10">{{upcommingEventData?.description}}
                                    </p>
                                    <ng-container *ngIf="upcommingEventData?.isRegisterableEvent">
                                        <button class="btn4Red mb10 mt20" (click)="registerNow()">register now</button>

                                    </ng-container>
                                </div>

                            </div>
                        </ng-container>
                        <section class="fees-container preview-survey mt20"
                            *ngIf="!isStuPresident && eventComments.length>0">
                            <div class="container-fluid">
                                <div class="cover-outer clubOuter">
                                    <h3 class="heading-bold-blue" *ngIf="!isStuPresident"> Comments </h3>
                                    <div class="mt30">
                                        <div class="chat-container">
                                            <ng-container *ngFor="let comment of eventComments">
                                                <div class="left-chat" *ngIf="comment.userResponseId">
                                                    <div class="left-inner">
                                                        <img src="../../../assets/img/avatar.jpg">
                                                        <p>{{comment.userComment}}</p>
                                                    </div><span>{{comment.createdAt | date : 'medium'}}</span>
                                                    <span>{{comment.User.firstName}}</span>
                                                </div>
                                                <div class="right-chat" *ngIf="comment.studentId">
                                                    <div class="right-inner">
                                                        <!-- <img  src="../../../assets/img/avatar.jpg"> -->
                                                        <img *ngIf="(comment?.Student?.StudentDetail?.profilePicUrl && comment?.Student?.StudentDetail?.profilePicUrl !== 'null'); else noImg"
                                                            src={{comment?.Student?.StudentDetail?.profilePicUrl}}
                                                            alt="">
                                                        <ng-template #noImg>
                                                            <img src="../../../assets/img/avatar.jpg" alt="">
                                                        </ng-template>

                                                        <p>{{comment.studentComment}}</p>
                                                    </div><span>{{comment.createdAt | date : 'medium'}}</span>
                                                    <span>{{comment.Student.firstName}}</span>
                                                </div>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="fees-container preview-survey mt20" *ngIf="isStuPresident">
                            <div class="container-fluid">
                                <div class="cover-outer clubOuter">
                                    <h3 class="heading-bold-blue"> Leave Comment </h3>
                                    <div class="mt30">
                                        <div class="chat-container SahilNewchat">
                                            <ng-container *ngFor="let comment of eventComments">
                                                <div class="left-chat" *ngIf="comment.userResponseId">
                                                    <div class="left-inner">
                                                        <img src="../../../assets/img/avatar.jpg">
                                                        <p>{{comment.userComment}}</p>
                                                    </div><span>{{comment.createdAt | date : 'medium'}}</span>
                                                    <span>{{comment.User.firstName}}</span>
                                                </div>
                                                <div class="right-chat" *ngIf="comment.studentId">
                                                    <div class="right-inner">
                                                        <!-- <img  src="../../../assets/img/avatar.jpg"> -->
                                                        <img *ngIf="(comment?.Student?.StudentDetail?.profilePicUrl && comment?.Student?.StudentDetail?.profilePicUrl !== 'null'); else noImg"
                                                            src={{comment?.Student?.StudentDetail?.profilePicUrl}}
                                                            alt="">
                                                        <ng-template #noImg>
                                                            <img src="../../../assets/img/avatar.jpg" alt="">
                                                        </ng-template>

                                                        <p>{{comment.studentComment}}</p>
                                                    </div><span>{{comment.createdAt | date : 'medium'}}</span>
                                                    <span>{{comment.Student.firstName}}</span>
                                                </div>
                                            </ng-container>

                                        </div>
                                        <div class="chat-sent-container" *ngIf="isStuPresident">
                                            <div class="chat-send-outer"><input placeholder="Send Message" type="text"
                                                    [(ngModel)]="responseText" (keyup.enter)="sendMessage()">
                                                <button class="send-outer" (click)="sendMessage()">
                                                    <i class="ph-paper-plane-tilt">
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="col-md-4 col-lg-4 col-xl-4" style="display: none;">
                            <div class="card-sec feeDetailFrom h-100">
                                <h4 class="heading-4 mb20"> Register in event </h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb20">
                                                <label class="label-heading mb10">Event Title </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="cover-outer h-100">
                                            <div class="form-group mb20">
                                                <label class="label-heading mb10">Event Title </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb20">
                                                <label class="label-heading mb10">Event Title </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input class="form-control" placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="cover-outer">
                                            <div class="form-group mb25">
                                                <label class="label-heading mb10">Event Title </label>
                                                <sup class="text-danger">*</sup>
                                                <div class="input-group">
                                                    <input class="form-control" formControlName="title"
                                                        placeholder="Write a Title">
                                                    <span class="msg-error d-none"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                                <button class="btn4Red  ">register now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm modal-dialog-centered r-view">
                <div class="modal-content">
                    <div class="modal-body popup">
                        <div class="view-event-box">
                            <div class="">
                                <div class="r-sec cover-outer ">
                                    <h4 class="heading-4 ">Add Review and Rating</h4>
                                    <button type="button" class="close float-right" data-dismiss="modal"
                                        aria-label="Close">
                                        <div aria-hidden="true">&times;</div>
                                    </button>
                                    <p class="mt20">Leave your Review</p>
                                    <div class="form-group mb20">
                                        <label class="label-heading mb10 d-none">Review

                                        </label>
                                        <div class="input-group">
                                            <textarea class="form-control mh100 pt10 pl18" placeholder=""
                                                [(ngModel)]="reviewText"></textarea>
                                            <span class="msg-error d-none"></span>
                                        </div>

                                    </div>
                                    <p class="">Give your Rating</p>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index"
                                                style="display: inline-block">
                                                <li (click)="countStar(star)" id="{{'starId'+i}}"
                                                    [ngClass]="{'selected': (star <= selectedValue)}"
                                                    (mouseover)="addClass(star)" (mouseout)="removeClass(star)"> ★
                                                </li>
                                            </ul> -->
                                            <ul id='stars' class="mentor-rating-list cover-outer"
                                                (mouseover)="onStar()">
                                                <li class="star" title="Poor" data-value="1">
                                                    <i class="material-icons">grade</i>
                                                </li>
                                                <li class="star" title="Fair" data-value="2">
                                                    <i class="material-icons">grade</i>
                                                </li>
                                                <li class="star" title="Good" data-value="3">
                                                    <i class="material-icons">grade</i>
                                                </li>
                                                <li class="star" title="Excellent" data-value="4">
                                                    <i class="material-icons">grade</i>
                                                </li>
                                                <li class="star" title="WOW!!!" data-value="5">
                                                    <i class="material-icons">grade</i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!-- <span class="cover-outer mt10 mb40"><i class="ph-star"></i><i class="ph-star"></i><i
                                            class="ph-star"></i><i class="ph-star"></i><i class="ph-star"></i></span> -->

                                    <button _ngcontent-pom-c1="" class="btn4Red mb10 float-right"
                                        (click)="submitReview()">Leave comment</button>
                                    <button _ngcontent-xmg-c1="" class="btn6 mr-3 float-right"
                                        data-dismiss="modal">Cancel</button>

                                </div>
                                <!-- <h2 class="mb15" id="clubTitle"></h2> -->
                                <!-- <h2 class="mb15">{{clubTitle | titlecase}}</h2> -->
                                <!-- <div class="event-sec">
                        <p>Event Details</p>
                        <div class="icon-sec">
                            <div class="action-dropdown-menu fixedLast">
                                <div class="dropdown">
                                    <button class="btn" type="button" data-toggle="dropdown"><i
                                            class="material-icons">
                                            more_vert
                                        </i>
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li [routerLink]="['/org/preview-bid',unPublishedRow?.id]"
                                            class="pl10"> <span class="material-icons mr10">
                                                remove_red_eye
                                            </span> Preview</li>
        
                                        <li [routerLink]="['/org/updateCourse',unPublishedRow?.id]"
                                            class=" pl10"> <span class="material-icons mr10"> edit
                                            </span> Edit</li>
                                        <li (click)="deleteCourse(unPublishedRow?.id)" class="pl10">
                                            <span class="material-icons mr10"> delete
                                            </span> Delete
                                        </li>
                                        <div class="small-square"> </div>
                                    </ul>
                                </div>
                               </div> 
        
                                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                                    <div aria-hidden="true">&times;</div>
                                  </button>
                        </div>
                    </div>
                    <div class="img-sec">
                        <img src="../../../assets/img/pop-up-img.jpg" alt="pop-upimg">
                    </div>
                    <div class="event-desc-sec">
                        <h4>Harvard Event</h4>
                        <h6 class="green-highlight">Music Club</h6>

                    </div>
                    <div class="event-time">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.25 3.23077H14.375V2.61538C14.375 2.45217 14.3092 2.29565 14.1919 2.18024C14.0747 2.06484 13.9158 2 13.75 2C13.5842 2 13.4253 2.06484 13.3081 2.18024C13.1908 2.29565 13.125 2.45217 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.45217 6.80915 2.29565 6.69194 2.18024C6.57473 2.06484 6.41576 2 6.25 2C6.08424 2 5.92527 2.06484 5.80806 2.18024C5.69085 2.29565 5.625 2.45217 5.625 2.61538V3.23077H3.75C3.41858 3.23109 3.10083 3.36086 2.86648 3.59161C2.63213 3.82235 2.50033 4.13522 2.5 4.46154V16.7692C2.50033 17.0956 2.63213 17.4084 2.86648 17.6392C3.10083 17.8699 3.41858 17.9997 3.75 18H16.25C16.5814 17.9997 16.8992 17.8699 17.1335 17.6392C17.3679 17.4084 17.4997 17.0956 17.5 16.7692V4.46154C17.4997 4.13522 17.3679 3.82235 17.1335 3.59161C16.8992 3.36086 16.5814 3.23109 16.25 3.23077ZM16.25 6.92308H3.75V4.46154H5.625V5.07692C5.625 5.24013 5.69085 5.39666 5.80806 5.51207C5.92527 5.62747 6.08424 5.69231 6.25 5.69231C6.41576 5.69231 6.57473 5.62747 6.69194 5.51207C6.80915 5.39666 6.875 5.24013 6.875 5.07692V4.46154H13.125V5.07692C13.125 5.24013 13.1908 5.39666 13.3081 5.51207C13.4253 5.62747 13.5842 5.69231 13.75 5.69231C13.9158 5.69231 14.0747 5.62747 14.1919 5.51207C14.3092 5.39666 14.375 5.24013 14.375 5.07692V4.46154H16.25V6.92308Z" fill="#404040"/>
                            </svg>
                            
                        <p>tue, Aug 31, 2021, 7.00 PM - 8.00 PM</p>
                    </div> -->

                                <!-- <div class="ev-box-inner mb15">
                      <div class="cover-outer mr-1">
                           <span>Club President</span>
                            <p id="clubPresident">{{clubPresident | titlecase}} <small class="red-clr">+ 1 more</small> </p>
                        </div>
                      <figure><img 
                        src="../../../assets/img/avatar.jpg" alt="No Image" ></figure>
                    </div> -->
                                <!-- <div class="cover-outer">
                  <span>Club Members</span>
                 <p>50</p>
                  </div> -->
                                <!-- <button type="button" class="btn4 w-100 mt15">View Details</button> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <app-student-footer></app-student-footer>
    </div>
</div>