<!-- <app-student-header></app-student-header> -->
<toaster-container></toaster-container>
<div class="main-outer">
    <!-- <app-student-menu></app-student-menu> -->
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
        </div>
    </div>

    <div class="">
        <section class="fees-container preview-survey student-added-1">
            <div class="container-fluid">
                <!-- <h3 class="cover-outer boldheading mb50 w-auto"> Club Details </h3> -->
                <div class="d-inline-flex align-items-center float-left ">
                    <!-- <div class="ml-3 red-highlight">
                    Rejected
                    </div> -->
                </div>
                <!-- <div class="addNewUserOuter">
                    <button class="btn4 mb10 mr-3">APPROVED</button>
                    <button class="btn4Red mb10">EDIT</button>
                </div> -->
                <div class="cover-outer clubOuter mt50">
                    <div class="cover-outer">
                        <div class="coverPicOuter">
                            <img *ngIf="eventData?.coverPicUrl; else noCoverImg" src={{eventData?.coverPicUrl}} alt="">
                            <ng-template #noCoverImg>
                                <img src="../../../../assets/img/coverBg.jpg" alt=" ">
                            </ng-template>
                        </div>
                        <!-- <div class="upload-club-wrapper">
                            <figure *ngIf="eventCommData?.profilePicUrl; else noProfileImg">
                                <img src={{eventCommData?.profilePicUrl}} alt="">
                            </figure>
                            <ng-template #noProfileImg>
                                <figure>
                                    <img src="../../../../assets/img/club-brand.png" alt="">
                                </figure>
                            </ng-template>
                        </div> -->

                        <div class="club-heading-prev-outer e-preview sahilNew">
                            <div class="card-sec">

                                <div class="event-desc-sec">
                                    <h2 class="heading-1">{{eventData?.title}}</h2>
                                    <h6 class="green-highlight">{{eventData?.ClubMaster?.name}} </h6>
                                    <h6 class="red-highlight">{{eventData?.eventType | titlecase}} Event</h6>
                                </div>

                                <div class="event-time"><svg fill="none" height="20" viewBox="0 0 20 20" width="20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M16.25 3.23077H14.375V2.61538C14.375 2.45217 14.3092 2.29565 14.1919 2.18024C14.0747 2.06484 13.9158 2 13.75 2C13.5842 2 13.4253 2.06484 13.3081 2.18024C13.1908 2.29565 13.125 2.45217 13.125 2.61538V3.23077H6.875V2.61538C6.875 2.45217 6.80915 2.29565 6.69194 2.18024C6.57473 2.06484 6.41576 2 6.25 2C6.08424 2 5.92527 2.06484 5.80806 2.18024C5.69085 2.29565 5.625 2.45217 5.625 2.61538V3.23077H3.75C3.41858 3.23109 3.10083 3.36086 2.86648 3.59161C2.63213 3.82235 2.50033 4.13522 2.5 4.46154V16.7692C2.50033 17.0956 2.63213 17.4084 2.86648 17.6392C3.10083 17.8699 3.41858 17.9997 3.75 18H16.25C16.5814 17.9997 16.8992 17.8699 17.1335 17.6392C17.3679 17.4084 17.4997 17.0956 17.5 16.7692V4.46154C17.4997 4.13522 17.3679 3.82235 17.1335 3.59161C16.8992 3.36086 16.5814 3.23109 16.25 3.23077ZM16.25 6.92308H3.75V4.46154H5.625V5.07692C5.625 5.24013 5.69085 5.39666 5.80806 5.51207C5.92527 5.62747 6.08424 5.69231 6.25 5.69231C6.41576 5.69231 6.57473 5.62747 6.69194 5.51207C6.80915 5.39666 6.875 5.24013 6.875 5.07692V4.46154H13.125V5.07692C13.125 5.24013 13.1908 5.39666 13.3081 5.51207C13.4253 5.62747 13.5842 5.69231 13.75 5.69231C13.9158 5.69231 14.0747 5.62747 14.1919 5.51207C14.3092 5.39666 14.375 5.24013 14.375 5.07692V4.46154H16.25V6.92308Z"
                                            fill="#404040"></path>
                                    </svg>
                                    <p> {{eventData?.eventDate | date}}, {{eventData?.eventTime}}</p>
                                </div>
                            </div>

                            <div class="card-sec">
                                <div class="ClubP-detail">
                                    <ng-container
                                        *ngIf="eventData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.StudentDetail?.profilePicUrl ;else defaultImg">
                                        <img alt=""
                                            src={{eventData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.StudentDetail?.profilePicUrl}}>
                                    </ng-container>
                                    <ng-template #defaultImg>
                                        <img alt="" src="../../../assets/img/avatar.jpg">
                                    </ng-template>
                                    <div>
                                        <h3 class="heading-3">
                                            {{eventData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.firstName}}
                                            {{eventData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.lastName}} <p
                                                class="ml-2  green-highlight">Organizer</p>
                                        </h3>
                                        <span>{{eventData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.Program?.name}}|
                                            {{eventData?.ClubMaster?.ClubIntrestedStudents[0]?.Student?.Program?.batch}}|</span>
                                    </div>
                                </div>
                            </div>
                            <div class="button-events-top">
                                <!-- <button class="btn7 ml10"><i class="ph-chat-centered-text"></i>Send Message</button>
                                <button class="btn7 notify ml10"><i class="ph-chat-centered-text"></i>Inbox</button>
                                <button class="btn7 ml10"><i class="ph ph-chats "></i>Forum</button> -->
                                <!-- <button class="btn7 ml10"><i class="ph-eye"></i>Guiding Document </button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover-outer mt10 club-outer-1">
                    <div class="row ">
                        <ng-container>
                            <div class="col-md-8 col-lg-8 col-xl-8">
                                <div class="card-sec h-100">
                                    <h4 class="heading-4 mb20">Detailed Description of the event </h4>
                                    <p class="mt10">{{eventData?.description}} </p>
                                    <!-- <ng-container *ngIf="eventData?.isRegisterableEvent">
                                        <button class="btn4Red mb10 mt20" (click)="registerNow()">register now</button>
                                    </ng-container> -->
                                </div>

                            </div>
                        </ng-container>

                        <div class="col-md-4 col-lg-4 col-xl-4">
                            <div class="card-sec feeDetailFrom h-100">
                                <h4 class="heading-4 mb20"> Register in event </h4>
                                <form [formGroup]="registerEventForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="cover-outer">
                                                <div class="form-group mb20">
                                                    <label class="label-heading mb10"> Name </label>
                                                    <sup class="text-danger">*</sup>
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="Enter name"
                                                            formControlName="name">
                                                        <span class="msg-error" *ngIf="nameValidationError">Name is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="cover-outer h-100">
                                                <div class="form-group mb20">
                                                    <label class="label-heading mb10"> Email </label>
                                                    <sup class="text-danger">*</sup>
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="Enter email address"
                                                            formControlName="email" title="Please enter valid email">
                                                        <span class="msg-error" *ngIf="emailValidationError">Please enter valid email</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="cover-outer">
                                                <div class="form-group mb20">
                                                    <label class="label-heading mb10"> Mobile Number </label>
                                                    <sup class="text-danger">*</sup>
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="Enter mobile number" type="tel" maxlength="10"
                                                            title="Please enter valid phone number"
                                                            formControlName="mobile">
                                                        <span class="msg-error" *ngIf="numberValidationError">Please enter 10 digits mobile number</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <div class="cover-outer">
                                                <div class="form-group mb25">
                                                    <label class="label-heading mb10">Event Title </label>
                                                    <sup class="text-danger">*</sup>
                                                    <div class="input-group">
                                                        <input class="form-control" formControlName="title"
                                                            placeholder="Write a Title">
                                                        <span class="msg-error d-none"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <ng-container  *ngIf="eventData?.isRegisterableEvent">
                                        <button class="btn4Red" (click)="registerNow()"> register now</button>
                                    </ng-container>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>