
<toaster-container></toaster-container>

<div class="main-outer">
    <div *ngIf="loading" class="preloader-wrapper">
        <div class="cssloader">
            <div class="sh1"></div>
            <div class="sh2"></div>
            <!-- <h4 class="lt">Master Union</h4> -->
        </div>
    </div>
    
        <!-- chat box start  -->
        <div class="floating-action-notebook">
    <a class="center-outer notepad-btn rounded-circle" (click)="notepadPopUp()" href="javascript:void(0);">
        <img src="../../../assets/img/copy-icon.png">
        <!-- <img src="../../../assets/img/white-cross-icon.png"> -->
    </a>
    <div class="notepad-outer">
        <div *ngIf="!saveNote" class="sec-one cover-outer">
            <div class="notepad-heading-outer">
                <h3 class="cover-outer">Notes & Discussion</h3>
            </div>
            <div class="cover-outer notepad-ocontent">
                
                <div *ngFor="let note of notes" class="edit-cus-outer">
                    <span class="pr-2">Title: </span>
                    <input (click)="onInputTitle(note)" value="text text text" class="cover-outer" [(ngModel)]="note.title"  readonly="">
                    <a  href="javascript:void(0);"  id="edit1">{{note?.createdAt | date:'shortDate'}}</a>
                    <a  href="javascript:void(0);" (click)="editNote(note)" id="edit"><i class="material-icons  material-icons-outlined">edit</i></a>
                    <a  href="javascript:void(0);"(click)="deleteNote(note.id)" id="delete"><i class="material-icons  material-icons-outlined">delete</i></a>
                </div>
            </div>
            <div class="notepad-bottom-text">
                <input name="title" (keydown)="Enter($event)"  placeholder="Create your Notes" [(ngModel)]="title">
                <a *ngIf="updateTitle" class="notepad-create"(click)="titleSave()" href="javascript:void(0);">Create</a>
                <a *ngIf="!updateTitle" class="notepad-create"(click)="UpdateTitle()" href="javascript:void(0);">Update</a>
            </div>
        </div>
        <div *ngIf="saveNote" class="sec-two cover-outer">
            <div class="notepad-heading-outer">
                <ng-container *ngIf="showBack">
                <a class="notpad-back-btn" (click)="onBack()">
                    <i class="material-icons"> keyboard_backspace </i>
                  </a>
                </ng-container>
                <ng-container *ngIf="!showBack">
                    <a class="notpad-back-btn" (click)="onBack1()">
                        <i class="material-icons"> keyboard_backspace </i>
                      </a>
                    </ng-container>
                <h3 *ngIf="showTitle" class="cover-outer">{{title |titlecase}}</h3>
                <h3 *ngIf="!showTitle" class="cover-outer">{{titleShow |titlecase}}</h3>
            </div>
            <div class="cover-outer notepad-textarea">
                <textarea class="form-control"[(ngModel)]="description" name="description" placeholder="add notes"></textarea>
            </div>
            <div class="notepad-bottom">
                <ng-container *ngIf="!inputClick">
                <a *ngIf="!update" class="notepad-create"(click)="saveNotes()" href="javascript:void(0);">Save</a>
                <a *ngIf="update" href="javascript:void(0);" class="notepad-create" (click)="UpdateDescription()">Update</a>
                </ng-container>
            </div>
        </div>
            
    </div>
</div>
        <!-- chat box ends -->
  

</div>
